<div class="treatment-acres-legend">
  <div class="title-line">
    <div class="title">Legend</div>
    <button
      sg-button
      variant="icon-only"
      class="close-button"
      (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="static-lines">
    <div class="legend-line">
      <div class="swatch-box"></div>
      <div class="swatch-label">Total Planning Area Acres</div>
    </div>
    <div class="acres-line">
      <div class="acres-detail"></div>
    </div>
    <div class="legend-line">
      <div class="swatch-box"></div>
      <div class="swatch-label">Selected Project Area Acres:</div>
    </div>
    <div class="acres-line">
      <div class="acres-detail"></div>
    </div>
  </div>
  <div class="treatment-title-line">
    <div class="title">Treatment Type</div>
    <button sg-button variant="icon-only" class="info-icon" (click)="close()">
      <mat-icon>info</mat-icon>
    </button>
  </div>
  <div class="dynamic-lines" *ngFor="let acreageDetail of acreageDetails">
    <div class="legend-line">
      <div class="swatch-box">{{ acreageDetail.color }}</div>
      <div class="swatch-label">{{ acreageDetail.name }}</div>
    </div>
    <div class="acres-line">
      <div class="acres-detail">{{ acreageDetail.acres }} Acres</div>
    </div>
  </div>
</div>
