@import 'colors';
@import 'mixins';
@import 'variables';

:host {
  box-sizing: border-box;
  pointer-events: all;
}

.treatment-acres-legend {
  border-radius: 4px;
  border: 1px solid #000;
  background: rgba($color-black, 0.55);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  height: auto;
  max-height: calc(100% - $map-nav-bar-height);
  text-overflow: ellipsis;
  overflow: hidden;
  transition:
    width 0.8s ease,
    height 0.8s ease;
  white-space: nowrap;

  padding: 0;
  width: 280px;
  position: relative;

}

.title-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 16px;
  flex: 1;
  justify-content: space-between;
  border-bottom: 1px #ffffff19 solid;
}

.treatment-title-line {
 display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  flex: 1;
  justify-content: space-between;
  border-top: 1px #ffffff19 solid;
  padding: 12px 0;
}

.acres-section {

  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.title {
  @include standard-label();
  /* specifying font family here, since the control defaults to helvetica */
  font-family: 'Public Sans';
  font-size: 14px;
  font-weight: 600;
  color: $color-white;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  text-transform: capitalize;
  min-height: 24px;
}

.close-button,
.info-icon {
  color: $color-white;
}


.legend-line {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  color: $color-white;

}


.acres-line {
  @include standard-label();
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  color: $color-white;
  padding: 0 20px;

}

.swatch-box {
  height: 14px;
  width: 14px;
  flex-shrink: 0;
}

.swatch-label,
.ramp-label {
  @include small-input-label();
  /* specifying font family here, since the control defaults to helvetica */
  font-family: 'Public Sans';
  line-height: 14px;
  color: $color-white;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.static-row,
.dynamic-acres-row {
  display: flex;
  flex-direction: column;
  gap: 6px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.static-section,
.dynamic-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.swatch-gradient {
  width: 14px;
  min-height: 160px;
  flex-shrink: 0;
}