<ng-container *ngIf="polygonGeometry$ | async as polygonGeometry">
  <mgl-geojson-source [id]="sourceName">
    <mgl-feature [geometry]="polygonGeometry"></mgl-feature>
  </mgl-geojson-source>
  <mgl-layer
    id="treatment-area-polygon"
    type="line"
    [source]="sourceName"
    [paint]="{
      'line-color': COLORS.md_gray,
      'line-width': 2
    }">
  </mgl-layer>
  <mgl-layer
    id="treatment-area-fill"
    type="fill"
    [source]="sourceName"
    [paint]="{
      'fill-color': COLORS.white_light_blue,
      'fill-opacity': 0.4
    }">
  </mgl-layer>
</ng-container>
