$slider-height: 40px;

.opacity-container {
  border-radius: 4px;
  background: white;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.42);
}

.leaflet-control {
  clear: inline-end;
  top: 6px;
  left: 8px;
}

mat-card {
  max-height: $slider-height;
  border: none !important;
}

sg-panel.panel-container {
  height: $slider-height;
  border: 0;
  .padded {
    padding: 0;
  }
}
