<div class="delete-note-dialog">
  
    <p class="dialog-heading">
      <b>Permanently delete note?</b>
      <br />
      Are you sure you want to delete this note?
      <br />
    </p>
  
      <div class="button-row">
        <button mat-raised-button (click)="cancel()">CANCEL</button>

        <button
          mat-raised-button
          color="warn"
          (click)="deleteNote()"
          [disabled]="disableDeleteButton">
          DELETE
        </button>
  
      </div>
  
    <p *ngIf="error">{{ error }}</p>
  </div>
  