<div class="label">
  <i class="metric-color" [style.backgroundColor]="color"></i>
  <span class="metric-label">
    {{ label }}
  </span>
</div>

<mat-form-field
  appearance="outline"
  subscriptSizing="dynamic"
  class="dropdown-selector">
  <mat-select
    [ngModel]="selectedOption"
    (ngModelChange)="onSelect($event)"
    [panelClass]="'custom-panel'"
    panelWidth="400px">
    <mat-option *ngFor="let option of metrics" [value]="option.id">
      {{ option.label }}
    </mat-option>
  </mat-select>
</mat-form-field>
