@import 'media';
@import 'colors';
@import 'mixins';

:host {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.label {
  white-space: nowrap;
  flex-shrink: 0;
}

.selector {
  width: 200px;
  background-color: $color-white;
  border-radius: 4px;
  border: 1px solid $color-soft-gray;
  padding: 8px 14px 8px 14px;
}

.metric-color {
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  margin-right: 8px;
  vertical-align: middle;
}

.metric-label {
  @include standard-label();
  color: $color-dark-gray;
  margin-right: 8px;
  vertical-align: middle;
}
