.root-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 30px 180px 0px;
}

.plans-container {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 3px 1px -2px #0000001F;
  box-shadow: 0px 2px 2px 0px #00000024;
  box-shadow: 0px 1px 5px 0px #00000033;
  padding: 16px 26px;
}

.button-row {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: flex-end;
  padding-bottom: 12px;
}

.plans-not-implemented {
  color: #000000A8;
  display: flex;
  flex-direction: row;
  height: 150px;
  justify-content: left;
  white-space: pre-line;

  p {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin: 0px;
    max-width: 470px;
  }
}

.no-saved-plans {
  align-items: center;
  color: #000000A8;
  display: flex;
  flex-direction: row;
  height: 220px;
  justify-content: center;

  p {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin: 0px;
  }
}

h2 {
  color: #5F6368;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
