@use '@angular/material' as mat;
@import "mixins";
@import "colors";

:host {
  display: block;
}

.button-row {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: flex-end;
  padding-block: 12px;
}

h2 {
  color: #5f6368;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.table-row {
  cursor: pointer;

  &:hover {
    background-color: transparentize(
      $color: $color-standard-blue,
      $amount: 0.9
    );
  }

}

.selected .mat-column-name,
.selected {
  border-left-color: $color-standard-blue;
}

.selected {
  background-color: transparentize(
    $color: $color-standard-blue,
    $amount: 0.9
  );
}

mat-header-row {
  min-height: 80px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

mat-header-row,
mat-row {
  gap: 20px;
}

.mat-column-name {
  border-left: 6px solid transparent;
  flex-basis: 8%;
  position: relative;

  &::after {
    right: 0;
    background: linear-gradient(90deg, #d5d5d5, transparent);
    position: absolute;
    display: block;
    content: '';
    width: 5px;
    height: 100%;
  }
}

.mat-header-cell.mat-column-name {
  font-weight: bold;
  color: black;
  margin-right: -6px;

  ::ng-deep.mat-sort-header-container {
    align-self: end;
    padding-bottom: 10px;
  }
}

.mat-column-creator {
  flex-basis: 5%;
}

.mat-column-lastUpdated {
  flex-basis: 10%;
  position: relative;
  overflow: visible;
}

.mat-header-cell:not(.mat-column-name) {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}


.table-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: calc(100% - 20px);
}

.table-scroll {
  flex: 1;
  overflow-y: scroll;
}
