@use '@angular/material' as mat;
@import "../../../theme";
@import "../../../styles/mixins";
@import "../../../styles/colors";

:host {
  display: block;
}

.button-row {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: flex-end;
  padding-block: 12px;
  margin-right: 10px;
}

.no-saved-plans {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50%;
  text-align: center;


  h4 {
    @include standard-input-label();
    margin: 0 0 8px;
    color: $color-black;

  }

  p {
    @include small-paragraph();
    color: $color-md-gray;
    margin: 0;
  }


}

h2 {
  color: #5f6368;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.table-row {
  cursor: pointer;

  &:hover {
    background-color: transparentize(
            $color: mat.get-color-from-palette($primary-palette, 500),
            $amount: 0.9
    );
  }

}

.selected .mat-column-name,
.selected {

  border-left-color: mat.get-color-from-palette($primary-palette, 500);
}

.selected {
  background-color: transparentize(
          $color: mat.get-color-from-palette($primary-palette, 500),
          $amount: 0.9
  );
}

mat-header-row {
  min-height: 80px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
}

mat-header-row,
mat-row {
  gap: 20px;
}

.mat-column-name {
  border-left: 6px solid transparent;
  flex-basis: 8%;
}

.mat-header-cell.mat-column-name {
  font-weight: bold;
  color: black;
  margin-right: 1px;

  ::ng-deep.mat-sort-header-container {
    align-self: end;
    padding-bottom: 10px;
  }
}

.action-button {
  text-transform: uppercase;
}

.primary {
  color: #3b78e7;
}

.mat-column-lastUpdated {
  flex-basis: 10%;
  position: relative;
  overflow: visible;

  &::after {
    left: -20px;
    background: linear-gradient(90deg, #d5d5d5, transparent);
    position: absolute;
    display: block;
    content: '';
    width: 5px;
    height: 100%;
  }
}

.mat-header-cell:not(.mat-column-name) {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.spinner {
  margin: auto;
  padding-top: 20px;
}


.table-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: calc(100% - 20px);
}

.table-scroll {
  flex: 1;
  overflow-y: scroll;
}
