<app-section-loader
  [isLoading]="loading"
  [hasData]="datasource.data.length > 0"
  [hasError]="error"
  errorTitle="Error Loading Planning Areas"
  errorMsg="We encountered an issue while loading your planning areas. Please try again later."
  emptyStateTitle="No planning areas yet"
  emptyStateContent="Click “Explore” to start creating your planning areas.
  Not ready to create new plans?
  You can explore the mapping tool without creating a planning area.">
  <div class="table-wrapper">
    <mat-table [dataSource]="datasource" matSort class="table-scroll">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Name
        </mat-header-cell>
        <mat-cell *matCellDef="let element; dataSource: planrows">
          {{ element.name }}
        </mat-cell>
      </ng-container>

      <!-- Creator Column -->
      <ng-container matColumnDef="creator">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Creator
        </mat-header-cell>
        <mat-cell *matCellDef="let element; dataSource: planrows">
          {{ element.creator }}
        </mat-cell>
      </ng-container>

      <!-- Timestamp Column -->
      <!-- TODO replace with last modified-->
      <ng-container matColumnDef="lastUpdated">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Date Last Modified
        </mat-header-cell>
        <mat-cell *matCellDef="let element; dataSource: planrows">
          {{ element.latest_updated | date: 'medium' }}
        </mat-cell>
      </ng-container>

      <!-- Acres Column -->
      <ng-container matColumnDef="totalAcres">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Total Acres
        </mat-header-cell>
        <mat-cell *matCellDef="let element; dataSource: planrows">
          {{ element.area_acres | number: '1.0-0' }}
        </mat-cell>
      </ng-container>

      <!-- Saved Scenarios Column -->
      <ng-container matColumnDef="scenarios">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          # of Scenarios
        </mat-header-cell>
        <mat-cell *matCellDef="let element; dataSource: planrows">
          {{ element.scenario_count }}
        </mat-cell>
      </ng-container>

      <!-- Region Column -->
      <ng-container matColumnDef="region">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Region
        </mat-header-cell>
        <mat-cell *matCellDef="let element; dataSource: planrows">
          {{ element.region_name }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        class="table-row"
        [ngClass]="{ selected: selectedPlan && selectedPlan.id === row.id }"
        *matRowDef="let row; columns: displayedColumns"
        (click)="selectPlan(row)"
        (dblclick)="goToScenario()"></mat-row>
    </mat-table>

    <div class="button-row">
      <button
        sg-button
        variant="negative"
        (click)="deletePlan()"
        [disabled]="!canDeletePlanningArea">
        Delete
      </button>
      <button sg-button (click)="sharePlan()" [disabled]="!shareEnabled()">
        Share
      </button>
      <button sg-button (click)="viewMap()" [disabled]="!selectedPlan">
        View map
      </button>
      <button sg-button (click)="goToScenario()" [disabled]="!selectedPlan">
        Scenarios
      </button>
    </div>
  </div>
</app-section-loader>
