<div *ngIf="datasource.data.length; else noplans">
  <mat-table [dataSource]="datasource" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.name }}
      </mat-cell>
    </ng-container>

    <!-- Timestamp Column -->
    <!-- TODO replace with last modified-->
    <ng-container matColumnDef="createdTimestamp">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Date Created
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.createdTimestamp | date: 'medium' }}
      </mat-cell>
    </ng-container>

    <!-- Acres Column -->
    <ng-container matColumnDef="totalAcres">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Total Acres
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.totalAcres | number }}
      </mat-cell>
    </ng-container>

    <!-- Saved Scenarios Column -->
    <ng-container matColumnDef="savedScenarios">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        # of Scenarios
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.savedScenarios }}
      </mat-cell>
    </ng-container>

    <!-- Region Column -->
    <ng-container matColumnDef="region">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Region
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.region }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      class="table-row"
      [ngClass]="{ selected: selectedPlan && selectedPlan.id === row.id }"
      *matRowDef="let row; columns: displayedColumns"
      (click)="selectPlan(row)"></mat-row>
  </mat-table>

  <div class="button-row">
    <button
      mat-button
      (click)="deletePlan()"
      [disabled]="!selectedPlan"
      class="action-button">
      delete
    </button>
    <!--    <button-->
    <!--      mat-raised-button-->
    <!--      (click)="viewMap()"-->
    <!--      [disabled]="!selectedPlan"-->
    <!--      class="action-button primary">-->
    <!--      view map-->
    <!--    </button>-->
    <button
      mat-raised-button
      (click)="goToScenario()"
      [disabled]="!selectedPlan"
      class="action-button primary">
      scenarios
    </button>
  </div>
</div>

<ng-template #noplans class="no-saved-plans">
  <p>There are no saved plans.</p>
</ng-template>
