
<div class="title">Change (%)</div>

<div class="chart">
  <div class="empty-data-overlay" *ngIf="emptyData">
    <div class="empty-data-heading">No Data Available</div>
    <div class="empty-data-detail">There is no data available for the selected parameters. Please try a different project area.</div>
  </div>
  <canvas
    baseChart
    *ngIf="barChartData$ | async; let barChartData"
    [data]="barChartData"
    [options]="staticBarChartOptions"
    [legend]="false"
    [type]="'bar'"></canvas>
</div>
<div class="title center-text">Years after initial treatment</div>
