@import 'colors';
@import 'mixins';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chart {
  height: 100%;
  display: block;
}

canvas {
  flex: 1;
  max-height: 100%;
}

.title {
  padding: 0 24px;
  color: $color-text-gray;
  font-weight: 600;
}
