:host {
  .message-box {
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 12px 10px 12px 10px;
    background-color: rgba(245, 245, 245, 0.4000000059604645);
    margin-top: 5px;
    margin-bottom: 1em;
    font-family: 'Public Sans', 'Roboto', Arial, Helvetica, sans-serif;
    border: 1px solid black;
  }
  .message-box.success {
    border: 1px solid green;
  }
  .message-box.error {
    border: 1px solid red;
  }

  :host.message-icon {
    padding-right: 0.8em;
    float: left;
  }

  :host.message-title {
    text-transform: uppercase;
    float: left;
    text-align: left;
    vertical-align: middle;
    line-height: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
  }

  :host.error .message-title {
    color: #d50000;
  }

  :host.message-details {
    color: #4a4a4a;
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Public Sans', 'Roboto', Arial, Helvetica, sans-serif;
  }
}
