:host {
  margin: 24px;
  display: block;
}

.delete-account-dialog {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.warning-icon {
  color: #f3b300;
  font-size: 60px;
  height: 60px;
  width: 60px;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.button-row {
  display: flex;
  gap: 24px;
}
