.delete-account-dialog {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
}

.warning-icon-style {
  color: #f3b300;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.button-row {
  display: flex;
  gap: 24px;
}
