@import 'variables';
@import 'mixins';

.root-container {
  display: flex;
  flex-direction: row;
  height: calc(100% - $navbar-height);
  width: 100%;
}

.plan-summary-panel {
  background-color: white;
  box-sizing: border-box;
  display: block;
  width: 300px;

  ::ng-deep .mat-tab-body-wrapper {
    height: 100%;
  }

}

//feature flagged style
.full-height {
    height: 100%;
}

.plan-progress-panel {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 300px;
}

.plan-content {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.plan-content.with-overview {
  flex-direction: column;
}

.plan-map-container {
  height: 100%;
  flex: 1;
  z-index: 1;
  position: relative;
}

.plan-content-panel {
  overflow: auto;
  width: 45%;
  min-width: 450px;
  max-width: 800px;
}

.scenario-details {
  height: 100%;
  width: 100%;
}

:host {
  ::ng-deep {
    app-create-scenarios {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .create-scenarios-panel {
      flex: 1;
    }
  }
}

@media print {
  app-nav-bar {
    display: none;
  }

  .plan-summary-panel {
    display: none;
  }

  ::ng-deep {
    .plan-overview-container .plan-scenario-panel .plan-scenario-panel-content {
      display: none;
    }

    app-scenario-configurations .configurations-wrapper .no-configs-overlay {
      display: none;
    }

    summary-panel .summary-content .grid-container {
      display: block;
    }

    ::ng-deep app-scenario-configurations mat-card-actions.mat-card-actions {
      display: none;
    }

    ::ng-deep .mat-column-select {
      display: none;
    }
  }

  .plan-content-panel {
    width: 100%;
  }
  .plan-content {
    display: block;
  }
  .root-container {
    height: initial;
  }

  .plan-map-container {
    page-break-before: always;
  }
}

:host {
  ::ng-deep .mat-tab-label {
    min-width: auto;
  }

  ::ng-deep .mat-tab-group {
    height: 100%;
  }
}
