@import 'variables';
@import 'mixins';
@import 'media';

:host {
  height: 100%;
  background-color: $color-light-gray;
  display: block;
}

.plan-content {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.plan-content.plan-overview {
  flex-direction: column;
  padding: 16px;
  padding-left: 8px;
  box-sizing: border-box;
  flex: 1;

  @include on-large() {
    width: $plan-right-md-max;
  }

  @include on-small() {
    max-width: 100%;
    padding: 16px;
  }
}

/* --- Planning Area Overview-specific styles --- */

.plan-overview-container {
  display: flex;
  flex-direction: row;
  background-color: $color-light-gray;
  justify-content: center;
  width: 100%;
  height: calc(100vh - ($navbar-height + $toolbar-height));
  box-sizing: border-box;

  @include on-small() {
    height: initial;
    flex-direction: column;
  }
}

.plan-overview-panel {
  padding: 16px;
  padding-right: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: $plan-left-lg-max;
  gap: 16px;
  flex: 1;

  @include on-small() {
    height: fit-content;
    width: 100%;
    max-width: 100%;
    padding: 16px;
    padding-bottom: 0;
  }

  @include on-vert-tiny-min-med-width() {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

/* TODO - remove this when PLANNING_AREA_OVERVIEW items are in place*/
.placeholder-scenarios {
  border-radius: 8px;
  border: 1px solid $color-soft-gray;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  flex: 1;
  max-height: 100%;
  overflow-y: auto;
}

.plan-overview-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
