@import 'variables';
@import 'mixins';
@import 'media';

:host.plan-overview {
  height: 100%;
  background-color: $color-light-gray;
  display: block;
}

.root-container {
  display: flex;
  flex-direction: row;
  height: calc(100% - $navbar-height);
  width: 100%;

  &.overview:not(.overview-enabled) {
    @include on-small() {
      height: initial;
      flex-direction: column-reverse;
    }
  }
}

.plan-summary-panel {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;

  @include on-small() {
    width: 100%;
  }

  ::ng-deep .mat-tab-body-wrapper {
    height: 100%;
  }

  sg-notes-panel {
    flex: 1;
    min-height: 0;
    overflow: hidden;
  }

  app-planning-analytics-tools {
    flex: 0 0 auto;
  }
}

.plan-progress-panel {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 300px;
}

.plan-content {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.plan-content.with-overview {
  height: 100%;
  flex-direction: column;
  overflow: auto;
}

.plan-content.plan-overview {
  flex-direction: column;
  padding: 16px;
  padding-left: 8px;
  box-sizing: border-box;
  flex: 1;

  @include on-large() {
    width: $plan-right-md-max;
  }

  @include on-small() {
    max-width: 100%;
    padding: 16px;
  }
}

.plan-map-container {
  height: 100%;
  flex: 1;
  z-index: 1;
  position: relative;
}

.scenario-details {
  height: 100%;
  width: 100%;
}

@media print {
  app-nav-bar {
    display: none;
  }

  .plan-summary-panel {
    display: none;
  }

  ::ng-deep {
    app-scenario-configurations .configurations-wrapper .no-configs-overlay {
      display: none;
    }

    summary-panel .summary-content .grid-container {
      display: block;
    }

    ::ng-deep app-scenario-configurations mat-card-actions.mat-card-actions {
      display: none;
    }

    ::ng-deep .mat-column-select {
      display: none;
    }
  }

  .plan-content {
    display: block;
  }

  .root-container {
    height: initial;
  }

  .plan-map-container {
    page-break-before: always;
  }
}

:host {
  ::ng-deep .mat-tab-label {
    min-width: auto;
  }
}

/* --- Planning Area Overview-specific styles --- */

.plan-overview-container {
  display: flex;
  flex-direction: row;
  background-color: $color-light-gray;
  justify-content: center;
  width: 100%;
  height: calc(100vh - ($navbar-height + $toolbar-height));
  box-sizing: border-box;

  @include on-small() {
    height: initial;
    flex-direction: column;
  }
}

.plan-overview-panel {
  padding: 16px;
  padding-right: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: $plan-left-lg-max;
  gap: 16px;
  flex: 1;

  @include on-small() {
    height: fit-content;
    width: 100%;
    max-width: 100%;
    padding: 16px;
    padding-bottom: 0;
  }

  @include on-vert-tiny-min-med-width() {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

/* TODO - remove this when PLANNING_AREA_OVERVIEW items are in place*/
.placeholder-scenarios {
  border-radius: 8px;
  border: 1px solid $color-soft-gray;
  background-color: $color-white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  padding-top: 0;
}
