.root-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.plan-summary-panel {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 300px;
}

.plan-progress-panel {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 300px;
}

.plan-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.plan-content-inner {
  flex: 1;
  max-height: 100%;
  position: relative;
}

.plan-map-container {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.plan-content-panel {
  left: 0;
  height: 100%;
  width: 45%;
  position: absolute;
  top: 0;
  z-index: 2;
}

.scenario-details {
  height: 100%;
  width: 100%;
}
