<div class="root-container">
  <app-plan-unavailable *ngIf="planNotFound"></app-plan-unavailable>
  <ng-container *ngIf="!planNotFound && plan">
    <div class="plan-summary-panel" *ngIf="currentPlanStep === 0">
      <summary-panel></summary-panel>
    </div>
    <div class="plan-progress-panel" *ngIf="currentPlanStep > 0">
      <progress-panel [plan]="currentPlan$ | async"></progress-panel>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="plan-content">
      <app-plan-overview [plan$]="currentPlan$" (createScenarioEvent)="currentPlanStep = 1" *ngIf="currentPlanStep === 0"></app-plan-overview>
    </div>
  </ng-container>
</div>
