<div class="root-container">
  <app-plan-unavailable *ngIf="planNotFound"></app-plan-unavailable>
  <ng-container *ngIf="!planNotFound && plan">
    <div class="plan-summary-panel" *ngIf="currentPlanStep === 0">
      <summary-panel></summary-panel>
    </div>
    <div class="plan-progress-panel" *ngIf="currentPlanStep > 0">
      <progress-panel [plan]="currentPlan$ | async"></progress-panel>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="plan-content">
      <div class="plan-content-inner">
        <app-plan-overview [plan$]="currentPlan$" (createScenarioEvent)="currentPlanStep = 1" *ngIf="currentPlanStep === 0"></app-plan-overview>
        <ng-container *ngIf="currentPlanStep > 0">
          <div class="plan-map-container">
            <app-plan-map [plan]="currentPlan$" [mapId]="'planning-map'"></app-plan-map>
          </div>
          <div class="plan-content-panel">
            <app-create-scenarios [plan$]="currentPlan$" *ngIf="currentPlanStep === 1"></app-create-scenarios>
          </div>
        </ng-container>
      </div>
      <app-plan-bottom-bar (nextEvent)="nextStep()" *ngIf="currentPlanStep > 0"></app-plan-bottom-bar>
    </div>
  </ng-container>
</div>
