<app-nav-bar area="SCENARIOS">
  <app-planning-area-titlebar-menu
    *ngIf="currentPlan$ | async; let currentPlan"
    [plan]="currentPlan"></app-planning-area-titlebar-menu>
</app-nav-bar>
<div class="root-container overview">
  <app-resource-unavailable
    *ngIf="planNotFound"
    resource="plan"></app-resource-unavailable>
  <ng-container *ngIf="currentPlan$ | async as plan">
    <div class="plan-summary-panel full-height">
      <sg-notes-sidebar
        [showHeader]="true"
        [notes]="sidebarNotes"
        [notesState]="notesSidebarState"
        (createNote)="addNote($event)"
        (deleteNote)="handleNoteDelete($event)"
        [canAddNotes]="canAddScenario(plan)"
        noNotesTitleText="No Notes For This Planning Area Yet"
        noNotesDetailText="Start adding notes to help your team learn more about this planning area."></sg-notes-sidebar>
      <app-analytics-tools></app-analytics-tools>
    </div>

    <mat-divider [vertical]="true"></mat-divider>
    <div class="plan-content with-overview">
      <app-plan-overview [plan$]="currentPlan$"></app-plan-overview>
    </div>
  </ng-container>
</div>
