@import 'colors';
@import 'mixins';

:host {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.header {
  @include h4();
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  //styleName: Header/H4;
  font-family: Public Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;

  padding: 16px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid $color-soft-gray;
  height: 64px;
}

.title-buttons {
  width: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;

  .button-icon {
    width: 24px;
    height: 24px;
  }

  button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    line-height: 0;
    cursor: pointer;
    height: auto;
    width: auto;
  }
}

.header-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.footer {
  border-top: 1px solid $color-soft-gray;
  padding: 16px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}
