@import 'colors';
@import 'mixins';

:host {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: white;
  max-height: 700px;
  border-radius: 4px;
  justify-content: space-between;
  box-sizing: border-box;

  &.xsmall {
    width: 340px;
  }

  &.small {
    width: 460px;
  }

  &.medium {
    width: 520px;
  }

  &.large {
    width: 750px;
  }

  &.full {
    width: 100%;
  }

  &.no-border {
    .header {
      border: none;
      padding-top: 24px;
    }

    .footer {
      border: none;
    }
  }
}

.header {
  @include h4();
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  padding: 16px 24px;
  border-bottom: 1px solid $color-soft-gray;
  box-sizing: border-box;

  .leading-icon {
    &.info {
      color: $color-black;
    }

    &.alert {
      color: #f3b300;
    }

    &.error {
      color: $color-dark-red;
    }

    &.success {
      color: $color-brand-green;
    }
  }
}

.title-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;

  button {
    padding: 0;
    margin: 0;
    line-height: 0;
    height: auto;
    width: auto;
  }
}

.header-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.modal-body {
  color: $color-dark-gray;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding: 24px;

  &.short {
    padding-top: 0;
  }

  &.scrollable {
    overflow-y: scroll;
  }
}

.footer {
  border-top: 1px solid $color-soft-gray;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  flex-shrink: 0;

  &.centered {
    justify-content: center;
    gap: 8px;
  }
}
