<section class="header" *ngIf="hasHeader">
  <div class="header-title">
    <mat-icon *ngIf="leadingIcon" class="leading-icon">{{
      leadingIcon
    }}</mat-icon>
    <div>{{ title }}</div>
  </div>

  <div class="title-buttons">
    <button>
      <mat-icon *ngIf="showToolTip" [matMenuTriggerFor]="tooltipMenu"
        >help_outline</mat-icon
      >
      <mat-menu #tooltipMenu="matMenu" class="tooltip-menu">
        <div class="tooltip-content">
          {{ toolTipContent }}
        </div>
      </mat-menu>
    </button>
    <button mat-icon-button (click)="handleCloseButton()" aria-label="close">
      <mat-icon class="close-btn">close</mat-icon>
    </button>
  </div>
</section>

<main
  class="modal-body"
  [ngClass]="{
    scrollable: scrollableContent,
    padded: padBody
  }">
  <ng-content> </ng-content>
</main>

<div class="progress-element" *ngFor="let progressItem of progressItems">
  <div class="progress-info">
    <mat-icon>assignment</mat-icon>{{ progressItem.name }}
  </div>
  <mat-spinner
    *ngIf="progressItem.status === 'started'"
    class="main-loader"
    diameter="24"></mat-spinner>
  <mat-icon *ngIf="progressItem.status === 'done'">check</mat-icon>
</div>

<section class="footer" *ngIf="hasFooter">
  <button
    *ngIf="hasSecondaryButton"
    sg-button
    mat-raised-button
    type="button"
    [variant]="secondaryButtonVariant"
    (click)="handleSecondaryButton()">
    {{ secondaryButtonText }}
  </button>

  <button
    sg-button
    variant="primary"
    mat-raised-button
    type="button"
    [variant]="primaryButtonVariant"
    (click)="handlePrimaryButton()">
    {{ primaryButtonText }}
  </button>
</section>
