@import "colors";
@import "mixins";

:host {
  @include legacy-dialog-margin();
  position: relative;
}

section {
  display: flex;
  align-items: baseline;
  gap: 10px;
  position: relative;
  background-color: $color-light-gray;
  padding: 8px;
  border-radius: 3px;
}


.info {
  align-items: center;
  display: flex;
  gap: 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  padding: 10px 0;
}


.link-textfield {
  flex: 1;
  user-select: all;
  cursor: pointer;
  padding: 7px 0;
  color: $color-text-dark;
  background: none;
  border: none;
}

.loader {
  position: absolute;
  top: 13px;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
