<mat-icon class="close-btn" (click)="cancel()">close</mat-icon>
<h3 mat-dialog-title>Share link</h3>
<section>
  <input
    class="link-textfield"
    readonly
    [value]="link"
    (click)="selectText($event)"
    [disabled]="!link" />

  <mat-spinner diameter="24" *ngIf="!link" class="loader"></mat-spinner>
  <mat-error *ngIf="error"> There was an error generating the link.</mat-error>

  <button
    mat-flat-button
    type="button"
    color="primary"
    data-id="copy"
    (click)="copy()"
    [disabled]="!link">
    COPY LINK
  </button>
</section>

<div class="info">
  <mat-icon>info</mat-icon>
  <span>Link is valid for 60 days.</span>
</div>
