<h1 mat-dialog-title>Share link</h1>
<section>
  <mat-form-field class="full">
    <input
      matInput
      [disabled]="!link"
      readonly
      [value]="link || ''"
      (click)="selectText($event)"
      class="link-textfield" />
  </mat-form-field>
  <mat-spinner diameter="24" *ngIf="!link" class="loader"></mat-spinner>
  <mat-error *ngIf="error"> There was an error generating the link.</mat-error>

  <button
    mat-flat-button
    type="button"
    color="primary"
    data-id="copy"
    (click)="copy()"
    [disabled]="!link">
    COPY LINK
  </button>
</section>

<div class="info">
  <mat-icon>info</mat-icon>
  <span>Link is valid for 60 days.</span>
</div>
