<div class="delete-account-dialog">
  <mat-icon class="warning-icon">warning</mat-icon>

  <p>
    <b>Are you sure you want to delete your account?</b>
    <br />
    This will permanently erase your account and delete any plans that you own, including any shared plans.
    <br />
    <a href="/home">View my plans</a>
  </p>

  <div class="button-row">
    <button mat-raised-button (click)="cancel()">CANCEL</button>

    <button
      mat-raised-button
      color="warn"
      (click)="deleteAccount()"
      [disabled]="disableDeleteButton">
      DELETE
    </button>
  </div>

  <p *ngIf="error">{{ error }}</p>
</div>
