<div *ngIf="summary$ | async; let summary">
  <div class="project-areas" *ngFor="let projectArea of summary.project_areas">
    <div *ngFor="let rx of projectArea.prescriptions">
      {{ 'rx:' + rx.type }}
      {{ 'action:' + rx.action }}
      {{ 'area_acres:' + rx.area_acres }}
      {{ 'treated_stand_count:' + rx.treated_stand_count }}
      {{ 'stand_ids:' + rx.stand_ids.length }}
    </div>
    <a
      [routerLink]="['project-area', projectArea.project_area_id]"
      (click)="setActiveProjectArea(projectArea.project_area_id)">
      {{ projectArea.project_area_name }}
    </a>
  </div>
</div>
