@import 'colors';

.treatment-summary-container {
  padding: 16px;
  padding-top: 0;
  font-size: 14px;
  color: $color-standard-blue;

  span {
    cursor: pointer;
  }

  .material-symbols-outlined {
    position: relative;
    top: 6px;
  }
}
