@import 'colors';
@import 'variables';

.stand-label {
  margin: 0 0 16px 0;
}

.stand-level-input {
  display: block;
  margin-bottom: 8px;
  flex: 1;
}

.stand-level-input ::ng-deep .mat-mdc-form-field-required-marker {
  color: $color-error;
}

.stand-level-input ::ng-deep .mdc-floating-label {
  height: 100%;
}

.step3-input {
  vertical-align: sub;
}

.stand-level-input ::ng-deep .mat-mdc-form-field-error-wrapper {
  padding: 0;
}

.stand-level-input ::ng-deep .mat-mdc-form-field-infix {
  display: flex;
  align-items: center;
}

::ng-deep .constraints-step {
  .mdc-text-field--outlined {
    padding: 0;
  }

  .mdc-text-field__input {
    padding: $steps-padding 0 $steps-padding $steps-padding;
    margin-right: 2px;
  }

  .mat-mdc-form-field-subscript-wrapper {
    font-size: 14px;
  }

}

.constraints-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.flex {
  display: flex;
  gap: 12px;
  align-items: baseline;
}

.input-label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 22px;
  color: $color-dark-gray
}


:host ::ng-deep {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.legend {
  margin-right: 14px;
  margin-left: 4px;
}
