<!-- Stand levels constraints -->
<sg-section
  headline="Stand Level Constraints (OPTIONAL)"
  class="constraints-step"
  tooltipContent="<b>What are stand-level constraints?</b>
Stand-level constraints set the conditions a stand must meet to be eligible for treatment by ForSys. These are based on operational factors that define where treatments can realistically occur.

<b>How do constraints affect treatment eligibility?</b>
Only stands that meet your defined criteria are included in the % Treatable.  ForSys targets these stands when identifying opportunities for treatment in your scenario results.

<b>Why use constraints?</b>
They help ensure that only feasible and operationally suitable areas are targeted for treatment.">
  <p class="stand-label">
    Set the conditions that must be met for ForSys to select stands for
    treatment.
  </p>

  <form [formGroup]="form" class="constraints-form">
    <div>
      <label for="max_slope" class="input-label">Max Slope</label>
      <div class="flex">
        <mat-form-field
          class="stand-level-input"
          appearance="outline"
          floatLabel="always">
          <input
            id="max_slope"
            class="step3-input"
            formControlName="max_slope"
            min="0"
            max="100"
            matInput
            type="number" />
          <span class="legend">%</span>
          <mat-error
            *ngIf="
              form.get('max_slope')?.touched &&
              form.get('max_slope')?.hasError('max')
            ">
            Slope cannot exceed 100
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div>
      <label for="min_distance_from_road" class="input-label">
        Max Distance From Roads</label
      >
      <div class="flex">
        <mat-form-field
          class="stand-level-input"
          appearance="outline"
          floatLabel="always">
          <input
            id="min_distance_from_road"
            class="step3-input"
            formControlName="min_distance_from_road"
            matInput
            type="text"
            mask="separator"
            thousandSeparator=","
            [value]="" />
          <span class="legend">yds</span>
          <mat-error
            *ngIf="
              form.get('min_distance_from_road')?.touched &&
              form.get('min_distance_from_road')?.hasError('max')
            ">
            Max Distance From Roads cannot exceed 100,000 yards
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</sg-section>
