.map-container {
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

.map-row {
  flex-direction: row;
}

.map {
  border: 1px solid black;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

#map2 {
  left: 50%;
  width: 50%;
}

#map3 {
  height: 50%;
  top: 50%;
  width: 50%;
}

#map4 {
  height: 50%;
  left: 50%;
  top: 50%;
  width: 50%;
}

// Workaround for unresolved Angular bug re: tab width on desktop
// (https://github.com/angular/components/issues/2829).
::ng-deep .mat-tab-label {
  min-width: 60px !important;
}

.controls-container {
  padding: 20px;
  position: absolute;
  width: 450px;
  z-index: 10;
}

.layer-controls {
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  height: match-parent;
  padding: 20px;
  width: match-parent;
}

.layer-radio-group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.layer-radio-button {
  margin: 5px;
}

.layer-checkbox {
  margin: 0px 5px 0px;
}
