<div class="map-container">
  <div class="map-row">
    <div id="map1" class="map" [ngStyle]="{'height': mapCount > 2 ? '50%' : '100%', 'width': mapCount == 1 ? '100%' : '50%'}"></div>
    <div id="map2" class="map" [ngStyle]="{'height': mapCount > 2 ? '50%' : '100%'}" [hidden]="mapCount < 2"></div>
  </div>
  <div class="map-row">
    <div id="map3" class="map" [hidden]="mapCount < 4"></div>
    <div id="map4" class="map" [hidden]="mapCount < 4"></div>
  </div>
  <div id="controls" class="controls-container">
    <div class="layer-controls">
      <h2>Layers</h2>
      <h3>Base layer</h3>
      <mat-radio-group
        name="base-layer-select"
        aria-label="Select an option"
        class="layer-radio-group"
        [(ngModel)]="baseLayerType"
        (change)="changeBaseLayer()">
        <mat-radio-button
          *ngFor="let baseLayerType of baseLayerTypes"
          [value]="baseLayerType"
          class="layer-radio-button">
          {{ BaseLayerType[baseLayerType] }}
        </mat-radio-button>
      </mat-radio-group>
      <h3>Data</h3>
      <mat-checkbox
        name="data-layer-toggle"
        aria-label="Select or deselect"
        class="layer-checkbox"
        [(ngModel)]="showDataLayer"
        (change)="toggleDataLayer()">
        Data
      </mat-checkbox>
      <h3>Boundaries</h3>
      <mat-checkbox
        name="huc12-toggle"
        aria-label="Select or deselect"
        class="layer-checkbox"
        [(ngModel)]="showHUC12BoundariesLayer"
        (change)="toggleHUC12BoundariesLayer()">
        HUC-12
      </mat-checkbox>
      <mat-checkbox
        name="huc10-toggle"
        aria-label="Select or deselect"
        class="layer-checkbox"
        [(ngModel)]="showHUC10BoundariesLayer"
        (change)="toggleHUC10BoundariesLayer()">
        HUC-10
      </mat-checkbox>

      <mat-checkbox
        name="county-toggle"
        aria-label="Select or deselect"
        class="layer-checkbox"
        [(ngModel)]="showCountyBoundariesLayer"
        (change)="toggleCountyBoundariesLayer()">
        Counties
    </mat-checkbox>
    <mat-checkbox
      name="usfs-toggle"
      aria-label="Select or deselect"
      class="layer-checkbox"
      [(ngModel)]="showUSForestBoundariesLayer"
      (change)="toggleUSForestsBoundariesLayer()">
      US Forests
      </mat-checkbox>
      <h3>Projects</h3>
      <mat-checkbox
        name="existing-projects-toggle"
        aria-label="Select or deselect"
        class="layer-checkbox"
        [(ngModel)]="showExistingProjectsLayer"
        (change)="toggleExistingProjectsLayer()">
        Existing projects
      </mat-checkbox>
      <h3>Legend</h3>
      <app-legend [legend]="legend"></app-legend>
      <h3>Map count</h3>
      <mat-radio-group
        name="map-count-select"
        aria-label="Select an option"
        class="layer-radio-group"
        [(ngModel)]="mapCount"
        (change)="changeMapCount()">
        <mat-radio-button
          *ngFor="let mapCountOption of mapCountOptions"
          [value]="mapCountOption"
          class="layer-radio-button">
          {{ mapCountOption }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
