<div class="root-container">

  <!-- Map control panel -->
  <div id="controls" class="controls-container">

    <ng-container *ngIf="mapHasDataLayer() | async">
      <!-- Legend for the currently shown map -->
      <app-legend [legend]="getSelectedLegend()"></app-legend>

      <!-- Opacity controls for the currently shown data layer -->
      <app-opacity-slider (change)="changeOpacity($event)" [opacity]="getOpacityForSelectedMap() | async">
      </app-opacity-slider>

      <mat-divider class="layer-controls-divider"></mat-divider>

    </ng-container>

      <!-- Controls for specifying how many maps should be shown -->
      <div class="map-count-button-row">
        <button mat-button class="map-count-button" (click)="changeMapCount(1)" aria-label="Show 1 map"
        [ngClass]="{'selected': (mapViewOptions$ | async)?.numVisibleMaps === 1}">
          <div class="map-count-button-grid-cell"></div>
        </button>
        <button mat-button class="map-count-button" (click)="changeMapCount(2)" aria-label="Show 2 maps"
        [ngClass]="{'selected': (mapViewOptions$ | async)?.numVisibleMaps === 2}">
          <div class="map-count-button-grid-row">
            <div class="map-count-button-grid-cell"></div>
            <div class="map-count-button-grid-cell"></div>
          </div>
        </button>
        <button mat-button class="map-count-button" (click)="changeMapCount(4)" aria-label="Show 4 maps"
        [ngClass]="{'selected': (mapViewOptions$ | async)?.numVisibleMaps === 4}">
        <div class="map-count-button-grid-row">
          <div class="map-count-button-grid-cell"></div>
          <div class="map-count-button-grid-cell"></div>
        </div>
        <div class="map-count-button-grid-row">
          <div class="map-count-button-grid-cell"></div>
          <div class="map-count-button-grid-cell"></div>
        </div>
        </button>
      </div>

      <!-- Layer controls for each map, displayed in tabs -->
      <mat-tab-group mat-align-tabs="center" mat-stretch-tabs="true" [selectedIndex]="(mapViewOptions$ | async)?.selectedMapIndex"
        class="layer-controls-tab-group" (selectedIndexChange)="selectMap($event)">
        <mat-tab *ngFor="let map of maps; index as i" label="{{ map.name }}">
          <mat-accordion multi displayMode="flat">

            <!-- Basemap layer controls -->
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                Basemaps
              </mat-expansion-panel-header>
              <mat-radio-group name="{{ map.id + '-base-layer-select' }}" aria-label="Select an option"
                class="layer-radio-group" [(ngModel)]="map.config.baseLayerType" (change)="changeBaseLayer(map)">
                <mat-radio-button *ngFor="let baseLayerType of baseLayerTypes" [value]="baseLayerType"
                  checked="{{ baseLayerType == map.config.baseLayerType }}" class="layer-radio-button">
                  {{ BaseLayerType[baseLayerType] }}
                </mat-radio-button>
              </mat-radio-group>
            </mat-expansion-panel>

            <!-- Boundary layer controls -->
            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                Boundaries
              </mat-expansion-panel-header>
              <mat-radio-group name="{{ map.id + '-boundaries-select' }}" aria-label="Select an option"
                class="layer-radio-group"
                [(ngModel)]="map.config.boundaryLayerConfig" (change)="toggleBoundaryLayer(map)">
                <div class="layer-control-container">
                  <mat-radio-button class="layer-radio-button" [value]="noneBoundaryConfig">
                    None
                  </mat-radio-button>
                </div>
                <div *ngFor="let boundary of (boundaryConfig$ | async)" class="layer-control-container">
                  <mat-radio-button class="layer-radio-button" [value]="boundary">
                    {{ boundary.display_name ? boundary.display_name : boundary.boundary_name }}
                  </mat-radio-button>
                  <mat-spinner [diameter]="24" *ngIf="loadingIndicators[boundary.boundary_name]"></mat-spinner>
                </div>
              </mat-radio-group>
            </mat-expansion-panel>

            <!-- Recent treatment areas controls -->
            <mat-expansion-panel expanded="false">
              <mat-expansion-panel-header>
                Recent treatment areas
              </mat-expansion-panel-header>
              <div class="layer-control-container">
                <mat-checkbox name="{{ map.id + '-existing-projects-toggle' }}" aria-label="Select or deselect"
                  class="layer-checkbox" [(ngModel)]="map.config.showExistingProjectsLayer"
                  (change)="toggleExistingProjectsLayer(map)">
                  Existing projects
                </mat-checkbox>
                <mat-spinner [diameter]="24" *ngIf="loadingIndicators['existing_projects']"></mat-spinner>
              </div>
            </mat-expansion-panel>

            <!-- Ecosystem scores controls -->
            <mat-expansion-panel expanded="false">
              <mat-expansion-panel-header>
                Ecosystem scores
              </mat-expansion-panel-header>

              <mat-radio-group name="{{ map.id + '-conditions-select' }}" aria-label="Select an option"
                [(ngModel)]="map.config.dataLayerConfig" (change)="changeConditionsLayer(map)">
                <mat-tree [dataSource]="conditionDataSource" [treeControl]="conditionTreeControl"
                  class="condition-tree">
                  <!-- This is the tree node template for leaf nodes -->
                  <!-- There is inline padding applied to this node using styles.
                    This padding value depends on the mat-icon-button width. -->
                  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                    <div class="mat-tree-node" (mouseenter)="node.showInfoIcon = true"
                      (mouseleave)="node.showInfoIcon = false">
                      <div [class.disabled]="node.styleDisabled">
                        <mat-radio-button [value]="node" *ngIf="!node.disableSelect"
                          (change)="onSelect(node)">
                          {{node.display_name}}
                        </mat-radio-button>
                        <span *ngIf="node.disableSelect">
                          {{node.display_name}}
                        </span>
                        <button mat-icon-button
                          [style.visibility]="showInfoIcon(node) ? 'visible': 'hidden'"
                          [matMenuTriggerFor]="popoverMenu" (menuOpened)="node.infoMenuOpen = true"
                          (menuClosed)="node.infoMenuOpen = false">
                          <mat-icon>info_outline</mat-icon>
                        </button>
                        <mat-menu #popoverMenu="matMenu">
                          <app-layer-info-card [dataLayerConfig]="node"></app-layer-info-card>
                        </mat-menu>
                      </div>
                    </div>
                  </mat-tree-node>
                  <!-- This is the tree node template for expandable nodes -->
                  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                    <div class="mat-tree-node" (mouseenter)="node.showInfoIcon = true"
                      (mouseleave)="node.showInfoIcon = false">
                      <div [class.disabled]="node.styleDisabled">
                        <mat-radio-button [value]="node" *ngIf="!node.disableSelect"
                          (change)="onSelect(node)">
                          {{node.display_name}}
                        </mat-radio-button>
                        <span *ngIf="node.disableSelect">
                          {{node.display_name}}
                        </span>
                        <button mat-icon-button
                          [style.visibility]="showInfoIcon(node) ? 'visible': 'hidden'"
                          [matMenuTriggerFor]="popoverMenu" (menuOpened)="node.infoMenuOpen = true"
                          (menuClosed)="node.infoMenuOpen = false">
                          <mat-icon>info_outline</mat-icon>
                        </button>
                        <mat-menu #popoverMenu="matMenu">
                          <app-layer-info-card [dataLayerConfig]="node"></app-layer-info-card>
                        </mat-menu>
                        <button mat-icon-button matTreeNodeToggle
                                [attr.aria-label]="'Toggle ' + node.display_name">
                          <mat-icon class="mat-icon-rtl-mirror">
                            {{conditionTreeControl.isExpanded(node) ? 'expand_less' : 'expand_more'}}
                          </mat-icon>
                        </button>
                      </div>
                    </div>
                    <!-- There is inline padding applied to this div using styles.
                        This padding value depends on the mat-icon-button width.  -->
                    <div [class.condition-tree-invisible]="!conditionTreeControl.isExpanded(node)"
                        role="group">
                        <ng-container matTreeNodeOutlet></ng-container>
                    </div>
                  </mat-nested-tree-node>
                </mat-tree>
              </mat-radio-group>
            </mat-expansion-panel>

            <!-- Disturbances controls -->
            <mat-expansion-panel disabled="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Disturbances
                </mat-panel-title>
                <mat-panel-description>
                  Coming soon!
                </mat-panel-description>
              </mat-expansion-panel-header>
            </mat-expansion-panel>

            <!-- HVRAs controls -->
            <mat-expansion-panel disabled="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  HVRAs
                </mat-panel-title>
                <mat-panel-description>
                  Coming soon!
                </mat-panel-description>
              </mat-expansion-panel-header>
            </mat-expansion-panel>

            <!-- Land types controls -->
            <mat-expansion-panel disabled="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Land types
                </mat-panel-title>
                <mat-panel-description>
                  Coming soon!
                </mat-panel-description>
              </mat-expansion-panel-header>
            </mat-expansion-panel>

            <!-- Operability controls -->
            <mat-expansion-panel disabled="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Operability
                </mat-panel-title>
                <mat-panel-description>
                  Coming soon!
                </mat-panel-description>
              </mat-expansion-panel-header>
            </mat-expansion-panel>

          </mat-accordion>
        </mat-tab>
      </mat-tab-group>
  </div>

  <!-- Display containers for leaflet maps (up to 4) -->
  <div class="maps-container">
    <!-- Actions bar above the maps -->
    <div class="map-actions-bar">
      <button mat-flat-button
        class="create-plan-button"
        (click)="showAreaCreationActionButtons=!showAreaCreationActionButtons">
        Create a plan
        <span class="arrow" [ngClass]="{right: !showAreaCreationActionButtons, left: showAreaCreationActionButtons}"></span>
      </button>

      <!-- Draw a planning area -->
      <button mat-flat-button
        class="draw-area-button"
        [class.is-hidden]="!showAreaCreationActionButtons"
        [ngClass]="{selected: selectedAreaCreationAction === AreaCreationAction.DRAW}"
        (click)="onAreaCreationActionChange(AreaCreationAction.DRAW)">
        <mat-icon>draw</mat-icon> Draw an area
      </button>

      <!-- Upload a planning area -->
      <div class="upload-wrapper">
        <button mat-flat-button
          class="upload-area-button"
          [class.is-hidden]="!showAreaCreationActionButtons"
          [ngClass]="{selected: selectedAreaCreationAction === AreaCreationAction.UPLOAD}"
          (click)="onAreaCreationActionChange(AreaCreationAction.UPLOAD)">
          <mat-icon>upload</mat-icon> Upload an area
        </button>
        <file-uploader *ngIf="showUploader"
          class="file-uploader"
          requiredFileType="application/zip"
          (fileEvent)="loadArea($event)"
          ></file-uploader>
      </div>

      <!-- Cancel button -->
      <button *ngIf="selectedAreaCreationAction === AreaCreationAction.DRAW ||
        selectedAreaCreationAction === AreaCreationAction.UPLOAD"
        mat-button type="button"
        class="cancel-button"
        (click)="cancelAreaCreationAction()">
        <mat-icon>cancel</mat-icon>CANCEL
      </button>

      <!-- Done (confirm area) button -->
      <button *ngIf="showConfirmAreaButton$ | async"
        mat-button type="button"
        class="confirm-area-button"
        (click)="openCreatePlanDialog()">
        <mat-icon>done</mat-icon>DONE
      </button>
    </div>

    <!-- Maps (1, 2, or 4) -->
    <div class="map-row" [ngStyle]="{'height': mapRowHeight(0)}">
      <div class="map-box" [ngClass]="{'selected': (mapViewOptions$ | async)?.selectedMapIndex === 0}"
        [hidden]="!isMapVisible(0)" data-testid="map1">
        <app-map-nameplate [map]="maps[0]" [selected]="(mapViewOptions$ | async)?.selectedMapIndex === 0"
          [width$]="mapNameplateWidths[0]">
        </app-map-nameplate>
        <div id="map1" class="map"></div>
      </div>
      <div class="map-box" [ngClass]="{'selected': (mapViewOptions$ | async)?.selectedMapIndex === 1}"
        [hidden]="!isMapVisible(1)" data-testid="map2">
        <app-map-nameplate [map]="maps[1]" [selected]="(mapViewOptions$ | async)?.selectedMapIndex === 1"
        [width$]="mapNameplateWidths[1]">
      </app-map-nameplate>
        <div id="map2" class="map"></div>
      </div>
    </div>
    <div class="map-row" [ngStyle]="{'height': mapRowHeight(1)}">
      <div class="map-box" [ngClass]="{'selected': (mapViewOptions$ | async)?.selectedMapIndex === 2}"
        [hidden]="!isMapVisible(2)" data-testid="map3">
        <app-map-nameplate [map]="maps[2]" [selected]="(mapViewOptions$ | async)?.selectedMapIndex === 2"
        [width$]="mapNameplateWidths[2]">
      </app-map-nameplate>
        <div id="map3" class="map"></div>
      </div>
      <div class="map-box" [ngClass]="{'selected': (mapViewOptions$ | async)?.selectedMapIndex === 3}"
        [hidden]="!isMapVisible(3)" data-testid="map4">
        <app-map-nameplate [map]="maps[3]" [selected]="(mapViewOptions$ | async)?.selectedMapIndex === 3"
        [width$]="mapNameplateWidths[3]">
      </app-map-nameplate>
        <div id="map4" class="map"></div>
      </div>
    </div>
  </div>
</div>
