<app-nav-bar></app-nav-bar>
<section class="container">
  <div class="full-report-sidebar">
    <div class="section-row toggle-row">
      <sg-toggle-tabs
        [buttons]="tabButtons"
        defaultSelection="report"
        (emitSelection)="handleToggleSelection($event)"></sg-toggle-tabs>
    </div>
    <div class="report-view" *ngIf="currentView === 'report'">
      <div class="section-row">
        <div class="section-title">Introduction</div>
        <div class="section-text">
          Presented below are the results of our land management modeling, which
          apply the maximum permissible treatments according to protected area
          status and vegetation type. These values highlight the difference
          between max allowable treatments and a "no-treatment" baseline.
          <a>Learn More</a>
        </div>
      </div>
      <div class="section-row outcomes-row">
        <div class="view-outcomes-row">
          <div class="view-outcomes-box">
            <div>Viewing outcomes for:</div>
            <sg-filter-dropdown
              class="outcome-areas-dropdown"
              [styleType]="'white'"
              [hasSearch]="false"
              displayField="name"
              shortLabel="shortName"
              noSelectionsLabel="All Project Areas"
              [menuItems]="outcomeViewOptions"
              [showCountChip]="false"
              menuLabel="Project Areas"></sg-filter-dropdown>
          </div>
        </div>
        <app-funding-report [reportType]="'full'"></app-funding-report>
      </div>
    </div>
  </div>
  <div class="data_layer_view" *ngIf="currentView === 'data_layers'"></div>
  <app-funding-report-map></app-funding-report-map>
</section>
