@import 'colors';
@import 'media';
@import 'variables';
@import 'mixins';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
  overflow: hidden;

  @include on-small() {
    overflow: initial;
    flex-direction: column-reverse;
    height: initial;
  }
}

.full-report-sidebar {
  width: $scenario-sidebar-width;
  max-width: $scenario-sidebar-width;

  background-color: $color-soft-purple;
  box-shadow: 6px 0 8px 0 rgba(0, 0, 0, 0.12);
  overflow-y: auto;

  @include on-small() {
    width: 100%;
  }

  &:not(.full-screen-steps) {
    @include on-small() {
      height: initial;
      max-width: initial;
    }
  }

  &.full-screen-steps {
    width: 100%;
    max-width: 100%;
    box-shadow: none;
  }

  &.pre-step {
    ::ng-deep .step {
      padding: 0;
      overflow: hidden;

      @include on-small() {
        overflow: initial;
      }
    }
  }
}

app-funding-report-map {
  flex: 1;
  min-width: $scenario-sidebar-width;

  @include on-small() {
    height: 400px;
    flex: initial;
  }
}

.section-row {
  padding: 24px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-bottom: 1px $color-soft-gray solid;

  .section-title {
    @include top-level-label();
    text-transform: uppercase;
    font-weight: 700;
  }

  .section-text {
    @include small-input-label();
  }
}

.toggle-row {
  height: 52px;
  align-items: center;
  position: sticky;
  top: 0;
}

.outcomes-row {
  padding: 0;
  position: sticky;
  top: 101px;
  max-height: calc(1200px - 102px);

  .view-outcomes-box {
    background-color: $color-soft-white;
    margin: 16px;
    border: 1px $color-soft-gray solid;
    padding: 16px;
    @include small-input-label();
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}

.tabs-row {
  padding: 0;
  position: sticky;
  top: 218px; /* TODO: use vars here */
}

.report-details {
  background-color: $color-light-gray;
  padding: 16px;

  .report-placeholder {
    height: 900px;
    border: 1px grey solid;
  }
}

.report-footer {
  background-color: $color-white;
  border-top: 1px solid $color-soft-gray;
  padding: 16px 8px;
  box-sizing: border-box;
  position: sticky;
  bottom: 0;
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 0;
  z-index: 500;
  gap:8px;
}

.download-options-down {
  height: 40px;
  line-height: 40px;
  border-left: 1px solid white;
  padding: 0 8px;
  margin-left: 6px;
  margin-right: -12px;
}