@import "colors";
@import "mixins";

$panel-title-height: 60px;

:host {
  display: block;
  border-radius: 4px;
  border: 1px solid $color-soft-gray;
  background: $color-white;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.20);
  box-sizing: border-box;

  ::ng-deep *[panelTitle] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 8px;
  }
}

.title-row:not(:empty) {
  @include h5();
  box-sizing: border-box;
  height: $panel-title-height;
  display: flex;
  align-items: center;

  padding: 14px 16px 14px 24px;
  border-bottom: 1px solid $color-soft-gray;

  mat-icon {
    cursor: pointer;
  }

}

.content {
  height: calc(100% - $panel-title-height);
}

.buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 16px;
}


.padded {
  padding: 14px 16px 14px 24px;
}

