@import 'mixins';
@import 'colors';

.plan-overview-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tools {
  display: flex;
  width: 100%;
  gap: 16px;
  flex-wrap: wrap;
}

.description {
  @include small-paragraph();
  color: $color-dark-gray;
  margin: 0;
}

.scenario-tools-card {
  gap: 4px;
}

.scenario-dashboard-layout {
  background-color: $color-light-gray;
}

.right-column-card {
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex: 1;
}

.right-column-content {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}
