@import "mixins";
@import "colors";

:host {
  .summary-tab-group {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: calc(100% - 184px);
  }

  ::ng-deep .mat-mdc-tab-group {
    height: 100%;
  }

  ::ng-deep .mat-mdc-tab-body-wrapper {
    height: 100%;
  }


}