<div class="side-search-container" *ngIf="showSearch">
  <sg-search-bar
    class="search-bar"
    [debounceInterval]="160"
    searchPlaceholder="Search in base layers"
    [showCloseButton]="true"
    (searchString)="search($event)"
    (clearSearch)="clearSearch()"></sg-search-bar>
</div>
<div class="scrollable">
  <app-base-layers-list
    *ngFor="let baseDataSet of baseDataSets$ | async"
    [dataSet]="baseDataSet"
    [allSelectedLayersIds]="(selectedLayersId$ | async) || []"
    [initialExpanded]="(selectedLayersDataSet$ | async) === baseDataSet.id"
    (layerSelected)="updateSelectedLayer($event)"></app-base-layers-list>
</div>
<div class="footer" *ngIf="selectedLayers$ | async">
  <button sg-button (click)="clearBaseLayer()" class="clear-btn">Clear</button>
</div>
