@if (treatments.length === 0) {
@if (loading) {
<div *ngIf="loading">
  <mat-spinner diameter="40"></mat-spinner>
</div>
} @else {
<div class="cards-header">
  <div>there are no treatments</div>
</div>
}

} @else {
<div class="treatments-list-header">
  <h4 class="header-left">Treatment Effects</h4>
  <div class="header-right">
    <button class="sort-header" sg-button (click)="handleSortChange()" variant="text">
      <mat-icon class="material-symbols-outlined">
        {{
        sortSelection === '-created_at'
        ? 'arrow_downward_alt'
        : 'arrow_upward_alt'
        }}
      </mat-icon>
      <span>Date Created</span>
    </button>
    <div class="button-section">
      <button sg-button variant="primary" icon="add" class="new-treatment" [disabled]="creatingTreatment"
        (click)="openNewTreatmentDialog()">
        New Treatment Plan
      </button>
    </div>
  </div>
</div>

<div class="treatment-cards-wrapper">
  <div *ngIf="loading" class="list-spinner">
    <mat-spinner diameter="40"></mat-spinner>
  </div>

  

  <sg-treatment-card class="in-list" *ngFor="let tx of treatments" [name]="tx.name" [status]="tx.status" [createdAt]="tx.created_at"
    [creator]="tx.creator_name" [userCanDelete]="userCanDelete()" [userCanDuplicate]="userCanDuplicate()"
    (view)="goToTreatment(tx, tx.status)" (delete)="openDeleteDialog(tx)"
    (duplicate)="duplicateTreatment(tx)"></sg-treatment-card>

  <!-- 
    <app-treatment-plan-cards-list
      *ngIf="!loading && treatments.length > 0"
      [plans]="treatments"
      class="card-list">
    </app-treatment-plan-cards-list> -->
</div>
}