@if (treatmentPlans.length === 0) {

  <!-- @if (loading) {
    <div *ngIf="loading">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
  } @else {
    <app-scenarios-empty-list
      *ngIf="planningAreaIsReady && !planningAreaIsLarge && !planningAreaFailed"
      [plan]="plan"></app-scenarios-empty-list>
    
  } -->
  <div class="cards-header">

    <div *ngIf="planningAreaIsLarge" class="large-message">
      <p>
        Your Planning Area is greater than 3 million acres. The Planscape team
        would like to work with you to ensure we're meeting your scenario
        planning needs.<br />Please contact
        <a href="mailto:support@planscape.org">support&#64;planscape.org</a> to
        move forward with scenario planning.
      </p>
    </div>

    <div
      *ngIf="
        !planningAreaIsLarge && !planningAreaIsReady && !planningAreaFailed
      "
      class="pending-message">
      <mat-spinner diameter="32" class="spinner"></mat-spinner>
      <h4>Your Planning Area is being prepared for Scenario Planning</h4>
      <p>
        For larger areas (over 1 million acres), this process may take up to 20
        minutes.
      </p>
    </div>

    </div>

} @else {
  <div class="scenarios-header">
    <button
      class="sort-header"
      sg-button
      (click)="handleSortChange()"
      variant="text">
      <mat-icon class="material-symbols-outlined">
        {{
          sortSelection === '-created_at'
            ? 'arrow_downward_alt'
            : 'arrow_upward_alt'
        }}
      </mat-icon>
      <span>Date Created</span>
    </button>
    <div class="button-section">
      <button
        sg-button
        >Ok
      </button>

      
      
    </div>
  </div>

  <div class="saved-scenarios-wrapper">
    <div *ngIf="loading" class="list-spinner">
      <mat-spinner diameter="40"></mat-spinner>
    </div>

    <app-treatment-plan-cards-list
      *ngIf="!loading && treatmentPlans.length > 0"
      [plans]="treatmentPlans"
      class="card-list">
    </app-treatment-plan-cards-list>
    
  </div>
}
