<div class="col left-panel">
  <sg-section
    headline="ASSIGN DATA LAYERS TO PILLARS (OPTIONAL)"
    [required]="false"
    class="datalayers-section"
    tooltipContent="Tooltip placeholder"
    tooltipIcon="help">
    <!-- Section description paragraph -->
    <p class="description">
      You may group data layers into pillars to aggregate them and align each
      group with its corresponding future climate condition analog. You can use
      existing pillars or create your own. This step is optional—any layers not
      assigned to a pillar will be analyzed using a general future climate
      conditions analog.
    </p>
    <p class="description">Drag and drop data layers in pillars.</p>
    <!-- List of unassigned dataLayers -->
    <div class="loading-box" *ngIf="loadingDatalayers">
      <mat-spinner diameter="24"> </mat-spinner>
    </div>
    <div
      *ngIf="!loadingDatalayers"
      class="datalayers-list"
      cdkDropList
      [cdkDropListData]="datalayers"
      (cdkDropListDropped)="drop($event)">
      <div class="datalayers-box" *ngFor="let item of datalayers" cdkDrag>
        <span class="material-symbols-outlined"> drag_indicator </span>
        {{ item.name }}
      </div>
    </div>
  </sg-section>
</div>
<div class="col dataLayers">
  <div class="dataLayers-header">
    <span class="title">Pillars</span>
    <button sg-button icon="add" variant="primary" (click)="addPillar()">
      Custom Pillar
    </button>
  </div>
  <div class="loading-box" *ngIf="loadingPillars">
    <mat-spinner diameter="24"> </mat-spinner>
  </div>
  <div class="dataLayers-content" *ngIf="!loadingPillars">
    <!-- List of groups -->
    <ng-container *ngFor="let group of pillars">
      <!-- Expandible group component -->
      <div
        class="expandible-group"
        cdkDropList
        [cdkDropListData]="group.dataLayers"
        (cdkDropListDropped)="drop($event)">
        <div class="expandible-group-header">
          <div class="expandible-group-title">
            <i
              class="material-symbols-outlined"
              (click)="group.isOpen = group.isOpen ? false : true">
              {{ group.isOpen ? 'arrow_drop_down' : 'arrow_right' }}
            </i>
            {{ group.name }}
          </div>
          <span class="expandible-group-desc">
            ({{ group.dataLayers.length }} data layers)</span
          >
          <div class="expandible-actions" *ngIf="group.is_custom">
            <button
              sg-button
              (click)="deletePillar(group.id)"
              variant="icon-only"
              [outlined]="true"
              icon="delete"></button>
            <button
              sg-button
              (click)="editPillar(group)"
              [outlined]="true"
              variant="icon-only"
              icon="edit"></button>
          </div>
        </div>
        <!-- Draggable datalayer component -->
        <ng-container *ngIf="group.isOpen === true">
          <ng-container *ngIf="group.dataLayers.length === 0">
            <div class="empty-datalayers">
              No data layers assigned to this pillar
            </div>
          </ng-container>
          <div
            class="datalayers-box"
            *ngFor="let i of group.dataLayers"
            cdkDrag>
            <span class="material-symbols-outlined"> drag_indicator </span>
            {{ i.name }}
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
