<mat-expansion-panel
  [ngClass]="{ selected: isSelected }"
  (opened)="toggleState()"
  (closed)="toggleState()"
  (mouseover)="handleHover($event)"
  class="project-area-expander-panel">
  <mat-expansion-panel-header
    class="header-content"
    #header
    (click)="onHeaderClick($event)">
    <div class="left-content" (click)="onHeaderClick($event)">
      <img src="assets/svg/icons/project-area-icon.svg" />
      <div>{{ title ? title : projectArea.project_area_name }}</div>
    </div>
    <div class="right-content">
      <div class="stand-count">
        {{ treatedStandCount() + '/' + projectArea.total_stand_count }}
      </div>
      <mat-icon class="material-symbols-outlined treatment-hexagon"
        >hexagon_outline</mat-icon
      >
    </div>
  </mat-expansion-panel-header>
  <div class="empty-treatments" *ngIf="projectArea.prescriptions.length === 0">
    No treatments
  </div>

  <div class="rx-section" *ngIf="projectArea.prescriptions.length > 0">
    <mat-expansion-panel
      class="rx-submenu"
      *ngFor="let rx of projectArea.prescriptions">
      <mat-expansion-panel-header class="rx-submenu-header">
        <div
          class="rx-submenu-header single-treatment"
          *ngIf="rx.type === 'SINGLE'">
          <sg-treatment-type-icon
            class="rx-icon"
            [treatment]="rx.action"></sg-treatment-type-icon>
          <div class="rx-detail-name">
            {{ headingTitleText(rx.action, rx.type) }}
          </div>
        </div>

        <div class="rx-submenu-header sequence" *ngIf="rx.type === 'SEQUENCE'">
          <sg-sequence-icon
            [action]="rx.action"
            class="rx-icon"></sg-sequence-icon>
          <div class="rx-detail-name">
            {{ headingTitleText(rx.action, rx.type) }}
          </div>
        </div>
      </mat-expansion-panel-header>
      <div *ngIf="rx.type === 'SEQUENCE'">
        <div
          *ngFor="let seqDetail of sequenceActions(rx.action)"
          class="sequence-treatment-line">
          <mat-icon class="material-symbols-outlined sequence-icon"
            >medication</mat-icon
          >
          <span class="sequence-treatment-name">{{ seqDetail }}</span>
        </div>
      </div>
      <div class="rx-details">
        <span class="rx-detail-name">Stands: </span
        ><span class="rx-detail-value">{{ rx.treated_stand_count }}</span>
        <span class="rx-detail-name">Total: </span
        ><span class="rx-detail-value">{{ rx.stand_ids.length }}</span>
      </div>
    </mat-expansion-panel>
  </div>
</mat-expansion-panel>
