@import 'mixins';
@import 'colors';

:host {
  --mat-expansion-header-hover-state-layer-color: $color-white;
  --mat-expansion-header-focus-state-layer-color: $color-white;
  --mat-expansion-header-expanded-state-height: 48px;

  ::ng-deep {
    .mat-expansion-panel {
      box-shadow: none;
      border-bottom: 1px $color-soft-gray solid;
      border-radius: 0;
      padding-right: 8px;
    }

    .mat-expansion-panel.selected {
      background-color: $color-soft-purple;
      --mat-expansion-header-hover-state-layer-color: $color-soft-purple;
    }

    .mat-expansion-panel:active {
      background-color: $color-soft-purple;
      --mat-expansion-header-hover-state-layer-color: $color-soft-purple;
    }

    .mat-expansion-panel:not([class*='mat-elevation-z']) {
      box-shadow: none;
    }

    .mat-expansion-panel:hover:not([class*='selected']) {
      background-color: $color-light-gray;

      .mat-expansion-panel {
        background-color: unset;
      }
    }

    .mat-expansion-indicator {
      height: 18px;
      line-height: 8px;
      align-content: center;
      display: inline-block;
      padding-left: 8px;
      padding-right: 8px;
      margin-top: 4px; // Adjust this value to fine-tune vertical position
    }

    .mat-expansion-indicator:hover {
      background-color: $color-soft-gray;
      border-radius: 20px;
    }
  }
}

.project-area-expander-panel {
  padding: 0px;

  ::ng-deep {
    .mat-expansion-panel-header {
      padding: 0 12px 0 12px;
    }

    .mat-expansion-panel-header.header-content .mat-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      width: 100%;
      height: auto;
      padding: 12px;
      padding-right: 0px;
      padding-left: 0px;
    }

    .mat-expansion-panel-header.header-content.mat-expanded {
      height: auto;
    }

    .mat-expansion-panel-header .mat-expansion-indicator {
      padding-bottom: 6px;
    }

    .mat-expansion-panel-header .mat-expansion-indicator::after {
      color: $color-black;
    }

    .mat-expansion-panel-body {
      padding: 0 14px 0;
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
}

.header-content {
  padding: 0 8px 0 8px;
  height: auto;
}

.header-title {
  line-height: 24px;
  height: auto;
  padding: 0;
}

.left-content {
  @include xs-label();
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;
  margin-left: 4px;
  line-height: 0;
}

.right-content {
  @include xs-label();
  color: $color-md-gray;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 8px;
  padding-right: 4px;
}

.stand-count,
.treatment-hexagon {
  color: $color-md-gray;
}

.empty-treatments {
  height: 36px;
  margin-left: 30px;

  a {
    color: $color-standard-blue;
    text-decoration: none;
  }
}

.rx-details {
  @include xs-label();
  height: 40px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 28px;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 24px;
}

.rx-sequence-detail {
  @include xs-label();
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rx-sequence-desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rx-detail-name {
  @include xs-label();
  line-height: 20px;
}

.rx-detail-value {
  @include small-paragraph();
  color: $color-black;
}

.rx-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  gap: 16px;
}

.rx-icon {
  height: 24px;
}

.rx-submenu {
  border: none;
  --mat-expansion-header-expanded-state-height: 34px;
  --mat-expansion-header-collapsed-state-height: 34px;
  background-color: unset;
  padding-right: 14px;
  padding-left: 14px;

  ::ng-deep .mat-expansion-panel-body {
    padding-right: 0px;
  }
}

.rx-single-submenu-header {
  height: var(--mat-expansion-header-expanded-state-height);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 6px;
}

.rx-sequence-submenu-header {
  --mat-expansion-header-expanded-state-height: 48px;
  height: var(--mat-expansion-header-expanded-state-height);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;

  ::ng-deep .mat-expansion-indicator {
    position: absolute;
    top: -4px;
    right: 14px;
  }
}

.rx-submenu-single-title {
  height: var(--mat-expansion-header-expanded-state-height);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 6px;
}

.rx-submenu-seq-title {
  height: var(--mat-expansion-header-expanded-state-height);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  gap: 6px;
}

.sequence-treatment-line {
  @include small-paragraph();
  padding-left: 24px;
  display: flex;
  flex-direction: row;
  color: $color-black;
  gap: 4px;
  line-height: 30px;
  height: 30px;
}
.rx-detail-year {
  color: $color-md-gray;
  white-space: nowrap;
}
.sequence-icon {
  color: $color-md-gray;
  width: 20px;
  font-size: 20px;
  line-height: 30px;
}
