@import 'colors';
@import 'mixins';
@import 'variables';

:host {

  .padding-section {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;

  }

  .with-gap {
    gap: 16px;
  }

  .error-message {
    color: $color-error;
    margin: 0;
  }

}

.priority-selection ::ng-deep .mat-expansion-panel-body {
  padding: 0;
}

// Make the search bar sticky within the parent div.step scroll container.
// We must ensure no ancestor between div.step and the search bar sets
// overflow to anything other than visible, as that breaks position: sticky.
:host ::ng-deep {
  sg-section,
  .mat-expansion-panel,
  .mat-expansion-panel-content,
  .mat-expansion-panel-body,
  .datalayers-section,
  app-data-layers {
    overflow: visible !important;
  }

  app-data-layers {
    display: block;
  }


  app-data-layers .scrollable {
    overflow-y: visible;
  }
}

.weighting-info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  padding: 16px;
  gap: 8px;

  border-radius: 4px;
  border: 1px solid var(--Neutral-Soft-gray, #E1E1E1);
  background: var(--Neutral-White, #FFF);

  /* shadow-md */
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16);
}

.weighting-info-title {
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22px;
}

.weighting-info-item {
  color: var(--Neutral-Md-Gray, #767575);
  display: flex;
  justify-content: space-between;
}

.weighting-info-weight {
  color: black;
  font-weight: bold;
}

.weighting-info-edit {
  color: $color-standard-blue;
  position: relative;
  left: 8px;
}

::ng-deep .weighting-menu-panel .mat-mdc-menu-content {
  padding: 0;
}
