:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  height: 100%;
}

.side-panel {
  width: 200px; // placeholder
  flex-shrink: 0;
}

.main {
  flex: 1;
  position: relative;
  overflow: hidden;
}

mgl-map {
  width: 100%;
  height: 100%;
}
