<app-nav-bar area="EXPLORE"> </app-nav-bar>
<section>
  <div class="side-panel">Side menu</div>
  <div class="main">
    <app-map-nav-bar>
      <app-multi-map-control></app-multi-map-control>
      <sg-opacity-slider
        class="navbar-slider"
        [minValue]="0"
        [maxValue]="1"
        [step]="0.01"
        [sliderValue]="(projectAreasOpacity$ | async) ?? 0.5"
        (valueChange)="handleOpacityChange($event)"
        tooltip="Project Area Opacity"></sg-opacity-slider>
    </app-map-nav-bar>
    <app-synced-maps></app-synced-maps>
  </div>
</section>
