<section [class.dashboard]="variant === 'dashboard'">
  <ng-container *ngIf="!isSystemError; else systemError">
    <h4>
      <mat-icon class="material-symbols-filled warning">warning</mat-icon>
      Forsys couldn’t find enough eligible areas for treatment
    </h4>
    <p>Review your scenario configurations and try adjusting the following:</p>

    <ul>
      <li>
        <b>Check data coverage:</b> Make sure your priority objective metrics
        have enough density in your planning area.
      </li>
      <li>
        <b>Review exclusions:</b> Too many excluded areas can limit available
        land for treatment.
      </li>
      <li>
        <b>Relax constraints:</b> Try increasing the maximum slope or distance
        from roads to include more treatable areas.
      </li>
      <li>
        <b>Adjust treatment targets:</b> If available land is limited, consider
        lowering your treatment targets to match what's feasible.
      </li>
    </ul>

    <p>
      You can copy your scenario and edit it with these adjustments in mind,
      then run the scenario again.
    </p>
    <div class="actions" *ngIf="variant === 'default'">
      <button
        (click)="tryAgain.emit()"
        class="copy-button white-spinner"
        sg-button
        [loading]="loadingCopyDialog"
        variant="primary">
        Copy Scenario & Edit
      </button>
    </div>
  </ng-container>

  <ng-template #systemError>
    <h4>
      <mat-icon class="material-symbols-filled error">error</mat-icon>
      There was an error generating your scenario
    </h4>
    <p>Sorry, we were unable to generate your scenario. Please try again.</p>

    <div class="actions" *ngIf="variant === 'default'">
      <button sg-button (click)="submitFeedback()" variant="primary">
        Submit Feedback
      </button>
    </div>
  </ng-template>
</section>
