@import "colors";

:host {
  display: block;
  margin: 0;
  padding-top: 24px
}

section {
  border: 1px solid $color-fields-gray;
  border-radius: 4px;
  background-color: $color-white;
  padding: 16px;
}

.button-left {
  margin-bottom: 16px;
  margin-left: auto;
}

p {
  color: $color-md-gray;
}

.warning {
  color: $color-orange;
  vertical-align: bottom;
}

.error {
  color: $color-error;
  vertical-align: bottom;
}

.actions {
  margin-top: 24px;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  padding-bottom: 16px;
}


