button {
  display: block;
}

summary {
  display: none;
}

.base-options {
  padding: 16px 14px;
}

.base-option {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  text-transform: capitalize;

  input {
    margin: 0;
    cursor: pointer;
  }

  label {
    cursor: pointer;

  }
}
