mat-form-field {
  min-width: 480px;
}

.info {
  align-items: center;
  background-color: #f2f2f2;
  display: flex;
  gap: 22px;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  margin: 0px -24px 0;
  padding: 16px 22px;
}

.name-field {
  margin-top: 32px;
}
