:host {
  display: block;
}

mat-form-field {
  min-width: 480px;
}

.info {
  align-items: center;
  background-color: #f2f2f2;
  display: flex;
  gap: 22px;
  margin: 0px -24px 0;
  padding: 16px 22px;
}

.name-field {
  margin-top: 32px;
}

mat-icon {
  flex-shrink: 0;
}

.title {
  margin: 24px 24px 0;
}

mat-dialog-actions {
  padding: 0 24px 16px;
}
