version: "3.9"

services:
  _planscape:
    image: planscape
    command: ["echo", "build done"]
    build:
      context: .
      dockerfile: docker/Dockerfile
  web:
    image: planscape
    extends:
      service: _planscape
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
    working_dir: /usr/src/app/src/planscape
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - .:/usr/src/app
  frontend:
    build:
      context: .
      dockerfile: docker/Dockerfile.frontend
    ports:
      - "4200:4200"
    env_file:
      - .env
    depends_on:
      - web
    working_dir: /usr/src/app/src/interface
    volumes:
      - .:/usr/src/app
  redis:
    image: redis:6.2-alpine
    restart: always
    ports:
      - "6380:6379"
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      - cache:/data/redis
  celery_worker:
    image: planscape
    extends:
      service: _planscape
    working_dir: /usr/src/app/src/planscape
    command: celery -A planscape worker -E --loglevel INFO --concurrency 3
    deploy:
      replicas: 2
    env_file:
      - .env
    depends_on:
      - web
      - db
      - redis
    volumes:
      - .:/usr/src/app
  db:
    image: postgis/postgis:15-3.4
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      POSTGRES_MULTIPLE_EXTENSIONS: postgis,hstore,postgis_topology,postgis_raster,pgrouting
    volumes:
      - postgres:/data/postgres
    ports:
      - 5433:5432
    restart: unless-stopped
    command: -c fsync=off -c synchronous_commit=off -c full_page_writes=off
volumes:
  postgres: null
  cache:
    driver: local
