@import "mixins";
@import "colors";

:host {
  @include xs-label();
  display: inline-flex;
  padding: 8px 12px;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  height: 32px;
  min-width: 0;
  max-width: 100%;


  &.in-progress {
    color: $color-main-blue;
    background-color: $color-soft-light-blue;
  }

  &.success {
    color: $color-brand-green;
    background-color: $color-brand-soft-green;
  }

  &.failed {
    color: $color-dark-red;
    background-color: $color-light-red
  }

  &.running {
    color: $color-dark-yellow;
    background-color: $color-brand-soft-yellow;
  }

  mat-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
    margin-right: 8px;
    flex-shrink: 0;
  }

  .label {
    overflow: hidden; /* Necessary for ellipsis */
    white-space: nowrap; /* Prevents text wrapping */
    text-overflow: ellipsis; /* Adds ellipsis for clipped text */
  }
}
