@import 'variables';
@import 'media';
@import 'colors';

:host {
  display: flex;
  height: 100%;

  @include on-small() {
    display: block;
  }
}

.sidebar {
  max-width: $scenario-sidebar-width;
  margin: 0 auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  @include on-small() {
    max-width: initial;
  }
}

sg-process-overview {
  padding: 24px 40px 32px;
  flex: 1;
  border-right: 1px solid $color-light-purple;
  @include on-small() {
    border-right: none;
    border-bottom: 1px solid $color-light-purple;
  }
}

.main {
  background-color: $color-soft-purple;
  flex: 1;
  min-width: $scenario-sidebar-width;
  overflow-y: auto;
  @include on-small() {
    overflow-y: initial;
    min-width: initial;
  }
}

.main-content {
  display: block;
  margin: 0 auto;
  max-width: 680px;
  padding: 16px;
}
