@import "variables";
@import "media";
@import "colors";
@import 'mixins';

:host {
  display: flex;
  height: 100%;

  @include on-small() {
    display: block;
  }

  ::ng-deep {
    .mat-mdc-form-field-subscript-wrapper {
      font-size: 14px;
    }

    .mat-mdc-form-field-error-wrapper {
      padding: 0;
    }

    .mat-mdc-form-field-required-marker {
      color: $color-error;
    }

    .mdc-text-field--outlined {
      padding: 0;
    }

    .mat-mdc-select-trigger {
      padding: $steps-padding;
    }
  }
}


.sidebar {
  max-width: $scenario-sidebar-width;
  margin: 0 auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  @include on-small() {
    max-width: initial;
  }
}


sg-process-overview {
  padding: 24px 40px 32px;
  flex: 1;
  border-right: 1px solid $color-light-purple;
  @include on-small() {
    border-right: none;
    border-bottom: 1px solid $color-light-purple;;
  }
}


.main {
  background-color: $color-soft-purple;
  flex: 1;
  min-width: $scenario-sidebar-width;
  overflow-y: auto;
  @include on-small() {
    overflow-y: initial;
    min-width: initial;
  }
}


.stand-size {
  width: 100%;
  margin-top: 10px;
}


.option-text {
  width: 100%;
  margin: 0;
}

.option-description {
  @include xs-label();
  color: $color-text-gray;
}


.stand-label {
  margin: 0 0 8px 0;
  display: flex;
  gap: 16px;
  align-items: center;
  color: $color-text-gray;
}

.stand-icon {
  flex-shrink: 0;
  color: $color-dark-magenta;
  position: relative;

  // add a smaller layer on top to simulate fill
  &::after {
    content: 'hexagon';
    display: block;
    color: $color-light-magenta;
    position: absolute;
    z-index: 1000;
    width: 10px;
    height: 20px;
    top: 2px;
    font-size: 20px;
    left: 2px;
  }
}


.stand-size-section {
  display: block;
  margin: 0 auto;
  max-width: 680px;
  padding: 16px;
}

