@import 'colors';
@import 'media';
@import 'variables';
@import 'mixins';

:host {
  display: block; 
    background-color: white;
  padding: 4px;
  width: 100%; /* Careful: if you have borders, ensure box-sizing */
  box-sizing: border-box; 
  border-radius: 4px;
  border: 1px $color-soft-gray solid;
}

mat-button-toggle-group {
  display: flex;
  width: 100%;
  gap: 2px;
  box-shadow: none;
  flex-direction: row;
  justify-content: space-evenly;
}

mat-button-toggle {
  flex: 1;
  text-align: center;
  --mdc-button-toggle-unselected-background-color: #f5f5f5;
  --mdc-button-toggle-unselected-label-text-color: #333333;

  --mat-standard-button-toggle-selected-state-background-color: #064bba;
  --mat-standard-button-toggle-selected-state-text-color: white;
  --mat-focus-indicator-border-radius: 4px;

  --mdc-button-toggle-state-layer-color: transparent;
}

.mat-button-toggle-checked {
  border-radius: 4px;
}

.toggle-tabs.mat-button-toggle-group-appearance-standard {
  border: none;
  border-left: none;
  border-right: none;
}

.toggle-tabs.mat-button-toggle-group-appearance-standard .mat-button-toggle-appearance-standard+.mat-button-toggle-appearance-standard {
  border-left: none;
}
