<mgl-control position="top-right">
  <div class="controls">
    <button
      mat-icon-button
      type="button"
      (click)="handleClick()"
      [matTooltip]="tooltipContent"
      matTooltipPosition="below">
      <mat-icon *ngIf="icon === 'layers'" class="material-symbols-outlined">{{
        icon
      }}</mat-icon>
      <div
        *ngIf="icon === 'legend-toggle'"
        [style.mask-image]="'url(/assets/svg/icons/actions/legend_toggle.svg)'"
        class="svg-icon icon"></div>
    </button>
  </div>
</mgl-control>
