@import 'colors';
@import 'mixins';

:host {
  @include xs-label();
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-bottom: 1px;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  // need to push the modal footer 8px up
  margin-bottom: -8px;
  color: $color-dark-yellow;

  &.error {
    color: $color-error;
    justify-content: center;
    text-align: center;
  }

  &.success {
    color: $color-brand-teal;
  }

  .headline {
    @include h4();
    color: $color-black;
    width: 100%;
  }

  .message {
    @include small-paragraph();
    color: $color-dark-gray;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
  }

  .centered-icon {
    width: 36px;
    height: 36px;
    font-size: 36px;
  }
}


.icon-row {
  padding-bottom: 8px;
}
