<div class="pages-container" *ngIf="!showNavSelect">
  <div class="nav-control-container" *ngIf="pageCount > 1">
    <button
      class="page-button"
      sg-button
      class="first-page-button page-button"
      (click)="handlePrevious()"
      [disabled]="isCurrentPage(1)">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <button
      sg-button
      class="page-button"
      (click)="setPage(1)"
      [ngClass]="{ 'selected-button': isCurrentPage(1) }">
      1
    </button>
    <button
      sg-button
      *ngIf="showFirstSpacer$ | async"
      class="spacer-button"
      [disabled]="isCurrentPage(1)">
      ...
    </button>
    <div class="nav-controls">
      <div *ngFor="let pageNum of buttonRange$ | async">
        <button
          sg-button
          [ngClass]="{ 'selected-button': isCurrentPage(pageNum) }"
          class="page-button"
          (click)="setPage(pageNum)">
          {{ pageNum }}
        </button>
      </div>
    </div>
    <button
      sg-button
      class="spacer-button"
      *ngIf="showLastSpacer$ | async"
      [disabled]="isCurrentPage(1)">
      ...
    </button>
    <button
      sg-button
      class="page-button"
      (click)="setPage(pageCount)"
      [ngClass]="{ 'selected-button': isCurrentPage(pageCount) }">
      {{ pageCount }}
    </button>
    <button
      class="page-button"
      sg-button
      class="page-button last-page-button"
      (click)="handleNext()"
      [disabled]="isCurrentPage(getTotalPages())">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
</div>

<div class="page-select-container" *ngIf="showNavSelect">
  <div class="nav-label">Page:</div>
  <mat-form-field class="picker-field" appearance="outline">
    <mat-select
      [(ngModel)]="selectedPage"
      (selectionChange)="setPage(selectedPage)">
      @for (page of navSelectRange; track page) {
        <mat-option class="nav-page-item" [value]="page">{{ page }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<div class="per-page-picker">
  <div class="picker-label">Results per page:</div>
  <mat-form-field class="picker-field" appearance="outline">
    <mat-select
      [(ngModel)]="recordsPerPage"
      (selectionChange)="perPageChanged()">
      <mat-option class="per-page-item" [value]="10">10</mat-option>
      <mat-option class="per-page-item" [value]="20">20</mat-option>
      <mat-option class="per-page-item" [value]="40">40</mat-option>
    </mat-select>
  </mat-form-field>
</div>
