@import 'mixins';
@import 'colors';

:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  ::ng-deep .mat-form-field {
    display: block;
    text-align: left;
    line-height: 1em;
    padding-top: 20px;
  }

  .page-button {
    @include h5();
    color: #475569; /* TODO: this isnt in our colors? */
    background-color: white;
    border: 1px #e2e8f0 solid; /* TODO: this isnt in our colors? */
    padding: 8px;
    height: 40px;
    width: 40px;
    min-width: 40px;
    font-size: 20px;
  }

  .page-button:active {
    background-color: lightgrey;
  }

  .selected-button {
    background-color: grey;
    color: white;
  }

  .spacer-button {
    color: #475569; /* TODO: this isnt in our colors? */
    background-color: white;
    border: none; /* TODO: this isnt in our colors? */
    padding: 8px;
    height: 40px;
    width: 30px;
    font-size: 20px;
  }

  .first-page-button {
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
  }

  .last-page-button {
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
  }

  .page-button:disabled {
    background-color: lightgrey;
    color: #333333;
  }

  // Note the media queries, below
  .nav-control-container {
    display: flex;
    flex-direction: row;
    width: 660px;
  }

  .nav-controls {
    display: flex;
    flex-direction: row;
  }

  .per-page-picker {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    width: 200px;
  }

  .picker-field {
    width: 100px;
    padding-top: 4px;
    border: black;

    &.disabled {
      opacity: 0.6;
    }
  }

  .picker-label {
    margin: 20px;
  }
}

@media screen and (max-width: 800px) {
  .nav-control-container {
    max-width: 360px;
  }
}

@media screen and (max-width: 400px) {
  .nav-control-container {
    max-width: 200px;
  }
}
