@import 'mixins';
@import 'colors';

:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .page-button {
    @include h5();
    font-family: 'Public Sans'; // h5() not bringing in public sans?
    color: $color-md-gray;
    background-color: $color-white;
    border: 1px solid $color-md-gray;
    padding: 8px;
    height: 40px;
    width: 40px;
    min-width: 40px;
    font-size: 20px;
    cursor: pointer;
  }

  .page-button:active {
    background-color: lightgrey;
  }

  .selected-button {
    background-color: grey;
    color: white;
  }

  .spacer-button {
    color: $color-md-gray;
    background-color: white;
    border: none;
    padding: 8px;
    height: 40px;
    width: 30px;
    font-size: 20px;
  }

  .first-page-button {
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    padding-left: 12px;
  }

  .last-page-button {
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
  }

  .page-button:disabled {
    background-color: $color-white;
    color: $color-md-gray;
  }

  .pages-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  // Note the media queries, below
  .nav-control-container {
    display: flex;
    flex-direction: row;
  }

  .nav-controls {
    display: flex;
    flex-direction: row;
  }

  .page-select-container {
    width: 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }

  .nav-label {
    @include small-input-label();
    text-align: right;
    color: $color-md-gray;
    width: 40px;
  }

  .per-page-picker {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    width: 220px;
    justify-content: space-between;
    gap: 8px;
  }

  .picker-label {
    @include small-input-label();
    margin: 0px;
    width: 180px;
    text-align: right;
    color: $color-md-gray;
  }

  .picker-field {
    width: 100px;
    padding-top: 4px;
    border: black;

    &.disabled {
      opacity: 0.6;
    }
  }

  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    height: 0px;
  }

  ::ng-deep .mat-mdc-text-field-wrapper {
    height: 40px;
  }

  ::ng-deep
    .mat-mdc-text-field-wrapper.mdc-text-field--outlined
    .mat-mdc-form-field-infix {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 40px;
  }

  ::ng-deep .mat-mdc-select-value-text {
    @include h5();
    font-size: 20px;
    font-family: 'Public Sans';
    color: $color-md-gray;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: normal;
  }
}
