@import 'colors';

.plan-overview-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-area-dashboard-layout {
  background-color: $color-light-gray;
}

.project-area-column {
  flex: 1;
  display: flex;
}
