<sg-overlay-loader *ngIf="(loadingPlan$ | async) === true"></sg-overlay-loader>
<!-- Two columns layout START -->
<ng-container *ngIf="currentPlan$ | async as plan">
  <sg-dashboard-layout
    layoutVariant="disable-right-scroll"
    class="project-area-dashboard-layout">
    <div header>
      <!-- NavBar -->
      <app-nav-bar area="SCENARIO"></app-nav-bar>
    </div>
    <div
      left-column
      class="plan-overview-column"
      *ngIf="currentScenario$ | async as scenario">
      <sg-details-card
        cardTitle="Project Area Dashboard"
        [subtitle]="scenario.name || ''"
        [creator]="plan.creator"
        [acres]="plan.area_acres"
        [created_at]="plan.created_at"
        [loading]="(loadingProjectArea$ | async) === true"
        [planning_area_name]="plan?.name || ''"></sg-details-card>

      <app-map-viewer-card height="tall" [showProjectAreas]="true">
      </app-map-viewer-card>

      <!-- Dashboard tools -->
      <app-scenario-tools
        cardTitle="Project Area Tools"
        subtitle="Refine your project planning further by using our specialized
            project area tools."
        (toolClicked)="onToolClick($event)"></app-scenario-tools>
    </div>
    <div right-column class="project-area-column">
      <app-project-area-coming-soon
        *appFeatureFlag="
          'PRIORITIZE_PROJECT_AREAS';
          hide: true
        "></app-project-area-coming-soon>
      <app-project-areas-empty-list
        [plan]="plan"
        *appFeatureFlag="
          'PRIORITIZE_PROJECT_AREAS';
          hide: false
        "></app-project-areas-empty-list>
    </div>
  </sg-dashboard-layout>
</ng-container>
