@import 'mixins';
@import 'colors';

.plan-overview-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tools {
  display: flex;
  width: 100%;
  gap: 16px;
  flex-wrap: wrap;
}

.description {
  @include small-paragraph();
  color: $color-dark-gray;
  margin: 0;
}

.project-area-tools-card {
  gap: 4px;
}

.project-area-dashboard-layout {
  background-color: $color-light-gray;
}

.plan-project-area-column {
  flex: 1;
  display: flex;
}