@import "mixins";
@import "colors";

:host {
  display: block;
  width: 538px;
}

.main {
  // material overrides
  ::ng-deep {
    .mat-form-field-infix {
      border-top-width: 0;
    }

    .mat-form-field-appearance-outline .mat-form-field-wrapper {
      padding: 0;
    }

    .mat-button-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.invalid-banner {
  margin: 16px;
}

.header {
  display: flex;
  align-items: center;
  padding: 14px 16px;
  border-bottom: 1px solid $color-soft-gray;

  h2 {
    @include top-level-label();
    font-size: 18px;
    margin: 0 auto 0 0;
  }

  button + h2 {
    margin-left: 8px;
  }

  button + button {
    margin-left: 8px;
  }
}

.invitations-form {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  gap: 16px 12px;
  margin: 16px;

  position: relative;

  &.two-column {
    grid-template-columns: 1fr 142px;
  }

  &::after {
    content: "";
    display: block;
    left: 0;
    border-bottom: 1px solid $color-soft-gray;
    position: absolute;
    right: 0;
    bottom: -16px;
  }
}

.invite-role {
  @include small-input-label();
  border: 1px solid $color-dark-gray;
  line-height: 38px;
}

.invite-message {
  grid-column: 1 / -1;

  textarea {
    resize: none;
  }

  ::ng-deep {
    .mat-form-field-outline-start,
    .mat-form-field-outline-end {
      background-color: $color-light-gray;
    }

    .mat-form-field-flex {
      height: 100px;
    }
  }
}

.invited-users-list {
  padding: 16px;
  color: $color-black;
  display: flex;
  flex-direction: column;
  gap: 16px;

  max-height: 300px;
  overflow-y: auto;

  h3 {
    @include small-input-label();
    margin: 0;
    color: $color-dark-gray;
  }

  .empty {
    @include small-input-label();
    margin: 0;
    color: $color-text-gray;
  }

  .spinner {
    display: flex;
    justify-content: center;
    padding: 8px 0;
  }
}

.invited-user {
  @include small-input-label();
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    line-height: 24px;
  }

  .name {
    color: $color-black;
  }

  .non-editable {
    color: $color-text-gray;
  }
}

.menu-divider {
  border-top: 1px solid $color-fields-gray;
}

.menu-roles {
  .mat-icon {
    margin: 0;
  }

  .spacer {
    display: inline-block;
    width: 32px;
  }
}

// the menu is on the cdk overlay layer, so target its class from outside.
::ng-deep .list-menu .mat-menu-content {
  padding: 0;
}

.footer {
  border-top: 1px solid $color-soft-gray;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;

  // Keep the "Copy Link" action pinned to the left while the primary button
  // stays on the right.
  a[sg-button].link-button,
  button[sg-button].link-button {
    margin-right: auto;
  }
}
