<div class="analyses">
  <div class="analysis-item analysis-item--carbon">Carbon</div>
  <div class="analysis-item analysis-item--wildfire">Wildfire Risk</div>
  <div class="analysis-item analysis-item--water">Water</div>
  <div class="analysis-item analysis-item--biomass">Biomass</div>
</div>

<div>
  <div class="empty-state-title">
    Funding Opportunity Report: Share outcomes that matter
  </div>
  <div class="empty-state-description">
    Generate a comprehensive report that translates scenario results into
    standardized metrics, helping you communicate impact, align with funders,
    and support investment decisions.
  </div>
</div>

<div class="before-generate-container">
  <div class="heading">Before you generate</div>
  <div class="container-row">
    <div class="left-icon"><mat-icon>check</mat-icon></div>
    <div class="right-text">
      <span class="opening-sentence">Reports analyze only forested land.</span>
      All metric calculations are derived from forest coverage within your
      planning area.
    </div>
  </div>

  <div class="container-row last-row">
    <div class="left-icon"><mat-icon>check</mat-icon></div>
    <div class="right-text">
      <span class="opening-sentence"
        >Areas without forest may return limited data.</span
      >
      Project areas without forested land will return a 'No Data Available'
      message.
    </div>
  </div>
</div>

<button
  data-track="generate-funding-report"
  sg-button
  icon="assignment"
  variant="primary"
  (click)="generateReport.emit()">
  Generate Report
</button>
