@import 'mixins';

:host {
    @include standard-label();
    box-sizing: border-box;
    padding: 1px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    color: $color-white;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

::ng-deep .mat-mdc-progress-spinner  {
    --mdc-circular-progress-active-indicator-color: white;
}