// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@import "styles/theme";
@import "colors";
// @import '~angular/material/theming';
// @import 'super-styles';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

// Apply typography and core styles for Material v18+.
@include mat.core();
@include mat.all-component-typographies($planscape-typography);
@include mat.typography-hierarchy($planscape-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($planscape-frontend-theme);


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Public Sans', Roboto, 'Helvetica Neue', sans-serif;
}

body.no-scroll-bounce {
  overscroll-behavior: none;
}

.is-hidden {
  display: none !important;
}

.map-nameplate-tooltip {
  font-size: 14px;
}

.snackbar-error {
  background: $color-error;

  button {
    color: $color-white;
  }

}

.snackbar-debug-error {
  white-space: pre-line;
}

.snackbar-notice {
  --mat-snack-bar-button-color: #{$color-main-yellow};
  background: $color-black;


  button {
    color: $color-white;
  }
}

// Removes the box when a boundary is clicked. https://github.com/OurPlanscape/Planscape/issues/357
* {
  outline: none;
}

// Geoman drawing vertex styling
.marker-icon,
.marker-icon:focus {
  border: 3px solid #3367d6;
  margin: -5px 0 0 -5px !important;
  width: 5px !important;
  height: 5px !important;
}

@import "styles/index";
