@use '@angular/material' as mat;
@use 'sass:map';


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$planscape-frontend-primary: mat.define-palette(mat.$indigo-palette);
$planscape-frontend-accent: mat.define-palette(
    mat.$pink-palette,
    A200,
    A100,
    A400
);


// The warn palette is optional (defaults to red).
$planscape-frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$planscape-frontend-theme: mat.define-light-theme(
    (
      color: (
        primary: $planscape-frontend-primary,
        accent: $planscape-frontend-accent,
        warn: $planscape-frontend-warn,
      ),
    )
);

$color-config: mat.get-color-config($planscape-frontend-theme);
$primary-palette: map.get($color-config, 'primary');
