@import 'colors';
@import 'mixins';

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;

  ::ng-deep .mat-form-field-wrapper {
    margin: 0;
    padding: 8px;
  }

  ::ng-deep {
    .mat-form-field-outline-start,
    .mat-form-field-outline-end {
      background-color: $color-light-gray;
    }

    .mat-form-field-infix {
      padding-bottom: 10px;
      border-top: 0;
      top: -2px;
      padding-top: 21px;
    }
  }

  mat-spinner {
    padding: 2px;
    top: 2px;
  }
}

.notes-header {
  @include h4();
  width: 100%;
  padding: 16px 229px 16px 16px;
  gap: 8px;
  border-bottom: 1px $color-soft-gray solid;
}

.notes {
  overflow-y: auto;
  flex-grow: 1;
}

.note {
  padding: 16px;
  color: $color-black;
}

.note-head {
  @include small-input-label();
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.date {
  color: $color-md-gray;
  font-weight: 400;
}

.arrow-up {
  color: #767575;

  &.active {
    cursor: pointer;
    color: $color-standard-blue;
  }
}

.add-note-field {
  height: 70px;
  flex-shrink: 0;
  border-top: 1px $color-soft-gray solid;
}

textarea {
  resize: none;
  overflow: hidden;
}

.delete-note-menu {
  width: 100px;
}

.delete-note-button {
  .delete-icon {
    color: $color-error;
    line-height: 20px;
    width: 20px;
  }

  color: $color-error;
  @include regular-paragraph();
}
