@import "../../../styles/colors";
@import "../../../styles/mixins";

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;

  ::ng-deep .mat-form-field-wrapper{
    margin: 0;
    padding: 8px;

  }

  ::ng-deep {
    .mat-form-field-outline-start,
    .mat-form-field-outline-end {
      background-color: $color-light-gray;
    }
  }

}

.notes {
  flex: 1;
  overflow-y: auto;
}

.note {
  padding: 16px;
  color: $color-black;

}

.note-head {
  @include small-input-label();
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.note-content {
  @include small-paragraph();
}

.date {
  color: $color-md-gray;
  font-weight: 400;
}

.arrow-up {
  color: #767575;
  &.active {
    color: $color-standard-blue;
  }
}

textarea {
  resize: none;
  overflow: hidden;
}
