<div>
  <form [formGroup]="formGroup!" class="form">
    <div class="form-content">
      <mat-radio-group
        formControlName="generateAreas"
        (change)="validateFormRequirements()"
        class="flex-column">
        <div class="top-label">
          <label class="form-label">PROJECT AREAS</label>
        </div>
        <mat-radio-button [color]="'primary'" [value]="true">
          Define them for me
        </mat-radio-button>
        <mat-radio-button [color]="'primary'" [value]="false">
          Upload exising areas
          <button
            mat-stroked-button
            color="primary"
            (click)="showUploader = true">
            <mat-icon color="primary">upload</mat-icon>
            UPLOAD SHAPE FILES
          </button>
        </mat-radio-button>
      </mat-radio-group>

      <!-- File uploader -->
      <app-file-uploader
        *ngIf="showUploader"
        class="file-uploader"
        requiredFileType="application/zip"
        (fileEvent)="loadFile($event)"></app-file-uploader>

      <mat-error *ngIf="showErrorText">
        [Error] Not a valid shapefile!
      </mat-error>
      <div class="success-text" *ngIf="showSuccessText">
        <mat-icon class="success-icon">check_circle</mat-icon>
        {{ filename }} uploaded
      </div>
    </div>
  </form>
</div>
