.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 4px;

  mat-radio-group mat-radio-button {
    margin-bottom: 28px;

    button {
      margin-left: 12px;
    }
  }
}

.flex-row {
  display: flex;
}
