<div>
  <form [formGroup]="formGroup!" class="form">
    Select one:
      <mat-radio-group formControlName="generateAreas">
        <mat-radio-button [value]="true">
          I need project areas defined for me
        </mat-radio-button>
        <mat-radio-button [value]="false">
          I need to upload shape files for my project areas
          <button mat-stroked-button color="primary">
            <mat-icon color="primary">upload</mat-icon>
            UPLOAD
          </button>
        </mat-radio-button>
      </mat-radio-group>
  </form>

  <div class="flex-row">
    <button mat-flat-button (click)="formNextEvent.emit()" [disabled]="formGroup?.invalid">
      NEXT
    </button>
    <button mat-flat-button (click)="formBackEvent.emit()">BACK</button>
  </div>
</div>
