<app-acres-treated></app-acres-treated>
<mat-tab-group
  #tabGroup
  class="summary-tab-group"
  mat-align-tabs="start"
  disablePagination="true"
  (selectedTabChange)="handleTabChange($event)">
  <mat-tab label="Treatments">
    <app-project-area-tx-tab></app-project-area-tx-tab>
  </mat-tab>
  <mat-tab label="Data Layers">
    <app-data-layers></app-data-layers>
  </mat-tab>
  <mat-tab label="Base Layers" *appFeatureFlag="'STATEWIDE_BASELAYERS'">
    <app-base-layers></app-base-layers>
  </mat-tab>
</mat-tab-group>
