<app-acres-treated></app-acres-treated>
<div class="left-loading-overlay" *ngIf="refreshing$ | async">
  <div class="left-loading-content">
    <mat-spinner *ngIf="true" diameter="36"></mat-spinner>
    <div>Updating treatment details...</div>
  </div>
</div>
<mat-tab-group class="summary-tab-group" mat-align-tabs="start" disablePagination="true">
  <mat-tab label="Treatments">
    <app-project-area-tx-tab></app-project-area-tx-tab>
  </mat-tab>
  <mat-tab label="Base Maps">
    <app-map-base-layer></app-map-base-layer>
  </mat-tab>
</mat-tab-group>