@import 'variables';
@import 'mixins';
@import "colors";

$stand-progress-height: 72px;

.root-container {
  display: flex;
  flex-direction: row;
  height: calc(100% - $navbar-height);
  width: 100%;
}

:host {
  ::ng-deep .mat-mdc-tab-group {
    height: 100%;
  }

  ::ng-deep .mat-mdc-tab-body-wrapper {
    height: 100%;
  }

  sg-notes-sidebar {
    height: calc(100% - $stand-progress-height);
  }
}

.placeholder-navbar {
  @include h3();
  height: $navbar-height;
  padding: 0 10px 0 10px;
}

.summary-tab-group {
  height: 100%;
  width: 100%;

  ::ng-deep .mat-mdc-tab-body-wrapper {
    height: 100%;
  }
}

.summary-panel {
  box-sizing: border-box;
  display: block;
  width: 300px;
  height: 100%;

  ::ng-deep .mat-tab-body-wrapper {
    height: 100%;
  }
}

.content-area {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.content-panel {
  overflow: auto;
  width: 45%;
  min-width: 450px;
  max-width: 800px;
}

.map-container {
  height: 100%;
  flex: 1;
  z-index: 1;
  position: relative;
}
