<mat-drawer-container class="notes-drawer-container" [hasBackdrop]="false">
  <mat-drawer-content class="drawer-content">
    <sg-debounce-input
      class="name-input-box"
      *ngIf="currentPlan$ | async; let plan"
      [textValue]="plan.name"
      title="Treatment Plan Name"
      [currentMode$]="nameFieldStatus$"
      [errorMessage]="errorSavingName"
      [disabled]="(disableInput$ | async) ?? true"
      disabledMessage="You don't have permission to edit."
      (textValueUpdated)="handleNameChange($event)"></sg-debounce-input>

    <app-acres-treated></app-acres-treated>

    <div class="button-actions-row">
      <app-treatment-summary-button
        class="treatment-summary"></app-treatment-summary-button>

      <button *appFeatureFlag="'statewide_datalayers'"
        sg-button
        variant="text"
        icon="note_stacks"
        [outlined]="true"
        (click)="drawer.open()">
        Notes
      </button>
    </div>

    <app-treatment-plan-tabs></app-treatment-plan-tabs>

    <mat-drawer class="notes-drawer" mode="over" #drawer>
      <div class="notes-container">
        <div class="notes-heading">
          <div class="notes-heading-content">
            <button
              sg-button
              variant="icon-only"
              icon="close"
              (click)="drawer.close()"></button>
            <div>Notes</div>
          </div>
        </div>
        <div class="notes-content">
          <app-treatment-plan-notes></app-treatment-plan-notes>
        </div>
      </div>
    </mat-drawer>
  </mat-drawer-content>
</mat-drawer-container>
