@import 'colors';

:host {
  height: 100%;
  display: block;
  overflow: hidden;
}

.name-input-box {
  border-bottom: none;
  padding-bottom: 12px;
}

.treatment-summary {
  padding-left: 16px;
  display: block;
}
