<img
  class="image"
  src="assets/svg/planning_area_placeholder.svg"
  alt="empty planning area" />

<div class="text-content">
  <h4 class="title">Start by Adding a Planning Area</h4>
  <p class="subtitle">
    A planning area is the outermost boundary used for planning activities. It
    defines the geographic scope within which analyses and decision-making
    occur.
  </p>
</div>

<div class="action-row">
  <button sg-button (click)="handleDraw()">Draw Planning Area</button>

  <button sg-button variant="primary" (click)="handleUpload()">
    Upload Planning Area
  </button>
</div>
