@import 'colors';
@import 'mixins';
@import 'variables';

:host {
  ::ng-deep .mat-radio-label {
    padding-left: 10px;
  }

  ::ng-deep {
    .txgoals .mat-expansion-panel-body {
      padding-right: 4px;
    }

    .mat-radio-label-content {
      white-space: normal !important;
    }

    .mat-mdc-form-field-subscript-wrapper {
      font-size: 14px;
    }

    .long-question-tooltip.mat-tooltip {
      border: 1px solid $color-text-gray;
      border-radius: 11px;
      background-color: $color-secondary-white;
      color: black;
      font-size: 14px;
      padding: 8px;
    }
  }
}

.goal-control-container {
  display: flex;
  flex-direction: row;
  width: auto;
  margin: 0px;
  background: $color-white;
}

.goal-panel-header {
  font-size: 14px;
  height: 40px !important;
  line-height: 20px;
  margin-top: 2px;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
  width: 100%;
}

/** Always show scrollbar. */
::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 0px;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.goal-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-left: -10px;
  margin-bottom: 30px;
}

.scenario-goal {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
  gap: 4px;
}

sg-section {
  margin-bottom: 10px;
}

.error-message {
  color: $color-error;
  margin: 0;
}

.input-field {
  margin-top: 10px;
}

.error {
  color: $color-error;
}

.stand-size {
  width: 100%;
  margin-top: 10px;
}

.stand-size ::ng-deep .mat-mdc-form-field-error-wrapper {
  padding: 0;
}

.option-text {
  width: 100%;
  margin: 0;
}

.option-description {
  @include xs-label();
  color: $color-text-gray;
}

.stand-size ::ng-deep .mat-mdc-form-field-required-marker {
  color: $color-error;
}

.stand-label {
  margin: 0 0 8px 0;
  display: flex;
  gap: 16px;
  align-items: center;
  color: $color-text-gray;
}

.stand-icon {
  flex-shrink: 0;
  color: $color-dark-magenta;
  position: relative;

  // add a smaller layer on top to simulate fill
  &::after {
    content: 'hexagon';
    display: block;
    color: $color-light-magenta;
    position: absolute;
    z-index: 1000;
    width: 10px;
    height: 20px;
    top: 2px;
    font-size: 20px;
    left: 2px;
  }
}

.layer-control-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 0;
  align-items: center;
  height: 36px;
}

.goal-control-container ::ng-deep .mat-expansion-panel-header {
  padding: 0 4px;
}

::ng-deep .stand-step {
  .mdc-text-field--outlined {
    padding: 0;
  }

  .mat-mdc-select-trigger {
    padding: $steps-padding;
  }
}

.info-icon {
  color: $color-standard-blue;
}
