<sg-section
  headline="Select Areas To Exclude (OPTIONAL)"
  tooltipContent="Choose to exclude areas from your planning scenarios based on Protected Area Status. If you choose to exclude these areas, project areas will not be assigned on these lands.
  
For more information regarding Protected Areas, click <a href='https://www.usgs.gov/programs/gap-analysis-project/science/pad-us-statistics-dashboard' target='_blank'>here</a>.">
  <div>
    Select areas you want to exclude from your Potential Treatable Area.
  </div>
  <section>
    <form [formGroup]="form">
      <sg-selectable-list
        colorPath="styles[0].data.fill-color"
        outlineColorPath="styles[0].data.fill-outline-color"
        [items]="(excludableAreas$ | async) ?? []"
        (selectedItemsChanged)="handleSelectedItemsChange($event)"
        (viewedItemsChanged)="handleViewedItemsChange($event)"
        [selectedItems]="selectedAreas">
      </sg-selectable-list>
    </form>
  </section>
</sg-section>
