<div class="reset-password-container">
  <div class="reset-password-subcontainer">
    <div class="reset-password-logo-container">
      <div class="planscape-white-logo">
        <img src="assets/svg/planscape-white-logo.svg" alt="planscape logo" />
      </div>
      <div class="reset-password-card">
        <h1 class="title">Reset Password</h1>

        <form [formGroup]="form" (ngSubmit)="submit()" class="fields-group">
          <mat-label class="standard-label"
            >Create Password
            <span class="required-blurb">required</span>
          </mat-label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input
              type="password"
              required
              formControlName="password1"
              (focus)="showHint = true"
              (blur)="showHint = false"
              matInput />
            <mat-hint
              >Your new password needs to be at least
              {{ MIN_PASSWORD_LENGTH }} characters long and must not have been
              previously used.</mat-hint
            >
            <mat-error
              *ngIf="
                form.get('password1')?.touched && form.get('password1')?.invalid
              ">
              @if (form.get('password1')?.hasError('required')) {
                Password is required.
              } @else if (form.get('password1')?.hasError('minlength')) {
                Password must contain at least
                {{ MIN_PASSWORD_LENGTH }} characters.
              }
            </mat-error>
          </mat-form-field>

          <mat-label class="standard-label"
            >Confirm Password
            <span class="required-blurb">required</span>
          </mat-label>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <input
              type="password"
              required
              formControlName="password2"
              matInput
              autocomplete="current-password"
              [errorStateMatcher]="currentPasswordStateMatcher" />
            <mat-error
              *ngIf="
                form.get('password2')?.touched &&
                form.get('password2')?.hasError('required')
              ">
              Password is required.
            </mat-error>
          </mat-form-field>

          <app-form-message
            [messageType]="FormMessageType.ERROR"
            *ngIf="!!form.errors"
            title="Password Reset Error"
            [message]="getErrors()">
          </app-form-message>

          <div class="reset-form-buttons">
            <button
              mat-flat-button
              color="primary"
              type="submit"
              [disabled]="!form.valid"
              class="reset-pw-button">
              RESET PASSWORD
            </button>
            <button
              mat-stroked-button
              color="secondary"
              type="button"
              class="cancel-reset-button"
              (click)="cancel()">
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <app-credits-blurb></app-credits-blurb>
</div>

<div class="info-text-container">
  <app-planscape-about></app-planscape-about>
</div>
