@import "colors";
@import "mixins";
@import "media";

:host {
  display: flex;
  height: 100%;
}

.reset-password-container {
  background-image: url('/assets/jpg/planscape-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 50%;
  position: relative;
}

.reset-password-subcontainer {
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding: 20px 0px 20px 0px;
  gap: 20px;
  display: flex;
  margin-top: 6%;
}

.planscape-white-logo {
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  width: 247px;
}

.reset-password-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 20px 60px 40px 60px;
  width: 70%;
  height: 430px;
  border: 1px $color-original-purple-50pct solid;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 #00000040;
  gap: 30px;
}

h1 {
  @include h1();

  &.title {
    text-align: center;
    color: $color-dark-gray;
  }
}

.standard-label {
  @include standard-input-label();
  color: $color-dark-gray;
}

.required-blurb {
  @include italic-sm();
}

mat-form-field {
  width: 100%;
}

:host ::ng-deep .mat-form-field-outline {
  background-color: $color-light-gray;
}

.reset-form-buttons {
  @include button-text;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  gap: 10px;
}

.reset-form-buttons .disabled {
  @include button-disabled;
}

.reset-pw-button {
  @include standard-button;
  background-color: $color-standard-blue;
}

.cancel-button {
  @include standard-button;
  background-color: white;
}

.info-text-container {
  background-color: $color-soft-purple;
  width: 50%;
}

@include on-small() {
  :host {
    flex-direction: column;
    gap: 10%;
  }

  .forget-password-container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .info-text-container {
    position: relative;
    width: 100%;
  }

  .credits-blurb {
    width: 100%;
  }
}
