<ng-container *ngIf="vectorLayerUrl$ | async as vectorLayerUrl">
  <mgl-vector-source
    id="scenarioProjectAreas"
    [tiles]="[vectorLayerUrl]"></mgl-vector-source>

  <ng-component *ngIf="selectedProjectAreas$ | async as selectedProjectAreas">
    <mgl-layer
      [id]="layers.projectAreasFill.name"
      type="fill"
      source="scenarioProjectAreas"
      (layerClick)="handleLayerClick($event)"
      (layerMouseEnter)="setCursor()"
      (layerMouseMove)="setProjectAreaTooltip($event)"
      (layerMouseLeave)="resetCursorAndTooltip()"
      [sourceLayer]="layers.projectAreasFill.sourceLayer"
      [paint]="paint"></mgl-layer>

    <mgl-layer
      [id]="layers.projectAreasOutline.name"
      type="line"
      source="scenarioProjectAreas"
      [sourceLayer]="layers.projectAreasOutline.sourceLayer"
      [paint]="{
        'line-color': visible
          ? layers.projectAreasOutline.color
          : 'transparent',
        'line-width': 2,
      }"></mgl-layer>
  </ng-component>

  <mgl-layer
    [id]="layers.projectAreasHighlight.name"
    type="fill"
    source="scenarioProjectAreas"
    [sourceLayer]="layers.projectAreasHighlight.sourceLayer"
    [filter]="['==', ['get', 'id'], ['literal', hoveredProjectAreaId$ | async]]"
    [paint]="{
      'fill-color': visible ? '#FFCD664D' : 'transparent',
      'fill-opacity': 1,
    }">
  </mgl-layer>

  <mgl-layer
    [id]="layers.projectAreaLabels.name"
    type="symbol"
    source="scenarioProjectAreas"
    [sourceLayer]="layers.projectAreaLabels.sourceLayer"
    [layout]="{
      visibility: visible ? 'visible' : 'none',
      'text-field': ['coalesce', ['get', labelField], ''],
      'text-size': ['interpolate', ['linear'], ['zoom'], 7, 14, 14, 32],
      'text-anchor': 'center',
      'text-justify': 'center',
    }"
    [paint]="layers.projectAreaLabels.paint"></mgl-layer>
</ng-container>
