<div class="title" *ngIf="priorities.length > 0">Priority Objectives:</div>
<div class="legend-box" *ngFor="let metric of priorities">
  <mat-checkbox
    [value]="metric"
    [checked]="isSelected(metric)"
    class="chart-legend-selection"
    (change)="handleCheckboxChange($event)">
    <div class="legend-line">
      <div class="legend-name">{{ metric }}</div>
      <div
        class="legend-color"
        [style.backgroundColor]="assignedColors[metric]"></div>
    </div>
  </mat-checkbox>
</div>
<div class="title" *ngIf="metrics.length > 0">Co-Benefits:</div>
<div class="legend-box" *ngFor="let metric of cobenefits">
  <mat-checkbox
    [value]="metric"
    [checked]="isSelected(metric)"
    class="chart-legend-selection"
    (change)="handleCheckboxChange($event)">
    <div class="legend-line">
      <div class="legend-name">{{ metric }}</div>
      <div
        class="legend-color"
        [style.backgroundColor]="assignedColors[metric]"></div>
    </div>
  </mat-checkbox>
</div>
