@import "../styles/colors";
@import "../styles/mixins";

.color-black {
  background-color: $color-black;
}

.color-soft-gray {
  background-color: $color-soft-gray;
}

.color-dark-gray {
  background-color: $color-dark-gray;
}

.color-md-gray {
  background-color: $color-md-gray;
}

.color-text-gray {
  background-color: $color-text-gray;
}

.color-text-dark {
  background-color: $color-text-dark;
}

.color-fields-gray {
  background-color: $color-fields-gray;
}

.color-light-gray {
  background-color: $color-light-gray;
}

.color-white {
  background-color: $color-white;
}

.color-error {
  background-color: $color-error;
}

.color-standard-blue {
  background-color: $color-standard-blue;
}

.color-original-purple {
  background-color: $color-original-purple;
}

.color-original-purple-50pct {
  background-color: $color-original-purple-50pct;
}

.color-soft-purple {
  background-color: $color-soft-purple;
}

.color-soft-purple-30pct {
  background-color: $color-soft-purple-30pct;
}

.color-main-blue {
  background-color: $color-main-blue;
}

.color-main-yellow {
  background-color: $color-main-yellow;
}

.color-orange {
  background-color: $color-orange;
}

.color-light-blue {
  background-color: $color-light-blue;
}

.color-highlight {
  background-color: $color-highlight;
}

.color-highlight-30pct {
  background-color: $color-highlight-30pct;
}

.color-brand-teal {
  background-color: $color-brand-teal;
}

.color-brand-green {
  background-color: $color-brand-green;
}

.color-brand-soft-green {
  background-color: $color-brand-soft-green;
}

.color-brand-soft-orange {
  background-color: $color-brand-soft-orange;
}

.color-brand-soft-yellow {
  background-color: $color-brand-soft-yellow;
}

.color-drop-shadow {
  background-color: $color-drop-shadow;
}


button {
  @include public-sans();
}
