@import 'colors';
@import "mixins";

:host {

  background-color: $color-white;
  padding: 16px 8px;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 0;
  position: sticky;
  z-index: 500;
  border-top: 1px solid $color-soft-gray;
}

.new-treatment {
  margin: 0 16px;
}
