<app-map-nav-bar>
  <app-map-base-dropdown></app-map-base-dropdown>
  <sg-opacity-slider
    class="navbar-slider"
    [minValue]="0"
    [maxValue]="1"
    [step]="0.01"
    [sliderValue]="(projectLayerOpacity$ | async) || 0"
    (valueChange)="handleOpacityChange($event)"></sg-opacity-slider>
</app-map-nav-bar>

<mgl-map
  [style]="(baseLayerUrl$ | async) || ''"
  [transformRequest]="transformRequest"
  [maxZoom]="17"
  [minZoom]="7"
  [center]="[-74.5, 40]"
  [dragRotate]="false"
  (mapLoad)="mapLibreMap = $event">
</mgl-map>
