<app-map-nav-bar>
  <sg-opacity-slider
    class="navbar-slider"
    [minValue]="0"
    [maxValue]="1"
    [step]="0.01"
    [sliderValue]="(projectLayerOpacity$ | async) || 0"
    (valueChange)="handleOpacityChange($event)"></sg-opacity-slider>
</app-map-nav-bar>

<mgl-map
  *ngIf="bounds$ | async as bounds"
  [style]="(baseLayerUrl$ | async) || ''"
  [transformRequest]="transformRequest"
  [maxZoom]="17"
  [minZoom]="7"
  [dragRotate]="false"
  [fitBoundsOptions]="{ padding: 20 }"
  [fitBounds]="bounds"
  (mapLoad)="mapLoaded($event)">
  <app-map-controls
    [mapLibreMap]="mapLibreMap"
    controlsPosition="bottom-right"
    [panEnabled]="false">
  </app-map-controls>
  <app-planning-area-layer> </app-planning-area-layer>
  <app-map-project-areas
    *ngIf="mapLibreMap"
    [visible]="true"
    [showTooltips]="false"
    [mapLibreMap]="mapLibreMap"></app-map-project-areas>
</mgl-map>
