<app-map-nav-bar>
  <sg-opacity-slider
    class="navbar-slider"
    [minValue]="0"
    [maxValue]="1"
    [step]="0.01"
    [sliderValue]="(projectAreasOpacity$ | async) ?? 0.5"
    (valueChange)="handleOpacityChange($event)"></sg-opacity-slider>
</app-map-nav-bar>

<mgl-map
  *ngIf="bounds$ | async as bounds"
  [style]="(baseLayerUrl$ | async) || ''"
  [transformRequest]="transformRequest"
  [maxZoom]="17"
  [minZoom]="7"
  [dragRotate]="false"
  [fitBoundsOptions]="{ padding: 20 }"
  [fitBounds]="bounds"
  (mapLoad)="mapLoaded($event)">
  <app-map-controls
    [mapLibreMap]="mapLibreMap"
    controlsPosition="bottom-right"
    [extendedControlsEnabled]="false">
  </app-map-controls>
  <app-planning-area-layer *ngIf="true"></app-planning-area-layer>

  <ng-container
    *ngIf="
      showProjectAreas && (projectAreaData$ | async) as projectAreaInputData
    ">
    <app-map-project-areas
      [projectAreasCount]="projectAreaInputData.projectAreaCount"
      [scenarioId]="projectAreaInputData.scenarioId"
      [showHoveredProjectAreas]="false"
      [mapLibreMap]="mapLibreMap">
    </app-map-project-areas>
  </ng-container>
</mgl-map>
