:host{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 120px 120px 82px;
}

.data-info-box {
  background-color: white;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  padding: 30px 38px;
  width: 100%;

  p {
    color: #4e4e4e;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin: auto;
  }
}

ul {
  margin: 40px 0px;
}
