<sg-modal
  title=""
  [shortHeader]="true"
  [showBorders]="false"
  [centerFooter]="true"
  primaryButtonText="Proceed To Treatment Plan"
  (clickedPrimary)="goToTreatmentPlans()"
  (clickedSecondary)="closeModal()"
  (clickedClose)="closeModal()">
  <div modalBodyContent>
    <sg-modal-confirmation-dialog
      infoType="success"
      headline="&ldquo;{{ scenarioName }}&rdquo; was successfully uploaded"
      message="You can now create a new treatment plan for your project areas or close this modal.">
    </sg-modal-confirmation-dialog>
  </div>
</sg-modal>
