<div class="name-input-component" *ngIf="currentMode$ | async; let curMode">
  <div class="heading-line">
    <div *ngIf="title" class="title">{{ title }}</div>
    <button
      mat-icon-button
      class="tooltip-button"
      *ngIf="tooltipContent"
      [matMenuTriggerFor]="tooltipMenu">
      <mat-icon class="material-symbols-outlined" color="primary">
        info_outline</mat-icon
      >
    </button>
    <mat-menu class="tooltip-menu" #tooltipMenu="matMenu">
      {{ tooltipContent }}
    </mat-menu>
  </div>
  <div class="name-container">
    <div
      class="plain-text-box"
      *ngIf="curMode === 'INITIAL'"
      (mouseover)="onHover()"
      (mouseleave)="outHover()">
      <div class="text-content">
        {{ textValue }}
      </div>
      <button
        sg-button
        variant="icon-only"
        *ngIf="hovering"
        class="pencil-icon"
        icon="edit_outlined"
        (click)="setToEditMode()"></button>
    </div>
    <sg-input-field
      *ngIf="curMode !== 'INITIAL'"
      size="small"
      class="name-input">
      <input
        sgInput
        [placeholder]="placeholderText"
        [(ngModel)]="textValue"
        (blur)="onBlur()"
        (ngModelChange)="clearError()"
        (keyup.enter)="handleEnterPress($event)" />
      <button
        *ngIf="hasClearButton && curMode === 'EDIT'"
        mat-icon-button
        aria-label="Clear"
        (mousedown)="handleMouseDown($event)"
        (mouseup)="handleMouseUp($event)">
        <mat-icon>close</mat-icon>
      </button>
      <mat-spinner
        diameter="20"
        matSuffix
        *ngIf="curMode === 'SAVING'"></mat-spinner>
    </sg-input-field>
  </div>
  <div class="error-blurb" *ngIf="errorMessage">
    <span>{{ errorMessage }}</span>
  </div>
</div>
