<div class="name-input-component" *ngIf="currentMode$ | async; let curMode">
  <div class="heading-line">
    <div *ngIf="title" class="title">{{ title }}</div>
    <button
      mat-icon-button
      class="tooltip-button"
      *ngIf="tooltipContent"
      [matMenuTriggerFor]="tooltipMenu">
      <mat-icon class="material-symbols-outlined" color="primary">
        info_outline</mat-icon
      >
    </button>
    <mat-menu class="tooltip-menu" #tooltipMenu="matMenu">
      {{ tooltipContent }}
    </mat-menu>
  </div>
  <sg-input-field
    size="small"
    class="name-input"
    (mouseover)="onHover()"
    (mouseleave)="outHover()"
    [disabled]="disabled">
    <input
      class="debounce-input"
      sgInput
      [placeholder]="placeholderText"
      [(ngModel)]="textValue"
      #inputModel="ngModel"
      (ngModelChange)="clearError()"
      (keyup.enter)="emitTextValue($event)"
      (blur)="onBlur()"
      [disabled]="curMode === 'INITIAL' || disabled" />
    <button
      *ngIf="curMode === 'EDIT' && !disabled"
      mat-icon-button
      aria-label="Clear"
      (click)="saveText()">
      <mat-icon>check</mat-icon>
    </button>
    <button
      *ngIf="hovering && curMode === 'INITIAL' && !disabled"
      mat-icon-button
      aria-label="Edit"
      (click)="setToEditMode()">
      <mat-icon>edit_outlined</mat-icon>
    </button>
    <mat-spinner
      diameter="20"
      class="save-spinner"
      matSuffix
      *ngIf="curMode === 'SAVING'"></mat-spinner>
  </sg-input-field>
  <div class="error-blurb" *ngIf="errorMessage">
    <span>{{ errorMessage }}</span>
  </div>
</div>
