<div class="name-input-component" *ngIf="currentMode$ | async; let curMode">
  <div class="heading-line">
    <div *ngIf="title" class="title">{{ title }}</div>
    <sg-popover *ngIf="tooltipContent" [content]="tooltipContent"></sg-popover>
  </div>
  <sg-input-field
    class="name-input"
    (mouseover)="onHover()"
    (mouseleave)="outHover()"
    [disabled]="disabled">
    <input
      class="debounce-input"
      sgInput
      [placeholder]="placeholderText"
      [(ngModel)]="textValue"
      #inputModel="ngModel"
      (ngModelChange)="clearError()"
      (keyup.enter)="emitTextValue($event)"
      (blur)="onBlur()"
      [disabled]="curMode === 'INITIAL' || disabled" />
    <button
      *ngIf="curMode === 'EDIT' && !disabled"
      mat-icon-button
      aria-label="Clear"
      (click)="saveText()">
      <mat-icon>check</mat-icon>
    </button>
    <button
      *ngIf="hovering && curMode === 'INITIAL' && !disabled"
      mat-icon-button
      aria-label="Edit"
      (click)="setToEditMode()">
      <mat-icon>edit_outlined</mat-icon>
    </button>
    <mat-spinner
      diameter="20"
      class="save-spinner"
      matSuffix
      *ngIf="curMode === 'SAVING'"></mat-spinner>
  </sg-input-field>
  <div class="error-blurb" *ngIf="errorMessage">
    <span>{{ errorMessage }}</span>
  </div>
  <div class="error-blurb disabled-message" *ngIf="disabled">
    <span>{{ disabledMessage }}</span>
  </div>
</div>
