.layer-panel-header {
  background-color: #D8D8D8 !important;
  font-size: 14px;
  font-weight: 500;
  height: 40px !important;
  line-height: 20px;
}

::ng-deep .mat-expansion-panel-body {
  padding-bottom: 0px !important;
}

.condition-tree {
  margin: 0px -24px;
}

.condition-tree-invisible {
  display: none;
}

.condition-tree ul,
.condition-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.condition-tree div[role=group] > .mat-tree-node {
  padding-left: 20px;
}

mat-tree-node {
  box-sizing: border-box;
  border-top: 1px solid #F5F5F5;
  padding: 0px 8px 0px 12px;

  &[aria-level='1'] {
    background-color: #F5F5F5;
    padding-left: 28px;
  }

  &[aria-level='2'] {
    padding-left: 44px;
  }

  &[aria-level='3'] {
    padding-left: 60px;
  }

  .disabled {
    opacity: 0.5;
  }

  &.selected {
    background-color: #3367D6;

    span {
      color: white;
    }

    mat-icon {
      color: white;
    }
  }

  button {
    margin-left: auto;
  }
}

::ng-deep .mat-radio-button.mat-primary.mat-radio-checked.white .mat-radio-outer-circle {
  border-color: white !important;
}

::ng-deep .mat-radio-button.mat-primary.mat-radio-checked.white .mat-radio-inner-circle {
  background-color: white !important;
}

::ng-deep .mat-radio-button.mat-primary.mat-radio-checked.white .mat-radio-label-content {
  color: white !important;
}

.expandable-condition-node {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.condition-label {
  white-space: normal;
}

.info-button {
  margin-left: auto;
  margin-right: 24px;
}

.selected-dot {
  background-color: #3367D6;
  border-radius: 4px;
  height: 8px;
  margin-right: 4px;
  width: 8px;

  &.hidden {
    visibility: hidden;
  }
}
