<mat-expansion-panel expanded="false">
  <mat-expansion-panel-header class="layer-panel-header">
    {{header}}
  </mat-expansion-panel-header>

  <mat-radio-group name="{{ map.id + '-conditions-select' }}" aria-label="Select an option"
    color="primary"
    [(ngModel)]="map.config.dataLayerConfig" (change)="changeConditionLayer.emit(map)">
    <mat-tree [dataSource]="conditionDataSource" [treeControl]="treeControl"
      class="condition-tree">
      <!-- This is the tree node template for leaf nodes -->
      <!-- There is inline padding applied to this node using styles.
        This padding value depends on the mat-icon-button width. -->
      <mat-tree-node
        *matTreeNodeDef="let node"
        [class.selected]="map.config.dataLayerConfig === node.condition">
        <div class="mat-tree-node">
          <div class="selected-dot" [class.hidden]="!node.styleDescendantSelected"></div>
          <div [class.disabled]="node.styleDisabled">
            <mat-radio-button
              [value]="node.condition"
              *ngIf="!node.condition.disableSelect"
              class="white"
              (change)="onSelect(node)">
              <span class="condition-label">{{node.condition.display_name}}</span>
            </mat-radio-button>
            <span *ngIf="node.condition.disableSelect">
              {{node.condition.display_name}}
            </span>
          </div>
          <button mat-icon-button
            *ngIf="!node.condition.disableInfoCard"
            class="info-button"
            [matMenuTriggerFor]="popoverMenu" (menuOpened)="node.infoMenuOpen = true"
            (menuClosed)="node.infoMenuOpen = false">
            <mat-icon color="primary">info_outline</mat-icon>
          </button>
          <mat-menu #popoverMenu="matMenu">
            <app-layer-info-card [dataLayerConfig]="node.condition"></app-layer-info-card>
          </mat-menu>
        </div>
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node
        *matTreeNodeDef="let node;when: hasChild"
        [class.selected]="map.config.dataLayerConfig === node.condition">
        <div class="mat-tree-node expandable-condition-node">
          <div class="selected-dot" [class.hidden]="!node.styleDescendantSelected"></div>
          <div [class.disabled]="node.styleDisabled">
            <mat-radio-button
              [value]="node.condition"
              *ngIf="!node.condition.disableSelect"
              class="white"
              (change)="onSelect(node)">
              {{node.condition.display_name}}
            </mat-radio-button>
            <span *ngIf="node.condition.disableSelect">
              {{node.condition.display_name}}
            </span>
          </div>
          <!-- TODO: remove disableInfoCard if it is no longer needed -->
          <button mat-icon-button
            *ngIf="!node.condition.disableInfoCard"
            class="info-button"
            [matMenuTriggerFor]="popoverMenu" (menuOpened)="node.infoMenuOpen = true"
            (menuClosed)="node.infoMenuOpen = false">
            <mat-icon color="primary">info_outline</mat-icon>
            <mat-menu #popoverMenu="matMenu">
              <app-layer-info-card [dataLayerConfig]="node.condition"></app-layer-info-card>
            </mat-menu>
          </button>
          <button
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.condition.display_name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_less' : 'expand_more'}}
            </mat-icon>
          </button>
        </div>
      </mat-tree-node>
    </mat-tree>
  </mat-radio-group>
</mat-expansion-panel>
