<div *ngIf="hasTreatments() === false" class="no-treatments-blurb">
  <mat-icon class="no-treatments-icon material-symbols-outlined"
    >medication</mat-icon
  >
  <div class="no-treatments-header">No Treatments Yet</div>
  <div class="no-treatments-text">Start applying treatments to each stand</div>
</div>

<div *ngIf="hasTreatments() === true">
  <div class="side-search-container">
    <sg-search-bar></sg-search-bar>
  </div>
  <div class="slider-container">
    <sg-opacity-slider
      title="Treatment opacity"
      [sliderValue]="layerOpacity"
      (valueChange)="handleOpacityChange($event)"></sg-opacity-slider>
  </div>
  <sg-treatment-expander
    *ngFor="let tx of treatments"
    [treatmentType]="tx.action ?? null"
    [totalAcres]="300"
    [standCount]="tx.treated_stand_count">
  </sg-treatment-expander>
</div>
