@import 'colors';
@import 'mixins';
@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  height: 100%;

  .treatments-tab-content {
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .slider-container {
    padding: 10px;
  }
  .side-search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 20px 10px 10px 10px;
  }

  .no-treatments-view {
    overflow-y: auto;
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .no-treatments-blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 8px;
  }

  .no-treatments-icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: $color-text-gray;
  }

  .no-treatments-header {
    @include xs-label();
    color: $color-black;
    text-align: center;
  }

  .no-treatments-text {
    @include small-paragraph();
    color: $color-md-gray;
    text-align: center;
  }

  .expanders-container {
    overflow-y: scroll;
    height: 100%;
  }

  ::ng-deep .search-bar .input-wrapper {
    width: 100%;
    background-color: $color-light-gray;
  }
}
