@import 'media';
@import 'colors';
@import 'mixins';

:host {
  display: block;
}

.treatment-plan {
  display: flex;
  gap: 16px;
  padding: 16px;
  align-items: center;

  .item {
    @include xs-label();
    display: flex;
    gap: 8px;
    align-items: center;
  }
}

.direct-impacts {
  background-color: $color-soft-purple;
  padding: 16px;
}

.changes-chart-select {
  height: 38px;
  border: 1px;
  border-radius: 4px;
}
.changes-chart-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: normal;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  line-height: 48px;
  justify-content: space-between;
}

.expansion-icon {
  background-color: $color-light-gray;
}

.title-row {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 5px 0;
  @include on-small() {
    flex-direction: column;
    align-items: flex-start;
  }
}

.title {
  @include h4();
  margin: 0 auto 0 0;
}

.holder {
  background-color: $color-white;
  padding: 24px;
  margin-top: 16px;
}

.hexagon-help {
  @include xs-label();
  display: flex;
  align-items: center;
  margin-top: 24px;
  gap: 8px;
  color: $color-standard-blue;
}

.metric-selection {
  background-color: $color-light-gray;
  margin-top: 24px;
  //placeholder styles
  padding: 20px;
  display: flex;
}



.direct-impacts-metrics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(12, minmax(86px, 1fr));
  gap: 16px;
  padding: 16px 0;

  @include on-small() {
    display: flex;
    flex-direction: column;
  }


  .chart-1 {
    grid-column: 1;
    grid-row: 1/7;
  }

  .chart-2 {
    grid-column: 1;
    grid-row: 7/13;
  }

  .map-panel {
    grid-column: 2;
    grid-row: 1/12;

    @include on-small() {
      height: 90vh;
    }

    &.prescriptions {
      grid-row: 1/13;
    }
  }

  .legend-panel {
    grid-column: 2;
    grid-row: 12;
    padding: 16px;
  }
}

.empty-state {
  @include regular-paragraph();
  color: $color-md-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 0 80px;

  sg-treatment-type-icon {
    position: relative;
    top: 6px;
  }
}
