.direct-impacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 16px 0;

  sg-panel {
    grid-column: 1;
  }

  .map-panel {
    grid-column: 2;
    grid-row: 1/3;
  }

}

