@import 'media';
@import 'colors';
@import 'mixins';

$panel-height: 600px;

:host {
  display: block;
}

.treatment-plan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 16px 0 0 0;

  .item {
    @include xs-label();
    display: flex;
    gap: 8px;
    align-items: center;
    color: $color-dark-gray;
    font-weight: 500;

    .material-symbols-outlined {
      color: $color-standard-blue;
    }

    &-label {
      font-weight: 600;
    }
  }

  @include on-medium() {
    display: block;
    .item {
      width: 50%;
      display: inline-flex;
    }
  }

  @include on-extra-large() {
    display: flex;
    flex-direction: row;
    align-items: center;
    .item {
      width: auto;
      display: flex;
    }
  }
}

.direct-impacts {
  background-color: $color-soft-purple;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.changes-chart-select {
  height: 38px;
  border: 1px;
  border-radius: 4px;
}

.changes-chart-title {
  line-height: 24px;
  font-weight: 600;
  letter-spacing: normal;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  height: 38px;
}

.left-title-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 38px;

  .title-label {
    color: $color-md-gray;
  }
}

::ng-deep .changes-chart-select .mat-mdc-text-field-wrapper,
.mat-mdc-form-field-flex {
  height: 38px;
}

.expansion-icon {
  background-color: $color-light-gray;
}

.title-row {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 0;

  @include on-small() {
    flex-direction: column;
    align-items: flex-start;
  }
}

.title {
  @include h5();
  font-size: 18px;
  margin: 0 auto 0 0;
}

.metric-selection {
  //placeholder styles
  margin-top: 24px;
  padding: 20px;
  display: flex;
}

.direct-impacts-metrics {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: $panel-height;
  gap: 16px;
  width: calc(100% - 16px);

  @include on-small() {
    grid-template-columns: 100%;
    grid-template-rows: $panel-height $panel-height;
    width: 100%;

    .chart-2 {
      order: 1;
    }
  }
}

.empty-state {
  @include regular-paragraph();
  color: $color-md-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 0 80px;

  sg-treatment-type-icon {
    position: relative;
    top: 6px;
  }
}

.map-panel-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}


.map-title {
  justify-items: center;
  display: flex;
  align-items: center;
  gap: 16px;
}

.chart-filters {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
}

.filter-label {
  font-size: 14px;
  font-weight: 600;
  color: $color-black;
}

.filter-value {
  font-size: 16px;
  font-weight: 500;
  color: $color-dark-gray;
}

.chart-2 ::ng-deep .content {
  display: flex;
  flex-direction: column;
}

.project-area-selector {
  --mdc-outlined-text-field-outline-color: #{$color-fields-gray};

  ::ng-deep .mat-mdc-form-field-infix {
    min-height: 38px;
    padding: 8px 0;
  }
}
