<app-nav-bar
  [breadcrumbs]="(breadcrumbs$ | async) || []"
  [area]="'TREATMENTS'"></app-nav-bar>

<div *ngIf="treatmentPlan$ | async; let treatmentPlan" class="treatment-plan">
  <div class="item">
    <mat-icon class="material-symbols-outlined">person</mat-icon>
    {{ treatmentPlan.creator_name }}
  </div>

  <div class="item">
    <mat-icon class="material-symbols-outlined">calendar_month</mat-icon>
    {{ treatmentPlan.updated_at | date }}
  </div>
</div>
<div class="direct-impacts">
  <div class="title-row">
    <h4 class="title">Direct Treatment Impacts</h4>
    <mat-slide-toggle [(ngModel)]="showTreatmentPrescription"
      >View treatment prescription
    </mat-slide-toggle>
    <button sg-button variant="ghost" icon="download" [outlined]="true">
      Download Shapefile
    </button>
  </div>

  <div class="holder">
    <div>
      Select up to 4 metrics to view the relative change by project area(s) or
      stand.
    </div>
    <div class="hexagon-help">
      <mat-icon class="material-symbols-outlined">info</mat-icon>
      Hexagon = Stand
    </div>

    <div class="metric-selection">
      <app-metric-filters
        (metricSelected)="activateMetric($event)"
        (selectionsChanged)="handleChangedMetrics($event)"></app-metric-filters>
    </div>

    <section class="direct-impacts-metrics">
      <sg-panel
        class="chart-1"
        [paddedContent]="false"
        [buttons]="changeChartButtons"
        (clickedButton)="expandChangeChart()">
        <div panelTitle class="changes-chart-title">
          <div class="left-title-box">
            Project Area
            <mat-form-field appearance="outline" class="changes-chart-select">
              <mat-select
                class="project-area-selector"
                [ngModel]="selectedChartProjectArea"
                (ngModelChange)="setChartProjectArea()">
                <mat-option [value]="null">All</mat-option>
                <mat-option
                  *ngFor="
                    let projectArea of (availableProjectAreas$ | async) ?? []
                  "
                  [value]="projectArea.project_area_id">
                  {{ projectArea.project_area_name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <app-change-over-time-chart></app-change-over-time-chart>
      </sg-panel>
      <sg-panel
        class="chart-2"
        [paddedContent]="false"
        [buttons]="[{ icon: 'open_in_full', actionName: 'expand' }]"
        (clickedButton)="expandStandChart()">
        <div panelTitle>{{ standChartPanelTitle$ | async }} /</div>
        <app-stand-data-chart></app-stand-data-chart>
      </sg-panel>

      <sg-panel
        class="map-panel"
        [ngClass]="{ prescriptions: showTreatmentPrescription }"
        [paddedContent]="false"
        [buttons]="[
          { icon: 'layers', actionName: 'layers' },
          { icon: 'open_in_full', actionName: 'expand' }
        ]">
        <div panelTitle>{{ mapPanelTitle$ | async }}</div>
        <app-direct-impacts-synced-maps
          *ngIf="!showTreatmentPrescription"></app-direct-impacts-synced-maps>
        <app-treatment-map
          [showProjectAreaTooltips]="false"
          *ngIf="showTreatmentPrescription"></app-treatment-map>
        <app-treatment-legend
          *ngIf="showTreatmentPrescription"></app-treatment-legend>
      </sg-panel>
      <sg-panel
        class="legend-panel"
        [paddedContent]="false"
        *ngIf="!showTreatmentPrescription">
        <app-direct-impacts-map-legend></app-direct-impacts-map-legend>
      </sg-panel>
    </section>
  </div>
</div>
