<sg-overlay-loader *ngIf="loading" [offsetTop]="48"></sg-overlay-loader>

<app-nav-bar
  [navState]="(navState$ | async) || null"
  [area]="'DIRECT_IMPACTS'"></app-nav-bar>

<div class="direct-impacts">
  <sg-panel>
    <div class="title-row">
      <h4 class="title">Direct Treatment Effects Analysis</h4>
      <button
        sg-button
        variant="ghost"
        icon="download"
        [outlined]="true"
        [disabled]="downloadingShapefile"
        [loading]="downloadingShapefile"
        (click)="download()">
        Export GeoPackage
      </button>
    </div>
    <div
      *ngIf="treatmentPlan$ | async; let treatmentPlan"
      class="treatment-plan">
      <div class="item">
        <mat-icon class="material-symbols-outlined">person</mat-icon>
        <span class="item-label">Run By:</span> {{ treatmentPlan.creator_name }}
      </div>

      <div class="item">
        <mat-icon class="material-symbols-outlined">calendar_month</mat-icon>
        <span class="item-label">Run Date:</span>
        {{ treatmentPlan.updated_at | date }}
      </div>

      <div class="item">
        <mat-icon class="material-symbols-outlined"
          >check_box_outline_blank</mat-icon
        >
        <span class="item-label">Total Planning Area Acres:</span>
        {{ (projectArea$ | async)?.total_area_acres }}
      </div>

      <div class="item">
        <mat-icon class="material-symbols-outlined">hexagon</mat-icon>
        <span class="item-label">Stand Size:</span> {{ getStandSizeValue() }}
      </div>
    </div>
  </sg-panel>

  <sg-panel
    class="chart-1"
    [paddedContent]="false"
    [buttons]="[{ icon: 'open_in_full', actionName: 'expand' }]"
    (clickedButton)="expandChangeChart()">
    <div panelTitle class="changes-chart-title">
      <div class="left-title-box" *ngIf="availableProjectAreas$ | async">
        Project Area
      </div>
    </div>
    <div class="chart-filters">
      <div>Project Area:</div>
      <mat-form-field appearance="outline" class="changes-chart-select">
        <mat-select
          class="project-area-selector"
          [ngModel]="selectedChartProjectArea$ | async"
          (ngModelChange)="setChartProjectArea($event)">
          <mat-option value="All">All</mat-option>
          <mat-option
            *ngFor="let projectArea of (availableProjectAreas$ | async) ?? []"
            [value]="projectArea">
            {{ projectArea.project_area_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>Acres: todo</div>
      <div>Filter by</div>
      <div>dropdown</div>
    </div>
    <app-change-over-time-chart></app-change-over-time-chart>

    <div class="metric-selection">
      <app-metric-filters
        [selectedOptions]="(filterOptions$ | async) || []"
        (metricUpdated)="updateReportMetric($event)"
        (metricSelected)="activateMetric($event)"></app-metric-filters>
    </div>
  </sg-panel>

  <sg-panel [showDivider]="false">
    <div panelTitle>Explore Direct Effects at the Stand Level</div>

    <section class="direct-impacts-metrics">
      <sg-panel
        class="chart-2"
        [paddedContent]="false"
        [buttons]="[{ icon: 'open_in_full', actionName: 'expand' }]"
        (clickedButton)="expandStandChart()">
        <div panelTitle>{{ standChartPanelTitle$ | async }}</div>
        <app-stand-data-chart></app-stand-data-chart>
      </sg-panel>

      <sg-panel
        [paddedContent]="false"
        [buttons]="[{ icon: 'open_in_full', actionName: 'expand' }]"
        (clickedButton)="expandMaps()">
        <div panelTitle>Treatment Prescriptions</div>
        <div class="map-panel-content">
          <app-direct-impacts-map></app-direct-impacts-map>
          <div class="attribution">
            <a href="https://maplibre.org/" target="_blank">MapLibre</a> |
            <a href="https://www.mapbox.com/about/maps" target="_blank"
              >© Mapbox</a
            >&nbsp;<a
              href="https://www.openstreetmap.org/about/"
              target="_blank"
              >© OpenStreetMap</a
            >
          </div>
        </div>

        <app-treatment-legend
          *ngIf="showTreatmentLegend$ | async"></app-treatment-legend>
      </sg-panel>
    </section>
  </sg-panel>
</div>
