<div class="main" *ngIf="!showHelp">
  <section class="header">
    <button
      sg-button
      icon="arrow_back"
      (click)="startOver()"
      *ngIf="allowStartOver && showMessageBox"
      variant="icon-only"></button>

    <h2>{{ title }}</h2>

    <button
      sg-button
      icon="help_outlined"
      (click)="openHelp()"
      *ngIf="showHelpButton"
      aria-label="help"
      variant="icon-only"></button>

    <button
      sg-button
      icon="close"
      (click)="close.emit()"
      aria-label="close"
      variant="icon-only"></button>
  </section>

  <app-form-message
    [messageType]="errorType"
    *ngIf="invalidEmail"
    title="Invalid email"
    message="An email must contain a single @">
  </app-form-message>

  <form
    class="invitations-form"
    [class.two-column]="twoColumnForm"
    (submit)="$event.preventDefault()">
    <app-chip-input
      [emails]="emails"
      [placeholder]="showMessageBox ? '' : placeholder"
      (addEmail)="addEmail($event)"
      (removeEmail)="removeEmail($event)"
      (isInvalid)="setInvalidEmail($event)"></app-chip-input>

    <ng-content select="[shareDialogRoleSelector]"></ng-content>

    <ng-container *ngIf="showMessageBox">
      <ng-content select="[shareDialogMessage]"></ng-content>
    </ng-container>
  </form>

  <ng-container *ngIf="showBody">
    <ng-content select="[shareDialogBody]"></ng-content>
  </ng-container>

  <section class="footer">
    <button
      sg-button
      *ngIf="showCopyLink"
      icon="link"
      variant="link"
      (click)="copyLink.emit()">
      Copy Link
    </button>
    <button
      class="action"
      mat-flat-button
      type="button"
      color="primary"
      [disabled]="submitting || primaryDisabled"
      (click)="primaryAction.emit()">
      {{ primaryLabel }}
    </button>
  </section>
</div>

<div class="help" *ngIf="showHelp">
  <section class="header">
    <button
      sg-button
      icon="arrow_back"
      (click)="showHelp = false"
      variant="icon-only"></button>

    <h2>Help</h2>
    <button
      sg-button
      icon="close"
      (click)="close.emit()"
      variant="icon-only"></button>
  </section>
  <ng-content select="[shareDialogHelp]"></ng-content>
</div>
