<div *ngIf="isLoading; else loaded" class="spinner">
  <mat-spinner diameter="40"></mat-spinner>
</div>

<ng-template #loaded>
  <ng-container *ngIf="hasData; else noData">
    <ng-content></ng-content>
  </ng-container>

  <ng-template #noData>
    <div class="empty-state" *ngIf="!hasError">
      <h4>{{ emptyStateTitle }}</h4>
      <p>{{ emptyStateContent }}</p>
    </div>
    <div class="empty-state" *ngIf="hasError">
      <h4>{{ errorTitle }}</h4>
      <p>{{ errorMsg }}</p>
    </div>
  </ng-template>
</ng-template>
