@import "mixins";
@import "colors";

:host {
  display: block;
  height: 100%;
  position: relative;
}

.spinner, .empty-state {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  height: 50%;
  text-align: center;
}

.spinner {
  padding-top: 20px;
}


.empty-state {

  h4 {
    @include standard-input-label();
    margin: 0 0 8px;
    color: $color-black;
  }

  p {
    color: $color-md-gray;
    margin: 0;
    max-width: 560px;
  }
}

