.plan-map {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.expand-panel-button {
  bottom: 12px;
  position: absolute;
  right: 60px;
  z-index: 2;
}

:host{
  &.small {
    .credits {
      position: static;
      padding: 0;
    }
  }
}
.credits {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  z-index: 100;
}
