<mat-expansion-panel
  togglePosition="before"
  expanded="true"
  [disabled]="!isCollapsible">
  <mat-expansion-panel-header class="panel-header">
    <div class="title-txt">
      {{ headline }}<span class="required" *ngIf="required"> *</span>
    </div>
    <button
      *ngIf="tooltipContent"
      (click)="stopPropagation($event)"
      class="tooltip-btn"
      sg-button
      variant="icon-only"
      [outlined]="true"
      icon="info"
      [matMenuTriggerFor]="tooltipMenu">
      <mat-menu #tooltipMenu="matMenu">
        <div class="tooltip" [innerHTML]="tooltipContent"></div>
      </mat-menu>
    </button>
  </mat-expansion-panel-header>
  <ng-content></ng-content>
</mat-expansion-panel>
