<mat-expansion-panel
  togglePosition="before"
  [ngClass]="{ 'no-header': !headline }"
  [expanded]="!isCollapsible || defaultExpanded"
  [disabled]="!isCollapsible">
  <mat-expansion-panel-header class="panel-header" *ngIf="headline">
    <div class="title-txt">
      {{ headline }}<span class="required" *ngIf="required"> *</span>
    </div>
    <sg-popover
      *ngIf="tooltipContent || tooltipTemplate"
      class="popover-right"
      [content]="tooltipTemplate ? null : tooltipContent"
      [icon]="tooltipIcon"
      size="lg">
      <ng-container
        *ngIf="tooltipTemplate"
        [ngTemplateOutlet]="tooltipTemplate"></ng-container>
    </sg-popover>
    <button
      *ngIf="tooltipLink"
      sg-button
      variant="icon-only"
      [icon]="tooltipIcon"
      [outlined]="true"
      class="popover-right"
      (click)="navigateToLink()"></button>
  </mat-expansion-panel-header>
  <ng-content></ng-content>
</mat-expansion-panel>
