@import 'colors';
@import 'mixins';
@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  position: relative;

  ::ng-deep {
    .maplibregl-ctrl-top-left {
      top: $map-nav-bar-height;
      z-index: 0;
      height: 100%;

      .maplibregl-ctrl {
        max-height: calc(
          100% - ($map-nav-bar-height + $map-bottom-name-height)
        );
        margin: 10px;
        height: calc(100% - ($map-nav-bar-height + $map-bottom-name-height));
      }
    }

    .maplibregl-ctrl-top-right {
      margin-top: $map-nav-bar-height;
      z-index: 0;
    }
  }
}

.loader {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba($color-black, 0.4);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  pointer-events: none;

  mat-spinner {
    --mdc-circular-progress-active-indicator-color: white;
  }
}

.loader.visible {
  opacity: 1;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

mgl-map {
  flex: 1;
}

@media print {
  :host {
    ::ng-deep {
      .maplibregl-map,
      .maplibregl-canvas-container,
      .maplibregl-canvas {
        width: 100%;
        height: 100%;
        position: static;
      }

      .maplibregl-ctrl-bottom-right {
        display: none;
      }
    }
  }
}
