@import 'colors';
@import 'mixins';
@import 'variables';

:host {
  display: block;

  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    font-size: 14px;
  }
}

sg-section {
  margin-bottom: 10px;
}

.stand-size {
  width: 100%;
  margin-top: 10px;
}

.stand-size ::ng-deep .mat-mdc-form-field-error-wrapper {
  padding: 0;
}

.option-text {
  width: 100%;
  margin: 0;
}

.option-description {
  @include xs-label();
  color: $color-text-gray;
}

.stand-size ::ng-deep .mat-mdc-form-field-required-marker {
  color: $color-error;
}

.stand-label {
  margin: 0 0 8px 0;
  display: flex;
  gap: 16px;
  align-items: center;
  color: $color-text-gray;
}

.stand-icon {
  flex-shrink: 0;
  color: $color-dark-magenta;
  position: relative;

  &::after {
    content: 'hexagon';
    display: block;
    color: $color-light-magenta;
    position: absolute;
    z-index: 1000;
    width: 10px;
    height: 20px;
    top: 2px;
    font-size: 20px;
    left: 2px;
  }
}

::ng-deep .stand-step {
  .mdc-text-field--outlined {
    padding: 0;
  }

  .mat-mdc-select-trigger {
    padding: $steps-padding;
  }
}
