.actions {
  margin: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media print {
  .actions {
    display: none;
  }
}

sg-section {
  margin-top: 16px;
}

.analytics-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
