<ng-container *ngIf="showShare">
  <button
    sg-button
    icon="share_outlined"
    (click)="shareReport()"
    *appFeatureFlag="'SHARE_FUNDING_REPORTS'">
    Share
  </button>
</ng-container>
<button
  sg-button
  icon="download"
  [matMenuTriggerFor]="menu"
  #trigger="matMenuTrigger"
  [disabled]="generatingPdf || downloadingGeopackage || buttonDisabled"
  [variant]="isFullView ? 'primary' : 'ghost'">
  {{ buttonLabel }}
  <mat-icon
    class="material-symbols-outlined download-options-down"
    [ngClass]="{ full: isFullView }"
    >{{ trigger.menuOpen ? 'arrow_drop_up' : 'arrow_drop_down' }}
  </mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="handleGeopackageDownload()">Geopackage</button>
  <button mat-menu-item (click)="handleDownloadPdf()">PDF</button>
</mat-menu>
<button
  sg-button
  *ngIf="footerType === 'preview'"
  icon="open_in_full"
  variant="primary"
  (click)="openFullView()">
  Open Full View
</button>
