@use '@angular/material' as mat;
@import 'colors';
@import 'mixins';
@import 'variables';

.container {
  width: 100%;
  height: 100%; // The parent controls the height so it's safe
  display: flex;
  flex-direction: row;
}

.col.left-panel {
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: $color-white;
  width: 360px;
  box-shadow: 6px 0 8px 0 rgba(0, 0, 0, 0.12);
  z-index: 30;
}

.col.left-panel .section-container {
  flex: 1 1 auto;
  padding: 16px;
  background-color: $color-soft-purple;
  overflow-y: auto;
}

.col.left-panel .section-container .datalayers-section {
  display: flex;
  min-height: 100%;

  .description {
    margin-bottom: 24px;
    @include small-paragraph();
    color: $color-dark-gray;
  }

  .bold-paragraph {
    font-weight: 700;
    margin-bottom: 8px;
  }
}

.col.left-panel .footer {
  padding: 0;
}

.col.dataLayers-map {
  flex: 1;
  background-color: $color-white;
  border-radius: 4px;
}

.selection-counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  margin-bottom: 16px;

  .count {
    font-size: 14px;
    font-weight: 500;
    color: $color-dark-gray;
  }
}

.data-layers-list {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 16px;
}

.selected-layer-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 4px;

  .layer-name {
    font-size: 14px;
    flex: 1;
  }

  .remove-button {
    margin-left: 8px;
  }
}

.no-selection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  p {
    @include h5();
  }
}

.browser-panel {
  position: fixed;
  width: 400px;
  background-color: $color-white;
  transition: transform 0.3s ease-in-out;
  z-index: 25;
  display: flex;
  flex-direction: column;
  height: calc(
    100% -
    ($climate-steps-bar + $navbar-height + $toolbar-height + $stepper-bar)
  );
  transform: translateX(-400px);

  &.open {
    transform: translateX(360px);
  }

  .browser-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

    border-bottom: 1px solid $color-soft-gray;
    background: $color-white;
    flex: 0 0 auto;

    h5 {
      @include h5();
      margin: 0;
    }
  }
}

.white-background {
  background-color: $color-white;
}

.datalayer-container {
  flex: 1 1 auto;
  overflow: auto;
}

.red-symbol {
  color: $color-error;
}
