@import 'colors';
@import 'mixins';

:host {
  height: 100%;
  display: block;
  overflow: hidden;

  .debug-link {
    height: 20px;
  }

  .side-search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 4px 16px;
    border-bottom: 1px $color-soft-gray solid;
    position: sticky;
    top: 0;
    background: $color-white;
    z-index: 100;
  }

  .results-count {
    @include h5();
    padding: 16px;
  }

  .no-results {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-areas-list {
    overflow-y: scroll;
    height: 100%;
  }

  ::ng-deep .search-bar .input-wrapper {
    width: 100%;
    background-color: $color-light-gray;
    height: 42px;
  }

  ::ng-deep .search-bar input {
    @include xs-label();
    font-weight: 400;
    font-family: 'Public Sans';
    width: 100%;
  }
}
