@import 'colors';
@import 'mixins';

:host {
  height: 100%;
  display: block;

  .debug-link {
    height: 20px;
  }
  
  .side-search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 20px 10px 10px 10px;
  }

  .results-count {
    @include h5();
    height: 60;
    padding: 16px;
  }

  .no-results  {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .no-results-box {
    color: $color-md-gray;
    flex-direction: column;
    display: flex;
    height: 140px;
    width: 100%;
    align-items: center;
    gap: 8px;

    .no-results-title {
      @include h5();
      color: $color-black;
    }
    .no-results-detail {
      @include small-paragraph;
      text-align: center;
    }
  }

  ::ng-deep .search-bar .input-wrapper {
    width: 100%;
    background-color: $color-light-gray;
  }
  ::ng-deep .search-bar input {
    width: 100%;
    @include xs-label();
  }
}
