@import 'variables';

:host {
  overflow: hidden;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;

  .mat-icon {
    line-height: 22px;
  }
}

.planning {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 3px 1px -2px #0000001f;
  box-shadow: 0px 2px 2px 0px #00000024;
  box-shadow: 0px 1px 5px 0px #00000033;
  padding: 16px 26px;
  display: flex;
  flex-direction: column;
  min-width: 70%;
  max-width: 80%;
  box-sizing: border-box;
  margin: 20px auto;
  flex: 1;
  min-height: calc(100% - $toolbar-height);
}

.title-nav {
  display: flex;
  gap: 10px;
  align-items: center;
}

h4 {
  margin: 0;
}

.help {
  margin-left: auto;
}

.explore {
  margin-right: 10px;
}

app-plan-table {
  flex: 1;
  overflow: hidden;
}

.tooltip {
  padding: 20px;
}
