@import "mixins";
@import "colors";

:host {
  display: block;
  // material overrides
  ::ng-deep {

    mat-form-field {
      display: block;
    }

    .mat-chip-list-wrapper {
      margin: 0;
      gap: 4px;

      .mat-input-element {
        padding: 3px 0;
        line-height: 28px;
        margin: 0;
      }
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
      top: 0;
    }

    .mat-chip {
      @include small-input-label();
      color: $color-dark-gray;
    }

    .mat-form-field-infix {
      border-top-width: 4px;
      padding: 0;
    }

    .mat-select-arrow-wrapper {
      transform: none;
    }


    mat-chip.mat-standard-chip {
      background-color: white;
      border: 1px solid $color-dark-gray;
      margin: 0;
      padding: 4px 8px;
      min-height: 30px;

      .mat-chip-remove {
        opacity: 0.9;
      }
    }

    &.mat-form-field-appearance-outline {
      .mat-form-field-wrapper {
        padding: 0;
        margin: 0;
      }

      .mat-form-field-flex {
        padding: 3px 8px;
        margin-top: 0;
      }
    }
  }
}
