<div class="reset-password-container">
  <div class="reset-password-subcontainer">
    <div class="reset-password-logo-container">
      <div class="planscape-white-logo">
        <img src="assets/svg/planscape-white-logo.svg" alt="planscape logo" />
      </div>
      <div class="reset-password-card">
        <h1 class="title">Reset Password</h1>

        <form [formGroup]="form" (ngSubmit)="submit()" class="fields-group">
          <mat-label class="standard-label"
            >Create Password
            <span class="required-blurb">required</span>
          </mat-label>
          <mat-form-field appearance="outline">
            <input
              type="password"
              required
              formControlName="password1"
              matInput />
            <mat-error *ngIf="form.get('password1')?.hasError('minlength')">
              Password must contain at least 8 characters.
            </mat-error>
          </mat-form-field>

          <mat-label class="standard-label"
            >Confirm Password
            <span class="required-blurb">required</span>
          </mat-label>
          <mat-form-field appearance="outline">
            <input
              type="password"
              required
              formControlName="password1"
              matInput />
          </mat-form-field>
          <mat-error *ngIf="form.hasError('passwordsNotEqual')">
            Passwords must match.
          </mat-error>

          <div class="reset-form-buttons">
            <button
              mat-flat-button
              color="primary"
              type="submit"
              [disabled]="!form.valid"
              class="reset-pw-button">
              RESET PASSWORD
            </button>
            <button
              mat-stroked-button
              color="secondary"
              type="button"
              class="cancel-reset-button"
              (click)="cancel()">
              Cancel
            </button>
          </div>

          <mat-error *ngIf="errors.length > 0">
            <p>Please correct the following errors:</p>
            <ul>
              <li *ngFor="let error of errors">{{ error }}</li>
            </ul>
          </mat-error>
        </form>
      </div>
    </div>
  </div>

  <app-credits-blurb></app-credits-blurb>
</div>

<div class="info-text-container">
  <app-planscape-about></app-planscape-about>
</div>
