<div class="forget-password-container">
  <div class="forget-password-card">
    <h1 class="title">Reset Password</h1>

    <p class="reset-text">Type in a new password for your account.</p>

    <form [formGroup]="form" (ngSubmit)="submit()" class="email-form">
      <mat-form-field appearance="fill">
        <mat-label>Create password</mat-label>
        <input type="password" required formControlName="password1" matInput />
        <mat-error *ngIf="form.get('password1')?.hasError('minlength')">
          Password must contain at least 8 characters.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirm password</mat-label>
        <input type="password" required formControlName="password2" matInput />
        <mat-error *ngIf="form.hasError('passwordsNotEqual')">
          Passwords must match.
        </mat-error>
      </mat-form-field>

      <div class="reset-form-buttons">
        <button
          mat-stroked-button
          color="secondary"
          type="button"
          class="reset-form-button"
          (click)="cancel()">
          Cancel
        </button>
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="!form.valid"
          class="reset-form-button">
          Reset Password
        </button>
      </div>

      <mat-error *ngIf="errors.length > 0">
        <p>Please correct the following errors:</p>
        <ul>
          <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
      </mat-error>
    </form>
  </div>

  <div class="disclaimer-text">
    <p>
      Planscape is a collaborative effort by the California Natural Resources
      Agency (CNRA) and the USDA Forest Service, with support from Google.org.
    </p>
  </div>
</div>

<div class="info-text-container">
  <app-planscape-about></app-planscape-about>
</div>
