@import "mixins";
@import "colors";

:host {
    .chip-row {
        @include xs-label();
        --mdc-chip-container-height: 14px;
        --mdc-chip-elevated-container-color: $color-white;
        --mdc-chip-label-text-weight: 600;
        --mdc-chip-label-text-color: #{$color-brand-green};
        --mdc-chip-container-shape-radius: 4px;
        background-color: $color-brand-soft-green;
        font-weight: 600;
        margin: 4px;
        max-width: 200px;
        display: flex;
        padding: 8px 12px;
        justify-content: center;
        align-items: center;
        gap: 8px;

        .mat-chip-remove {
            opacity: 0.9;
            color: $color-dark-gray;
        }
    }
}