@import "mixins";
@import "colors";

:host {
    .chip-row {
        @include xs-label();
        --mdc-chip-container-height: 14px;
        --mdc-chip-elevated-container-color: $color-white;
        --mdc-chip-label-text-weight: 600;
        --mdc-chip-label-text-color: #{$color-brand-green};
        --mdc-chip-container-shape-radius: 4px;
        --mdc-chip-focus-state-layer-color:#{$color-brand-green};
        background-color: $color-brand-soft-green;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 8px;
        padding-bottom: 8px;

        &:hover, &:select {
        background-color: $color-brand-soft-green;
        opacity: 1;
        }


        .mat-chip-remove {
            opacity: 1;
            color: black;
        }

        .mat-mdc-chip-remove {
            opacity: 1;
            width: 16px;
            height: 16px;
            font-size: 16px;
        }
        
        .mat-mdc-chip-remove .mat-icon:hover {
            background-color: white;
            border-radius: 8px;
        }

    }

}

.trailing-link {
    height: 30px;
    margin: 8px;
}

.expand-link {
    @include standard-link();
    line-height: 24px;
}
