<app-nav-bar [area]="'CLIMATE_FORESIGHT'"></app-nav-bar>

<div class="climate-foresight-run-container">
  <sg-steps-nav
    [steps]="stepsList"
    [selectedIndex]="currentStepIndex"
    [allowNavigation]="true"
    (selectionChange)="
      stepsComponent && (stepsComponent.selectedIndex = $event)
    ">
  </sg-steps-nav>

  <sg-steps
    #stepsComponent
    [save]="saveStepData"
    [savingStep]="savingStep"
    [showActions]="currentStepIndex !== 0"
    [disabled]="!canGoNext"
    (finished)="onFinished()">
    <sg-step label="Select Data Layers">
      <div class="step-layout">
        <div class="step-content">
          <app-data-layer-selection
            #dataLayerSelection
            [plan]="currentPlan"
            [run]="currentRun"
            (complete)="onStepComplete($event)">
            <ng-container actions>
              <sg-steps-actions
                [currentStep]="currentStepIndex"
                [totalSteps]="totalSteps"
                [canGoNext]="dataLayerSelectionComponent?.form?.valid || false"
                [loading]="savingStep"
                [showBack]="false"
                [showStepCount]="false"
                continueLabel="Save & Continue"
                (back)="goToPreviousStep()"
                (next)="goToNextStep()">
              </sg-steps-actions>
            </ng-container>
          </app-data-layer-selection>
        </div>
      </div>
    </sg-step>

    <sg-step label="Assign Favorability">
      <app-assign-favorability
        #assignFavorability
        [plan]="currentPlan"
        [run]="currentRun"
        (complete)="onStepComplete($event)">
      </app-assign-favorability>
    </sg-step>

    <cdk-step label="Assign Pillars" [stepControl]="pillarsForm!">
      <div class="step-layout">
        <div class="step-content">
          <app-assign-pillars></app-assign-pillars>
        </div>
      </div>
    </cdk-step>

    <cdk-step label="Run & Risk Assessment" [stepControl]="assessmentForm!">
      <div class="step-layout">
        <div class="step-content"></div>
      </div>
    </cdk-step>
  </sg-steps>
</div>
