@import 'variables';
@import 'colors';

.climate-foresight-run-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 110px);

  ::ng-deep {
    sg-steps {
      min-height: 100%;
    }
    sg-steps .step {
      padding: 0;
    }

    sg-steps-nav {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      z-index: 40;
    }
  }
}

.step-layout {
  display: flex;
  gap: 20px;
  height: 100%;
}

.step-content {
  flex: 1;
  overflow: auto;
}

.step-sidebar {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
