<div
  class="mode-buttons"
  *ngIf="
    (mapInteractionMode$ | async) !== 'draw' &&
    (mapInteractionMode$ | async) !== 'upload'
  ">
  <button
    type="button"
    [ngClass]="{
      active: false,
    }"
    class="left-option"
    (click)="handleUploadButton()"
    matTooltip="Upload"
    matTooltipPosition="below">
    <mat-icon class="material-symbols-outlined">upload_file</mat-icon>
  </button>
  <button
    type="button"
    (click)="handleDrawingButton()"
    class="right-option"
    matTooltip="Draw Planning Area"
    matTooltipPosition="below">
    <mat-icon class="material-symbols-outlined">draw</mat-icon>
  </button>
</div>

<div class="drawing-options" *ngIf="(mapInteractionMode$ | async) !== 'view'">
  <button
    type="button"
    class="drawing-mode-button"
    (click)="handleCancelButton()"
    matTooltip="Cancel"
    matTooltipPosition="below">
    <mat-icon class="material-symbols-outlined">close</mat-icon>
  </button>
  <button
    type="button"
    class="drawing-mode-button check-button"
    (click)="handleSaveButton()"
    matTooltip="Save"
    matTooltipPosition="below">
    <mat-icon class="material-symbols-outlined">check</mat-icon>
  </button>
</div>

<app-upload-planning-area-box
  *ngIf="showUploadForm"
  (uploadedShape)="uploadedShape()"></app-upload-planning-area-box>
