@import 'colors';

:host {
  box-sizing: border-box;
  padding: 1px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

:host ::ng-deep {
  .selection-button.ghost-button {
    border: 1px solid $color-text-gray;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-white;
  border-radius: 4px;
  padding: 3px;
  height: 40px;
  width: 56px;
  cursor: pointer;
  color: $color-standard-blue;

  &.no-border {
    border: none;
  }

  &:hover {
    background: $color-soft-gray;
  }

  &.active {
    background-color: $color-standard-blue;
    color: $color-white;
  }

  &.active:hover {
    color: $color-white;
    background: darken($color-standard-blue, 10);
  }

  &:disabled {
    background-color: $color-white;
    opacity: 0.3;
    pointer-events: none;
  }
}

.drawing-options {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 8px;
  --mat-divider-color: white;

  button {
    height: 40px;
    width: 40px;
  }

  .check-button {
    color: $color-brand-teal;
  }
}

::ng-deep .planning-area-options-menu {
  margin-top: 8px;
  min-width: 190px;
}

.new-planning-down {
  height: 38px;
  line-height: 40px;
  border-left: 1px solid $color-soft-gray;
  padding: 0 8px;
  margin-left: 6px;
  margin-right: -12px;
}

.mode-selection-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .button {
    padding: 6px 16px;
    height: auto;
    width: auto;
  }

  .button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.line {
  border-left: 1px solid $color-white;
  height: 100%;
}

.cancel-button {
  color: $color-black;
}

.check-button {
  color: $color-brand-teal;
}
