// The plain file input element is hidden because it's hard to style
.file-input {
  display: none;
}

.file-uploader-wrapper {
  align-items: flex-start;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 120px;
  padding: 0 20px;
  z-index: 2;
}

.title {
  color: #575757;
  font-size: 13px;
  font-weight: 500;
  padding: 10px 0;
}

.upload-outline {
  align-items: center;
  border-radius: 4px;
  border: 1px solid #bdbdbd;
  color: #575757;
  display: flex;
  height: 36px;
  padding: 0 0 0 10px;
  width: 240px;
}

.upload-button {
  float: right;
  margin-left: auto;
}

.caption {
  color: #575757;
  font-size: 12px;
  font-weight: 400;
}
