<div (click)="selectDataset.emit()" class="data-set">
  <div class="data-set-data">
    <div
      class="data-set-name"
      [sgHighlighter]="searchTerm"
      [sgHighlighterText]="name"></div>
    <mat-icon>chevron_right</mat-icon>
  </div>
  <div
    class="data-set-org"
    [sgHighlighter]="searchTerm"
    [sgHighlighterText]="organizationName"></div>
</div>

<div *ngIf="path" class="data-layer-paths">
  <div class="data-layer-path" *ngFor="let step of path">
    <mat-icon class="material-symbols-outlined">
      subdirectory_arrow_right
    </mat-icon>
    <span [sgHighlighter]="searchTerm" [sgHighlighterText]="step"></span>
  </div>
</div>
<div class="data-set-layers" *ngIf="layers">
  <div class="data-layer" *ngFor="let layer of layers">
    <mat-radio-button
      [value]="layer.id"
      class="data-layer-input"
      [checked]="(selectedDataLayerId$ | async) === layer.id"
      (click)="selectDataLayer(layer.data)">
      <span [sgHighlighter]="searchTerm" [sgHighlighterText]="layer.name"></span
    ></mat-radio-button>

    <button
      sg-button
      variant="icon-only"
      icon="info"
      class="info-icon"
      [outlined]="true"></button>
  </div>
</div>
