<div (click)="selectDataset.emit()" class="data-set">
  <div class="data-set-data">
    <div
      class="data-set-name"
      [sgHighlighter]="searchTerm"
      [sgHighlighterText]="name"></div>
    <mat-icon>chevron_right</mat-icon>
  </div>
  <div
    class="data-set-org"
    [sgHighlighter]="searchTerm"
    [sgHighlighterText]="organizationName"></div>
</div>

<div *ngIf="path" class="data-layer-paths">
  <div class="data-layer-path" *ngFor="let step of path">
    <mat-icon class="material-symbols-outlined">
      subdirectory_arrow_right
    </mat-icon>
    <span [sgHighlighter]="searchTerm" [sgHighlighterText]="step"></span>
  </div>
</div>
<div class="data-set-layers" *ngIf="layers">
  <div *ngIf="displayAddButton" class="nodes-header">
    <span class="select-column">Select</span><span>View Layer</span>
  </div>
  <div
    class="data-layer"
    [class.with-add-button]="displayAddButton"
    *ngFor="let layer of layers">
    <span class="button-column" *ngIf="displayAddButton"
      ><button
        mat-icon-button
        class="select-button"
        [ngClass]="{
          selected: isDatalayerSelected(layer.data),
          disabled:
            isUnselectable(layer.data) || (isSelectionCompleted$ | async),
        }"
        [matTooltip]="getTooltipText(layer.data, isSelectionCompleted$ | async)"
        (click)="toggleDataLayerSelection(layer.data)"
        type="button">
        <mat-icon>{{
          isDatalayerSelected(layer.data) ? 'remove' : 'add'
        }}</mat-icon>
      </button>
    </span>
    <mat-radio-button
      [value]="layer.id"
      class="data-layer-input"
      [checked]="(selectedDataLayerId$ | async) === layer.id"
      (change)="selectDataLayer(layer.data)">
      <span [sgHighlighter]="searchTerm" [sgHighlighterText]="layer.name"></span
    ></mat-radio-button>
    <mat-spinner
      diameter="20"
      *ngIf="
        (selectedDataLayerId$ | async) === layer.id &&
        (loadingDataLayer$ | async)
      "></mat-spinner>
    <button
      sg-button
      variant="icon-only"
      icon="info"
      class="info-icon"
      [outlined]="true"
      [matMenuTriggerFor]="popoverMenu"
      (menuOpened)="displayTooltipLayer = true"
      (menuClosed)="displayTooltipLayer = false"></button>
    <mat-menu #popoverMenu="matMenu" class="datalayer-tooltip-panel">
      <app-data-layer-tooltip
        [layer]="layer.data"
        *ngIf="displayTooltipLayer"></app-data-layer-tooltip>
    </mat-menu>
  </div>
</div>
