@import 'mixins';
@import 'colors';

:host {
  padding: 14px;
  border-bottom: 1px solid $color-soft-gray;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;

  &:hover {
    background-color: $color-lighter-gray;
  }
}

.data-set {
  cursor: pointer;
}

.data-set-data {
  display: flex;
}

.data-set-name {
  color: $color-black;
  margin-bottom: 8px;
  margin-right: auto;
  font-weight: 600;
  line-height: 20px;
}

.data-set-org {
  color: $color-md-gray;
}

.data-layer-paths,
.data-set-layers {
  margin-top: 16px;
}

.data-layer-path {
  display: flex;
  align-items: center;
  gap: 8px;

  mat-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: $color-md-gray;
  }
}

.data-layer-path + .data-layer-path {
  padding-left: 20px;
  margin-top: 8px;
}

.data-layer-label {
  flex: 1;
  padding: 8px;
  cursor: pointer;
  color: $color-dark-gray;
}

.data-layer-input {
  margin: 0;
  padding: 0;
  flex: 1;
  cursor: pointer;
}

.data-layer {
  display: flex;
  width: 100%;
  align-items: center;
  
  &.with-add-button {
    gap:16px;
  }
}

.info-icon {
  color: $color-standard-blue;
}

.button-column,
.select-column {
  width: 42px;
}

.select-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  margin: 0 auto;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  color: $color-white;
  background-color: $color-standard-blue;
  cursor: pointer;

  .mat-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
  }

  &:hover {
    background-color: $color-main-blue;
  }

  &.disabled,
  &.disabled:hover {
    background-color: $color-disabled-gray;
  }

  &.selected {
    background-color: $color-medium-blue;
  }

  &.selected:hover {
    background-color: $color-main-blue;
  }
}

.nodes-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  color: $color-md-gray;
  padding-top: 8px;
  padding-bottom: 8px;
}