<a [routerLink]="treatmentLink" class="card-link">
  <div class="card">
    <div class="title-row">
      <div class="record-name">{{ name }}</div>

      <div class="controls-section">
        <button
          [matMenuTriggerFor]="menu"
          aria-label="More options"
          class="more-menu-button"
          (click)="stopEventPropagation($event)"
          mat-icon-button
          matTooltip="More actions">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="more-treatment-menu">
          <button mat-menu-item (click)="view.emit()" [disabled]="isDisabled">
            <mat-icon class="material-symbols-outlined"
              >file_open_outlined</mat-icon
            >
            <span>Open</span>
          </button>
          <button
            mat-menu-item
            (click)="duplicate.emit()"
            [disabled]="!userCanDuplicate">
            <mat-icon class="material-symbols-outlined"
              >file_copy_outlined</mat-icon
            >
            <span>Copy</span>
          </button>
          <button
            mat-menu-item
            class="delete"
            [disabled]="!userCanDelete"
            (click)="delete.emit()">
            <mat-icon class="material-symbols-outlined"
              >delete_outlined</mat-icon
            >
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <div class="detail-row">
      <div class="detail-column">
        <div class="detail-header">Creator</div>
        <div class="detail-info">
          {{ creator }}
        </div>
      </div>
      <div class="detail-column">
        <div class="detail-header">Date Created</div>
        <div class="detail-info">
          {{ createdAt ? (createdAt | date: 'MMM d, y') : '-' }}
        </div>
      </div>
      <div class="detail-column">
        <div class="detail-header">Status</div>
        <div class="detail-info">
          <sg-status-chip
            class="status-chip"
            [status]="chipsStatus[status]"
            [label]="statusLabel[status]"></sg-status-chip>
        </div>
      </div>
    </div>
  </div>
</a>
