<div
  class="scenario-details-panel mat-elevation-z2"
  [@expandCollapsePanel]="panelExpanded ? 'expanded' : 'collapsed'">
  <div
    class="scenario-details-panel-content"
    [@expandCollapsePanelContent]="panelExpanded ? 'opaque' : 'transparent'">
    <span class="scenario-details-header">
      Scenario {{ (scenario$ | async)?.id }} Details
    </span>
    <mat-divider></mat-divider>

    <div>
      <mat-tab-group>
        <mat-tab class="scenario-tab" label="OUTCOME">
        </mat-tab>
        <mat-tab class="scenario-tab" label="MAP LAYERS">
          <app-map-layers
            [plan]="plan$ | async"
            (changeConditionEvent)="changeCondition($event)"></app-map-layers>
        </mat-tab>
        <mat-tab class="scenario-tab" label="INFO">Info</mat-tab>
      </mat-tab-group>
    </div>

    <!-- Expand/collapse button -->
    <div
      class="scenario-details-panel-expand-button"
      [class.collapsed]="!panelExpanded"
      [@expandCollapseButton]="panelExpanded ? 'colorA' : 'colorB'">
      <button mat-icon-button (click)="togglePanelExpand()">
        <mat-icon>chevron_left</mat-icon>
      </button>
    </div>
  </div>
</div>
