.scenario-details-panel {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  width: 565px;
}

.scenario-details-header {
  font-size: 18px;
  padding: 12px 24px;
}

.plan-map-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.plan-map-view {
  align-items: center;
  background-color: #e9e9e9;
  display: flex;
  flex-grow: 2;
  justify-content: center;
  position: relative;
  text-align: center;
}

.scenario-details-panel-expand-button {
  align-items: center;
  background-color: white;
  border-radius: 8px;
  display: flex;
  height: 64px;
  position: absolute;
  right: -24px;
  top: 12px;

  &.collapsed {
    transform: rotate(180deg);
  }
}

.scenario-details-panel-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  padding: 0;
}

/** Always show scrollbar. */
::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 0px;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  background-color: rgba(0,0,0,.5);
  border-radius: 4px;
}

:host ::ng-deep .mat-tab-label-content {
  font-size: 13px;
}
