@import "variables";

// Region select dropdown arrow
@mixin arrow {
  content: '';
  $arrow-size: 5px;
  position: relative;
  right: 12px;
  top: 15px;
  width: 0;
  height: 0;
  border-left: $arrow-size solid transparent;
  border-right: $arrow-size solid transparent;
  border-top: $arrow-size solid #ffffff;
  pointer-events: none;
}

// styles for the dropdown on the map controls
.region-wrapper {
  height: 32px;
  box-shadow: 0 1px 1px 0 #00000024,
  0 2px 2px 0 #00000033,
  0 1px 5px 0 #0000001f;

  overflow: hidden;
  border-radius: 6px;
  position: relative;

  &::before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: #eee;
    position: absolute;
    right: 26px;
    top: 0;
  }

  &::after {
    content: '';
    $arrow-size: 5px;
    position: absolute;
    right: 10px;
    top: 14px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #3367d6;
    pointer-events: none;
  }

  &.disabled::after {
    border-top-color: gray;
  }
}

.region {
  &::-ms-expand {
    display: none; /* IE */
  }

  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  font-weight: 500;
  border: none;
  text-transform: uppercase;
  color: #3367d6;
  padding: 10px;
  padding-right: 36px;
  border-right: 1px solid #eeeeee;
  text-align: center;

  &:disabled {
    color: gray;
  }
}
