<div class="controls-container">
  <h1><b>Map Control Panel</b></h1>
  <div class="region-wrapper">
    <div>Region</div>
    <app-region-dropdown [disabled]="disableRegion"></app-region-dropdown>
  </div>

  <div *ngIf="mapHasDataLayer" class="title-container">
    <div class="transparency-box">
      <!-- Opacity controls for the currently shown data layer -->
      <app-opacity-slider
        (changeOpacity)="changeOpacity.emit($event)"
        [opacity]="selectedMapOpacity"
        label="Data Transparency: "></app-opacity-slider>
    </div>
  </div>

  <h3><b>Map Views</b></h3>

  <!-- Controls for specifying how many maps should be shown -->
  <div class="map-count-button-row">
    <button
      mat-button
      class="map-count-button"
      (click)="changeMapCount.emit(1)"
      aria-label="Show 1 map"
      [ngClass]="{ selected: mapViewOptions?.numVisibleMaps === 1 }">
      <div class="map-count-button-grid-cell"></div>
    </button>
    <button
      mat-button
      class="map-count-button"
      (click)="changeMapCount.emit(2)"
      aria-label="Show 2 maps"
      [ngClass]="{ selected: mapViewOptions?.numVisibleMaps === 2 }">
      <div class="map-count-button-grid-row">
        <div class="map-count-button-grid-cell"></div>
        <div class="map-count-button-grid-cell"></div>
      </div>
    </button>
    <button
      mat-button
      class="map-count-button"
      (click)="changeMapCount.emit(4)"
      aria-label="Show 4 maps"
      [ngClass]="{ selected: mapViewOptions?.numVisibleMaps === 4 }">
      <div class="map-count-button-grid-row">
        <div class="map-count-button-grid-cell"></div>
        <div class="map-count-button-grid-cell"></div>
      </div>
      <div class="map-count-button-grid-row">
        <div class="map-count-button-grid-cell"></div>
        <div class="map-count-button-grid-cell"></div>
      </div>
    </button>
  </div>

  <!-- Layer controls for each map, displayed in tabs -->
  <mat-tab-group
    mat-align-tabs="center"
    mat-stretch-tabs="true"
    [selectedIndex]="mapViewOptions?.selectedMapIndex"
    class="layer-controls-tab-group"
    (selectedIndexChange)="selectMap.emit($event)">
    <mat-tab *ngFor="let map of maps; index as i" label="MAP {{ map.name }}">
      <!-- Clear All button -->
      <div class="clear-all-button-wrapper">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!enableClearAllButton(map)"
          (click)="clearAll(map)">
          CLEAR ALL
        </button>
      </div>

      <mat-accordion multi displayMode="flat">
        <!-- Basemap layer controls -->
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header class="layer-panel-header">
            Basemaps
          </mat-expansion-panel-header>
          <mat-radio-group
            name="{{ map.id + '-base-layer-select' }}"
            aria-label="Select an option"
            class="layer-radio-group"
            [(ngModel)]="map.config.baseLayerType"
            color="primary"
            (change)="changeBaseLayer.emit(map)">
            <div
              class="layer-control-container"
              *ngFor="let baseLayerType of baseLayerTypes">
              <mat-radio-button
                [value]="baseLayerType"
                checked="{{ baseLayerType === map.config.baseLayerType }}">
                {{ BaseLayerType[baseLayerType] }}
              </mat-radio-button>
            </div>
          </mat-radio-group>
        </mat-expansion-panel>

        <!-- Boundary layer controls -->
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header class="layer-panel-header">
            Boundaries
          </mat-expansion-panel-header>
          <mat-radio-group
            name="{{ map.id + '-boundaries-select' }}"
            aria-label="Select an option"
            class="layer-radio-group"
            color="primary"
            [(ngModel)]="map.config.boundaryLayerConfig"
            (change)="changeBoundaryLayer.emit(map)">
            <div class="layer-control-container">
              <mat-radio-button [value]="noneBoundaryConfig">
                None
              </mat-radio-button>
            </div>
            <div
              *ngFor="let boundary of boundaryConfig"
              class="layer-control-container">
              <mat-radio-button [value]="boundary">
                {{
                  boundary.display_name
                    ? boundary.display_name
                    : boundary.boundary_name
                }}
              </mat-radio-button>
            </div>
          </mat-radio-group>
        </mat-expansion-panel>

        <!-- Recent treatment areas controls -->
        <mat-expansion-panel expanded="false">
          <mat-expansion-panel-header class="layer-panel-header">
            Recent treatment areas
          </mat-expansion-panel-header>
          <div class="layer-control-container">
            <mat-checkbox
              name="{{ map.id + '-existing-projects-toggle' }}"
              aria-label="Select or deselect"
              color="primary"
              class="layer-checkbox"
              [(ngModel)]="map.config.showExistingProjectsLayer"
              (change)="toggleExistingProjectsLayer.emit(map)">
              Existing projects
            </mat-checkbox>
          </div>
        </mat-expansion-panel>

        <!-- Current condition controls -->
        <div *ngIf="rawDataEnabled">
          <app-condition-tree
            #conditionTreeRaw
            [conditionsConfig$]="conditionsConfig$"
            [header]="'Regional Resource Kit Data'"
            [map]="map"
            [dataType]="dataTypeEnum.RAW"
            (changeConditionLayer)="
              changeConditionLayer.emit($event); unstyleConditionTree(1)
            "></app-condition-tree>
        </div>
      </mat-accordion>
    </mat-tab>
  </mat-tab-group>
</div>
