<div class="controls-container">

  <div *ngIf="mapHasDataLayer" class="legend-container">
    <h1><b>Map {{selectedMap?.name}}</b> Legend</h1>

    <div class="legend-box">
      <!-- Name of the kind of data -->
      <h3>{{selectedMap?.config?.dataLayerConfig?.legend_name}}</h3>

      <div class="legend-title">
        <h2>{{selectedMap?.config?.dataLayerConfig?.display_name}}</h2>
        <button mat-icon-button
          [matMenuTriggerFor]="popoverMenu">
          <mat-icon color="primary">info_outline</mat-icon>
        </button>
        <mat-menu #popoverMenu="matMenu">
          <app-layer-info-card [dataLayerConfig]="selectedMap?.config?.dataLayerConfig"></app-layer-info-card>
        </mat-menu>
      </div>

      <!-- Legend for the currently shown map -->
      <app-legend [legend]="getSelectedLegend()"></app-legend>

      <!-- Opacity controls for the currently shown data layer -->
      <app-opacity-slider (change)="changeOpacity.emit($event)" [opacity]="selectedMapOpacity"
			  label="Transparency">
      </app-opacity-slider>
    </div>

  </div>

  <h3><b>Map Views</b></h3>

  <!-- Controls for specifying how many maps should be shown -->
  <div class="map-count-button-row">
    <button mat-button class="map-count-button" (click)="changeMapCount.emit(1)"
      aria-label="Show 1 map"
      [ngClass]="{'selected': mapViewOptions?.numVisibleMaps === 1}">
      <div class="map-count-button-grid-cell"></div>
    </button>
    <button mat-button class="map-count-button" (click)="changeMapCount.emit(2)"
      aria-label="Show 2 maps"
      [ngClass]="{'selected': mapViewOptions?.numVisibleMaps === 2}">
      <div class="map-count-button-grid-row">
        <div class="map-count-button-grid-cell"></div>
        <div class="map-count-button-grid-cell"></div>
      </div>
    </button>
    <button mat-button class="map-count-button" (click)="changeMapCount.emit(4)"
      aria-label="Show 4 maps"
      [ngClass]="{'selected': mapViewOptions?.numVisibleMaps === 4}">
    <div class="map-count-button-grid-row">
      <div class="map-count-button-grid-cell"></div>
      <div class="map-count-button-grid-cell"></div>
    </div>
    <div class="map-count-button-grid-row">
      <div class="map-count-button-grid-cell"></div>
      <div class="map-count-button-grid-cell"></div>
    </div>
    </button>
  </div>

  <!-- Layer controls for each map, displayed in tabs -->
  <mat-tab-group mat-align-tabs="center" mat-stretch-tabs="true"
    [selectedIndex]="mapViewOptions?.selectedMapIndex"
    class="layer-controls-tab-group" (selectedIndexChange)="selectMap.emit($event)">
    <mat-tab *ngFor="let map of maps; index as i" label="MAP {{ map.name }}">
      <!-- Clear All button -->
      <div class="clear-all-button-wrapper">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!enableClearAllButton(map)"
          (click)="clearAll(map)">
          CLEAR ALL
        </button>
      </div>

      <mat-accordion multi displayMode="flat">

        <!-- Basemap layer controls -->
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header class="layer-panel-header">
            Basemaps
          </mat-expansion-panel-header>
          <mat-radio-group name="{{ map.id + '-base-layer-select' }}" aria-label="Select an option"
            class="layer-radio-group" [(ngModel)]="map.config.baseLayerType"
            color="primary"
            (change)="changeBaseLayer.emit(map)">
            <div class="layer-control-container" *ngFor="let baseLayerType of baseLayerTypes">
              <mat-radio-button [value]="baseLayerType"
                checked="{{ baseLayerType == map.config.baseLayerType }}">
                {{ BaseLayerType[baseLayerType] }}
              </mat-radio-button>
            </div>
          </mat-radio-group>
        </mat-expansion-panel>

        <!-- Boundary layer controls -->
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header class="layer-panel-header">
            Boundaries
          </mat-expansion-panel-header>
          <mat-radio-group name="{{ map.id + '-boundaries-select' }}" aria-label="Select an option"
            class="layer-radio-group" color="primary"
            [(ngModel)]="map.config.boundaryLayerConfig" (change)="changeBoundaryLayer.emit(map)">
            <div class="layer-control-container">
              <mat-radio-button [value]="noneBoundaryConfig">
                None
              </mat-radio-button>
            </div>
            <div *ngFor="let boundary of boundaryConfig" class="layer-control-container">
              <mat-radio-button [value]="boundary">
                {{ boundary.display_name ? boundary.display_name : boundary.boundary_name }}
              </mat-radio-button>
              <mat-spinner [diameter]="24" *ngIf="loadingIndicators[boundary.boundary_name]">
              </mat-spinner>
            </div>
          </mat-radio-group>
        </mat-expansion-panel>

        <!-- Recent treatment areas controls -->
        <mat-expansion-panel expanded="false">
          <mat-expansion-panel-header class="layer-panel-header">
            Recent treatment areas
          </mat-expansion-panel-header>
          <div class="layer-control-container">
            <mat-checkbox name="{{ map.id + '-existing-projects-toggle' }}"
              aria-label="Select or deselect" color="primary"
              class="layer-checkbox" [(ngModel)]="map.config.showExistingProjectsLayer"
              (change)="toggleExistingProjectsLayer.emit(map)">
              Existing projects
            </mat-checkbox>
            <mat-spinner [diameter]="24" *ngIf="loadingIndicators['existing_projects']">
            </mat-spinner>
          </div>
        </mat-expansion-panel>

        <div *ngIf="rawDataEnabled">
         <!-- Current condition controls -->
         <app-condition-tree
         #conditionTreeRaw
         [conditionsData$]="conditionDataRaw$"
         [header]="'Current Condition (Raw)'"
         [map]="map"
         (changeConditionLayer)="changeConditionLayer.emit($event); unstyleConditionTree(1)">
       </app-condition-tree>
      </div>

        <div *ngIf="translatedDataEnabled">

        <!-- Normalized current condition controls -->
        <app-condition-tree
          #conditionTreeNormalized
          [conditionsData$]="conditionDataNormalized$"
          [header]="'Current Condition'"
          [map]="map"
          (changeConditionLayer)="changeConditionLayer.emit($event); unstyleConditionTree(0)">
        </app-condition-tree>
        </div>

      <div *ngIf="futureDataEnabled">
        <!-- Future condition controls -->
        <app-condition-tree
          #conditionTreeNormalized
          [conditionsData$]="conditionDataFuture$"
          [header]="'Future Climate Stability'"
          [map]="map"
          (changeConditionLayer)="changeConditionLayer.emit($event); unstyleConditionTree(0)">
        </app-condition-tree>
      </div>

        <!-- No Data Region controls -->
        <div *ngIf="!rawDataEnabled">
          <mat-expansion-panel disabled="true">
            <mat-expansion-panel-header class="layer-panel-header">
              <mat-panel-title>
                Current Conditions (coming soon)
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </div>
        <div *ngIf="!translatedDataEnabled">
          <mat-expansion-panel disabled="true">
            <mat-expansion-panel-header class="layer-panel-header">
              <mat-panel-title>
                Current Conditions (coming soon)
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </div>
          
        <div *ngIf="!futureDataEnabled">
          <mat-expansion-panel disabled="true">
            <mat-expansion-panel-header class="layer-panel-header">
              <mat-panel-title>
                Future Climate Stability (coming soon)
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </div>


                <!-- Ecosystem scores controls -->
        <!-- <ng-container *featureFlag="'unlaunched_layers'">
          <mat-expansion-panel expanded="false">
            <mat-expansion-panel-header class="layer-panel-header">
              <mat-panel-title>
                Ecosystem scores
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="layer-control-container flex-center">
              <mat-radio-group class="layer-radio-group" color="primary" [(ngModel)]="map.config.dataLayerConfig">
                <mat-radio-button (change)="conditionTreeRaw.toggleAllLayersOff();
                  conditionTreeNormalized.toggleAllLayersOff()"
                  color="primary"
                  [value]="noneDataLayerConfig">
                  All Layers Off
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-expansion-panel>
        </ng-container> -->
        
        <!-- Disturbances controls -->
        <ng-container *featureFlag="'unlaunched_layers'">
          <mat-expansion-panel disabled="true">
            <mat-expansion-panel-header class="layer-panel-header">
              <mat-panel-title>
                Disturbances
              </mat-panel-title>
              <mat-panel-description>
                Coming soon!
              </mat-panel-description>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </ng-container>

        <!-- HVRAs controls -->
        <ng-container *featureFlag="'unlaunched_layers'">
          <mat-expansion-panel disabled="true">
            <mat-expansion-panel-header class="layer-panel-header">
              <mat-panel-title>
                HVRAs
              </mat-panel-title>
              <mat-panel-description>
                Coming soon!
              </mat-panel-description>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
      </ng-container>

        <!-- Land types controls -->
        <ng-container *featureFlag="'unlaunched_layers'">
          <mat-expansion-panel disabled="true">
            <mat-expansion-panel-header class="layer-panel-header">
              <mat-panel-title>
                Land types
              </mat-panel-title>
              <mat-panel-description>
                Coming soon!
              </mat-panel-description>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
      </ng-container>

        <!-- Operability controls -->
        <ng-container *featureFlag="'unlaunched_layers'">
          <mat-expansion-panel disabled="true">
            <mat-expansion-panel-header class="layer-panel-header">
              <mat-panel-title>
                Operability
              </mat-panel-title>
              <mat-panel-description>
                Coming soon!
              </mat-panel-description>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
      </ng-container>

      </mat-accordion>
    </mat-tab>
  </mat-tab-group>
</div>
