@use 'sass:map';
@use '@angular/material' as mat;
@import "colors";

.controls-container {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 20px;
  width: 400px;
}

.title-container {
  margin-bottom: 24px;
  padding: 0px 24px 0px 24px;
}

h1 {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  margin: 0px;
  text-align: center;
}

h3 {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin: 0px;
  text-align: center;
}

.transparency-box {
  border: 1px solid #b3b3b3;
  border-radius: 8px;
  padding: 12px 16px;
}

// Styling for the buttons to switch between 1, 2, and 4 maps
.map-count-button-row {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.map-count-button {
  align-items: center;
  background-color: #f1eff2;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 28px;
  justify-content: center;
  margin-left: 2px;
  margin-right: 2px;
  width: 72px;
}

.map-count-button.selected {
  background-color: #e4e2e5;
}

.map-count-button-grid-row {
  display: flex;
  justify-content: center;
}

.map-count-button-grid-cell {
  border: 1px solid #656367;
  border-radius: 1px;
  box-sizing: border-box;
  height: 8px;
  margin-right: 1px;
  margin-bottom: 1px;
  width: 8px;
}

.layer-controls-divider {
  margin-bottom: 20px;
  margin-top: 20px;
}

.clear-all-button-wrapper {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #FFF;
  display: flex;
  justify-content: center;
  padding: 12px;
}

.layer-control-container {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.layer-controls-tab-group {
  flex: 1;
  overflow-y: auto;
}

.layer-radio-group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.layer-single-radio-button {
  margin: 15px 0;
}

.layer-checkbox {
  margin: 15px 0;
}

.layer-panel-header {
  background-color: #d8d8d8 !important;
  font-size: 14px;
  font-weight: 700;
  height: 40px !important;
  line-height: 20px;
}

.flex-center {
  display: flex;
  justify-content: center;
}

// Overrides of Material component styles

::ng-deep .mat-radio-checked {
  label {
    color: $color-standard-blue;
  }
}

::ng-deep .mat-expansion-panel-body {
  padding-bottom: 0px !important;
}

// Workaround for unresolved Angular bug re: tab width on desktop
// (https://github.com/angular/components/issues/2829).
::ng-deep .mat-tab-label {
  min-width: 60px !important;
}

.region-wrapper {
  display: flex;
  padding: 0 24px 24px;
  align-items: center;
  justify-content: space-between;
}
