<mat-form-field appearance="outline" subscriptSizing="dynamic">
  <mat-chip-grid #chipList aria-label="Emails">
    <mat-chip-row
      class="custom-chip"
      *ngFor="let email of emails"
      (removed)="removeEmail.emit(email)">
      {{ email }}
      <button matChipRemove [attr.aria-label]="'remove ' + email">
        <mat-icon>close</mat-icon>
      </button>
    </mat-chip-row>
    <input
      cdkFocusInitial
      type="email"
      matInput
      [placeholder]="placeholder"
      [matChipInputFor]="chipList"
      [matChipInputAddOnBlur]="true"
      (matChipInputTokenEnd)="addIfValid($event)"
      [matChipInputSeparatorKeyCodes]="[13, 32]" />
  </mat-chip-grid>
</mat-form-field>
