@import "mixins";
@import "colors";

:host {
  display: block;
  // material overrides
  ::ng-deep {

    mat-form-field {
      display: block;
    }

    .mat-mdc-text-field-wrapper {
      margin: 0;
      gap: 4px;
      font-size: 14px;
      min-height: 40px;

      .mat-input-element {
        padding: 3px 0;
        line-height: 28px;
        margin: 0;
      }
    }

    .mdc-evolution-chip-set .mdc-evolution-chip {
      margin-left: 0;
      margin-right: 6px;
    }

    .mat-form-field-appearance-outline .mat-form-field-outline {
      top: 0;
    }

    .mat-form-field-infix {
      border-top-width: 4px;
      padding: 0;
    }

    .mat-select-arrow-wrapper {
      transform: none;
    }


    .custom-chip {
      --mdc-chip-container-height: 30px;
      --mdc-chip-elevated-container-color: $color-white;
      --mdc-chip-label-text-weight: 500;
      border: 1px solid $color-dark-gray;


      .mat-chip-remove {
        opacity: 0.9;
      }
    }

    &.mat-form-field-appearance-outline {
      .mat-form-field-wrapper {
        padding: 0;
        margin: 0;
      }

      .mat-form-field-flex {
        padding: 3px 8px;
        margin-top: 0;
      }
    }
  }
}
