<!-- Stand levels constraints -->
<sg-section headline="Stand Level Constraints (OPTIONAL)">
  <p class="stand-label">
    Set the conditions that must be met for ForSys to consider units for
    treatment.
  </p>

  <form [formGroup]="form">
    <mat-form-field
      class="stand-level-input"
      appearance="outline"
      floatLabel="always">
      <mat-label>Max slope</mat-label>
      <input
        class="step3-input"
        formControlName="max_slope"
        matInput
        type="number"
        [value]="37" />
      <span matSuffix class="suffix">%</span>
      <mat-error
        *ngIf="
          form.get('max_slope')?.touched &&
          form.get('max_slope')?.hasError('max')
        ">
        Slope cannot exceed 100
      </mat-error>
    </mat-form-field>

    <mat-form-field
      class="stand-level-input"
      appearance="outline"
      floatLabel="always">
      <mat-label>Distance from roads</mat-label>
      <input
        class="step3-input"
        formControlName="min_distance_from_road"
        matInput
        type="text"
        mask="separator"
        thousandSeparator=","
        [value]="" />
      <span matSuffix class="suffix">yds</span>
    </mat-form-field>
  </form>
</sg-section>
