<mgl-vector-source id="stands" [tiles]="[vectorLayerUrl]"></mgl-vector-source>

<mgl-layer
  id="outline-layer"
  type="line"
  source="stands"
  [paint]="{
    'line-color': 'black',
    'line-width': 3
  }"
  sourceLayer="project_area_outline"></mgl-layer>

<mgl-layer
  id="stands-layer"
  type="fill"
  source="stands"
  [paint]="paint"
  (layerClick)="clickOnLayer($event)"
  sourceLayer="treatment_plan_prescriptions"></mgl-layer>

<mgl-layer
  id="stands-layer-selected"
  type="fill"
  source="stands"
  [paint]="{
    'fill-color': 'green',
    'fill-opacity': 0.5
  }"
  sourceLayer="treatment_plan_prescriptions"
  [filter]="mapFilter"></mgl-layer>
