@import "../../../styles/colors";
@import "../../../styles/mixins";

.item {
  display: flex;
  gap: 48px;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid $color-soft-gray;
  margin-bottom: 16px;
  color: $color-md-gray;
}

.image-container {
  background-color: $color-light-gray;

  border-radius: 4px;
  overflow: hidden;
  width: 270px;
  flex-shrink: 0;
  color: $color-md-gray;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

sg-section {
  margin-bottom: 10px;

}


.option {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.with-margin {
  margin-left: 42px;
}

.highlight {
  padding: 10px 16px;
  border-radius: 4px;
  color: $color-main-blue;
  background-color: $color-soft-light-blue;
}

.error-message {
  color: $color-error;
  margin: 16px 0;
}

:host {
  ::ng-deep .mdc-form-field {
    width: 100%;

    & > label {
      flex: 1;
      padding: 8px 0;
      font-weight: bold;

    }

    .mdc-label:hover {
      background: none;
    }

  }
}
