@import "colors";
@import "mixins";
@import "media";

$breakpoint: 1200px;


.item {
  padding: 16px;
  border-radius: 4px;
  border: 1px solid $color-soft-gray;
  margin-bottom: 16px;
  color: $color-md-gray;
  @media screen and (min-width: $breakpoint) {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    justify-content: space-between;

  }

  &.selected {
    border: 1px solid $color-standard-blue;
    outline: 1px solid $color-standard-blue;
    background-color: $color-soft-light-blue;
  }
}

.image-container {
  background-color: $color-light-gray;
  border-radius: 4px;
  overflow: hidden;
  flex-shrink: 0;
  color: $color-md-gray;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  margin: 8px 0 0 40px;
  max-width: 270px;
  @media screen and (min-width: $breakpoint) {
    margin: 0;

  }

}

img {
  display: block;
  width: 100%; // fill available container space

}

sg-section {
  margin-bottom: 10px;

}


.option {
  display: flex;
  flex-direction: column;
  gap: 12px;
  @media screen and (min-width: $breakpoint) {
    max-width: 390px;
  }
}


.option-text {
  font-weight: 500;
  color: $color-md-gray;
}

.option-highlight {
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: 500;
  color: $color-main-blue;
  background-color: $color-soft-light-blue;
}

.error-message {
  color: $color-error;
  margin: 16px 0;
}

:host {
  ::ng-deep .mdc-form-field {
    align-items: flex-start;
    width: 100%;

    & > label {
      flex: 1;
      padding: 8px 0;
      font-weight: bold;

    }

    .mdc-label {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding-top: 9px;
    }

    .mdc-label:hover {
      background: none;
    }

  }
}
