@import "colors";
@import "mixins";

::ng-deep {
  .treatment-tooltip {
    @include public-sans();
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;

    .maplibregl-popup-content {
      background-color: $color-black;
      color: $color-white;
      padding: 8px 12px;
      border-radius: 8px;
    }

    // overriding tip colors for each corner

    &.maplibregl-popup-anchor-right .maplibregl-popup-tip {
      border-left-color: $color-black;
    }

    &.maplibregl-popup-anchor-left .maplibregl-popup-tip {
      border-right-color: $color-black;
    }

    &.maplibregl-popup-anchor-top .maplibregl-popup-tip {
      border-bottom-color: $color-black;
    }

    &.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
      border-top-color: $color-black;
    }

    // overriding tip color for diagonals
    &.maplibregl-popup-anchor-bottom-right {
      .maplibregl-popup-tip {
        border-top-color: $color-black;
      }

      .maplibregl-popup-content {
        border-bottom-right-radius: 0;
      }
    }

    &.maplibregl-popup-anchor-bottom-left {
      .maplibregl-popup-tip {
        border-top-color: $color-black;
      }

      .maplibregl-popup-content {
        border-bottom-left-radius: 0;
      }
    }

    &.maplibregl-popup-anchor-top-left {
      .maplibregl-popup-tip {
        border-bottom-color: $color-black;
      }

      .maplibregl-popup-content {
        border-top-left-radius: 0;
      }
    }

    &.maplibregl-popup-anchor-top-right {
      .maplibregl-popup-tip {
        border-bottom-color: $color-black;
      }

      .maplibregl-popup-content {
        border-top-right-radius: 0;
      }
    }

    .tooltip-title {
      color: $color-soft-gray;
      font-weight: 600;
      line-height: 14px; /* 116.667% */
      font-style: normal;
      margin-bottom: 4px;
    }
  }
}
