@import "colors";
@import "mixins";

$tooltip-background: #000000D9;

::ng-deep {
  .treatment-tooltip {
    @include public-sans();
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;


    .tooltip-title {
      color: $color-soft-gray;
      font-weight: 600;
      font-style: normal;
      white-space: nowrap;
    }

    .tooltip-content {
      display: grid;
      grid-template-columns: 120px 1fr;
      gap: 8px 0;
    }
  }
}
