@import "colors";
@import "mixins";

:host {
  display: flex;
  height: 100%;
}

.validation-result-container {
  display: flex;
  background-image: url('/assets/jpg/planscape-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  position: relative;
}

.validation-result-subcontainer {
  flex-direction: column;
  margin: auto;
  margin-top: 30%;
  width: 60%;
  max-width: 600px;
  display: flex;
}

.validation-result-card {
  gap: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 40px 60px 40px 60px;
  border: 1px;
  border-color: $color-original-purple-50pct;
  border-style: solid;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px #00000040;
  text-align: left;
}

h2 {
  @include h2();

  &.title {
    color: $color-dark-gray;
  }
}

p.regular {
  @include regular-paragraph();
  color: $color-dark-gray;
}

.info-text-container {
  background-color: $color-soft-purple;
  display: flex;
  justify-content: center;
  width: 50%;
  background-image: url('/assets/svg/waves-large.svg');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 50%;
}


@media screen and (max-width: 840px) {
  :host {
    display: flex;
    flex-direction: column;
    gap: 10%;
    height: fit-content;
  }

  .validation-result-container {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 48px);
  }

  .validation-result-subcontainer {
    width: 80%;
  }

  .validation-result-card {
    padding: 40px 4% 40px 4%;
  }

  .about-container {
    width: 100%;
    height: 100%;
  }

  .signup-form-subcontainer {
    width: 90%;
  }

  .info-text-container {
    width: 100%;
  }

  .info-card {
    margin: 4%;
  }

  .credits-blurb {
    width: 100%;
  }
}
