<div class="validation-result-container">
  <div class="validation-result-subcontainer">
    <div class="validation-result-card">
      <h2 class="title">Account Validation</h2>
      <div *ngIf="isValidated" class="valid-token">
        <p class="regular">
          Your email address was validated. Please
          <a href="login/">click here</a>
          to continue.
        </p>
      </div>
      <div *ngIf="!isValidated" class="invalid-token">
        <p class="regular">This validation token was not recognized.</p>
      </div>
    </div>
  </div>
  <app-credits-blurb></app-credits-blurb>
</div>

<div class="info-text-container">
  <app-planscape-about></app-planscape-about>
</div>
