<div class="center-block">
  <section class="image-section">
    <img src="assets/svg/planscape-image.svg">
  </section>
  <section class="content-section">
    Different regions are associated with different datasets from the Regional Resource Kits.
    <br>Which region are you working on?
  </section>
  <section class="content-section">
    <div
      *ngFor="let region of regionButtons"
      class="region-button"
      (click)="setRegion(region)"
      [class.disabled]="!region.available">
      <div class="blank-region-icon"></div>
      <div class="region-label">{{ region.name }}</div>
    </div>
  </section>
</div>
