<h3 class="header">Layer info</h3>

<div class="content">
  <dl>
    <dt>Layer Name</dt>
    <dd>{{ layer.name || '--' }}</dd>

    <dt>Value Range</dt>
    <dd>
      @if (hasMinMax()) {
        {{ this.layer.item?.info?.stats?.[0]?.min | number: '1.0-0' }},
        {{ this.layer.item?.info?.stats?.[0]?.max | number: '1.0-0' }}
      } @else {
        --
      }
    </dd>

    <dt>Units</dt>
    <dd>
      @if (hasUnits()) {
        {{ getUnits() }}
      } @else {
        --
      }
    </dd>

    <dt>Source</dt>
    <dd>
      @if (hasSource()) {
        <a [href]="this.layer.item?.metadata?.['download']?.url">
          {{ this.layer.item?.metadata?.['download']?.name }}
        </a>
      } @else {
        --
      }
    </dd>

    <dt>Vintage Date</dt>
    <dd>
      @if (hasVintageDate()) {
        {{ this.layer.item?.metadata?.datestamp }}
      } @else {
        --
      }
    </dd>
  </dl>
</div>

<div class="footer" *ngIf="hasDownloadLink()">
  <a [href]="layer.item?.public_url">
    <i class="material-symbols-outlined">download</i> Download Dataset
  </a>
</div>
