@import 'colors';
@import 'mixins';

:host {
    @include xs-label();
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding-left: 1em;
    border-bottom: 1px;
    box-sizing: border-box;
    justify-content: flex-start;
    &.info {
        color: $color-main-blue;
        background-color: $color-soft-light-blue;
    }
    &.banner {
        @include small-paragraph();
        color: $color-dark-gray;
        background-color: $color-light-gray;
    }
    &.error {
      color: $color-dark-red;
      background-color: $color-light-red;
    }
    &.warning {
    color: $color-dark-red;
    }
    &.in-progress {
    color: $color-black;
    }
    &.complete {
        color: $color-black;
    }
  }

.right-icon {
    margin-left: auto;
    margin-right: 1em;
  }

.progress-icon {
    colord: $color-standard-blue;
}