@import 'colors';
@import 'mixins';

:host {
  @include xs-label();
  width: 100%;
  min-height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 14px;
  border-bottom: 1px;
  box-sizing: border-box;
  justify-content: flex-start;

  &.info {
    color: $color-main-blue;
    background-color: $color-soft-light-blue;
  }

  &.banner {
    @include small-paragraph();
    color: $color-dark-gray;
    background-color: $color-light-gray;
  }

  &.error {
    color: $color-dark-red;
    background-color: $color-light-red;
  }

  &.warning {
    color: $color-dark-yellow;
    background-color: $color-brand-soft-yellow;
  }

  &.in-progress {
    color: $color-black;
  }

  &.complete {
    color: $color-black;
  }

  // override material inputs and make them 100% with
}

.right-icon {
  margin-left: auto;
  margin-right: 1em;
}

.progress-icon {
  color: $color-standard-blue;
}

.leading-icon-box {
  width: 30px;
}

.leading-icon {
  width: 30px;
}

.message-content {
  line-height: 20px;
}
