<form [formGroup]="passwordForm" (submit)="onSubmit()">
  <mat-card-title>
    <button
      mat-icon-button
      aria-label="Return to Email Form"
      type="button"
      (click)="cancel.emit()"
      i18n-aria-label="returns back to email form">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span
      class="gmat-headline-5"
      i18n="Text asking user to enter account email">
      Sign in to your account
    </span>
  </mat-card-title>
  <mat-error class="mat-error" *ngIf="accountError">
    {{ accountError }}
  </mat-error>
  <div class="email-display">
    <div i18n="Text greeting user">Welcome</div>
    <div class="gmat-body-1">{{ email }}</div>
  </div>
  <mat-form-field class="password-input" appearance="outline">
    <mat-label i18n="Label for password input box">Password</mat-label>
    <input
      matInput
      type="password"
      aria-label="password"
      formControlName="password"
      i18n-aria-label="password"
      required />
    <mat-error *ngIf="passwordControl.hasError('required')">
      {{ REQUIRED_ERROR }}
    </mat-error>
    <mat-error *ngIf="passwordControl.hasError('invalid')">
      {{ INVALID_ERROR }}
    </mat-error>
    <mat-error *ngIf="passwordControl.hasError('tooMany')">
      {{ TOO_MANY_ERROR }}
    </mat-error>
    <mat-error *ngIf="passwordControl.hasError('unknown')">
      {{ UNKNOWN_ERROR }}
    </mat-error>
  </mat-form-field>
  <mat-card-actions>
    <a
      mat-flat-button
      i18n="Text on a button to reset password"
      (click)="resetPassword()">
      Forgot password
    </a>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      i18n="Text on a button for next step"
      [disabled]="!passwordForm.valid">
      Sign in
    </button>
  </mat-card-actions>
</form>
