@import "colors";
@import "mixins";

:host {
  display: flex;
  height: 100%;
}

.forget-password-container {
  background-image: url('/assets/jpg/planscape-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 50%;
  position: relative;
}

.forget-password-subcontainer {
  flex-direction: column;
  margin: auto;
  height: 400px;
  width: 500px;
  padding: 20px 0px 20px 0px;
  gap: 20px;
  display: flex;
  margin-top: 6%;
}

.planscape-white-logo {
  margin: auto;
  height: 42px;
  width: 246px;
}

.forget-password-card {
  align-items: stretch;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 40px 60px 40px 60px;
  width: 300px;
  height: 330px;
  border: 1px $color-original-purple-50pct solid;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

h1 {
  @include h1();

  &.title {
    margin-bottom: 30px;
    text-align: center;
    color: $color-dark-gray;
  }
}

/*standard label*/
.standard-label {
  @include standard-input-label();
  color: $color-dark-gray;
}

.required-blurb {
  @include italic-sm();
}

mat-form-field {
  width: 100%;
}

.reset-form-buttons {
  @include button-text;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.cancel-button {
  background-color: white;
}

.info-text-container {
  background-color: $color-soft-purple;
  width: 50%;
}

@media screen and (max-width: 840px) {
  :host {
    gap: 10%;
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }

  .forget-password-container {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 48px);
  }

  .info-text-container {
    position: relative;
    width: 100%;
  }

  .credits-blurb {
    width: 100%;
  }

}
