@import "mixins";

.title {
  @include xs-label();
  border-bottom: 1px solid black;
  padding: 8px 8px 8px 14px;
  cursor: pointer;
  display: flex;
  align-items: center;

  &::before {
    display: block;
    width: 20px;
    height: 20px;
    content: '';
    background: url('data:image/svg+xml,<svg width="5" height="10" viewBox="0 0 5 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.333313 9.16683V0.833496L4.49998 5.00016L0.333313 9.16683Z" fill="black" /></svg>') no-repeat 50% 50%;
    background-size: 6px;
  }

  &.open {
    &::before {
      transform: rotate(90deg);
    }
  }
}


.base-options {
  padding: 16px 14px;
}
