<div class="summary-panel">
  <div class="summary-header">
    <div class="summary-title">Shiba Inu</div>
    <div class="summary-subtitle">Status: Cute</div>
  </div>
  <div class="summary-content">
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>

    <div class="grid-container">
      <div class="grid-item">
        <span class="grid-title">Poor</span>
        <span class="grid-subtitle">current condition</span>
      </div>
      <div class="grid-item">
        <span class="grid-title">Leaning Good</span>
        <span class="grid-subtitle">future condition</span>
      </div>
      <div class="grid-item">
        <span class="grid-title">123456</span>
        <span class="grid-subtitle">acres</span>
      </div>
      <div class="grid-item">
        <span class="grid-title">0</span>
        <span class="grid-subtitle">scenarios</span>
      </div>
    </div>
  </div>
  <div class="summary-footer">
    <div class="summary-actions">
      <button mat-flat-button>Share</button>
      <button mat-flat-button>Subscribe</button>
    </div>
  </div>
</div>
