<h2>{{ feature?.properties.PROJECT_NAME }}</h2>
<div>Project status: {{ feature?.properties.PROJECT_STATUS }}</div>
<div>Project start date: {{ feature?.properties.PROJECT_START_DATE | date }}</div>
<div>Project end date: {{ feature?.properties.PROJECT_END_DATE | date }}</div>
<div>Last updated: {{ feature?.properties.LAST_UPDATED | date }}</div>
<div>Project type: {{ feature?.properties.PROJECT_TYPE }}</div>
<div>Region: {{ feature?.properties.REGION }}</div>
<div>Unit: {{ feature?.properties.UNIT }}</div>
<div>Treatment: {{ feature?.properties.TREATMENT_NAME }}</div>
<div>Treatment objective: {{ feature?.properties.TREATMENT_OBJECTIVE }}</div>
<div>Activity status: {{ feature?.properties.ACTIVITY_STATUS }}</div>
