<div class="detail-card">
  <mat-card *ngFor="let project of projects">
    <mat-card-title-group>
      <mat-card-title>{{ project.PROJECT_NAME }}</mat-card-title>
      <mat-card-subtitle>
        Project ({{ project.PROJECT_STATUS }}) &#8226;
        {{ project.PROJECT_START_DATE | date }} -
        {{ project.PROJECT_END_DATE | date }}
      </mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <p>Last updated: {{ project.LAST_UPDATED | date }}</p>
      <p>Project type: {{ project.PROJECT_TYPE }}</p>
      <p>Region: {{ project.REGION }}</p>
      <p>Unit: {{ project.UNIT }}</p>
      <p>Treatments here:</p>
      <ul>
        <li *ngFor="let treatment of project.treatments">
          <b>{{ treatment.TREATMENT_NAME }}</b>
          ({{ treatment.ACTIVITY_STATUS }}): {{ treatment.TREATMENT_OBJECTIVE }}
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
