<div *ngIf="(colorLegendInfo$ | async) as colorLegendInfo" class="layer-color-legend">
  <div class="legend-title">
    {{ title }}
  </div>

  <div *ngIf="colorLegendInfo.map_type === 'RAMP'">
    <div *ngFor="let c of colorDetails" class="legend-line">
      <div class="swatch-box" [ngStyle]="{ 'background-color': c.colorHex }"></div>
      <div class="swatch-label">
        {{ c.entryLabel }}
      </div>
    </div>
  </div>

  <div *ngIf="colorLegendInfo.map_type === 'INTERVAL'">
    <div *ngFor="let c of colorDetails" class="legend-line">
      <div class="swatch-box" [ngStyle]="{ 'background-color': c.colorHex }"></div>
      <div class="swatch-label">
        {{ c.entryLabel }}
      </div>
    </div>
  </div>
</div>