@import 'mixins';
@import 'colors';
@import "media";

:host {
  @include xs-label();
  align-items: flex-start;
  background-color: white;
  border-radius: 4px;
  border: 1px solid $color-soft-gray;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  height: 140px;
  justify-content: space-evenly;
  padding: 16px 0 16px 16px;
  width: 100%;

  &:hover {
    background-color: $color-light-gray;
    cursor: pointer;
  }

  &.selected {
    border: 1px $color-original-purple solid;
    background-color: white;
  }

  &.disabled-content {
    color: $color-text-gray;
    border: 1px solid $color-soft-gray;
    background-color: white;
    cursor: default;
  }

  .title-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    align-items: center;
    gap: 1em;
  }


  .scenario-name {
    @include h4();
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }

  .controls-section {
    display: flex;
    flex-direction: row;
    gap: 2px;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
  }

  h4 {
    @include h4();
  }

  .error-icon {
    color: $color-error;
    font-size: 18px;
    line-height: 32px;
    top: 4px;
    position: relative;
  }

  .failed-message {
    @include small-paragraph();
    height: 100%;
  }

  .more-button {
    border: none;
    background-color: white;
  }

  .scenario-more-menu {
    width: 140px;
  }

  .detail-row {
    display: flex;
    flex-direction: row;
    gap: 2em;
    white-space: nowrap;
    padding-right: 16px;
  }

  .detail-header {
    @include top-level-label();
    font-size: 14px;
    color: $color-md-gray;
    text-transform: uppercase;
    text-align: left;
  }

  .detail-column {
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    &.hide-on-small {
      @include on-small() {
        display: none;
      }
    }
  }

  .detail-info {
    @include xs-label();
  }

  .more-menu-button {
    border: none;
    background-color: inherit;
  }
}


new-treatment-btn {
  @include on-small() {
    display: none;
  }
}


::ng-deep .scenario-more-menu .mat-icon {
  margin-right: 8px;
  height: 20px;
  width: 20px;
  font-size: 20px;
}

::ng-deep .scenario-more-menu .mat-mdc-menu-panel {
  width: 140px;
}
