<div class="title-row" [ngClass]="{ 'disabled-content': isRunning() }">
  <div class="title-section">
    <div class="name-header">
      {{ scenario.name }}
    </div>

    <sg-status-chip
      [status]="getChipStatus()"
      class="title-chip"></sg-status-chip>
    <div *ngIf="hasFailed()" class="failed-message">
      <mat-icon class="error-icon">error</mat-icon>
      Create a new scenario to proceed to treatment plan
    </div>
  </div>
  <div class="controls-section" *ngIf="!hasFailed()">
    <button sg-button icon="add" [disabled]="isDone()">
      New Treatment Plan
    </button>
    <button
      mat-icon-button
      [disabled]="isRunning()"
      [matMenuTriggerFor]="menu"
      aria-label="more scenario Options"
      class="more-menu-button">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item class="delete-note-button">
        <mat-icon class="delete-icon">delete_outline</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
  </div>
</div>

<div class="detail-row" [ngClass]="{ 'disabled-content': isRunning() }">
  <div class="detail-column">
    <div class="detail-header">Creator</div>
    <div class="detail-info">
      {{ scenario.creator }}
    </div>
  </div>
  <div *ngIf="!isRunning()" class="detail-column">
    <div class="detail-header">Areas</div>
    <div class="detail-info">{{ getAreasCount() }}</div>
  </div>
  <div *ngIf="!isRunning()" class="detail-column">
    <div class="detail-header">Est Budget</div>
    <div class="detail-info">{{ getBudget() | currency }}</div>
  </div>
  <div *ngIf="!isRunning()" class="detail-column">
    <div class="detail-header">Treatment Plans</div>
    <div class="detail-info">{{ getTreatmentPlansCount() }}</div>
  </div>
  <div *ngIf="!isRunning()" class="detail-column">
    <div class="detail-header">Created</div>
    <div class="detail-info">
      {{ scenario.created_at | date: 'MMM d, y, h:mm:ss a ' }}
    </div>
  </div>
</div>
