<ng-container class="scenario-content">
  <div class="title-row">
    <div class="title-section">
      <div class="name-header">{{ scenario.name }}</div>
      <div><sg-status-chip></sg-status-chip></div>
    </div>
    <div class="controls-section">
      <button sg-button icon="add">New Treatment Plan</button>
      <button mat-icon-button aria-label="Scenario options" class="more-button">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>

  <div class="detail-row">
    <div class="detail-column">
      <div class="detail-header">Creator</div>
      <div class="detail-info">{{ scenario.creator }}</div>
    </div>
    <div class="detail-column">
      <div class="detail-header">Areas</div>
      <div class="detail-info">{{ scenario.area_count }}</div>
    </div>
    <div class="detail-column">
      <div class="detail-header">Est Budget</div>
      <div class="detail-info">{{ scenario.est_budget }}</div>
    </div>
    <div class="detail-column">
      <div class="detail-header">Treatment Plans</div>
      <div class="detail-info">{{ scenario.treatment_plans_count }}</div>
    </div>
    <div class="detail-column">
      <div class="detail-header">Created</div>
      <div class="detail-info">{{ scenario.created_at }}</div>
    </div>
  </div>
</ng-container>
