<app-direct-impacts-map
  year="five"
  (mapCreated)="mapCreated($event)"></app-direct-impacts-map>
<app-direct-impacts-map
  year="ten"
  (mapCreated)="mapCreated($event)"></app-direct-impacts-map>
<app-direct-impacts-map
  year="fifteen"
  (mapCreated)="mapCreated($event)"></app-direct-impacts-map>
<app-direct-impacts-map
  year="twenty"
  (mapCreated)="mapCreated($event)"></app-direct-impacts-map>
<div class="attribution">
  <a href="https://maplibre.org/" target="_blank">MapLibre</a> |
  <a href="https://www.mapbox.com/about/maps" target="_blank">© Mapbox</a
  >&nbsp;<a href="https://www.openstreetmap.org/about/" target="_blank"
    >© OpenStreetMap</a
  >
</div>
