@import 'mixins';

.list {
  display: grid;
  row-gap: 12px;
  margin: 0;

  &-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 8px;
    row-gap: 8px;
  }

  &-label {
    flex: 0 0 auto;
    @include small-input-label();
    color: $color-md-gray;
    margin: 0;
  }

  &-value {
    flex: 1 1 200px;
    @include small-input-label();
    font-weight: 600;
    color: $color-black;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.capitalize {
  text-transform: lowercase;

  &::first-letter {
    text-transform: uppercase;
  }
}
