<sg-section [isCollapsible]="false">
  <dl class="list">
    <div class="list-row" *ngIf="planningApproach">
      <dt class="list-label">Planning Approach:</dt>
      <dd class="list-value">{{ planningApproach }}</dd>
    </div>

    <div class="list-row" *ngIf="standSize">
      <dt class="list-label">Stand Size:</dt>
      <dd class="list-value">
        <img src="../../../assets/svg/icons/stand_size.svg" alt="Stand size" />
        <span class="capitalize"
          >{{ standSize }} ({{
            standSizeOptions[standSize].acres + ' acres'
          }})</span
        >
      </dd>
    </div>

    <div class="list-row" *ngIf="treatmentGoal">
      <dt class="list-label">Treatment Goal:</dt>
      <dd class="list-value">{{ treatmentGoal }}</dd>
    </div>

    <div class="list-row" *ngIf="priorityObjective">
      <dt class="list-label">Priority Objective(s):</dt>
      <dd class="list-value">{{ priorityObjective }}</dd>
    </div>
  </dl>
</sg-section>
