dj-rest-auth~=3.0.0
django~=4.1.1
django-allauth~=0.53.1
django-cors-headers
django-crontab
django-filter~=21.1.0
django-leaflet
django-lockdown
djangorestframework~=3.13.1
djangorestframework-gis~=0.18.0
djangorestframework-simplejwt~=5.2.2
numpy
pandas
psycopg2>=2.9.3
python-decouple==3.6
rasterio
rasterstats
typing_extensions
uwsgi
memory-profiler
boto3
pytz
sentry-sdk
django-password-policies-validator>=1.0.2
black==23.7.0
humanize==4.8.0
shapely==2.0.2
fiona==1.9.5
celery==5.3.6
redis==5.0.1
kombu==5.3.4
shortuuid==1.0.11
