dj-rest-auth~=3.0.0
django~=4.1.1
django-allauth~=0.53.1
django-cors-headers
django-filter~=21.1.0
django-leaflet
django-lockdown
djangorestframework~=3.13.1
djangorestframework-gis~=0.18.0
djangorestframework-simplejwt~=5.2.2
dumper
numpy
pandas
psycopg2>=2.9.3
pymemcache
python-decouple==3.6
rasterio
rpy2==3.5.6
typing_extensions
uwsgi
memory-profiler
scikit-learn
boto3
pytz
scipy
sentry-sdk
django-password-policies-validator>=1.0.2
black==23.7.0
humanize==4.8.0
shapely==2.0.2
fiona==1.9.5