@import 'colors';
@import 'mixins';

:host {
  @include public-sans();
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  background-color: rgba($color-black, 0.5);
  border-radius: 4px;
  padding: 16px;
  color: $color-white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 260px;
  box-sizing: border-box;
}

.legend {
  display: inline-flex;
  align-items: center;

  &-text {
    display: inline-flex;
    align-items: center;
    gap: 4px;

    .info-icon {
      color: $color-white;
      font-size: 18px;
      cursor: default;
    }
  }

  & + div {
    margin-top: 6px;
  }

  &.icon {
    &:before {
      content: '';
      width: 14px;
      height: 14px;
      background-color: $color-dark-gray;
      margin-right: 10px;
      flex-shrink: 0;
    }
  }

  // icon colors
  &.blue {
    &:before {
      background-color: $color-standard-blue;
    }
  }

  &.magenta {
    &:before {
      background-color: $color-dark-magenta;
    }
  }

  &.pattern {
    &:before {
      // placeholder, not actual final pattern!
      background-color: $color-light-magenta;
      background-image: url('/assets/png/patterns/stripes-black.png');
    }
  }

  &.pattern-gray {
    &:before {
      background-color: $color-text-gray;
      background-image: url('/assets/png/patterns/stripes-black.png');
    }
  }
}

::ng-deep .legend-tooltip {
  --mdc-plain-tooltip-container-color: rgba(0, 0, 0, 0.7);
  --mdc-plain-tooltip-supporting-text-color: #fff;
}
