<mat-dialog-content class="validation-email-dialog">
  <img src="{{ checkUrl }}" alt="" />
  <h3
    class="gmat-headline-3"
    i18n="Title text for dialog confirming validation email sent">
    Validation email sent
  </h3>
  <p
    class="gmat-body-1"
    i18n="Text indicating email sent to user to validate their account">
    Please check your email to confirm your account.
    <br />
    Note that this confirmation email will only be valid for 3 days.
  </p>
  <p class="gmat-body-1" i18n="Text for resending validation email">
    Didn't receive an email? Pease click
    <a clickable [routerLink]="[]" (click)="resendEmail()">here</a>
    to re-send.
  </p>
</mat-dialog-content>
<mat-dialog-actions class="dialog-button-container">
  <button
    mat-raised-button
    color="primary"
    (click)="close()"
    i18n="Button to acknowledge and close the validation email dialog">
    OK
  </button>
</mat-dialog-actions>
