@import 'colors';

.flex-row {
  align-items: center;
  display: flex;
  gap:12px;
}

.input-field {
  margin: 10px;
}

.error-message {
  color: $color-error;
  margin: 0;
}

.error {
  color: $color-error;
}

