@import 'colors';

.flex-row {
  align-items: center;
  display: flex;
  gap:12px;
    margin-bottom: 10px;
}

.input-field {
  padding-top: 4px;
  width: 180px;
  border: black;

  &.disabled {
    opacity: 0.6;
  }
}

.right-align {
  text-align: right;
}

.error-message {
  color: $color-error;
  margin: 0;
}

.error {
  color: $color-error;
}

