@import "mixins";
@import "colors";


:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.step {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
}

.actions {
  display: flex;
  gap: 8px;
  background-color: white;
  border-top: 1px solid $color-fields-gray;
  padding: 16px;
  align-items: center;
  justify-content: flex-end;
}

.step-count {
  color: $color-md-gray;
  margin-right: auto;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.clear-btn {
  margin-right: auto;
}
