<div class="step" cdkScrollable>
  <ng-content select="[sharedHeading]"></ng-content>
  <ng-container
    *ngIf="selected"
    [ngTemplateOutlet]="selected.content"></ng-container>
</div>

<div class="actions" *ngIf="showActions">
  <div class="step-count" *ngIf="showStepIndex">
    Step {{ selectedIndex + 1 }} of {{ steps.length }}
  </div>
  <button
    class="clear-btn"
    *ngIf="showStepIndex === false && (viewedDataLayer$ | async)"
    sg-button
    (click)="clearDataLayer()"
    variant="text">
    Clear Map
  </button>
  <button sg-button [disabled]="selectedIndex === 0" (click)="goBack()">
    {{ backLabel }}
  </button>
  <button
    sg-button
    (click)="goNext()"
    variant="primary"
    [disabled]="savingStep || disabled"
    [loading]="savingStep">
    {{ isLastStep ? finishLabel : continueLabel }}
  </button>
</div>
