<div class="summary-panel">
  <div class="summary-header">
    <div class="summary-title">About the area</div>
  </div>
  <div class="summary-content">
    <div class="grid-container">
      <div class="grid-item">
        <span class="grid-title">{{ summaryInput?.acres }}</span>
        <span class="grid-subtitle">acres</span>
      </div>
      <div class="grid-item">
        <span class="grid-title">{{ summaryInput?.configs }}</span>
        <span class="grid-subtitle">configs</span>
      </div>
      <div class="grid-item">
        <span class="grid-title">{{ summaryInput?.scenarios }}</span>
        <span class="grid-subtitle">scenarios</span>
      </div>
    </div>

    <div class="summary-info">
      <div>Region: {{ summaryInput?.region }}</div>
      <div>Creator: {{ summaryInput?.owner }}</div>
      <div>Created: {{ summaryInput?.createdTime | date: 'MM/dd/yyyy' }}</div>
      <div>Last activity: Unavailable</div>
    </div>
  </div>
  <div class="summary-footer">
    <!-- TODO: Add action buttons seen in new mocks. -->
    <div class="summary-actions"></div>
  </div>
</div>
