.plan-map {
  height: 100%;
}

.plan-map-wrapper {
  height: 300px;
}

.summary-panel {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  padding: 24px;
  position: absolute;
  width: 300px;
}

.summary-title {
  font-family: "Google Sans";
  font-size: 24px;
  margin: 20px 0 10px;
}

.summary-subtitle {
  color: #5F6368;
  font-family: "Google Sans";
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.25px;
  margin-bottom: 5px;
}

.summary-content {
  color: #5F6368;
  font-size: 12px;
  letter-spacing: 0.3px;
  gap: 50px;
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 16px 0 0;
}

.grid-item {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.grid-title {
  color: #455a64;
  font-size: 20px;
}

.summary-info {
  margin-top: 5px;
}

.summary-footer {
  margin-top: auto;
}

.notes {
  width: 100%;
  height: 100%;
  resize: none;
}

.notes-title {
  margin-left: 10px;
  margin-bottom: 2px;
  font-size: medium;
}

:host {
  ::ng-deep .mat-form-field {
    width: 100%;
    height: 200px;
  }

  ::ng-deep .mat-form-field-flex {
    height: 200px;
  }

  ::ng-deep .mat-form-field-infix {
    height: 90%
  }

  ::ng-deep .mat-form-field-underline {
    display: none;
  }
}