<div class="summary-panel">
  <div class="summary-header">
    <div class="summary-title">About the area</div>
  </div>
  <div class="summary-content">
    <div>
      <div class="grid-container">
        <div class="grid-item">
          <span class="grid-title">{{ summaryInput?.acres }}</span>
          <span class="grid-subtitle">acres</span>
        </div>
        <div class="grid-item">
          <span class="grid-title">{{ summaryInput?.scenarios }}</span>
          <span class="grid-subtitle">scenarios</span>
        </div>
      </div>

      <div class="summary-info">
        <div>Region: {{ summaryInput?.region }}</div>
        <br />
        <div>Creator: {{ summaryInput?.owner }}</div>
        <div>Created: {{ summaryInput?.createdTime | date: 'MM/dd/yyyy' }}</div>
        <div>
          Last activity: {{ summaryInput?.lastUpdated | date: 'MM/dd/yyyy' }}
        </div>
      </div>
    </div>
    <div>
      <!-- TODO Add ability to save notes and load in existing notes -->
      <div class="notes-title">Notes</div>
      <mat-form-field class="notes-wrapper" appearance="fill">
        <mat-label>Type notes here</mat-label>
        <textarea class="notes" matInput></textarea>
      </mat-form-field>
    </div>

    <div class="plan-map-wrapper">
      <app-plan-map
        class="plan-map small"
        [plan]="plan"
        [mapId]="'planning-map'"
        [mapPadding]="[20, 0]"
        [showAttributionAndZoom]="false"></app-plan-map>
    </div>
  </div>
</div>
