<sg-section
  class="treatment-step"
  headline="Treatment Target"
  [required]="true"
  tooltipContent="You can set a treatment target that ForSys will aim to achieve in your scenario.
  You may specify the maximum number of acres to be treated, and ForSys will create project areas to reach this target.
  Alternatively, you can set a maximum budget and adjust the treatment cost per acre, and ForSys will design project areas to fit within that budget.">
  <p class="section-label">
    Set treatment targets that ForSys will use to create project areas meeting
    your desired acreage or budget.
  </p>
  <form *ngIf="form" [formGroup]="form!">
    <div
      class="error-message"
      *ngIf="form?.touched && form.hasError('budgetOrAreaRequired')">
      Please enter a budget or max acres to be treated
    </div>
    <div>
      <mat-form-field
        class="input-field"
        appearance="outline"
        floatLabel="always">
        <mat-label>Max acres to be treated</mat-label>
        <input
          class="right-align"
          formControlName="max_area"
          type="text"
          mask="separator"
          thousandSeparator=","
          (focus)="focusedSelection = 'max_area'"
          (input)="toggleMaxAreaAndMaxBudget()"
          matInput />
      </mat-form-field>
      <div class="help-placeholder">
        <div
          class="help-text"
          *ngIf="focusedSelection === 'max_area'"
          [ngClass]="{
            error:
              form.get('max_area')?.invalid && form.get('max_area')?.touched,
          }">
          Max acres needs to be between
          {{ minMaxAreaValue | number: '1.0-0' }} and
          {{ maxMaxAreaValue | number: '1.0-0' }}
        </div>
      </div>
    </div>
    <div class="or-divider">OR</div>
    <div class="flex-row">
      <div>
        <mat-form-field
          class="input-field"
          appearance="outline"
          floatLabel="always">
          <mat-label>Max Budget</mat-label>
          <input
            id="maxBudget"
            class="right-align max-budget"
            formControlName="max_budget"
            matInput
            type="text"
            mask="separator"
            thousandSeparator=","
            (focus)="focusedSelection = 'max_budget'"
            (input)="toggleMaxAreaAndMaxBudget()"
            [errorStateMatcher]="budgetStateMatcher" />
          <span matPrefix class="prefix">$&nbsp;</span>
        </mat-form-field>
      </div>

      <mat-form-field
        class="input-field"
        appearance="outline"
        floatLabel="always">
        <mat-label>Treatment cost</mat-label>
        <input
          id="estimatedCost"
          class="right-align treatment-cost"
          formControlName="estimated_cost"
          matInput
          type="text"
          mask="separator"
          thousandSeparator="," />
        <span matSuffix class="suffix">/acre</span>
      </mat-form-field>
    </div>
    <div class="help-placeholder">
      <div
        class="help-text"
        *ngIf="focusedSelection === 'max_budget'"
        [ngClass]="{
          error:
            form.hasError('notEnoughBudget') && form.get('max_budget')?.touched,
        }">
        Budget needs to be at least
        {{ minBudgetValue | currency: 'USD' : 'symbol' : '1.0-0' }}
      </div>
    </div>
  </form>
</sg-section>
