@import 'colors';
@import 'mixins';

.flex-row {
  align-items: center;
  display: flex;
  gap: 20px;
}

.section-label {
  margin: 0 0 8px 0;
}

.input-field {
  padding-top: 4px;
  width: 180px;
  border: black;

  &.disabled {
    opacity: 0.6;
  }
}

.right-align {
  text-align: right;
}

.error-message {
  color: $color-error;
  margin: 0;
  height: 20px;
  line-height: 12px;
}

.error {
  color: $color-error;
}

.help-placeholder {
  height: 28px;
  line-height: 28px;
}

.or-divider {
  @include public-sans();
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  height: 30px;
}

.prefix {
  padding-left: 8px;
}

.suffix {
  padding-right: 10px;
}

::ng-deep .treatment-step {
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  .mat-mdc-form-field-icon-suffix {
    width: 80px;
  }

  .mdc-text-field__input {
    padding-top: 12px;
  margin-right: 2px;
  padding-bottom: 12px;
  }
}
