$color-black: #000;
$color-soft-gray: #e1e1e1;
$color-dark-gray: #4a4a4a;
$color-md-gray: #767575;
$color-md-gray-disabled: #b9b9b9;
$color-text-gray: #898989;
$color-text-dark: #202124;
$color-fields-gray: #e1e1e1;
$color-light-gray: #f4f4f4;
$color-white: #fff;
$color-error: #d50000;
$color-standard-blue: #064bba;
$color-standard-blue-50pct: #064bba80;
$color-original-purple: #4854c0;
$color-original-purple-50pct: #4854c080;
$color-soft-purple: #e6e8f3;
$color-soft-purple-30pct: #e6e8f34d;
$color-main-blue: #123d81;
$color-main-yellow: #ffcd66;
$color-orange: #eb7f31;
$color-light-blue: #82d8fd;
$color-highlight: #fff966;
$color-soft-highlight: #fffdd2;
$color-highlight-30pct: #fff9664d;
$color-brand-teal: #356a72;
$color-brand-green: #344f42;
$color-brand-soft-green: #dfede6;
$color-brand-soft-orange: #eb8573;
$color-brand-soft-yellow: #edd9a4;
$color-drop-shadow: #00000040;
$color-dark-red: #9e0000;
$color-light-red: #fee2e2;
$color-dark-yellow: #614100;
$color-soft-light-blue: #e9f1ff;
$color-purple: #7946e6;
