$color-black: #000;
$color-soft-gray: #E1E1E1;
$color-dark-gray: #4A4A4A;
$color-md-gray: #767575;
$color-text-gray: #898989;
$color-text-dark: #202124;
$color-fields-gray: #E1E1E1;
$color-light-gray: #F4F4F4;
$color-white: #FFF;
$color-error: #D50000;
$color-standard-blue: #064BBA;
$color-original-purple: #4854C0;
$color-original-purple-50pct: #4854C080;
$color-soft-purple: #E6E8F3;
$color-soft-purple-30pct: #E6E8F34D;
$color-main-blue: #123D81;
$color-main-yellow: #FFCD66;
$color-orange: #EB7F31;
$color-light-blue: #82D8FD;
$color-highlight: #FFF966;
$color-highlight-30pct: #fff9664d;
$color-brand-teal: #356A72;
$color-brand-green: #344F42;
$color-brand-soft-green: #DFEDE6;
$color-brand-soft-orange: #EB8573;
$color-brand-soft-yellow: #EDD9A4;
$color-drop-shadow: #00000040;
$color-dark-red: #9E0000;
$color-light-red: #FEE2E2;
$color-dark-yellow: #614100;
$color-soft-light-blue: #E9F1FF;
