@import 'colors';
@import 'mixins';

a {
  @include standard-link();
  color: $color-standard-blue;
  text-decoration: none;

  &:hover {
    text-decoration-line: underline;
  }

  &:visited {
    color: $color-purple;
  }

  &:disabled {
    color: $color-md-gray;
  }
}
