$breakpoint_xxl: 1500px;
$breakpoint_xl: 1366px;
$breakpoint_lg: 840px;
$breakpoint_md: 768px;

@mixin on-extra-extra-large() {
  @media screen and (min-width: $breakpoint_xxl) {
    @content;
  }
}

@mixin on-extra-large() {
  @media screen and (min-width: $breakpoint_xl) {
    @content;
  }
}

@mixin on-large() {
  @media screen and (min-width: $breakpoint_lg) {
    @content;
  }
}

@mixin on-small() {
  @media screen and (max-width: $breakpoint_lg) {
    @content;
  }
}

@mixin on-medium() {
  @media screen and (min-width: $breakpoint_md) {
    @content;
  }
}

