/*
Typography mixins.
Declare mixins based on styleguide and apply to classes
*/

@use 'sass:map';
@import "theme";

// helper mixin to parse and use `mat.define-typography-level` results
@mixin defToStyles($definition) {
  font-size: map.get($definition, 'font-size');
  line-height: map.get($definition, 'line-height');
  font-weight: map.get($definition, 'font-weight');
  letter-spacing: map.get($definition, 'letter-spacing');
}


@mixin button-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
}

@mixin italic-sm {
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  line-height: 22px;
}

@mixin important-paragraph {
  @include defToStyles(map.get($styleguide, 'important-paragraph'))
}

@mixin regular-paragraph {
  @include defToStyles(map.get($styleguide, 'regular-paragraph'))
}

@mixin small-paragraph {
  @include defToStyles(map.get($styleguide, 'small-paragraph'))
}

@mixin small-input-label {
  @include defToStyles(map.get($styleguide, 'standard-label-sm'))
}

@mixin xs-label {
  @include defToStyles(map.get($styleguide, 'xs-label'))
}

@mixin standard-input-label {
  @include defToStyles(map.get($styleguide, 'standard-input-label'))
}

@mixin standard-label {
  @include defToStyles(map.get($styleguide, 'standard-label'))
}


@mixin standard-label-bold {
  @include standard-label();
  font-weight: 600;
}

@mixin standard-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0;
}

@mixin h1 {
  @include defToStyles(map.get($styleguide, 'header-1'))
}

@mixin h2 {
  @include defToStyles(map.get($styleguide, 'header-2'))
}

@mixin h3 {
  @include defToStyles(map.get($styleguide, 'header-3'))
}

@mixin h4 {
  @include defToStyles(map.get($styleguide, 'header-4'))
}

@mixin h5 {
  @include defToStyles(map.get($styleguide, 'header-5'))
}

@mixin top-level-label {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}


@mixin standard-button {
  @include button-text();
  padding: 10px 8px 10px 8px;
  border-radius: 4px;
  gap: 10px;
}

@mixin button-disabled {
  background-color: $color-light-gray;
  color: $color-text-gray;
  border: 1px $color-text-gray solid;
}
