/*
Typography mixins.
Declare mixins based on styleguide and apply to classes
 */

@mixin public-sans() {
  font-family: Public Sans;
}

@mixin italic-sm {
  @include public-sans();
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  line-height: 22px;
}

@mixin standard-label {
  /* standard-label */
  @include public-sans();
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

@mixin standard-label-bold {
  @include standard-label();
  font-weight: 600;
}

@mixin h3 {
  @include public-sans();
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}


@mixin h4 {
  @include public-sans();
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

@mixin top-level-label {
  @include public-sans();
  font-size: 16px;
  font-weight: bold;
}

@mixin small-paragraph {
  @include public-sans();
  font-size: 14px;
  line-height: 22px;
}

@mixin p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px
}
