/*
Typography mixins.
Declare mixins based on styleguide and apply to classes
 */

@mixin public-sans() {
  font-family: Public Sans;
}

@mixin italic-sm {
  @include public-sans();
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  line-height: 22px;
}

@mixin important-paragraph {
  @include public-sans();
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
}

@mixin regular-paragraph {
  @include public-sans();
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0px;
}

@mixin small-paragraph {
  @include public-sans();
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0px;
}

@mixin standard-label {
  @include public-sans();
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

@mixin standard-link {
  @include public-sans();
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
}

@mixin standard-label-bold {
  @include standard-label();
  font-weight: 600;
}

@mixin h1 {
  @include public-sans();
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
}

@mixin h3 {
  @include public-sans();
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

@mixin h4 {
  @include public-sans();
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

@mixin button-text {
  @include public-sans();
  font-weight: semibold;
  font-size: 1rem;
  line-height: 1rem;
}

@mixin top-level-label {
  @include public-sans();
  font-size: 16px;
  font-weight: bold;
}

@mixin small-paragraph {
  @include public-sans();
  font-size: 14px;
  line-height: 22px;
}

@mixin p {
  @include public-sans();
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px
}
