@use '@angular/material' as mat;
@use 'sass:map';
@import "colors";

$styleguide: (
  'header-1': mat.define-typography-level(30px, 32px, 700),
  'header-2' : mat.define-typography-level(26px, 28px, 700),
  'header-3': mat.define-typography-level(22px, 24px, 600),
  'header-4': mat.define-typography-level(18px, 24px, 600),
  'header-5': mat.define-typography-level(16px, 24px, 600),
  'standard-input-label': mat.define-typography-level(16px, 22px, 500),
  'standard-label': mat.define-typography-level(16px, 24px, 500),
  'standard-label-sm': mat.define-typography-level(14px, 24px, 500),
  'xs-label': mat.define-typography-level(14px, 14px, 600),
  'regular-paragraph': mat.define-typography-level(16px, 26px, 400),
  'small-paragraph': mat.define-typography-level(14px, 22px, 400),
  'important-paragraph': mat.define-typography-level(18px, 32px, 400),
  'button-text': mat.define-typography-level(16px, 16px, 500),
  'button-text-sm' : mat.define-typography-level(14px, 16px, 500),
  'input': mat.define-typography-level(14px, 1em, 500),
  'top-level-label': mat.define-typography-level(16px, 20px, 700),
);

// see https://v16.material.angular.io/guide/typography#using-typography-styles-in-your-application
$planscape-typography: mat.define-typography-config(
  // base font family
  $font-family: '"Public Sans", sans-serif',
    //  One-off header, usually at the top of the page (e.g. a hero header).
  $headline-1: map.get($styleguide, 'header-1'),
    //  One-off header, usually at the top of the page (e.g. a hero header).
  $headline-2: map.get($styleguide, 'header-2'),
    //  One-off header, usually at the top of the page (e.g. a hero header).
  $headline-3: map.get($styleguide, 'header-3'),
    //  One-off header, usually at the top of the page (e.g. a hero header).
  $headline-4: map.get($styleguide, 'header-4'),
    //  h1
  $headline-5: map.get($styleguide, 'header-1'),
    // h2
  $headline-6: map.get($styleguide, 'header-2'),
    //h3
  $subtitle-1: map.get($styleguide, 'header-3'),
    // h4
  $subtitle-2: map.get($styleguide, 'header-4'),
    // body
  $body-1: map.get($styleguide, 'regular-paragraph'),
    // body 2
  $body-2: map.get($styleguide, 'small-paragraph'),
    // caption
  $caption: mat.define-typography-level(12px, 22px, 400),
    // button
  $button: map.get($styleguide, 'button-text-sm'),
);


// Create a custom palette using the primary color
$custom-primary-palette: map.merge(mat.$indigo-palette, (500: $color-standard-blue));
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$planscape-frontend-primary: mat.define-palette($custom-primary-palette);

$planscape-error-palette: map.merge(mat.$red-palette, (500: $color-error));

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$planscape-frontend-theme: mat.define-light-theme(
    (
      color: (
        primary: $planscape-frontend-primary,
        accent: $planscape-frontend-primary, // not really used
        warn: mat.define-palette($planscape-error-palette)
      ),
    )
);

$color-config: mat.get-color-config($planscape-frontend-theme);
$primary-palette: map.get($color-config, 'primary');

@mixin slide-toggle-overrides($theme) {
  // Extract color config from the passed theme
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');

  .mat-mdc-slide-toggle {
    // Selected State
    --mdc-switch-selected-handle-color: #{mat.get-color-from-palette($primary-palette, default)};
    --mdc-switch-selected-track-color: #{mat.get-color-from-palette($primary-palette, 200)};
    --mdc-switch-selected-hover-track-color: #{mat.get-color-from-palette($primary-palette, 200)};
    --mdc-switch-selected-focus-track-color: #{mat.get-color-from-palette($primary-palette, 200)};
    --mdc-switch-selected-pressed-track-color: #{mat.get-color-from-palette($primary-palette, 200)};

    // Unselected State
    --mdc-switch-unselected-handle-color: #{$color-white};
    --mdc-switch-unselected-track-color: #9e9e9e;
    --mdc-switch-unselected-focus-handle-color: #{$color-white};
    --mdc-switch-unselected-hover-handle-color: #{$color-white};
    --mdc-switch-unselected-pressed-handle-color: #{$color-white};
    --mdc-switch-unselected-hover-track-color: #9e9e9e;
    --mdc-switch-unselected-focus-track-color: #9e9e9e;
    --mdc-switch-unselected-pressed-track-color: #9e9e9e;

    .mdc-label {
      font-weight: 600;
    }
  }

  .mat-mdc-button-toggle-group {
    --mat-standard-button-toggle-selected-state-background-color: #9e9e9e;
    --mat-standard-button-toggle-selected-state-text-color: #{$color-white};
    --mat-standard-button-toggle-divider-color: #9e9e9e;
  }
}

@include slide-toggle-overrides($planscape-frontend-theme);