$toolbar-height: 48px;
$navbar-height: 56px;
$info-bar-height: 50px;
$map-nav-bar-height: 60px;
$map-bottom-name-height: 36px;
$steps-padding: 14px;
$scenario-sidebar-width: 510px;
$climate-left-panel-width: 592px;
