@import "colors";
@import "mixins";


// TODO move this to the button component itself.


// Styleguide buttons
@mixin base() {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 4px;
  padding: 12px 12px;
  cursor: pointer;
  gap: 8px;
  text-decoration: none;
  height: 40px;

}

.ghost-button {
  @include base();
  color: $color-standard-blue;
  border: 1px solid $color-standard-blue;
  background-color: $color-white;


  &:active, &:hover {
    color: $color-white;
    background-color: $color-main-blue;
    border-color: $color-main-blue;
  }

  mat-icon {
    font-size: 21px;
    height: 21px;
    width: 20px;
  }

  &:disabled {
    color: $color-text-gray;
    border-color: $color-soft-gray;
    background-color: $color-soft-gray;
  }
}

.negative {
  @include base();
  border: none;
  background-color: #D50000;
  color: $color-white;

  &:active, &:hover {
    border-radius: 4px;
    background: #B40000;
  }

  &:disabled {
    color: $color-text-gray;
    background-color: $color-soft-gray;
  }

}

.primary-button {
  @include base();
  color: $color-white;
  background-color: $color-standard-blue;
  border-color: $color-standard-blue;

  &:active, &:hover {
    background-color: $color-main-blue;
    border-color: $color-main-blue;
  }

  &:disabled {
    color: $color-text-gray;
    border-color: $color-soft-gray;
    background-color: $color-soft-gray;
  }
}

