:root {
  --color-black: #000;
  --color-dark-gray: #4A4A4A;
  --color-md-gray: #626262;
  --color-text-gray: #898989;
  --color-fields-gray: #F4F4F4;
  --color-light-gray: #F4F4F4;
  --color-error: #D50000;
  --color-standard-blue: #064BBA;
  --color-original-purple: #4854C0;
  --color-soft-purple: #E6E8F3;
  --color-main-blue: #123D81;
  --color-main-yellow: #FFCD66;
  --color-orange: #EB7F31;
  --color-light-blue: #82D8FD;
  --color-highlight: #FFF966;
  --color-brand-teal: #356A72;
  --color-brand-green: #344F42;
  --color-brand-soft-green: #DFEDE6;
  --color-brand-soft-orange: #EB8573;
  --color-brand-soft-yellow: #EDD9A4;
}


.bg-color-black {
  background-color: var(--color-black);
}

.bg-color-dark-gray {
  background-color: var(--color-dark-gray);
}

.bg-color-md-gray {
  background-color: var(--color-md-gray);
}

.bg-color-text-gray {
  background-color: var(--color-text-gray);
}

.bg-color-fields-gray {
  background-color: var(--color-fields-gray);
}

.bg-color-light-gray {
  background-color: var(--color-light-gray);
}

.bg-color-error {
  background-color: var(--color-error);
}

.bg-color-standard-blue {
  background-color: var(--color-standard-blue);
}

.bg-color-original-purple {
  background-color: var(--color-original-purple);
}

.bg-color-soft-purple {
  background-color: var(--color-soft-purple);
}

.bg-color-main-blue {
  background-color: var(--color-main-blue);
}

.bg-color-main-yellow {
  background-color: var(--color-main-yellow);
}

.bg-color-orange {
  background-color: var(--color-orange);
}

.bg-color-light-blue {
  background-color: var(--color-light-blue);
}

.bg-color-highlight {
  background-color: var(--color-highlight);
}

.bg-color-brand-teal {
  background-color: var(--color-brand-teal);
}

.bg-color-brand-green {
  background-color: var(--color-brand-green);
}

.bg-color-brand-soft-green {
  background-color: var(--color-brand-soft-green);
}

.bg-color-brand-soft-orange {
  background-color: var(--color-brand-soft-orange);
}

.bg-color-brand-soft-yellow {
  background-color: var(--color-brand-soft-yellow);
}

//////////////


.color-black {
  color: var(--color-black);
}

.color-dark-gray {
  color: var(--color-dark-gray);
}

.color-md-gray {
  color: var(--color-md-gray);
}

.color-text-gray {
  color: var(--color-text-gray);
}

.color-fields-gray {
  color: var(--color-fields-gray);
}

.color-light-gray {
  color: var(--color-light-gray);
}

.color-error {
  color: var(--color-error);
}

.color-standard-blue {
  color: var(--color-standard-blue);
}

.color-original-purple {
  color: var(--color-original-purple);
}

.color-soft-purple {
  color: var(--color-soft-purple);
}

.color-main-blue {
  color: var(--color-main-blue);
}

.color-main-yellow {
  color: var(--color-main-yellow);
}

.color-orange {
  color: var(--color-orange);
}

.color-light-blue {
  color: var(--color-light-blue);
}

.color-highlight {
  color: var(--color-highlight);
}

.color-brand-teal {
  color: var(--color-brand-teal);
}

.color-brand-green {
  color: var(--color-brand-green);
}

.color-brand-soft-green {
  color: var(--color-brand-soft-green);
}

.color-brand-soft-orange {
  color: var(--color-brand-soft-orange);
}

.color-brand-soft-yellow {
  color: var(--color-brand-soft-yellow);
}
