@import 'colors';
@import 'mixins';

$tooltip-background: rgba(0, 0, 0, 0.85);
.black-tooltip {
  .maplibregl-popup-content {
    background-color: $tooltip-background;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    @include small-paragraph();
    font-size: 12px;
  }

  &.maplibregl-popup-anchor-right .maplibregl-popup-tip {
    border-left-color: $tooltip-background;
  }

  &.maplibregl-popup-anchor-left .maplibregl-popup-tip {
    border-right-color: $tooltip-background;
  }

  &.maplibregl-popup-anchor-top .maplibregl-popup-tip {
    border-bottom-color: $tooltip-background;
  }

  &.maplibregl-popup-anchor-bottom .maplibregl-popup-tip {
    border-top-color: $tooltip-background;
  }

  // overriding tip color for diagonals
  &.maplibregl-popup-anchor-bottom-right {
    .maplibregl-popup-tip {
      border-top-color: $tooltip-background;
    }

    .maplibregl-popup-content {
      border-bottom-right-radius: 0;
    }
  }

  &.maplibregl-popup-anchor-bottom-left {
    .maplibregl-popup-tip {
      border-top-color: $tooltip-background;
    }

    .maplibregl-popup-content {
      border-bottom-left-radius: 0;
    }
  }

  &.maplibregl-popup-anchor-top-left {
    .maplibregl-popup-tip {
      border-bottom-color: $tooltip-background;
    }

    .maplibregl-popup-content {
      border-top-left-radius: 0;
    }
  }

  &.maplibregl-popup-anchor-top-right {
    .maplibregl-popup-tip {
      border-bottom-color: $tooltip-background;
    }

    .maplibregl-popup-content {
      border-top-right-radius: 0;
    }
  }
}
