// material overrides

.mat-tooltip {
  font-size: 12px;
}

// custom padding for dialogs
.small-padding-dialog .mat-dialog-container {
  padding: 17px;
}

.no-padding-dialog .mat-dialog-container {
  padding: 0;
}


.mat-card mat-card-title.mat-card-title {
  font-size: 24px;
  line-height: 20px;
  font-weight: 500;
}

.mat-table .mat-header-cell {
  font-weight: 700;
}

// default styles for menu
body {
  --mat-menu-item-label-text-font: "Public Sans", sans-serif;
  --mat-menu-item-label-text-size: 14px;
  --mat-menu-item-label-text-tracking: 0;
  --mat-menu-item-label-text-line-height: 22px;
  --mat-menu-item-label-text-weight: 400;
}
