// material overrides

.mat-tooltip {
  font-size: 12px;
}

// custom padding for dialogs
.small-padding-dialog .mat-dialog-container {
  padding: 17px;
}

.no-padding-dialog .mat-dialog-container {
  padding: 0;
}


.mat-card mat-card-title.mat-card-title {
  // $subheading-1: mat.define-typography-level(18px, 24px, 600),
  font-size: 24px;
  line-height: 20px;
  font-weight: 500;
}
