// material overrides
@import 'colors';
@import 'mixins';

.mat-tooltip {
  font-size: 12px;
}

// custom padding for dialogs
.small-padding-dialog .mat-dialog-container {
  padding: 17px;
}

.no-padding-dialog .mat-dialog-container {
  padding: 0;
}

.mat-card mat-card-title.mat-card-title {
  font-size: 24px;
  line-height: 20px;
  font-weight: 500;
}

.mat-table .mat-header-cell {
  font-weight: 700;
}

body {
  // default styles for menu
  --mat-menu-item-label-text-font: 'Public Sans', sans-serif;
  --mat-menu-item-label-text-size: 14px;
  --mat-menu-item-label-text-tracking: 0;
  --mat-menu-item-label-text-line-height: 22px;
  --mat-menu-item-label-text-weight: 400;
  // default styles for table
  --mat-table-header-headline-size: 14px;
  // default styles for form field
  --mat-form-field-container-text-size: 14px;
}

.mat-mdc-dialog-container {
  // dialog
  --mdc-dialog-supporting-text-color: $color-black;
  --mdc-dialog-subhead-line-height: 24px;
  --mdc-dialog-subhead-size: 22px;
  --mdc-dialog-subhead-weight: 600;
  --mdc-dialog-supporting-text-size: 14px;

  .mdc-dialog__title {
    padding: 0;

    &::before {
      display: none;
    }
  }
}

mat-checkbox:not([disabled]) .mdc-label:hover,
mat-radio-button:not([disabled]) .mdc-label:hover {
  background-color: $color-light-gray;
}

mat-radio-button:not([disabled]) .mdc-label {
  cursor: pointer;
}

.mat-mdc-checkbox-checked .mdc-label,
.mat-mdc-radio-checked .mdc-label {
  font-weight: bold;
}

.mat-mdc-checkbox.mat-warn {
  --mdc-checkbox-unselected-focus-state-layer-color: #{$color-error};
  --mdc-checkbox-unselected-hover-state-layer-color: #{$color-error};
  --mdc-checkbox-unselected-pressed-state-layer-color: #{$color-error};
  --mdc-checkbox-unselected-focus-icon-color: #{$color-error};
  --mdc-checkbox-unselected-hover-icon-color: #{$color-error};
  --mdc-checkbox-unselected-icon-color: #{$color-error};
  --mdc-checkbox-unselected-pressed-icon-color: #{$color-error};

  .mdc-label {
    color: $color-error;
  }
}

.mat-mdc-radio-button.mat-warn {
  --mdc-radio-unselected-icon-color: #{$color-error};
  --mdc-radio-unselected-pressed-icon-color: #{$color-error};
  --mdc-radio-selected-focus-icon-color: #{$color-error};
  --mdc-radio-selected-hover-icon-color: #{$color-error};

  .mdc-label {
    color: $color-error;
  }

  &.mat-mdc-radio-checked .mdc-radio__background .mdc-radio__inner-circle {
    transform: scale(0.6);
  }

  &.mat-mdc-radio-checked .mdc-radio__background::after {
    content: '';
    transform: scale(0.6);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -1px;
    left: -1px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="white"><path d="M480-424 364-308q-11 11-28 11t-28-11q-11-11-11-28t11-28l116-116-116-115q-11-11-11-28t11-28q11-11 28-11t28 11l116 116 115-116q11-11 28-11t28 11q12 12 12 28.5T651-595L535-480l116 116q11 11 11 28t-11 28q-12 12-28.5 12T595-308L480-424Z"/></svg>');
  }
}

// Default styles for tabs
.mat-mdc-tab-labels {
  border-bottom: 2px solid $color-soft-gray;

  .mat-mdc-tab {
    position: relative;
    top: 2px;
  }
}

// material dropdown styles
.mat-mdc-form-field {
  --mdc-outlined-text-field-outline-color: #{$color-fields-gray};

  .mdc-text-field {
    .mat-mdc-form-field-infix {
      min-height: 38px;
      padding: 0;
      align-content: center;
    }
  }
}

// overrides
.mat-mdc-icon-button.mat-mdc-button-base {
  /* make globally the target smaller (matching legacy and our styleguide) */
  --mdc-icon-button-state-layer-size: 40px;
  /* Make the icon padding relative to `--mdc-icon-button-state-layer-size` */
  padding: calc(
    (
        var(--mdc-icon-button-state-layer-size) - var(
            --mdc-icon-button-icon-size
          )
      ) /
      2
  );
}

.mat-mdc-form-field .mdc-text-field .mat-mdc-form-field-infix {
  min-height: 50px;
}

.mat-mdc-slide-toggle {
  $unselected-track: #9e9e9e;
  $selected-track: #789eda;
  // Unselected
  --mdc-switch-unselected-handle-color: #{$color-white};
  --mdc-switch-unselected-focus-handle-color: #{$color-white};
  --mdc-switch-unselected-hover-handle-color: #{$color-white};
  --mdc-switch-unselected-pressed-handle-color: #{$color-white};
  --mdc-switch-unselected-track-color: #{$unselected-track};
  --mdc-switch-unselected-focus-track-color: #{$unselected-track};
  --mdc-switch-unselected-hover-track-color: #{$unselected-track};
  // Selected
  --mdc-switch-selected-handle-color: #{$color-standard-blue};
  --mdc-switch-selected-focus-handle-color: #{$color-standard-blue};
  --mdc-switch-selected-hover-handle-color: #{$color-standard-blue};
  --mdc-switch-selected-pressed-handle-color: #{$color-standard-blue};
  --mdc-switch-selected-track-color: #{$selected-track};
  --mdc-switch-selected-focus-track-color: #{$selected-track};
  --mdc-switch-selected-hover-track-color: #{$selected-track};
  // Interaction
  --mdc-switch-selected-focus-state-layer-color: #{$color-standard-blue};
  --mdc-switch-selected-hover-state-layer-color: #{$color-standard-blue};
  --mdc-switch-selected-pressed-state-layer-color: #{$color-standard-blue};
  // Font
  --mat-slide-toggle-label-text-weight: 600;
}

/* 
  Styles for our plain tooltips
  https://www.figma.com/design/5hdeZ9G9zC6aDMOmW29wEh/Planscape-Design-System?node-id=1062-11544&m=dev

*/
.mat-mdc-tooltip {
  --mdc-plain-tooltip-container-color: #{$color-dark-gray};
  --mdc-plain-tooltip-supporting-text-color: #{$color-white};
  --mdc-plain-tooltip-supporting-text-size: 14px;
  --mdc-plain-tooltip-supporting-text-weight: 600;

  .mdc-tooltip__surface {
    padding: 8px;
    --mdc-plain-tooltip-container-shape: 8px;
  }
}
