h4.form-field-title {
  font-family: Public Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
  margin-bottom: 10px;
}

.lowercase {
  text-transform: lowercase;
}

.form-field-p {
  margin: 10px 0;
  color: #4A4A4A;
  font-family: Public Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px
}
