@import 'colors';
@import 'media';
@import 'variables';
@import 'mixins';

:host {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  flex-direction: column;
}

mgl-map {
  width: 100%;
  height: 100%;
}


:host ::ng-deep .maplibregl-ctrl-bottom-left .maplibregl-ctrl {
  margin: 0;
  margin-right: 10px;
  padding: 0;
  min-width: 0;
}

.selected-layer-control {
  border-top-right-radius: 8px;
}

.label {
  @include xs-label();
  @include public-sans();
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $color-dark-gray;
  padding: 0 12px;
  border-radius: 0 8px 0 0;
  background: $color-white;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);

  // Text ellipsis if there is no space
  line-height: inherit;
  overflow: hidden;
  text-wrap-mode: nowrap;
  text-overflow: ellipsis;
}

.mat-icon {
  color: $color-standard-blue;
  height: 20px;
  width: 20px;
  font-size: 20px;
}