<div class="scenario-name">
  <!-- Scenario name input -->
  <form *ngIf="form.get('scenarioName')" [formGroup]="form!">
    <mat-form-field class="scenario-name-input">
      <input
        formControlName="scenarioName"
        matInput
        placeholder="Scenario Name:" />
    </mat-form-field>
  </form>
  <!-- Scenario name errors -->
  <div
    *ngIf="
      form.get('scenarioName')?.invalid &&
      form.get('scenarioName')?.touched &&
      form.get('scenarioName')?.errors?.['required']
    "
    class="error">
    Please enter scenario name above
  </div>
  <div *ngIf="form.get('scenarioName')?.errors?.['duplicate']" class="error">
    This name is already used by another scenario.
  </div>
</div>
<mat-tab-group
  #tabGroup
  mat-stretch-tabs="false"
  mat-align-tabs="start"
  class="scenario-tabs">
  <mat-tab label="Configurations">
    <sg-steps
      linear
      finishLabel="Save & Run Scenario"
      [save]="saveStep"
      (selectedIndexChange)="stepChanged()"
      (finished)="onFinish()">
      <cdk-step [stepControl]="step1.form">
        <!-- Treatment goals selector -->
        <app-treatment-goals #step1></app-treatment-goals>

        <!-- Stand size configuration -->
        <app-stand-size></app-stand-size>
      </cdk-step>
      <cdk-step>Step 2</cdk-step>
      <cdk-step>Step 3</cdk-step>
      <cdk-step>Step 4</cdk-step>
    </sg-steps>
  </mat-tab>
  <mat-tab label="Data Layers">
    <app-data-layers class="white-background"></app-data-layers>
  </mat-tab>
</mat-tab-group>
