.map-config-string {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.map-name {
  margin-left: 16px;
  margin-right: 16px;
}

.map-nameplate {
  align-items: center;
  background-color: #fff;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  height: 30px;
  min-width: 0;
  opacity: 0.5;
  padding-right: 16px;
  position: absolute;
  z-index: 10;
}

.map-nameplate.selected {
  opacity: 0.8;
}
