@import '../../../styles/colors';
@import '../../../styles/mixins';

// map layers specific colors, see map.styles.ts
$map_dark_gray: #646464;
$map_light_gray: #909090;

:host {
  display: block;
}

section {
  @include public-sans();
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  background: rgba($color-black, 0.55);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  border-radius: 4px;
  padding: 16px;
  color: $color-white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 260px;
  box-sizing: border-box;
}

.legend {
  display: inline-flex;
  align-items: center;

  &-text {
    display: inline-flex;
    align-items: center;
    gap: 4px;

    .info-icon {
      color: $color-white;
      font-size: 18px;
      cursor: default;
    }
  }

  & + div {
    margin-top: 6px;
  }

  &.icon {
    &:before {
      content: '';
      width: 14px;
      height: 14px;
      background-color: $color-dark-gray;
      margin-right: 10px;
      flex-shrink: 0;
    }
  }

  // icon colors
  &.blue {
    &:before {
      background-color: $color-standard-blue;
    }
  }

  &.magenta {
    &:before {
      background-color: $color-dark-magenta;
    }
  }

  &.dark-gray {
    &:before {
      background-color: $map_dark_gray;
    }
  }

  &.light-gray {
    &:before {
      background-color: $map_light_gray;
    }
  }
}

@media print {
  :host {
    display: block;
    width: 100%;
  }

  .icon {
    // Force to display background colors (some browsers block it)
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    color: $color-black;
    opacity: 1; // In case we have color with opacity
  }
}
