@import "colors";

$panel-height: 1000px;

:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px;
  height: $panel-height;
  width: 100%;
  background-color: $color-soft-gray;
}
