$toolbar-height: 48px;
$navbar-height: 56px;
$info-bar-height: 50px;

// Planscape Style Guide colors
$black: #000000;
$dark-gray: #4a4a4a;
$light-gray: #f4f4f4;
//$highlight: rgba(255, 249, 102, 0.3);
$light-blue: #9fdcff;
$main-blue: #123d81;
$main-yellow: #ffcd66;
$med-gray: #767575;
$orange: #eb7f31;
$original-purple: #4854c0;
$soft-gray: #e1e1e1;
$soft-purple: #e6e8f3;
$text-gray: #898989;
$standard-blue: #064bba;
$error: #d50000;
$white: #ffffff;

// Planscape brand colors
$brand-hot-orange: #EB8573;
$brand-soft-green: #DFEDE6;
$brand-soft-yellow: #EDD9A4;
$brand-green: #344F42;
$brand-teal: #356A72;
