<div class="saved-scenarios-wrapper">
  <h3 class="plan-name">{{ plan?.name }}</h3>

  <div class="overview">
    <mat-icon class="material-symbols-outlined">person</mat-icon>
    <div class="overview-item">
      <strong>Creator:</strong>
      {{ plan?.creator }}
    </div>

    <mat-icon>crop_landscape</mat-icon>
    <div class="overview-item">
      <strong>Acres:</strong>
      {{ plan?.area_acres | number: '1.0-0' }}
    </div>

    <mat-icon class="material-symbols-outlined">description</mat-icon>
    <div class="overview-item">
      <strong>Scenarios:</strong>
      {{ loading ? plan?.scenario_count : activeScenarios.length }}
    </div>

    <a [routerLink]="['/explore', plan?.id]" class="view-map">View Map</a>
  </div>
  <div class="scenarios-header">
    <h4 class="scenarios-title">Scenarios</h4>
    <button
      sg-button
      icon="drive_folder_upload"
      [outlined]="true"
      *ngIf="canAddScenarioForPlan"
      (click)="openUploadDialog()">
      Upload Scenario
    </button>
    <button
      sg-button
      [matTooltip]="scenarioDisabledTooltipReason"
      [matTooltipDisabled]="isValidPlanningArea"
      *ngIf="canAddScenarioForPlan"
      [disabled]="!isValidPlanningArea || planningAreaIsLarge"
      data-id="new-scenario"
      icon="add"
      variant="primary"
      [matMenuTriggerFor]="menu">
      New Scenario

      <mat-icon class="material-symbols-outlined new-scenario-down"
        >arrow_drop_up
      </mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="scenario-options-menu">
      <button
        mat-menu-item
        (click)="openScenarioSetupDialog('PRESET')"
        class="scenario-option">
        <mat-icon class="material-symbols-outlined">contract</mat-icon>
        Choose Treatment Goal
        <span>
          Start from a template with preset objectives, co-benefits, and
          constraints
        </span>
      </button>
      <button
        mat-menu-item
        (click)="openScenarioSetupDialog('CUSTOM')"
        class="scenario-option">
        <mat-icon class="material-symbols-outlined">contract_edit</mat-icon>
        Create Custom Scenario
        <span>
          Build from scratch: choose all objectives, co-benefits, and
          constraints.
        </span>
      </button>
    </mat-menu>
  </div>

  <app-section-loader
    *ngIf="planningAreaIsReady && !planningAreaIsLarge"
    [isLoading]="loading"
    [hasData]="totalScenarios > 0"
    [ngClass]="{
      'margin-top': totalScenarios === 0,
    }"
    emptyStateTitle="No scenarios yet"
    [emptyStateContent]="
      canAddScenarioForPlan
        ? isValidPlanningArea
          ? 'Click “New scenario” to start creating your scenarios.'
          : 'Click “Upload Scenario” to add scenarios.'
        : ''
    ">
    <mat-tab-group
      mat-align-tabs="start"
      class="custom-tab-group"
      (selectedTabChange)="tabChange($event)">
      <mat-tab label="Active">
        <div class="scenario-list-controls">
          <mat-slide-toggle
            [hideIcon]="true"
            color="primary"
            class="slide-toggle-my-scenarios"
            [(ngModel)]="showOnlyMyScenarios"
            (change)="fetchScenarios()">
            Show only my scenarios
          </mat-slide-toggle>
          <div class="scenario-sort-picker">
            Sort by:
            <mat-select
              class="sort-select"
              [(ngModel)]="sortSelection"
              (selectionChange)="handleSortChange()">
              <mat-option value="-created_at">
                Created date (Newest first)
              </mat-option>
              <mat-option value="created_at">
                Created date (Oldest first)
              </mat-option>
            </mat-select>
          </div>
        </div>
        <ng-container *ngIf="activeScenarios.length > 0">
          <app-scenarios-card-list
            [scenarios]="activeScenarios"
            [plan]="plan"
            (viewScenario)="navigateToScenario($event)"
            (triggerEdit)="fetchScenarios()"
            (triggerRefresh)="
              removeScenarioFromList($event, 'activeScenarios')
            "></app-scenarios-card-list>
        </ng-container>
        <div class="empty-state" *ngIf="activeScenarios.length === 0">
          No active scenarios
        </div>
      </mat-tab>
      <mat-tab label="Archived">
        <div class="scenario-list-controls">
          <mat-slide-toggle
            [hideIcon]="true"
            color="primary"
            class="slide-toggle-my-scenarios"
            [(ngModel)]="showOnlyMyScenarios"
            (change)="fetchScenarios()">
            Show only my scenarios
          </mat-slide-toggle>
          <div class="scenario-sort-picker">
            Sort by:
            <mat-select
              class="sort-select"
              [(ngModel)]="sortSelection"
              (selectionChange)="handleSortChange()">
              <mat-option value="-created_at">
                Created date (Newest first)
              </mat-option>
              <mat-option value="created_at">
                Created date (Oldest first)
              </mat-option>
            </mat-select>
          </div>
        </div>
        <ng-container *ngIf="archivedScenarios.length > 0">
          <app-scenarios-card-list
            [scenarios]="archivedScenarios"
            [plan]="plan"
            (viewScenario)="navigateToScenario($event)"
            (triggerRefresh)="
              removeScenarioFromList($event, 'archivedScenarios')
            "></app-scenarios-card-list>
        </ng-container>
        <div class="empty-state" *ngIf="archivedScenarios.length === 0">
          No scenarios in Archived.
        </div>
      </mat-tab>
    </mat-tab-group>
  </app-section-loader>

  <div *ngIf="planningAreaIsLarge && !loading" class="large-message">
    <p>
      Your Planning Area is greater than 3 million acres. The Planscape team
      would like to work with you to ensure we're meeting your scenario planning
      needs.<br />Please contact
      <a href="mailto:support@planscape.org">support&#64;planscape.org</a> to
      move forward with scenario planning.
    </p>
  </div>

  <div
    *ngIf="!planningAreaIsLarge && !planningAreaIsReady && !planningAreaFailed"
    class="pending-message">
    <mat-spinner diameter="32" class="spinner"></mat-spinner>
    <h4>Your Planning Area is being prepared for Scenario Planning</h4>
    <p>
      For larger areas (over 1 million acres), this process may take up to 20
      minutes.
    </p>
  </div>

  <sg-banner
    [dismissible]="false"
    type="error"
    *ngIf="!planningAreaIsReady && planningAreaFailed"
    class="banner">
    <div>
      <div>
        There was an error preparing your Planning Area for Scenario Planning.
      </div>
      <div>
        Please
        <a
          href="https://40an0d.share-na2.hsforms.com/2KUarbZ6aSPS_1E-lzmANIw"
          target="_blank"
          >contact support</a
        >
        or try creating a new Planning Area.
      </div>
    </div>
  </sg-banner>
</div>
