@use 'sass:map';
@use '@angular/material' as mat;
@import 'mixins';
@import 'colors';

.saved-scenarios-wrapper {
  position: relative;
  padding: 20px;
}

.scenario-list-controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: flex-end;
  flex-wrap: wrap;
  height: 40px;
  padding: 8px 0;
  overflow: hidden;
}

.scenario-sort-picker {
  @include xs-label();
  line-height: 43px;
  height: 40px;
}

.slide-toggle-my-scenarios {
  @include xs-label();
  line-height: 40px;
  height: 40px;
}

.sort-select {
  @include xs-label();
  width: 200px;
  border: none;
}

.mat-card {
  border-radius: 16px;
  min-height: 180px;

  .mat-card-title {
    margin: 0;
  }
}

.mat-card-actions {
  gap: 12px;
  margin-right: 8px;
}

.margin-top {
  margin-top: 30px;
}

.empty-state {
  @include standard-label();
  color: $color-dark-gray;
  padding: 40px 20px;
  margin: 20px;
  text-align: center;
}

// new

.plan-name {
  line-height: 32px;
  margin-bottom: 8px;
}

.overview {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;

  mat-icon {
    color: $color-standard-blue;
  }

  .overview-item {
    display: flex;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
    color: $color-dark-gray;

    &::after {
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 50%;
      margin-left: 8px;
      background: $color-text-gray;
      display: block;
    }

    strong {
      font-weight: 600;
    }
  }
}

.scenarios-header {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 24px 0 10px 0;
  position: sticky;
  top: -12px;
  background: $color-white;
  z-index: 11;
  height: 40px;

  h4 {
    margin: 0 auto 0 0;
    font-size: 18px;
    font-weight: 600;
  }
}

.view-map {
  padding-left: 4px;
}

app-section-loader {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.custom-tab-group
::ng-deep
.mat-mdc-tab-header
.mat-mdc-tab-label-container
.mat-mdc-tab {
  flex-grow: 0;
}


.banner {
  margin-top: 20px;
}

.spinner {
  width: 100%;
  margin: 40px auto;
}


.pending-message, .large-message {
  text-align: center;

  h4 {
    @include standard-input-label();
    margin: 0 0 8px;
    color: $color-text-dark;
  }

  p {
    color: $color-md-gray;
  }
}

.large-message {
  margin: 32px;
}

.scenario-option {

  align-items: flex-start;
  padding: 14px;

  mat-icon {
    flex-shrink: 0;
    font-size: 20px;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    line-height: 22px;
  }

  span {
    margin-top: 8px;
    display: block;
    color: $color-md-gray;
  }
}

::ng-deep .scenario-options-menu {
  min-width: 320px;
}

.new-scenario-down {
  height: 40px;
  line-height: 40px;
  border-left: 1px solid white;
  padding: 0 8px;
  margin-left: 6px;
  margin-right: -12px;
}
