@use 'sass:map';
@use '@angular/material' as mat;
@import "mixins";
@import 'colors';

.saved-scenarios-wrapper {
  position: relative;
}

.slide-toggle-my-scenarios {
  @include standard-label();
  position: absolute;
  right: 0;
  top: 12px;
  z-index: 10;
}

.mat-card {
  border-radius: 16px;
  min-height: 180px;

  .mat-card-title {
    margin: 0;
  }
}

.mat-card-content {
  padding: 8px;
}

.mat-card-actions {
  gap: 12px;
  margin-right: 8px;
}

.no-scenarios-overlay {
  align-items: center;
  backdrop-filter: blur(2px);
  background: rgba(79, 79, 79, 0.8);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  p {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
}

.new-scenario-button {
  right: 5px;
  margin-left: auto;

  .mat-icon {
    line-height: 21px;
  }
}

.scenario-table-head {
  display: flex;
  gap: 50%;
  align-items: center;
  margin-bottom: 20px
}

.margin-top {
  margin-top: 30px;
}

.empty-state {
  @include standard-label();
  color: $color-dark-gray;
  padding: 40px 20px;
  margin: 20px;
  text-align: center;
}

