@use 'sass:map';
@use '@angular/material' as mat;
@import 'mixins';
@import 'colors';

.saved-scenarios-wrapper {
  position: relative;
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.scenario-list-controls {
  @include standard-label();
  width: 100%;
  height: 28px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: flex-end;
}

.scenario-sort-picker {
  @include xs-label();
  line-height: 23px;
}

.slide-toggle-my-scenarios {
  @include xs-label();
}

.sort-select {
  @include xs-label();
  width: 200px;
  border: none;
}

.mat-card {
  border-radius: 16px;
  min-height: 180px;

  .mat-card-title {
    margin: 0;
  }
}

.mat-card-actions {
  gap: 12px;
  margin-right: 8px;
}

.no-scenarios-overlay {
  align-items: center;
  backdrop-filter: blur(2px);
  background: rgba(79, 79, 79, 0.8);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  p {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
}

.new-scenario-button {
  @include xs-label();
  right: 5px;
  margin-left: auto;

  .mat-icon {
    line-height: 21px;
  }
  

}

.scenario-table-head {
  display: flex;
  gap: 50%;
  align-items: center;
  margin-bottom: 20px;
}

.margin-top {
  margin-top: 30px;
}

.empty-state {
  @include standard-label();
  color: $color-dark-gray;
  padding: 40px 20px;
  margin: 20px;
  text-align: center;
}

// new

.plan-name {
  line-height: 32px;
  margin-bottom: 8px;
}

.overview {
  display: flex;
  align-items: center;
  gap: 8px;

  mat-icon {
    color: $color-standard-blue;
  }

  .overview-item {
    display: flex;
    align-items: center;
    gap: 4px;
    color: $color-dark-gray;

    &::after {
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 50%;
      margin-left: 8px;
      background: $color-text-gray;
      display: block;
    }

    strong {
      font-weight: 600;
    }
  }
}

.scenarios-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 24px 0;

  h4 {
    margin: 0 auto 0 0;
    font-size: 18px;
    font-weight: 600;
  }
}

.view-map {
  text-decoration: none;
  color: $color-standard-blue;

  &:active,
  &:visited {
    color: $color-standard-blue;
  }
}



app-section-loader {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

::ng-deep .new-scenario-button .button {
  @include xs-label();
}