<div class="saved-scenarios-wrapper">
  <mat-card [style.margin-top]="'24px'">
    <mat-card-header>
      <mat-card-title>Saved Scenarios ({{ scenarios.length }})</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-table [dataSource]="scenarios" >
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> Scenario </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div class="hover-indicator"></div>
            {{element.id}}
          </mat-cell>
        </ng-container>

        <!-- Timestamp Column -->
        <ng-container matColumnDef="createdTimestamp">
          <mat-header-cell *matHeaderCellDef> Date Created </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.createdTimestamp | date:'medium' }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row
          class="scenario-row"
          *matRowDef="let row; columns: displayedColumns;"
          (click)="viewScenario(row.id)"></mat-row>
      </mat-table>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-raised-button>
        <mat-icon>open_in_new</mat-icon>
        SEE ALL
      </button>
    </mat-card-actions>
  </mat-card>

  <div *ngIf="scenarios.length === 0" class="no-scenarios-overlay">
    <p>Saved scenarios will appear here.</p>
    <button mat-raised-button color="primary" (click)="createScenario()">
      CREATE A NEW SCENARIO
    </button>
  </div>
</div>
