<div class="saved-scenarios-wrapper">
  <h3 class="plan-name">{{ plan?.name }}</h3>

  <div class="overview">
    <mat-icon class="material-symbols-outlined">person</mat-icon>
    <div class="overview-item">
      <strong>Creator:</strong>
      {{ plan?.creator }}
    </div>

    <mat-icon>crop_landscape</mat-icon>
    <div class="overview-item">
      <strong>Acres:</strong>
      {{ plan?.area_acres | number: '1.0-0' }}
    </div>

    <mat-icon class="material-symbols-outlined">description</mat-icon>
    <div class="overview-item">
      <strong>Scenarios:</strong>
      {{ plan?.scenario_count }}
    </div>

    <a [routerLink]="['/explore', plan?.id]" class="view-map">View Map</a>
  </div>
  <div class="scenarios-header">
    <h4 class="scenarios-title">Scenarios</h4>
    <button
      *ngIf="treatmentPlansEnabled"
      sg-button
      icon="drive_folder_upload"
      [outlined]="true"
      (click)="openUploadDialog()">
      Upload Scenario
    </button>
    <button
      sg-button
      matTooltip="Planning Area is Less than 100 Acres"
      [matTooltipDisabled]="isValidPlanningArea"
      *ngIf="canAddScenarioForPlan"
      [disabled]="!isValidPlanningArea"
      data-id="new-scenario"
      (click)="openConfig()"
      icon="add"
      variant="primary">
      New Scenario
    </button>
  </div>

  <app-section-loader
    [isLoading]="loading"
    [hasData]="totalScenarios > 0"
    [ngClass]="{
      'margin-top': totalScenarios === 0
    }"
    emptyStateTitle="No scenarios yet"
    [emptyStateContent]="
      canAddScenarioForPlan
        ? 'Click “New scenario” to start creating your scenarios.'
        : ''
    ">
    <mat-tab-group
      mat-align-tabs="start"
      class="custom-tab-group"
      (selectedTabChange)="tabChange($event)">
      <mat-tab label="Active">
        <mat-card-content>
          <div class="scenario-list-controls">
            <mat-slide-toggle
              color="primary"
              class="slide-toggle-my-scenarios"
              [(ngModel)]="showOnlyMyScenarios"
              (change)="fetchScenarios()">
              Show only my scenarios
            </mat-slide-toggle>
            <div class="scenario-sort-picker">
              Sort by:
              <mat-select
                class="sort-select"
                [(ngModel)]="sortSelection"
                (selectionChange)="handleSortChange()">
                <mat-option value="-created_at">
                  Created date (Newest first)
                </mat-option>
                <mat-option value="created_at">
                  Created date (Oldest first)
                </mat-option>
              </mat-select>
            </div>
          </div>
          <ng-container *ngIf="activeScenarios.length > 0">
            <app-scenarios-card-list
              [scenarios]="activeScenarios"
              [plan]="plan"
              (viewScenario)="navigateToScenario($event)"
              (triggerRefresh)="fetchScenarios()"></app-scenarios-card-list>
          </ng-container>
          <div class="empty-state" *ngIf="activeScenarios.length === 0">
            No active scenarios
          </div>
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Archived">
        <mat-card-content>
          <div class="scenario-list-controls">
            <mat-slide-toggle
              color="primary"
              class="slide-toggle-my-scenarios"
              [(ngModel)]="showOnlyMyScenarios"
              (change)="fetchScenarios()">
              Show only my scenarios
            </mat-slide-toggle>
            <div class="scenario-sort-picker">
              Sort by:
              <mat-select
                class="sort-select"
                [(ngModel)]="sortSelection"
                (selectionChange)="handleSortChange()">
                <mat-option value="-created_at">
                  Created date (Newest first)
                </mat-option>
                <mat-option value="created_at">
                  Created date (Oldest first)
                </mat-option>
              </mat-select>
            </div>
          </div>
          <ng-container *ngIf="archivedScenarios.length > 0">
            <app-scenarios-card-list
              [scenarios]="archivedScenarios"
              [plan]="plan"
              (viewScenario)="
                navigateToScenario($event)
              "></app-scenarios-card-list>
          </ng-container>
          <div class="empty-state" *ngIf="archivedScenarios.length === 0">
            No scenarios in Archived.
          </div>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </app-section-loader>
</div>
