@import 'mixins';
@import 'colors';

:host {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 4px;
}

:host.with-border {
  border: 1px solid $color-soft-gray;
  padding: 24px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.16);
}


h4 {
  color: $color-black;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;

  mat-icon.warning {
    color: $color-orange;
  }

  mat-icon.error {
    color: $color-error;
  }
}

.content {
  color: $color-md-gray;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
