@import "mixins";

.expanded-maps {
  height: 90vh;
  position: relative;
}

::ng-deep {
  sg-modal.expanded-maps-modal {

    &.full {
      width: 80vw;
    }

    .header {
      @include h5();
      height: 39px;
    }
  }
}

