@import "colors";
@import "mixins";

.group {
  padding: 30px;
  border: 1px solid #d0d0d0;
}

.data-layer-path {
  font-weight: bold;
}

.data-layer-name {
  margin-left: 20px;
  color: #404040;
  display: flex;
  align-items: center;
}


.info-icon {
  margin-left: auto;
}

