<sg-overlay-loader *ngIf="loading" [offsetTop]="48"></sg-overlay-loader>

<!-- <app-nav-bar area="SCENARIOS"></app-nav-bar> -->

<!-- <app-resource-unavailable
    *ngIf="planNotFound"
    resource="plan"></app-resource-unavailable> -->

<div class="left-side"></div>
<div class="right-side" *ngIf="currentPlan$ | async as plan">
  <ng-container *ngIf="currentScenario$ | async as scenario">
    <app-treatment-plans-list
      *ngIf="scenario.id"
      [planningArea]="plan"
      [scenarioId]="scenario.id"></app-treatment-plans-list>
  </ng-container>
</div>
