// The main section of the view
.center-block {
  align-items: center;
  background-image: url('/assets/png/planscape_home_bg.png');
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 400;
  gap: 30px;
  min-height: 260px;
  justify-content: center;
  line-height: 32px;
  text-align: center;
  width: 100%;
}

// A section within the main section
.content-section {
  display: flex;
  flex-direction: column;
}

.button-row {
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
}

.mat-button-disabled {
  background-color: rgb(gray 0.6) !important;
}
