<div class="center-block">
  <!-- Content text -->
  <section class="content-section">
    <span *ngIf="(!hasPlans || !(loggedIn$ | async)) && login_enabled">Welcome to Planscape! <br>  Choose a region to explore</span>
    <span *ngIf="!login_enabled">Welcome to Planscape early preview! <br> Click Sierra Nevada to explore</span>
  </section>

  <!-- The region buttons -->
  <section class="button-row">
    <button
      mat-raised-button
      *ngFor="let region of regionOptions"
      color="primary"
      [disabled]="!region.available"
      (click)="setRegion(region)">
      {{ region.name | uppercase }}
    </button>
  </section>
</div>
