<div class="center-block">
  <!-- Content text -->
  <section class="content-section">
    <span *ngIf="!hasPlans || !(loggedIn$ | async)">Welcome to Planscape preview! </span>
    <span *ngIf="socal_enabled; else socalNotEnabled" >Choose a region to explore </span>
    <ng-template #socalNotEnabled>
      Click Sierra Nevada to explore 
    </ng-template>
  </section>

  <!-- The region buttons -->
  <section class="button-row">
    <button
      mat-raised-button
      *ngFor="let region of regionOptions"
      color="primary"
      [disabled]="!region.available"
      (click)="setRegion(region)">
      {{ region.name | uppercase }}
    </button>
  </section>
</div>
