<div class="center-block">
  <!-- Content text -->
  <section class="content-section">
    <span *ngIf="!hasPlans || !(loggedIn$ | async)">Welcome to Planscape!</span>
    Choose a region to explore
  </section>

  <!-- The region buttons -->
  <section class="button-row">
    <button
      mat-raised-button
      *ngFor="let region of regionOptions"
      color="primary"
      [disabled]="!region.available"
      (click)="setRegion(region)">
      {{ region.name | uppercase }}
    </button>
  </section>
</div>
