<div>
  <div class="title">
    <h4>How would you like to start?</h4>
    <div>
      Select an option below to start planning and access more analytic tools.
    </div>
  </div>

  <div class="options">
    <div class="option-set">
      <h5>Use Forsys to generate scenarios</h5>
      <div class="option-card"></div>
      <div class="option-card"></div>
    </div>
    <div class="option-set">
      <h5>Use Your Existing Project Areas</h5>
      <div class="option-card"></div>
    </div>
  </div>
</div>
