:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.options-set {
  display: flex;
  flex-direction: column;
  align-items: start;
}
