@import 'mixins';
@import 'colors';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  gap: 36px;
}

.option-set {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 630px;
  gap: 16px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
    @include h4();
}

.subtitle {
    @include regular-paragraph();
    color: $color-dark-gray;
}
