@import 'mixins';
@import 'colors';

.list-header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $color-soft-gray;
  cursor: pointer;

  .label {
    @include standard-input-label();
  }
}

.list-header.expanded {
  background: $color-soft-purple;
}

.list-header:hover {
  background: $color-lighter-gray;
}

.list-content {
  display: flex;
  padding: 16px 16px 16px 7px;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  align-self: stretch;
  background: $color-soft-purple-light;
}

.checkbox-option {
  width: 100%;
}

.data-layer-input {
  width: 100%;

  ::ng-deep .mdc-form-field {
    width: 100%;
  }

  ::ng-deep .mdc-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.base-layer-legend {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  display: inline-flex;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.right-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.list-spinner {
  margin-left: 8px;
}

.no-data {
  margin-left: 8px;
  color: $color-md-gray;
}

.side-spinner {
  flex-shrink: 0;
}
