<!-- We display the title and the list of options, if it is Multiple we display checkboxes -->

<!--Expansion panel -->
<div
  class="list-header"
  (click)="expanded = !expanded"
  [class.expanded]="expanded">
  <div class="label">
    {{ dataSet.name }}
  </div>
  <i class="material-symbols-outlined">{{
    expanded ? 'expand_more' : 'chevron_right'
  }}</i>
</div>
<!--<div class="list-content" *ngIf="expanded" #listContent>-->
<!--  <ng-container-->
<!--    *ngIf="categorizedBaseLayer.category.isMultiSelect; else singleSelect">-->
<!--    <div-->
<!--      *ngFor="let layer of categorizedBaseLayer.layers"-->
<!--      class="checkbox-option">-->
<!--      <mat-checkbox-->
<!--        [value]="layer.id.toString()"-->
<!--        [checked]="allSelectedLayersIds.includes(layer.id)"-->
<!--        [attr.selected]="allSelectedLayersIds.includes(layer.id) ? '' : null"-->
<!--        class="data-layer-input"-->
<!--        (change)="onLayerChange(layer, true)"-->
<!--        >{{ layer.name }}-->
<!--        <div class="right-items">-->
<!--          <mat-spinner-->
<!--            diameter="20"-->
<!--            *ngIf="(loadingLayers$ | async)?.includes('source_' + layer.id)">-->
<!--          </mat-spinner>-->
<!--          <span-->
<!--            class="base-layer-legend"-->
<!--            *ngIf="isSelectedLayer(layer.id)"-->
<!--            [style.backgroundColor]="-->
<!--              layer.styles[0].data['fill-color'] || BASE_LAYERS_DEFAULT.COLOR-->
<!--            "-->
<!--            [style.border-color]="-->
<!--              layer.styles[0].data['fill-outline-color'] ||-->
<!--              BASE_LAYERS_DEFAULT.COLOR-->
<!--            "></span>-->
<!--        </div>-->
<!--      </mat-checkbox>-->
<!--    </div>-->
<!--  </ng-container>-->
<!--  <ng-template #singleSelect>-->
<!--    <mat-radio-button-->
<!--      *ngFor="let layer of categorizedBaseLayer.layers"-->
<!--      [value]="layer.id"-->
<!--      [checked]="allSelectedLayersIds.includes(layer.id)"-->
<!--      class="data-layer-input"-->
<!--      [attr.selected]="allSelectedLayersIds.includes(layer.id) ? '' : null"-->
<!--      (change)="onLayerChange(layer, false)"-->
<!--      >{{ layer.name }}-->
<!--      <mat-spinner-->
<!--        diameter="20"-->
<!--        *ngIf="(loadingLayers$ | async)?.includes('source_' + layer.id)">-->
<!--      </mat-spinner>-->
<!--    </mat-radio-button>-->
<!--  </ng-template>-->
<!--</div>-->
