.signin-root {
  display: flex;
  height: 100%;
}

.signin-card-container {
  background-image: url('/assets/png/planscape_signin_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 50%;
}

.signin-card {
  margin: auto;
  width: 300px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 60px;
  background-color: #ffffff;
  border: 1px solid rgba(72, 84, 192, 0.5);
}

h1 {
  &.signin-title {
    margin-bottom: 48px;
    text-align: center;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    font-family: 'Public Sans';
    font-weight: 600;
    line-height: 32px;
    color: #202124;
  }
}

mat-label {
  text-align: left;
  vertical-align: middle;
  font-size: 16px;
  font-family: 'Public Sans';
  line-height: 22px;
  color: #4a4a4a;
  padding-bottom: 1em;
  padding-right: 1em;
}

.required-blurb {
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
  font-family: Public Sans;
  font-style: italic;
  line-height: 22px;
  color: #898888;
}

button {
  width: 100%;
}

mat-divider {
  margin: 28px 0px;
}

mat-form-field {
  width: 100%;
}

p {
  color: #888888;
  font-family: 'Public Sans', 'Roboto';
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.disclaimer-text {
  bottom: 40px;
  box-sizing: border-box;
  padding: 0px 140px;
  position: absolute;
  width: 50%;

  p {
    color: white;
    font-family: 'Public Sans', 'Roboto';
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    margin: 0px;
  }
}

.forget-password-link {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: 'Public Sans';
  line-height: 26px;
  text-decoration: underline;
  color: #064bba;
  padding-top: 26px;
}

.info-text-container {
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  padding: 70px 120px 50px 82px;
  width: 50%;
  overflow: scroll;
}

h3 {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.login-form-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.login-form-button {
  flex: 1;
}

.mat-error {
  margin-top: 10px;
  text-align: center;
}

.login-error-box {
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px 10px;
  padding-bottom: 5px;
  background-color: rgba(245, 245, 245, 0.4000000059604645);
  border: 1px solid #d50000;
  margin-top: 5px;
  margin-bottom: 1em;
}

.login-error-icon {
  padding-left: 0;
  padding-right: 0.2em;
  float: left;
}

.login-error-heading {
  float: left;
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
  font-family: 'Public Sans';
  line-height: 20px;
  color: #d50000;
}

.login-error-details {
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
  font-family: Public Sans;
  line-height: 22px;
  color: #4a4a4a;
}

.post-error-option {
  padding: 1em;
  text-align: center;
}
