.signin-root {
  display: flex;
  height: 100%;
}

.signin-card-container {
  background-image: url('/assets/png/planscape_signin_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 50%;
}

.signin-card {
  align-items: stretch;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 70px 86px;
  width: 300px;
}

h1 {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;

  &.signin-title {
    margin-bottom: 48px;
    text-align: center;
  }
}

button {
  width: 100%;
}

mat-divider {
  margin: 28px 0px;
}

mat-form-field {
  width: 100%;
}

p {
  color: #888888;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;

  &.signup-text {
    margin-top: 14px;
  }
}

.disclaimer-text {
  bottom: 40px;
  box-sizing: border-box;
  padding: 0px 140px;
  position: absolute;
  width: 50%;

  p {
    color: white;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    margin: 0px;
  }
}

.info-text-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 145px 120px 120px 82px;
  width: 50%;
}

h3 {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

ul {
  margin: 40px 0px;
}

.data-info-box {
  background-color: #EBEBEB;
  border-radius: 16px;
  box-sizing: border-box;
  display: flex;
  padding: 30px 38px;
  width: 100%;

  p {
    color: #4E4E4E;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin: auto;
  }
}
