<div class="signin-root">
  <div class="signin-card-container">
    <div class="signin-card">
      <h1 class="signin-title">Sign in to Planscape</h1>

      <form [formGroup]="form" (ngSubmit)="login()">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input type="text" required formControlName="email" matInput />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input type="password" required formControlName="password" matInput />
        </mat-form-field>
        <p>
          <a class="forget-password-button" i18n="Text on a button to reset password" href="reset/">
            Forgot password?
          </a>
        </p>
        <mat-card-actions>
          <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">
            Sign in
          </button>
        </mat-card-actions>
        <mat-error class="mat-error" *ngIf="accountError">
          {{ accountError }}
        </mat-error>
      </form>

      <mat-divider></mat-divider>

      <button mat-stroked-button color="primary" (click)="continueAsGuest()">
        Continue as Guest
      </button>

      <p class="signup-text">
        <a href="signup/">Create an account</a>
        to save your work & collaborate with others
      </p>
    </div>

    <div class="disclaimer-text">
      <p>{{ text1 }}</p>
    </div>
  </div>

  <div class="info-text-container">
    <planscape-about></planscape-about>
  </div>
</div>