<mat-card>
  <mat-card-title>Login</mat-card-title>

  <form (ngSubmit)="onSubmit()">
    <mat-card-content>
      <div>
        <mat-form-field>
          <input
            type="text" id="username"
            required
            placeholder="Username"
            [(ngModel)]="model.username" name="username"
            #name="ngModel"
            matInput>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input
            type="password" id="password"
            required
            placeholder="Password"
            [(ngModel)]="model.password" name="password"
            #password="ngModel"
            matInput>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-raised-button (click)="signup()" type="button">Register</button>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </mat-card-actions>
  </form>
</mat-card>

<p>{{ error?.message }}</p>
    <p *ngIf="error">{{ error?.error | json }}</p>
