<div class="account-dialog">
  <!-- Account details -->
  <ng-container *ngIf="!editingAccount && !changingPassword; else form">
    <h1>
      Welcome, {{ (user$ | async) ? displayName((user$ | async)!) : 'Guest' }}
    </h1>

    <div *ngIf="user$ | async as user">
      <h3>Account Name</h3>
      <h2>{{ displayName(user) }}</h2>

      <h3>Email</h3>
      <h2>{{ user.email }}</h2>

      <h3>Password</h3>
      <h2>••••••••••••••••••••••••••</h2>
    </div>

    <div class="button-row" *ngIf="user$ | async">
      <button mat-raised-button color="primary" (click)="editAccount()">
        EDIT ACCOUNT
      </button>

      <button mat-raised-button color="primary" (click)="changePassword()">
        CHANGE PASSWORD
      </button>

      <button mat-raised-button color="warn" (click)="openDeleteAccountDialog()">
        DELETE ACCOUNT
      </button>

      <button mat-raised-button (click)="logout()">SIGN OUT</button>
    </div>
  </ng-container>

  <ng-template #form>
    <!-- Change password -->
    <ng-container *ngIf="changingPassword">
      <form [formGroup]="changePasswordForm" (ngSubmit)="savePassword()">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            type="password"
            required
            formControlName="password1"
            matInput />
          <mat-error
            *ngIf="changePasswordForm.get('password1')?.hasError('minlength')">
            Password must contain at least 8 characters.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Confirm new password</mat-label>
          <input
            type="password"
            required
            formControlName="password2"
            matInput />
          <mat-error *ngIf="changePasswordForm.hasError('passwordsNotEqual')">
            Passwords must match.
          </mat-error>
        </mat-form-field>

        <div class="button-row">
          <button
            mat-raised-button
            color="primary"
            [disabled]="changePasswordForm.invalid || disableChangeButton"
            (click)="savePassword()">
            {{ disableEditButton ? 'SAVING...' : 'SAVE CHANGES' }}
          </button>

          <button mat-raised-button (click)="changingPassword = false">
            CANCEL
          </button>
        </div>

        <p>{{ error?.message }}</p>
        <p *ngIf="error">{{ error?.error | json }}</p>
      </form>
    </ng-container>

    <!-- Edit account details -->
    <ng-container *ngIf="editingAccount">

      <form [formGroup]="editAccountForm" (ngSubmit)="saveEdits()">
        <mat-form-field>
          <mat-label>First name</mat-label>
          <input type="text" required formControlName="firstName" matInput />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Last name</mat-label>
          <input type="text" required formControlName="lastName" matInput />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            type="text"
            disabled
            [value]="editAccountForm.get('email')?.value"
            matInput />
        </mat-form-field>

        <div class="button-row">
          <button
            mat-raised-button
            color="primary"
            [disabled]="editAccountForm.invalid || disableEditButton"
            (click)="saveEdits()">
            {{ disableEditButton ? 'SAVING...' : 'SAVE CHANGES' }}
          </button>

          <button mat-raised-button (click)="editingAccount = false">
            CANCEL
          </button>
        </div>

        <p>{{ error?.message }}</p>
        <p *ngIf="error">{{ error?.error | json }}</p>
      </form>
    </ng-container>
  </ng-template>
</div>
