<div class="account-dialog">
  <h1>
    Welcome, {{ (user$ | async) ? displayName((user$ | async)!) : 'Guest' }}
  </h1>

  <div *ngIf="(user$ | async) as user">
    <h3>Account Name</h3>
    <h2>{{ displayName(user) }}</h2>

    <h3>Email</h3>
    <h2>{{ user.email }}</h2>

    <h3>Password</h3>
    <h2>••••••••••••••••••••••••••</h2>
  </div>

  <div class="button-row" *ngIf="user$ | async">
    <button mat-raised-button color="primary">EDIT ACCOUNT</button>

    <button mat-raised-button (click)="logout()">SIGN OUT</button>
  </div>
</div>
