<div class="account-dialog">
  <!-- Account details -->
  <ng-container *ngIf="!editingAccount && !changingPassword; else form">
    <h1>
      Welcome, {{ (user$ | async) ? displayName((user$ | async)!) : 'Guest' }}
    </h1>

    <div *ngIf="user$ | async as user">
      <h3>Account Name</h3>
      <h2>{{ displayName(user) }}</h2>

      <h3>Email</h3>
      <h2>{{ user.email }}</h2>

      <h3>Password</h3>
      <h2>••••••••••••••••••••••••••</h2>
    </div>

    <div class="button-row" *ngIf="user$ | async; else noUser">
      <button mat-raised-button color="primary" (click)="switchToEditAccount()">
        EDIT ACCOUNT
      </button>

      <button
        mat-raised-button
        color="primary"
        (click)="switchToChangePassword()">
        CHANGE PASSWORD
      </button>

      <button
        mat-raised-button
        color="warn"
        (click)="openDeleteAccountDialog()">
        DELETE ACCOUNT
      </button>

      <button mat-raised-button (click)="logout()">SIGN OUT</button>
    </div>
    <ng-template #noUser>
      <p class="no-user">
        Already have an account? Click
        <a routerLink="/login" (click)="close()">here</a>
        to login or
        <a routerLink="/signup" (click)="close()">create an account.</a>
      </p>
    </ng-template>
  </ng-container>

  <ng-template #form>
    <!-- Change password -->

    <!-- Edit account details -->
  </ng-template>
</div>
