<!--Overlay loader -->
<div class="overlay-loader" *ngIf="overlayLoader$ | async">
  <mat-spinner class="main-loader" diameter="48"></mat-spinner>
</div>

<div class="title-nav">
  <h3>Home</h3>
  <button
    type="button"
    mat-icon-button
    class="help"
    [matMenuTriggerFor]="tooltipMenu">
    <mat-icon class="material-symbols-outlined">info_outline</mat-icon>
    <mat-menu #tooltipMenu="matMenu" class="tooltip-menu">
      <div class="tooltip">
        <p>
          Below is your list of planning areas. Think of each planning area as a
          folder which holds the scenarios for each of your planning areas.
          Double-click on the planning area to go into the scenario page, which
          will then show you a list of all the scenarios that you have run for
          that plan.
        </p>

        <p>
          If you haven’t run any plans yet, get started by either uploading your
          shapefile or drawing your planning area on the map in Explore to get
          started. Once you have drawn the polygon and hit save, it will prompt
          you to name your planning area. You can change this name from this
          page.
        </p>

        <p>
          You can delete your planning area by selecting the delete button. If
          you want to go back to the map view, just click on the Explore button
          in the top right corner of the page.
        </p>
      </div>
    </mat-menu>
  </button>
  <app-planning-areas-search
    [searchTerm]="searchTerm"
    (search)="search($event)"></app-planning-areas-search>
  <a
    sg-button
    variant="primary"
    icon="explore"
    [outlined]="true"
    routerLink="/map">
    Explore
  </a>
</div>

<div class="filter-bar">
  <sg-filter-dropdown
    [disabled]="(creators$ | async) === null"
    menuLabel="Creator"
    (confirmedSelection)="selectCreators($event)"
    displayField="full_name"
    [selectedItems]="(selectedCreators$ | async) || []"
    [menuItems]="(creators$ | async) || []"></sg-filter-dropdown>

  <sg-filter-dropdown
    menuLabel="Region"
    [hasSearch]="false"
    (confirmedSelection)="selectRegion($event)"
    [selectedItems]="selectedRegions"
    displayField="name"
    [menuItems]="regions"></sg-filter-dropdown>
</div>
<!--Initial load spinner-->
<mat-spinner
  *ngIf="initialLoad$ | async"
  class="main-loader"
  diameter="48"></mat-spinner>

<!--Planning area table and pagination-->
<section
  [hidden]="initialLoad$ | async"
  *ngIf="(noEntries$ | async) !== true; else emptyState">
  <table
    class="planning-areas mat-elevation-z0"
    mat-table
    matSort
    [matSortActive]="sortOptions.active"
    [matSortDirection]="sortOptions.direction"
    [dataSource]="dataSource"
    [matSortDisableClear]="true"
    (matSortChange)="changeSort($event)">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.key">
      <th
        mat-header-cell
        *matHeaderCellDef
        [mat-sort-header]="column.key"
        [disabled]="column.key === 'menu'">
        {{ column.label }}
      </th>

      <td mat-cell *matCellDef="let element">
        <ng-container [ngSwitch]="column.key">
          <ng-container *ngSwitchDefault>
            {{ element[column.key] }}
          </ng-container>
          <ng-container *ngSwitchCase="'latest_updated'">
            {{ element[column.key] | date: 'medium' }}
          </ng-container>
          <ng-container *ngSwitchCase="'area_acres'">
            {{ element[column.key] | number: '1.0-0' }}
          </ng-container>
          <ng-container *ngSwitchCase="'menu'">
            <app-planning-area-menu
              [plan]="element"
              (afterDelete)="reload()"></app-planning-area-menu>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns | keyPipe"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: columns | keyPipe"
      (click)="viewPlan(row, $event)"></tr>
  </table>

  <sg-paginator
    *ngIf="pages$ | async"
    [currentPage]="pageOptions.page"
    [recordsPerPage]="pageOptions.limit"
    (pageChanged)="goToPage($event)"
    (recordsPerPageChanged)="changePageSize($event)"
    [pageCount]="(pages$ | async) || 0"></sg-paginator>
</section>

<!--Empty state-->
<ng-template #emptyState>
  <section class="empty-state">
    <ng-container *ngIf="hasFilters$ | async; else noData">
      <mat-icon class="material-symbols-outlined">find_in_page</mat-icon>
      <div class="empty-state__title">No Planning Areas Found</div>
      <div>No planning areas match the search criteria provided.</div>
      <div>
        Please verify spelling, use alternative keywords, or broaden the search
        scope.
      </div>
    </ng-container>
    <ng-template #noData>
      <mat-icon class="material-symbols-outlined">create_new_folder</mat-icon>
      <div class="empty-state__title">No Planning Areas Yet</div>
      <div>
        Click "Explore" to start creating your planning areas. Not ready to
        create new plans?
      </div>
      <div>
        You can explore the mapping tool without creating a planning area.
      </div>
    </ng-template>
  </section>
</ng-template>
