@import "colors";
@import "mixins";
@import "media";

:host {
  width: 100%;
  height: 100%;
  padding: 24px;
  box-sizing: border-box;
  background-color: $color-light-gray;
}


.title-nav {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;

  h3 {
    margin: 0 auto 0 0;
  }

  .mat-icon {
    line-height: 22px;
  }
}

.filter-bar {
  display: flex;
  align-items: center;
  gap: 8px;
}


table.planning-areas {

  --mat-table-header-headline-font: "Public Sans", sans-serif;
  --mat-table-row-item-label-text-font: "Public Sans", sans-serif;
  --mat-table-footer-supporting-text-font: "Public Sans", sans-serif;
  --mat-table-header-container-height: 61px;
  --mat-table-footer-container-height: 61px;
  --mat-table-row-item-container-height: 61px;
  --mat-table-row-item-outline-color: #E1E1E1;
  --mat-table-row-item-label-text-line-height: 22px;


  border: 1px solid $color-soft-gray;
  border-radius: 4px;
  margin: 16px 0;
  overflow: hidden;

  .mat-column-name, .mat-column-creator {
    width: 25%;
  }

  .mat-column-region_name {
    width: 15%;
  }

  .mat-column-latest_updated {
    white-space: nowrap;
  }

  .mat-mdc-header-cell {
    white-space: nowrap;
    font-weight: 600;
  }


  .mat-column-menu {
    padding: 0;
    width: 62px;
    text-align: center;
  }

  .mdc-data-table__row {
    cursor: pointer;
  }

  .mdc-data-table__row:hover {
    background-color: $color-soft-gray;
  }

}


@include on-small() {
  table.planning-areas {
    .mat-column-region_name,
    .mat-column-latest_updated,
    .mat-column-creator,
    .mat-column-scenario_count,
    .mat-column-area_acres {
      display: none;
    }

    .mat-column-name {
      width: auto;
    }
  }

}


.main-loader {
  margin: 32px auto;
  text-align: center;
  display: block;
}

.empty-state {
  color: $color-md-gray;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  mat-icon {
    color: $color-text-gray;
    width: 48px;
    height: 48px;
    font-size: 48px;
    line-height: 48px;
  }

  .empty-state__title {
    @include standard-input-label();
    color: $color-black;
    margin-bottom: 4px;
  }
}

.tooltip {
  padding: 20px;
}

// placeholders, remove once the components are ready.

.search-bar-placeholder {
  border: 1px solid $color-text-gray;
  padding: 8px;
  border-radius: 4px;
  width: 213px;
}

.filter-placeholder {
  border: 1px solid $color-text-gray;
  padding: 8px;
  border-radius: 4px;
}


.pagination-placeholder {

  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 16px;

  div {

    padding: 5px 10px;
   
  }
}
