:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:8px
}

sg-chart {
  width: 50%;
  flex-shrink: 0;
}

@media print {
  :host {
    display: block;
    ::ng-deep {
      .y-axis-label {
        display: block;
        position: relative;
        top: -200px;
      }
    }
  }
}
