:host {
  display: block;
}

@media print {
  :host {
    display: block;
    ::ng-deep {
      .y-axis-label {
        display: block;
        position: relative;
        top: -200px;
      }
    }
  }
}
