<mat-toolbar [color]="color">
  <!-- Title and logo-->
  <a class="site-link logo-center" routerLink="/home" data-id="logo">
    <img
      src="assets/svg/planscape-white-logo.svg"
      alt="Planscape"
      class="logo" />
  </a>

  <!-- Show this section once we know if the user is logged in or not to avoid -->
  <!-- flashing guest / default icon and content shifting -->
  <ng-container *ngIf="(displayName$ | async) !== undefined">
    <!-- Sign in with menu if loged in is false -->
    <button
      *ngIf="(loggedIn$ | async) === false"
      [matMenuTriggerFor]="dotMenu"
      class="navbar-item mat-body-2 user-menu"
      data-id="menu-trigger">
      {{ displayName$ | async }}
    </button>

    <a
      class="help"
      mat-icon-button
      routerLink="/help"
      target="_blank"
      aria-label="help button"
      rel="noopener noreferrer"
      data-id="help">
      <mat-icon class="material-symbols-outlined">help_outline</mat-icon>
    </a>

    <!--  Feedback-->
    <a
      routerLink="/feedback"
      class="navbar-item feedback"
      data-id="feedback"
      target="_blank"
      rel="noopener noreferrer">
      Feedback
    </a>

    <!-- User with menu if loged in is true -->
    <button
      *ngIf="(loggedIn$ | async) === true"
      [matMenuTriggerFor]="dotMenu"
      class="navbar-item mat-body-2 user-menu"
      data-id="menu-trigger">
      {{ displayName$ | async }}
    </button>

    <mat-menu #dotMenu="matMenu" class="dropdown-menu">
      <!-- logged out-->
      <ng-container *ngIf="(loggedIn$ | async) === false">
        <a mat-menu-item routerLink="/login"> Log In </a>
        <a mat-menu-item routerLink="/signup"> Create Account</a>
      </ng-container>

      <!--  Logged in-->
      <ng-container *ngIf="loggedIn$ | async">
        <button mat-menu-item routerLink="/home" data-id="home">Plans</button>
        <button
          mat-menu-item
          routerLink="/account/information"
          data-id="account">
          Account
        </button>
        <button mat-menu-item (click)="logout()" data-id="logout">
          Sign Out
        </button>
      </ng-container>
    </mat-menu>
  </ng-container>

  <!--  Mobile menu-->
  <button class="mat-icon-button mobile-menu" (click)="toggleSidePanel()">
    <mat-icon *ngIf="!sidebarOpen">menu</mat-icon>
    <mat-icon *ngIf="sidebarOpen">close</mat-icon>
  </button>
  <!--  Mobile side panel-->
  <div class="side-panel" [ngClass]="{ open: sidebarOpen }">
    <ng-container *ngIf="(loggedIn$ | async) === false">
      <a routerLink="/login">Log In </a>
      <a routerLink="/signup">Create Account</a>
    </ng-container>

    <ng-container *ngIf="loggedIn$ | async">
      <a routerLink="/home">Plans</a>
      <a routerLink="/account/information">Account</a>
    </ng-container>

    <a
      routerLink="/help"
      target="_blank"
      aria-label="help button"
      rel="noopener noreferrer"
      data-id="help">
      Help
    </a>

    <a
      routerLink="/feedback"
      data-id="feedback"
      target="_blank"
      rel="noopener noreferrer">
      Feedback
    </a>

    <ng-container *ngIf="loggedIn$ | async">
      <a (click)="logout()">Sign Out</a>
    </ng-container>
  </div>
</mat-toolbar>
