@import 'variables';
@import "colors";
@import "mixins";

// Top-bar styling
.mat-toolbar {
  background-color: $color-dark-gray;
  height: $toolbar-height;
  padding: 0 64px 0 12px;
  position: relative;

  display: flex;
  align-items: center;
  z-index: 500;
  @media screen and (max-width: 840px) {
    padding: 0 12px;
  }

  .site-link {
    color: $color-white;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-decoration: none;
    height: 100%;
  }

  .logo-center {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    box-sizing: border-box;
    padding: 10px 0 12px;
    margin-right: auto;
  }

  .logo {
    height: 100%;
  }

  .mat-icon {
    line-height: 22px;
  }

}

.user-menu, .help, .navbar-item {
  @media screen and (max-width: 840px) {
    display: none;
  }
}

.mobile-menu {
  border: none;
  line-height: 0;
  @media screen and (min-width: 840px) {
    display: none;
  }
}

.navbar-item {
  @include important-paragraph();
  color: $color-white;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
}

button.navbar-item, a.navbar-item {
  cursor: pointer;

  &:active, &:hover {
    color: $color-light-blue;
    text-decoration: underline;
    text-underline-position: under;
  }
}

.navbar-item[aria-expanded="true"] {
  color: $color-light-blue;
  text-decoration: underline;
  text-underline-position: under;
}

.help {
  margin-left: 20px;

  &:active, &:hover {
    color: $color-light-blue;
  }
}

.mat-menu-trigger {
  height: 100%;
}

.side-panel {
  background-color: $color-dark-gray;
  position: fixed;
  inset: 0;
  top: $toolbar-height;
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding: 20px;
  transform: translateX(100%);
  transition: transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: transform, opacity;

  &.open {
    transform: translateX(0);
  }

  @media screen and (min-width: 840px) {
    display: none;
  }

  a {
    @include important-paragraph();
    color: $color-white;
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;


    &:active, &:hover {
      color: $color-light-blue;
      text-decoration: underline;
      text-underline-position: under;
    }
  }

}

@media print {
  .navbar-item,
  .mat-menu-trigger,
  .help,
  .side-panel {
    display: none;
  }
  .mat-toolbar {
    background-color: $color-white;
  }

  .mat-toolbar .site-link {
    color: $color-black;
  }

  .site-link img {
    filter: invert(1);
  }
}
