
:host {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 32px);
    height: 40px;
    background: #00000066;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    z-index: 1;
  }

