@import "variables";

:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $map-nav-bar-height;
  background: #00000066;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  z-index: 10;
  box-sizing: border-box;

  &::ng-deep mat-card.slider-card {
    height: 40px;
  }
}
