<div class="forget-password-root">
  <div class="forget-password-container">
    <div class="forget-password-card">
      <h1 class="title">Reset Password</h1>

      <p class="reset-text">{{ resetText }}</p>

      <form [formGroup]="form" (ngSubmit)="submit()" class="email-form">
        <mat-form-field appearance="fill" class="email-field">
          <mat-label>Email</mat-label>
          <input type="text" required formControlName="email" matInput />
        </mat-form-field>

        <div class="reset-form-buttons">
          <button mat-stroked-button color="secondary" type="cancel" class="reset-form-button">
            Cancel
          </button>
          <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid" class="reset-form-button">
            Reset Password
          </button>
        </div>

        <mat-error class="mat-error" *ngIf="accountError">
          {{ accountError }}
        </mat-error>
      </form>
    </div>

    <div class="disclaimer-text">
      <p>{{ disclaimerText }}</p>
    </div>
  </div>

  <div class="info-text-container">
    <planscape-about></planscape-about>
  </div>

</div>