@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/forms';

.forget-password-root {
  display: flex;
  height: 100%;
}

.forget-password-container {
  background-image: url('/assets/jpg/planscape-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 50%;
}

.forget-password-subcontainer {
  flex-direction: column;
  margin: auto;
  height: 400px;
  width: 500px;
  padding: 20px 0px 20px 0px;
  gap: 20px;
  display: flex;
  margin-top: 180px;
}

.planscape-white-logo {
  margin: auto;
  height: 42px;
  width: 246px;
}

.forget-password-card {
  align-items: stretch;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 40px 60px 40px 60px;
  width: 300px;
  height: 330px;
  border: 1px $color-original-purple-50pct solid;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-family: 'Public Sans', Arial, Helvetica, sans-serif;
}

h1 {
  @include h1();
  &.title {
    margin-bottom: 30px;
    text-align: center;
    color: $color-dark-gray;
  }
}

/*standard label*/
.standard-label {
  @include standard-label();
  color: $color-dark-gray;
}

.required-blurb {
  @include italic-sm();
}

mat-form-field {
  width: 100%;
}

.reset-form-buttons {
  @include button-text;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
// .reset-form-buttons .disabled {
//   @include button-disabled;
// }
// .send-email-button {
//   background-color: $color-standard-blue;
//   flex: 1;
// }
.cancel-button {
  background-color: white;
  flex: 1;
}

.info-text-container {
  background-color: $color-soft-purple;
  width: 50%;
}
