.forget-password-root {
  display: flex;
  height: 100%;
}

.forget-password-container {
  background-image: url('/assets/png/planscape_signin_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 50%;
}

.forget-password-card {
  align-items: stretch;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 70px 86px;
  width: 300px;
}

h1 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;

  &.title {
    margin-bottom: 30px;
    text-align: center;
  }
}

p {
  color: #888;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;

  &.reset-text {
    margin-bottom: 24px;
  }
}

mat-form-field {
  width: 100%;
}

.reset-form-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.reset-form-button {
  flex: 1;
}

.info-text-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 145px 120px 120px 82px;
  width: 50%;
}

.disclaimer-text {
  bottom: 40px;
  box-sizing: border-box;
  padding: 0 140px;
  position: absolute;
  width: 50%;

  p {
    color: white;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
  }
}