<div class="forget-password-container">
  <div class="forget-password-subcontainer">
    <div class="signin-card-logo">
      <div class="planscape-white-logo">
        <img src="assets/svg/planscape-white-logo.svg" alt="planscape logo" />
      </div>
    </div>
    <div class="forget-password-card">
      <h1 class="title">Reset Password</h1>

      <form [formGroup]="form" (ngSubmit)="submit()" class="email-form">
        <mat-label class="form-field-label"
          >Email
          <span class="required-blurb">required</span>
        </mat-label>
        <mat-form-field class="form-field-input" appearance="outline">
          <input
            type="text"
            required
            formControlName="email"
            matInput
            (blur)="checkEmailErrors()"
            (keyup)="clearEmailErrors()" />
        </mat-form-field>

        <app-field-alert
          *ngIf="
            this.emailError !== '' &&
            this.form.controls['email'].errors !== null
              ? true
              : false
          "
          message="{{ emailError }}"
          title="email error"></app-field-alert>

        <div class="reset-form-buttons">
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="!form.valid"
            class="send-email-button">
            SEND EMAIL
          </button>

          <button
            mat-stroked-button
            color="secondary"
            type="cancel"
            class="cancel-button"
            (click)="cancel()">
            Cancel
          </button>
        </div>

        <app-form-message
          [messageType]="FormMessageType.ERROR"
          *ngIf="accountError"
          title="Password Reset Error"
          message="{{ accountError }}">
        </app-form-message>
      </form>
    </div>
  </div>
  <app-credits-blurb></app-credits-blurb>
</div>

<div class="info-text-container">
  <app-planscape-about></app-planscape-about>
</div>
