<div class="forget-password-root">
  <div class="forget-password-container">
    <div class="forget-password-subcontainer">
      <div class="signin-card-logo">
        <div class="planscape-white-logo">
          <img src="assets/svg/planscape-white-logo.svg" alt="planscape logo" />
        </div>
      </div>
      <div class="forget-password-card">
        <h1 class="title">Reset Password</h1>

        <form [formGroup]="form" (ngSubmit)="submit()" class="email-form">
          <mat-label class="standard-label"
            >Email
            <span class="required-blurb">required</span>
          </mat-label>
          <mat-form-field appearance="outline">
            <input type="text" required formControlName="email" matInput />
          </mat-form-field>

          <div class="reset-form-buttons">
            <button
              mat-flat-button
              color="primary"
              type="submit"
              [disabled]="!form.valid"
              class="send-email-button">
              SEND EMAIL
            </button>

            <button
              mat-stroked-button
              color="secondary"
              type="cancel"
              class="cancel-button"
              (click)="cancel()">
              Cancel
            </button>
          </div>

          <mat-error class="mat-error" *ngIf="accountError">
            {{ accountError }}
          </mat-error>
        </form>
      </div>
    </div>
  </div>
  <app-credits-blurb></app-credits-blurb>

  <div class="info-text-container">
    <app-planscape-about></app-planscape-about>
  </div>
</div>
