<app-nav-bar area="NEW_SCENARIO" [showForsysLogo]="true"></app-nav-bar>
<!--New scenario ui flow-->
<ng-container *ngIf="scenarioType$ | async as scenarioType">
  <sg-steps-nav
    *ngIf="!(isOnPreStep$ | async)"
    [steps]="steps"
    [selectedIndex]="stepsComponent.navSelectedIndex"
    [allowNavigation]="true"
    [linear]="true"
    (selectionChange)="
      stepsComponent &&
        (stepsComponent.selectedIndex = isCustomScenario(scenarioType)
          ? $event + 1
          : $event)
    "></sg-steps-nav>
  <section
    class="container"
    [ngClass]="{ first: !!(isOnPreStep$ | async) }">
    <sg-steps
      #stepsComponent
      class="new-scenario-ui"
      [ngClass]="{ 'full-screen-steps': !!(isOnPreStep$ | async) }"
      [showStepIndex]="false"
      [showClearButton]="!!(viewedDataLayer$ | async)"
      linear
      finishLabel="Save & Run Scenario"
      continueLabel="Save & Continue"
      [save]="saveStepFn"
      (selectedIndexChange)="stepChanged($event)"
      (selectionChange)="handleStepChangeEvent($event)"
      (finished)="onFinish()"
      (clearClick)="clearViewedDataLayer()"
      [savingStep]="(loading$ | async) ?? false"
      [disabled]="(loading$ | async) || false">
      <app-scenario-summary
        sharedHeading
        *ngIf="!(isOnPreStep$ | async)"
        [standSize]="(standSize$ | async) || null"
        [treatmentGoal]="(treatmentGoalName$ | async) || ''"
        [priorityObjectives]="
          (priorityObjectivesNames$ | async) || ''
        "></app-scenario-summary>

      <!-- Preset Scenarios steps-->
      <ng-container *ngIf="!isCustomScenario(scenarioType)">
        <sg-step class="full-screen-step" [preStep]="true">
          <app-step1-with-overview></app-step1-with-overview>
        </sg-step>
        <sg-step class="full-screen-step">
          <app-treatment-goal-step></app-treatment-goal-step>
        </sg-step>

        <sg-step>
          <app-exclude-areas-selector></app-exclude-areas-selector>
        </sg-step>
        <sg-step>
          <app-stand-level-constraints></app-stand-level-constraints>
        </sg-step>
        <sg-step>
          <app-treatment-target></app-treatment-target>
        </sg-step>
      </ng-container>
      <!-- Custom Scenarios steps-->
      <ng-container *ngIf="isCustomScenario(scenarioType)">
        <sg-step [preStep]="true">
          <app-step1-custom></app-step1-custom>
        </sg-step>
        <sg-step>
          <app-custom-priority-objectives></app-custom-priority-objectives>
        </sg-step>
        <sg-step>
          <app-custom-cobenefits></app-custom-cobenefits>
        </sg-step>
        <sg-step>
          <app-exclude-areas-selector></app-exclude-areas-selector>
        </sg-step>
        <sg-step>
          <app-stand-level-constraints></app-stand-level-constraints>
        </sg-step>
        <sg-step>
          <app-treatment-target></app-treatment-target>
        </sg-step>
      </ng-container>
    </sg-steps>
    <app-scenario-map *ngIf="showMap$ | async"></app-scenario-map>
  </section>
</ng-container>
