<div class="validation-root">
  <div class="validation-result-container">
    <div class="validation-result-card">
      <div>
        <div *ngIf="isValidated" class="valid-token">
          <h1>Account Validation</h1>
          <h3>
            Your email address was validated. Please
            <a href="login/">click here</a>
            to continue.
          </h3>
        </div>
        <div *ngIf="!isValidated" class="invalid-token">
          <h1>Account Validation</h1>
          <h3>This validation token was not recognized.</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="info-text-container">
    <app-planscape-about></app-planscape-about>
  </div>
</div>
