<div class="panel-container">
  <div>
    <h1>Create scenarios</h1>
    <p>{{ text1 }}</p>
  </div>
  <div class="row-div gap-60">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>
            Generate scenarios using:
          </mat-label>
          <mat-select>
            <mat-option value="Current conditions scores">Current Conditions scores</mat-option>
            <mat-option value="Management opportunity scores" disabled>Opportunity scores (Coming soon)</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <p>
          {{ text2 }}
        </p>
      </div>
  </div>
  <div class="row-div gap-60">
    <div>
      <h2>Current Conditions score</h2>
      <p>{{ text3 }}</p>
    </div>
    <div>
      <h4>Condition Score Scale</h4>
      <app-legend [legend]="legend" [vertical]="true" [hideTitles]="true" [hideOutline]="true"></app-legend>
    </div>
</div>
<div class="row-div gap-60">
    <div>
      <h2>Opportunity score (Coming soon)</h2>
      <p>{{ text4 }}</p>
    </div>
    <div>
      <h4>Opportunity Score Scale</h4>
      <app-legend [legend]="legend" [vertical]="true" [hideTitles]="true" [hideOutline]="true"></app-legend>
    </div>
  </div>
  <div class="row-div">
    <button mat-icon-button><mat-icon class="material-symbols-outlined">info</mat-icon></button>
    <div>{{ text5 }}</div>
  </div>
</div>
