<div class="panel-container">
  <p class="secondary-text">{{ text1 }}</p>

  <h4>Prioritize by:</h4>

  <mat-form-field appearance="fill" class="select-box" subscriptSizing="dynamic">
    <mat-label>Make Selection</mat-label>
    <mat-select>
      <mat-option value="Current conditions scores">Current Conditions scores</mat-option>
      <mat-option value="Management opportunity scores" disabled>Opportunity scores (Coming soon)</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="row-div gap-60 shaded-box">
    <div>
      <h4>Current Conditions score</h4>
      <p>{{ text3 }}</p>
    </div>
    <div>
      <app-legend [legend]="legend" [vertical]="true" [hideTitles]="true"></app-legend>
    </div>
</div>
<div class="row-div gap-60 shaded-box">
    <div>
      <h4>Opportunity score</h4>
      <p>{{ text4 }}</p>
    </div>
    <div>
      <app-legend [legend]="legend" [vertical]="true" [hideTitles]="true"></app-legend>
    </div>
  </div>
  <div class="row-div align-center">
    <button mat-icon-button><mat-icon class="material-symbols-outlined">info</mat-icon></button>
    <span><b><u>Learn more</u></b> about how data is used.</span>
  </div>
</div>
