<mgl-map
  *ngIf="bounds$ | async; let bounds"
  (mapLoad)="mapLibreMap = $event"
  [style]="(baseLayerUrl$ | async) || ''"
  [fitBounds]="bounds"
  [fitBoundsOptions]="{ padding: 20 }"
  [dragPan]="(standSelectionEnabled$ | async) === false"
  [minZoom]="7"
  [maxZoom]="17"
  [boxZoom]="false"
  [interactive]="true"
  [pitchWithRotate]="false"
  (mapMouseDown)="onMapMouseDown($event)"
  (mapMouseMove)="onMapMouseMove($event)"
  (mapMouseUp)="onMapMouseUp($event)">
  <app-map-controls
    *ngIf="showMapControls$ | async"
    [mapLibreMap]="mapLibreMap"></app-map-controls>
  <app-map-stands
    *ngIf="showTreatmentStands$ | async"
    [mapLibreMap]="mapLibreMap"
    [selectStart]="mouseStart ? mouseStart.point : null"
    [selectEnd]="mouseEnd ? mouseEnd.point : null"></app-map-stands>

  <app-map-rectangle
    [mapLibreMap]="mapLibreMap"
    [start]="mouseStart ? mouseStart.lngLat : null"
    [end]="mouseEnd ? mouseEnd.lngLat : null"></app-map-rectangle>

  <app-map-project-areas
    [mapLibreMap]="mapLibreMap"
    *ngIf="showMapProjectAreas$ | async"></app-map-project-areas>

  <app-map-tooltip [lngLat]="mouseLngLat" *ngIf="mouseLngLat">
    click to apply treatment on single stand or drag to apply on multiple stands
  </app-map-tooltip>
</mgl-map>
