<mgl-map
  *ngIf="mapExtent$ | async; let bounds"
  (mapLoad)="mapLoaded($event)"
  (mapMouseDown)="onMapMouseDown($event)"
  (mapMouseMove)="onMapMouseMove($event)"
  (mapMouseOut)="onMapMouseOut()"
  (mapMouseUp)="onMapMouseUp()"
  (sourceData)="onSourceData($event)"
  [boxZoom]="false"
  [doubleClickZoom]="(standSelectionEnabled$ | async) === false"
  [dragPan]="(standSelectionEnabled$ | async) === false"
  [dragRotate]="false"
  [fitBoundsOptions]="{ padding: 20 }"
  [fitBounds]="bounds"
  [interactive]="true"
  [maxZoom]="17"
  [minZoom]="7"
  [pitchWithRotate]="false"
  [style]="(baseLayerUrl$ | async) || ''"
  [transformRequest]="transformRequest">
  <app-map-controls
    *ngIf="showMapControls$ | async"
    [mapLibreMap]="mapLibreMap"></app-map-controls>

  <app-map-project-areas
    [mapLibreMap]="mapLibreMap"
    [withFill]="(showFillProjectAreas$ | async) || false"
    [visible]="(showMapProjectAreas$ | async) || false"></app-map-project-areas>

  <app-map-stands
    *ngIf="showTreatmentStands$ | async"
    [sourceId]="standsSourceLayerId"
    [mapLibreMap]="mapLibreMap"
    [selectStart]="mouseStart ? mouseStart.point : null"
    [selectEnd]="mouseEnd ? mouseEnd.point : null"></app-map-stands>

  <app-map-rectangle
    [mapLibreMap]="mapLibreMap"
    [start]="mouseStart ? mouseStart.lngLat : null"
    [end]="mouseEnd ? mouseEnd.lngLat : null"></app-map-rectangle>

  <app-map-tooltip
    [lngLat]="treatmentTooltipLngLat"
    *ngIf="treatmentTooltipLngLat">
    click to apply treatment on single stand or drag to apply on multiple stands
  </app-map-tooltip>

  <mgl-raster-source
    url="cog://https://planscape-control-dev.s3.amazonaws.com/datalayers/1/8be31e29-dc90-4fc4-996b-d6dcc1336383.tif?AWSAccessKeyId=AKIA2ISRA6UAJ4HOYFVT&Signature=QH4aPCEN%2BAryAm46IyGCCm9wSKk%3D&Expires=1730127278#color:BrewerSpectral9,0,1,c"
    [tileSize]="256"
    id="rasterImage"></mgl-raster-source>

  <mgl-layer id="image-layer" type="raster" source="rasterImage"></mgl-layer>
</mgl-map>
