@import 'colors';

:host {
  display: flex;
  padding: 0px;
  font-size: 14px;
  color: $color-standard-blue;
}

.treatment-link {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  text-decoration: none;

  &-label:hover {
    text-decoration: underline;
  }
}
