<div class="root-container">
  <h1>Welcome to Planscape preview!</h1>

  <div class="plans-container">
    <div class="plans-not-implemented">
      <div class="plans-not-implemented">
        <b font-size="20px">
          What is Planscape?
          <br />
        </b>
        <p>
          Planscape is a new wildfire resilience planning support tool designed
          to bring the best available state & federal data and science together
          to enable better land management. Planscape is for you, the regional
          wildland planners, to help prioritize landscape treatments. With
          Planscape, you can mitigate fire risk, maximize ecological benefits,
          and help California&#39;s landscapes adapt to climate change.
          <br />
        </p>
        <p>
          Planscape preview includes all data from the
          <a
            href="https://wildfiretaskforce.org/regional-resource-kits-and-profiles-are-now-available/">
            Regional Resource Kit
          </a>
          layers for the Sierra Nevada, Southern California, and Central Coast
          regions.
          <br />
        </p>

        <b>
          What can I do with Planscape?
          <br />
        </b>
        <p>
          You can view and explore the landscape resilience planning data on a
          set of maps. You can also visualize this data for the three regions
          alongside other provided data sets such as county and watershed
          boundaries.
          <br />
        </p>

        <p>
          Future Planscape releases will give you the ability to create plans,
          to identify treatment areas from the plans, and to collaborate with
          other stakeholders.
          <br />
        </p>

        <b>
          How do I learn more?
          <br />
        </b>
        <p>
          Click on the
          <a routerLink="/help" target="_blank" rel="noopener noreferrer">
            Help
          </a>
          icon on the top right corner of the tool to read the
          <a
            href="https://github.com/OurPlanscape/Planscape/wiki/Planscape-User-Guide"
            target="_blank"
            rel="noopener noreferrer">
            user guide
          </a>
          or check out the
          <a
            href="https://github.com/OurPlanscape/Planscape/wiki/Release-Notes"
            target="_blank"
            rel="noopener noreferrer">
            Planscape Release Notes
          </a>
          or
          <a
            href="https://www.planscape.org/faqs"
            target="_blank"
            rel="noopener noreferrer">
            FAQ
          </a>
          . You can also visit
          <a
            href="https://www.planscape.org/"
            target="_blank"
            rel="noopener noreferrer">
            Planscape.org
          </a>
          for more information about the tool. If you would like to receive our
          newsletter for regular updates, you can
          <a href="https://www.planscape.org/contact">sign up here</a>
          .
        </p>

        <b>
          Conditions of Use
          <br />
        </b>
        <p>
          Please read our
          <a
            href="https://www.planscape.org/conditions-of-use/"
            target="_blank">
            Conditions of Use
          </a>
          for information regarding usage of this tool.
        </p>
      </div>
    </div>
  </div>
</div>
