.root-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 30px 180px 0;
  justify-content: center;
}

.plans-container {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 3px 1px -2px #0000001f;
  box-shadow: 0px 2px 2px 0px #00000024;
  box-shadow: 0px 1px 5px 0px #00000033;
  padding: 16px 26px;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin-bottom: 10px;
}

.plans-not-implemented {
  color: #000000a8;
  flex-direction: row;
  height: 40%;
  justify-content: left;
  flex: 1;

  b {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
  }
  p li {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
  }
}
