<sg-modal
  title="Scenario planning is currently only available within the state of California"
  [shortHeader]="false"
  [showBorders]="false"
  [centerFooter]="false"
  [padBody]="true"
  primaryButtonText="Adjust Planning Area"
  [hasSecondaryButton]="false"
  (clickedClose)="closeModal()"
  (clickedPrimary)="closeModal()">
  <div modalBodyContent class="padded">
    Please adjust your Planning Area to be located within California in order to
    proceed with scenario planning. <br />
    Support for scenario planning outside of California is coming soon.
  </div>
</sg-modal>
