@import '../shared/_variables.scss';
@import "../../styles/colors";
@import "../../styles/mixins";

// Top-bar styling
.mat-toolbar {
  background-color: $color-dark-gray;
  height: $toolbar-height;
  padding: 0 64px 0 12px;
  position: relative;
  z-index: 2;

  .site-link {
    color: $color-white;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-decoration: none;
    height: 100%;
  }

  .logo-center {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    box-sizing: border-box;
    padding: 10px 0 12px;
  }

  .logo {
    height: 100%;
  }
}


// The space between left and right elements on the top-bar
.spacer {
  flex: 1 1 auto;
}

.navbar-item {
  @include h4();
  color: $color-white;
  text-decoration: none;
  background: none;
  border: none;
  padding: 0;
}

button.navbar-item, a.navbar-item {
  cursor: pointer;

  &:active, &:hover {
    color: $color-light-blue;
    text-decoration: underline;
    text-underline-position: under;
  }
}

.navbar-item[aria-expanded="true"] {
  color: $color-light-blue;
  text-decoration: underline;
  text-underline-position: under;
}

.help {
  margin-left: 20px;

  &:active, &:hover {
    color: $color-light-blue;
  }
}

.mat-menu-trigger {
  height: 100%;
}

@media print {
  .nav-link,
  .mat-menu-trigger,
  .help {
    display: none;
  }
  .mat-toolbar {
    background-color: $color-white;
  }

  .mat-toolbar .site-link {
    color: $color-black;
  }

  .site-link img {
    filter: invert(1);
  }
}
