@import "../shared/_variables.scss";

// Top-bar styling
.mat-toolbar {
  background-color: #494949;
  height: $toolbar-height;
  padding: 0 12px;
  position: relative;
  z-index: 2;

  .site-link {
    color: #ffffff;
    font-family: "Google Sans", "Open Sans", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-decoration: none;
  }
  .logo-center {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
  }
}

// Hamburger menu icon
.menu-button {
  margin-right: 10px;
}

// The icon on the left of the region dropdown
.region-dropdown-icon {
  margin: 2px 6px 0 18px;
}


// The space between left and right elements on the top-bar
.spacer {
  flex: 1 1 auto;
}

.username , .nav-link{
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 5px;
  margin-left: 5px;
}

.nav-link {
  text-decoration: none;
  margin-right: 32px;
  &:visited, &:active {
    color: white;
  }
}

.avatar {
  border-radius: 50%;
  background-color: white;
  color: #494949;
  font-weight: bold;
}

.menu-link {
  text-align: center;
}
