@import "../shared/_variables.scss";

// Region select dropdown arrow
@mixin arrow {
  content: '';
  $arrow-size: 5px;
  position: relative;
  right: 12px;
  top: 15px;
  width: 0;
  height: 0;
  border-left: $arrow-size solid transparent;
  border-right: $arrow-size solid transparent;
  border-top: $arrow-size solid #ffffff;
  pointer-events: none;
}

// Top-bar styling
.mat-toolbar {
  background-color: #494949;
  height: $toolbar-height;
  padding: 0 12px;
  position: relative;
  z-index: 2;

  .site-link {
    color: #ffffff;
    font-family: "Google Sans", "Open Sans", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-decoration: none;
  }
}

// Hamburger menu icon
.menu-button {
  margin-right: 10px;
}

// The icon on the left of the region dropdown
.region-dropdown-icon {
  margin: 2px 6px 0 18px;
}

// Region selection dropdown styling
.region-dropdown-wrapper {
  position: relative;

  &::after {
    @include arrow;
  }
}

select.region-dropdown {
  &::-ms-expand {
    display: none; /* IE */
  }
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  background: none;
  border: none;
  outline: none;
  width: fit-content;
  margin-right: 15px;

  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  font-weight: 200;
  text-align: center;

}

// The space between left and right elements on the top-bar
.spacer {
  flex: 1 1 auto;
}

.username {
  color: white;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 20px;
}
