<mat-toolbar [color]="color" class="mat-elevation-z8">
  <button
    mat-icon-button
    class="top-bar-menu-button"
    aria-label="menu icon button"
    (click)="sendToggle($event)">
     <mat-icon>menu</mat-icon>
  </button>
  <span class="top-bar-title">Planscape</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="top-bar-account-button"
    aria-label="account icon button"
    #accountButton
    (click)="openAccountDialog()">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
