<mat-toolbar [color]="color" class="mat-elevation-z4">
  <button
    mat-icon-button
    data-testid="menu-button"
    class="menu-button"
    aria-label="menu icon button"
    (click)="sendToggle($event)">
     <mat-icon>menu</mat-icon>
  </button>
  <a class="site-link" routerLink="/region">Planscape</a>
  <span class="spacer"></span>
  <button
    mat-icon-button
    data-testid="account-button"
    class="top-bar-account-button"
    aria-label="account icon button"
    #accountButton
    (click)="openAccountDialog()">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
