
.printable-footer {
    display: none;
  }

@media print {
    //hide elements we won't print      
   .printable-footer {
     display: block !important;
     page-break-inside: avoid;
     font-size: 12px;
     position: absolute;
     top: 6.2in;
     left:0.2in;
     height: 3.8in;
     column-width: 2.5in; 
     column-count: 2;
     column-gap: 0.2in;
     margin-left: auto;
     margin-right: auto;
   }
   .print-project-area {
     break-inside: avoid;
     page-break-inside: avoid;
     font-family: 'Public Sans', sans-serif;
   }
 
   .print-project-area-name {
     font-size: 14px;
     font-weight: 600;
     height: 20px;
   }
   .print-rx-name {
     font-size: 12px;
     padding-left: 10px;
   }
   .print-seq-detail {
     font-size: 12px;
     padding-left: 10px;
   }    
 }