@import 'colors';
@import 'media';

:host {
    position: relative;
    border-radius: 8px;
    border: 1px solid $color-soft-gray;
    background: $color-white;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    gap: 16px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.20);
    height: 200px;
    width: 100%;
    flex-shrink: 0;

    @include on-vert-small-min-med-width() {
        height: 56px;
    }
}

mgl-map {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;

    @include on-vert-small-min-med-width() {
        display: none;
    }
}

.overlay-navigation {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 56;
    background: lightblue;
    color: black;
    border-radius: 0 0 8px 8px;
    background: linear-gradient(193deg,
            rgba(6, 75, 186, 0) -134.4%,
            $color-standard-blue 97.6%);
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;

    &:hover {
        background: linear-gradient(193deg,
                rgba(6, 75, 186, 0) -244.4%,
                $color-standard-blue 67.6%);
        cursor: pointer;
    }

    .label {
        color: $color-white;
        font-family: 'Public Sans';
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        /* 100% */
        text-transform: capitalize;
    }

    mat-icon {
        color: $color-white;
    }
}