<mgl-map
  *ngIf="bounds$ | async as bounds"
  [id]="'map_viewer_card'"
  [fitBoundsOptions]="boundsOptions"
  [fitBounds]="bounds"
  [attributionControl]="false"
  [transformRequest]="transformRequest"
  [interactive]="false"
  [style]="baseLayerUrl"
  (mapLoad)="onMapLoad($event)">
  <mgl-layer
    type="background"
    id="middle-layer"
    [layout]="{ visibility: 'none' }">
  </mgl-layer>
  <app-planning-area-layer before="middle-layer"></app-planning-area-layer>
</mgl-map>
<div
  *ngIf="currentPlan$ | async as plan"
  class="overlay-navigation"
  [routerLink]="['/map-viewer', plan?.id]">
  <div class="label">Map Viewer</div>
  <mat-icon>chevron_right</mat-icon>
</div>
