<mgl-map
  [id]="'map_preview'"
  [boxZoom]="false"
  [dragRotate]="false"
  [interactive]="true"
  [pitchWithRotate]="false"
  [fitBoundsOptions]=""
  [attributionControl]="false"
  [style]="'https://demotiles.maplibre.org/style.json'"
  (mapLoad)="onMapLoad($event)">
  <app-planning-area-layer before="middle-layer"></app-planning-area-layer>

  <mgl-layer
    type="background"
    id="middle-layer"
    [layout]="{ visibility: 'none' }">
  </mgl-layer>
</mgl-map>
<div class="overlay-navigation">
  <div class="label">Map Viewer</div>
  <mat-icon>chevron_right</mat-icon>
</div>
