<sg-modal
  [title]="!editMode ? 'Name your plan' : 'Rename'"
  [shortHeader]="false"
  [showBorders]="editMode"
  [centerFooter]="false"
  [primaryButtonText]="primaryCTA"
  secondaryButtonText="Cancel"
  (clickedSecondary)="cancel()"
  (clickedClose)="cancel()"
  (clickedPrimary)="submitPlan()"
  [hasPrimarySpinner]="true"
  [isInSpinState]="submitting"
  [primaryButtonDisabled]="submitting || planForm.invalid">
  <div modalBodyContent>
    <sg-modal-info
      *ngIf="!editMode"
      infoType="info"
      leadingIcon="info_filled"
      message="Boundaries cannot be modified after the plan is saved.">
    </sg-modal-info>
    <sg-modal-info
      *ngIf="!editMode && !isValidTotalArea"
      infoType="warning"
      data-id="totalAreaError"
      leadingIcon="warning_filled"
      message="Your planning area is less than 100 acres. You will not be able to run
        treatment scenarios in Plan.">
    </sg-modal-info>
    <form [formGroup]="planForm" (ngSubmit)="submitPlan()" class="upload-form">
      <div class="field-row">
        <div class="field-label-required">
          Planning Area Name
          <div class="required-star">*</div>
        </div>
        <sg-input-field
          [disabled]="false"
          class="scenario-input"
          showSupportMessage="on-error">
          <input
            sgInput
            placeholder="Plan Name"
            name="planName"
            cdkFocusInitial
            formControlName="planName"
            class="name-field" />
        </sg-input-field>
      </div>

      <div class="help-text error" *ngIf="planForm.hasError('planNameExists')">
        There is already a planning area with that name.
      </div>

      <div class="help-text error" *ngIf="displayError">
        Something went wrong while saving your changes. Please try again in a
        moment.
      </div>
    </form>
  </div>
</sg-modal>
