<!-- Plan Info -->
<div class="plan-info">
  <span>Creator: {{ displayName }}</span>
  <br>
  <span>Created: {{ scenario?.createdTimestamp | date:'MM/dd/yyyy'}}</span>
</div>

<div class="outcome-content">
  <mat-accordion class="example-headers-align" multi>
    <!-- Configuration -->
    <mat-expansion-panel class="mat-elevation-z0" expanded="true">
      <mat-expansion-panel-header class="scenario-panel-header">
        Configuration
      </mat-expansion-panel-header>
      <div class="constraints">
        <h3>Constraints</h3>
        <ul>
          <li>Show estimated cost range based on estimated treatment costs per acre
            (Est. max: <b>${{ scenario?.config?.max_budget }}</b>)</li>
          <li><b>{{ scenario?.config?.max_treatment_area_ratio }}%</b> max treatment percentage of total planning area</li>
          <li>Exclude areas off a road by <b>{{ scenario?.config?.min_distance_from_road}} ft.</b></li>
          <li>Include areas that are over {{ scenario?.config?.max_slope }} degrees</li>
        </ul>
      </div>

      <div class="sliders-wrapper">
        <!-- Priority weights -->
        <div>
          <div class="flex-row space-between">
            <h3>Selected priorities</h3>
            <h3>Relative importance (1-5)</h3>
          </div>
          <ng-container *ngFor="let priority of scenario?.priorities || []">
            <div class="flex-row space-between">
              <h2>{{ priority.name | titlecase  }}</h2>
              <div class="flex-row">
                <mat-slider [disabled]=true [min]="0" [max]="5" [thumbLabel]="true" [value]="priority.weight"
                  color="primary">
                  <input matSliderThumb>
                </mat-slider>
                <div class="slider-label">{{priority.weight}}</div>
              </div>
            </div>
            <mat-divider></mat-divider>
          </ng-container>
        </div>
      </div>
    </mat-expansion-panel>

    <!-- Outcome -->
    <mat-expansion-panel class="mat-elevation-z0" expanded="true">
      <mat-expansion-panel-header class="scenario-panel-header">
        Outcome
      </mat-expansion-panel-header>
      <!-- Project areas section -->
      <div class="project-areas-wrapper">
        <div class="project-areas-overview">
          <div class="flex-row space-between reduced-height-row">
            <h3>Project areas</h3>
            <h3>Total treated</h3>
            <h3>% of planning area</h3>
            <h3>Est. cost range</h3>
          </div>
          <div class="flex-row space-between reduced-height-row">
            <span>{{ scenario?.projectAreas?.length || '0' }} project areas</span>
            <span>{{ totalAcresTreated }} ac</span>
            <span>{{ (totalAcresTreated / totalPlanningAreaAcres) * 100 | number: '1.0-5' }}%</span>
            <span>{{ totalCostRange }}</span>
          </div>
        </div>
        <!-- Project area cards -->
        <div class="section-header">Project Area details</div>
        <div>
          <div *ngFor="let projectArea of scenario?.projectAreas; index as i">
            <div class="project-area-card">
              <div class="flex-row"><h1>Area {{ i+1 }}</h1></div>
              <div class="area-info-wrapper">
                <div class="flex-row space-between darker-h1">
                  <span>{{ projectArea.actualAcresTreated }}</span>
                  <span>tbd</span>
                  <span>tbd</span>
                </div>
                <div class="flex-row space-between area-info-text">
                  <span>acres</span>
                  <span>average</span>
                  <span>average</span>
                </div>
                <div class="flex-row space-between area-info-text">
                  <span>treated</span>
                  <span>current condition</span>
                  <span>future condition</span>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Notes -->
  <div class="scenario-notes-wrapper">
    <div class="section-header">Scenario creator's notes</div>
    <form [formGroup]="scenarioNotes" (ngSubmit)="onSubmit()">
      <div>
        <textarea
          class="notes-text"
          formControlName="notes"
          cols="64"
          rows="10">
        </textarea>
        <button class="notes-button" type="submit">SEND</button>
      </div>
    </form>
  </div>
</div>

