h3 {
  color: #5F6368;
  font-size: 13px;
}

h2 {
  font-size: 15px;
}

h1 {
  color: #5F6368;
  font-size: 20px;
}

.darker-h1 {
  color: #455A64;
  font-size: 20px;
}

.sliders-wrapper {
  display: flex;
  flex-direction: column;
}

.slider-label {
  color: rgba(0, 0, 0, 0.26);
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  width: 32px;
}

.flex-row {
  align-items: center;
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.reduced-height-row {
  max-height: 20px;
}

.plan-info {
  background-color: #F8F8F8;
  padding: 12px 24px;

  span {
    font-size: 13px;
  }
}

.scenario-panel-header {
  font-size: 20px;
  font-weight: 700;
}

.project-areas-wrapper {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.project-areas-overview {
  background-color: #DCE4F4;
  border-radius: 8px;
  padding: 12px 22px;
}

.project-area-card {
  background-color: #F1F5FD;
  border-radius: 8px;
  padding: 12px 22px;
}

.area-info-wrapper {
  padding: 0px 50px;
}

.area-info-text {
  color: #5F6368;
  font-size: 12px;
}

.scenario-notes-wrapper {
  border-radius: 16px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  color: #5F6368;
  font-family: "Roboto";
  font-size: 18px;
  margin: 10px 16px 10px 24px;
  padding: 24px;
}

.section-header {
  color: #5F6368;
  font-family: "Roboto";
  font-size: 18px;
  padding-bottom: 15px;
}

.notes-text {
  border: none;
  border-radius: 4px;
  background-color: #E6EEFA;
  height: 91px;
  resize: none;
  width: 473px;
}

.notes-button{
  border: none;
  border-radius: 4px;
  bottom: 46px;
  font-family: "Roboto";
  font-weight: 500;
  padding: 8px 12px;
  position: absolute;
  right: 39px;
}
