@import 'colors';

:host {
  bottom: 0px;
  box-sizing: border-box;
  padding: 2% 4% 2% 4%;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  p {
    color: white;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    text-align: center;
  }
}
