<ng-container *ngIf="currentScenarioResource$ | async as scenarioResource">
  <ng-container *ngIf="scenarioResource.isLoading; else scenarioLoaded">
    <div class="spinner-row">
      <mat-spinner diameter="24" class="loader"></mat-spinner>
    </div>
  </ng-container>
  <ng-template #scenarioLoaded>
    <ng-container *ngIf="scenarioResource.error; else scenarioOk">
      <app-resource-unavailable resource="scenario"></app-resource-unavailable>
    </ng-container>
  </ng-template>

  <ng-template #scenarioOk>
    <ng-container
      *ngIf="(canViewScenarioCreation$ | async) === true; else checkOrigin">
      <app-scenario-creation></app-scenario-creation>
    </ng-container>

    <ng-template #checkOrigin>
      <app-uploaded-scenario-view
        [scenario]="scenarioResource.data"
        *ngIf="scenarioResource.data?.origin === 'USER'; else createScenario">
      </app-uploaded-scenario-view>
    </ng-template>

    <ng-template #createScenario>
      <app-view-scenario
        *ngIf="
          scenarioResource.data?.scenario_result?.status === 'SUCCESS'
        "></app-view-scenario>
    </ng-template>
  </ng-template>
</ng-container>
