@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/variables';

.flex-row {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.section-label {
  margin: 0 0 16px 0;
  color: $color-dark-gray;
}

.input-field {
  padding-top: 4px;
  width: 100%;
  border: black;

  &.disabled {
    opacity: 0.6;
  }
}

.right-align {
  text-align: right;
}

.error-message {
  color: $color-error;
  margin: 0;
  height: 20px;
  line-height: 12px;
}

.error {
  color: $color-error;
}

.prefix {
  padding-left: 8px;
}

.suffix {
  padding-right: 10px;
}

::ng-deep .treatment-step {
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }

  .mdc-text-field__input {
    padding: $steps-padding;
    margin-right: 2px;
  }

  .mdc-text-field--outlined {
    padding: 0;
  }

  .prefix {
    padding-left: $steps-padding;
  }

  .suffix {
    padding-right: $steps-padding;
  }

  .max-budget.mdc-text-field__input {
    padding: $steps-padding $steps-padding $steps-padding 0;
  }

  .treatment-cost.mdc-text-field__input {
    padding: $steps-padding 0 $steps-padding $steps-padding;
  }
}

.treatment-step ::ng-deep .mat-mdc-form-field-infix {
  display: flex;
  align-items: center;
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-row {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
}

.field-column {
  width: 100%;
}

.multiplication-separator {
  @include small-input-label();
  height: 100%;
  padding-top: 70px;
}

.input-label {
  @include small-input-label();
  color: $color-dark-gray;

  .required {
    color: $color-error;
  }
}

.total-areas-targeted {
  @include small-input-label();
  color: $color-dark-gray;

  .calculated-total {
    color: $color-black;
  }
}

.form-divider {
  margin-top: 8px;
}

