@import "mixins";
@import "colors";

:host {
  display: block;
  max-width: 535px;
}

h4 {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 8px;
}

.error-icon {
  border-radius: 50px;
  background: rgba(213, 0, 0, 0.20);
  color: $color-error;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

p {
  text-align: center;
}

.close {
  margin: 36px auto 0;
  display: block;

}
