@import "mixins";
@import 'colors';

.field-alert-box {
  position: absolute;
  padding: 12px 10px 12px 10px;
  background: white;
  width: 255px;
  margin-left: 1em;
  margin-top: -5px;
  border-radius: 5px;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-width: 1px;
  border-style: solid;
  border-color: $color-error;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
  /* CSS trick for pointer on top */
  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 19px;
    border: 16px solid transparent;
    border-bottom-color: $color-error;
  }

  &::after {
    left: 21px;
    border: 14px solid transparent;
    border-bottom-color: white;
  }
}

.field-alert-box.alert {
  border-color: black;

  &::before,
  &::after {
    border-bottom-color: black;
  }

  &::after {
    border-bottom-color: white;
  }
}

.field-alert-box.success {
  border-color: $color-brand-teal;

  &::before,
  &::after {
    border-bottom-color: $color-brand-teal;
  }

  &::after {
    border-bottom-color: white;
  }
}

.field-alert-header {
  height: 1em;
  width: 100%;
}

.field-alert-title {
  text-transform: uppercase;
  color: $color-error;
}

.field-alert-box.alert .title-text,
.field-alert-box.success .title-text {
  color: $color-dark-gray;
}

.field-alert-icon {
  float: left;
  margin-right: 8px;
}

.title-text {
  @include top-level-label();
  float: left;
}

.field-alert-box .field-alert-details {
  margin-top: 2em;
  width: 100%;
}
