<button
  class="expander"
  sg-button
  variant="icon-only"
  [icon]="expanded ? 'close_fullscreen' : 'open_in_full'"
  (click)="expandedChange.emit(!expanded)"></button>
<h4 *ngIf="!expanded" class="expanded-label">Map Control Panel</h4>
<mat-tab-group
  class="side-tabs"
  [selectedIndex]="selectedTab"
  (selectedIndexChange)="selectedTabChange.emit($event)"
  *ngIf="expanded"
  mat-stretch-tabs="false"
  mat-align-tabs="start">
  <mat-tab label="Data Layers">
    <app-map-selector></app-map-selector>
  </mat-tab>
  <mat-tab label="Base Layers">
    <app-base-layers></app-base-layers>
  </mat-tab>
</mat-tab-group>
