<!--When a dataset is selected-->
<ng-container
  *ngIf="selectedDataSet$ | async as selectedDataSet; else listDataSets">
  <div (click)="goBack()" class="data-set">
    <mat-icon *ngIf="selectedDataSet" class="icon-back">arrow_back</mat-icon>
    <div class="data-set-data">
      <div class="selected-name">{{ selectedDataSet.name }}</div>
      <div class="selected-org">{{ selectedDataSet.organization.name }}</div>
    </div>
  </div>

  <app-data-layer-tree></app-data-layer-tree>
  <mat-spinner *ngIf="loading" diameter="20" class="loader"></mat-spinner>

  <div *ngIf="hasNoData$ | async" class="no-data">No data available.</div>
</ng-container>

<!--Listing Datasets, no selection yet-->
<ng-template #listDataSets>
  <ng-container *ngIf="dataSets$ | async; let dataSets">
    <div
      *ngFor="let dataSet of dataSets.results"
      (click)="viewDatasetCategories(dataSet)"
      class="data-set">
      <div class="data-set-data">
        <div class="data-set-name">{{ dataSet.name }}</div>
        <div class="data-set-org">{{ dataSet.organization.name }}</div>
      </div>
      <mat-icon>chevron_right</mat-icon>
    </div>
  </ng-container>
</ng-template>
