@import "mixins";
@import "colors";

$search-container-height: 79px;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scrollable {
  overflow-y: scroll;
  flex: 1;
  padding-bottom: 10px;
}

.data-set {
  padding: 14px;
  cursor: pointer;
  border-bottom: 1px solid $color-soft-gray;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;

  &:hover {
    background-color: $color-lighter-gray;
  }
}

.data-set-data {
  flex: 1;
}


.selected-name {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.selected-org {
  color: $color-md-gray;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.icon-back {
  margin-right: 8px;
  line-height: 32px;
}


.no-data {
  margin: 28px;
  color: $color-md-gray;
}

.loader {
  margin: 28px;
}

.result-count {
  @include h5();
  padding: 14px 16px;
}

// TODO: component?
.side-search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: $search-container-height;
  padding: 4px 16px;
  border-bottom: 1px $color-soft-gray solid;
  top: 0;
  background: $color-white;
  z-index: 100;
  box-sizing: border-box;
}


:host {
  ::ng-deep .search-bar .input-wrapper {
    width: 100%;
    background-color: $color-light-gray;
    height: 42px;
  }

  ::ng-deep .search-bar input {
    @include xs-label();
    font-weight: 400;
    font-family: 'Public Sans';
    width: 100%;
  }
}

.footer {
  border-top: 1px solid #e1e1e1;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.clear-btn {
  margin-left: auto;
}

.sticky {
  position: sticky;
  top: 0;
  background: white;
  z-index: 100;
}

// end component


:host(.sticky-search) {
  .side-search-container {
    position: sticky;
    top: -16px; // the padding of the container
    z-index: 100;
  }

  // as we are making the search bar also sticky, push this down
  .sticky {
    top: calc($search-container-height - 16px);
  }
}
