@import "mixins";
@import "colors";

.data-set {
  padding: 14px;
  cursor: pointer;
  border-bottom: 1px solid $color-soft-gray;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;

  &:hover {
    background-color: $color-lighter-gray;
  }
}

.data-set-data {
  flex: 1;
}

.data-set-name {
  color: $color-black;
  margin-bottom: 8px;
}

.data-set-org {
  color: $color-md-gray;
  font-weight: 500;
  line-height: 22px
}

.selected-name {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.selected-org {
  color: $color-md-gray;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}

.icon-back {
  margin-right: 8px;
  line-height: 32px;
}


.no-data {
  margin: 28px;
  color: $color-md-gray;
}

.loader {
  margin: 28px;
}


