<sg-steps-nav
  [steps]="steps"
  [selectedIndex]="0"
  [allowNavigation]="false"></sg-steps-nav>

<section class="container">
  <div class="sidebar">
    <sg-process-overview
      [steps]="steps"
      *ngIf="isFirstStep"></sg-process-overview>

    <sg-steps
      linear
      finishLabel="Save & Run Scenario"
      *ngIf="!isFirstStep"
      [showActions]="!isFirstStep">
      <sg-step>
        <app-step2></app-step2>
      </sg-step>
      <sg-step>
        <app-stand-level-constraints></app-stand-level-constraints>
      </sg-step>
      <sg-step>
        <app-treatment-target></app-treatment-target>
      </sg-step>
    </sg-steps>
  </div>
  <div class="main">
    <app-step1 class="step-in-main" *ngIf="isFirstStep"></app-step1>
    <app-scenario-map *ngIf="!isFirstStep"></app-scenario-map>
  </div>
</section>

<sg-steps-actions
  *ngIf="isFirstStep"
  [currentStep]="currentStep"
  [totalSteps]="4"
  [canGoBack]="!isFirstStep"
  [canGoNext]="true"
  [isLastStep]="false"
  [loading]="false"
  [showStepCount]="false"
  (back)="back()"
  (next)="next()"></sg-steps-actions>
