@import 'colors';
@import 'mixins';

:host {
  display: flex;
}

.base-map {
  &-icon {
    user-select: none;

    height: 38px;
    width: 38px;
    border: 1px solid $color-soft-gray;
    border-radius: 4px;
    cursor: pointer;
  }

  section {
    padding: 0px;
  }

  &-option {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 14px;
    margin: 0;
  }

  &-label::first-letter {
    text-transform: uppercase;
  }

  &-option:hover:not(.selected) {
    background-color: $color-light-gray;
    font-weight: 600;
  }
}

mat-card {
  padding: 0;
}

.selected {
  background-color: $color-soft-purple;
  font-weight: 600;
}

// we have .base-map-overlay so it's safe
::ng-deep .mat-mdc-menu-panel.base-map-overlay {
  min-width: 300px;
  max-width: 300px;
  min-height: 252px;
  z-index: 101;
  margin: 8px 0 0 0;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    border-bottom: 1px solid $color-soft-gray;
  }

  h4 {
    @include h5();
    margin: 0;
  }

  .mat-mdc-menu-content {
    padding: 0;
  }
}
