<!-- Selected base map icon -->
<img
  matTooltip="Base Map"
  matTooltipPosition="below"
  (click)="openOverlay($event)"
  class="base-map-icon"
  draggable="false"
  *ngIf="selectedBaseMap$ | async as selectedBaseMap"
  [src]="'assets/png/baseMaps/' + selectedBaseMap + '.png'"
  [matMenuTriggerFor]="roleMenu" />

<!-- Base Map Overlay -->
<mat-menu
  #roleMenu="matMenu"
  class="base-map-overlay"
  [xPosition]="position"
  class="base-map-overlay">
  <header>
    <h4>Base Map</h4>
    <button
      sg-button
      variant="icon-only"
      aria-label="close"
      (click)="closeOverlay()">
      <mat-icon class="close-btn">close</mat-icon>
    </button>
  </header>
  <section>
    <p
      *ngFor="let baseMap of baseMaps"
      class="base-map-option"
      (click)="updateBaseMap(baseMap)"
      [class.selected]="(selectedBaseMap$ | async) === baseMap">
      <img
        (click)="updateBaseMap(baseMap)"
        class="base-map-icon"
        draggable="false"
        *ngIf="selectedBaseMap$ | async as selectedLayer"
        [src]="'assets/png/baseMaps/' + baseMap + '.png'" />
      <span class="base-map-label">
        {{ baseMap }}
      </span>
    </p>
  </section>
</mat-menu>
