<div class="layer-info-card">
  <h2>{{dataLayerConfig?.display_name}}</h2>

  <p *ngIf="dataUnits()">
    DATA UNITS: {{dataUnits()}}
  </p>

  <p *ngIf="hasMinMax()">
    VALUE RANGE: {{computeMinMax()}}
  </p>

  <p>
    <span *ngIf="hasSource()">
      SOURCE: <a [href]="dataLayerConfig?.source_link" target="_blank">{{dataLayerConfig?.source}}</a>
    </span>
  </p>

  <div *ngIf="hasDownloadLink()">
    <div *ngIf="hasDataProvider()">
      <p>
        PROVIDER: {{dataLayerConfig?.data_provider}}
      </p>
    </div>
    <p>
      DATA: <a [href]="dataLayerConfig?.data_download_link" target="_blank">Download</a>
    </p>
  </div>

  <a mat-raised-button color="primary" *ngIf="hasReferenceLink()" [href]="dataLayerConfig?.reference_link" target="_blank">Learn more</a>
</div>
