:host {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.with-background {
    background-image: url('/assets/webp/planscape_home_bg.webp');
    background-size: cover;
  }
}

