:host {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  app-planning-areas {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
}

