:host.home {
  box-sizing: border-box;
  background-image: url('/assets/png/planscape_home_bg.png');
  min-height: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
