@import 'mixins';
@import 'colors';

.header-content {
  padding: 0 20px 0 8px;
}

::ng-deep .sg-expander-panel .mat-expansion-panel-header {
  --mat-expansion-header-expanded-state-height: 48px;
}

::ng-deep .sg-expander-panel .mat-expansion-panel-header .mat-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

::ng-deep .sg-expander-panel .mat-expansion-panel-header .mat-expansion-indicator {
  padding-bottom: 6px;
}

.icon-and-title {
  @include xs-label();
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.right-content {
  @include xs-label();
  color: $color-md-gray;
  width: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding-right: 8px;
}

.treatment-detail {
  height: 22px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 4px;
  padding: 0 48px 0 48px;

}

.treatment-detail-name {
  @include xs-label();

}

.treatment-detail-value {
  @include small-paragraph();
}



.rx-detail {
  height: 22px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 4px;
  padding: 0 48px 0 48px;

}

.rx-detail-name {
  @include xs-label();

}



