@import "colors";

.area-selection {
  columns: 2;
  -webkit-columns: 2;
  overflow: hidden;
  margin-top: 10px;
  gap: 10px;
  margin-bottom: 20px;
  margin-left: 30px;
  min-height: 6em;
}

.area-column {
  display: inline-block;
  flex-direction: column;
}

.checkbox-column {
  max-width: 50%;
}

.constraints-panel {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  gap: 24px;
  height: 100%;
  width: auto;
}

.constraints-content {
  overflow-y: auto;
  margin-top: 10px;
  border: 1px #a4aae0 solid;
  border-radius: 10px;
  display: inline-block;
  height: auto;
  width: auto;
  box-shadow: 0 3px 0 0 #aeb0b8;
  background-color: white;
  padding-left: 10px;
}

.constraints-form {
  display: flex;
  flex-direction: column;
  width: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;

  &.space-evenly {
    gap: 0;
    justify-content: space-evenly;
    margin-bottom: 10px;
  }

}


.input-field {
  padding-top: 4px;
  width: 180px;
  border: black;

  &.disabled {
    opacity: 0.6;
  }
}

.right-align {
  text-align: right;
}

.subtext {
  color: #5f6368;
  font-size: 12px;
}

.select-field {
  width: 287px;
}

.help-text {
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  text-align: center;
  color: $color-dark-gray;

  &.error {
    color: $color-error;
  }
}


/** Always show scrollbar. */
::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 0px;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.small-label {
  margin-right: 10px;
  font-size: 12px;
  font-weight: 400;
  width: fit-content;
}

.mat-hint {
  align-items: center;
  display: flex;
  font-size: 12px;
  line-height: 16px;

  .mat-icon {
    font-size: 16px;
    height: 16px;
    margin-right: 8px;
    width: 16px;
  }
}

.optional {
  color: grey;
  margin-top: 5px;
  font-size: 10px;
}


.button-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.mat-button-toggle {
  align-items: center;
  vertical-align: center;
  font-size: 13px;
  font-weight: 400;
}

.mat-button-toggle-checked {
  background-color: #e6e9f4;
}

.mat-button-toggle-group {
  width: fit-content;
  margin-right: 60px;
}

.mat-button-toggle-group-appearance-standard {
  border-radius: 16px;
  height: 30px;
  border: #cccfd8 solid 2px;
}

:host {
  ::ng-deep
  .mat-button-toggle-appearance-standard
  .mat-button-toggle-label-content {
    line-height: 20px;
    top: 5px;
    width: 60px;
  }

  ::ng-deep .mat-select-value,
  ::ng-deep .mat-option-text {
    text-align: center;
  }
}

.mat-grid-tile-content {
  width: fit-content;
}

.suffix {
  margin-left: 5px;
}

.excluded-areas-warn {
  margin-right: 10px;
}
