<div class="constraints-panel">
  <!-- Form -->
  <div class="constraints-content">
    <form class="constraints-form" [formGroup]="constraintsForm!">
      <div class="flex-row">
        <!-- Budget -->
        <div formGroupName="budgetForm" required>
          <label class="form-label required">Budget</label>
          <mat-radio-group formControlName="optimizeBudget" required>
            <!-- Custom Budget -->
              <mat-radio-button [value]="false">

                <!-- Max -->
                <mat-form-field class="input-field" appearance="outline" floatLabel="always">
                  <mat-label>Max</mat-label>
                  <span matTextPrefix>$ &nbsp;</span>
                  <input [required]="!constraintsForm?.get('budgetForm.optimizeBudget')?.value" formControlName="maxBudget" matInput type="number">
                </mat-form-field>
              </mat-radio-button>

            <!-- Optimized Budget -->
            <mat-radio-button [value]="true">
              Show estimated cost range
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <div formGroupName="treatmentForm">
          <!-- Treatment Percentage -->
          <label class="form-label required">Max treatment percentage of total planning area</label>

          <!-- Max -->
          <mat-form-field class="input-field" appearance="outline" floatLabel="always">
            <mat-label>Max</mat-label>
            <input formControlName="maxArea" matInput type="number">
            <span matSuffix>% &nbsp;</span>
            <mat-hint class="subtext">Cannot exceed 90%</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <mat-error *ngIf="constraintsForm?.get('budgetForm.optimizeBudget')?.touched">One required</mat-error>

      <!-- Other Constraints-->
      <div>
        <label class="form-label">Other Constraints</label>
        <div class="flex-row">
          <div>
            <mat-checkbox formControlName="excludeAreasByDistance" (change)="toggleRequiredExcludeDistance()">Exclude areas off a road by</mat-checkbox>
            <mat-form-field class="input-field margin-left" appearance="outline" floatLabel="always">
              <mat-label>Distance</mat-label>
              <input formControlName="excludeDistance" matInput type="number">
              <span matSuffix>ft.</span>
            </mat-form-field>
          </div>
          <div>
            <mat-checkbox formControlName="excludeAreasByDegrees">Exclude areas that are over</mat-checkbox>
            <mat-form-field class="input-field margin-left" appearance="outline" floatLabel="always">
              <mat-label>Slope</mat-label>
              <input formControlName="excludeSlope" matInput type="number">
              <span matSuffix>degrees</span>
            </mat-form-field>
          </div>
        </div>
        <div class="error-text">*Required</div>
      </div>

      <!-- Next and Back -->
      <div>
        <button mat-flat-button [disabled]="constraintsForm?.invalid" (click)="formNextEvent.emit()">NEXT</button>
        <button mat-flat-button (click)="formBackEvent.emit()">BACK</button>
      </div>
    </form>
  </div>
</div>
