.constraints-panel {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  gap: 24px;
  height: 100%;
}

.constraints-content {
  overflow-y: auto;
}

.constraints-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .form-label {
    display: block;
    font-weight: 500;
  }
}

.flex-row-space-between {
  display: flex;
  justify-content: space-between;
}

label.required:after {
  content: '*';
  color: red;
}

.input-wrapper {
  margin-left: 30px;
}

.input-field {
    padding-top: 18px;
    width: 100px;

    &:not(:last-child) {
      margin-right: 20px;
    }
}

.subtext {
  color: #5F6368;
  font-size: 12px;
  margin-right: 98px;
  text-align: right;
}

.select-field {
  width: 287px;
}

.error-text {
  color: red;
}

/** Always show scrollbar. */
::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 0px;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  background-color: rgba(0,0,0,.5);
  border-radius: 4px;
}
