<div class="constraints-panel">
  <!-- Form -->
  <form class="constraints-form" [formGroup]="constraintsForm!">
    <div class="constraints-content">
      <div class="flex-column">
        <div class="top-label">
          <label class="form-label">CONSTRAINTS</label>
        </div>
      </div>
      <div class="flex-row">
        <div formGroupName="physicalConstraintForm">
          <div>
            <mat-form-field
              class="input-field"
              appearance="outline"
              floatLabel="always">
              <mat-label>Max acres to be treated</mat-label>
              <input
                class="right-align"
                formControlName="maxArea"
                matInput
                type="number"
                (input)="togglMaxAreaAndMaxCost()" />
            </mat-form-field>
          </div>
        </div>
        or
        <div formGroupName="budgetForm">
          <div>
            <mat-form-field
              class="input-field"
              appearance="outline"
              floatLabel="always">
              <mat-label>Max Budget</mat-label>
              <input
                id="maxCost"
                class="right-align"
                formControlName="maxCost"
                matInput
                type="number"
                (input)="togglMaxAreaAndMaxCost()" />
              <span matPrefix>$&nbsp;</span>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="flex-row">
        <div
          *appFeatureFlag="'scenario_constraints'"
          formGroupName="physicalConstraintForm">
          <div>
            <mat-form-field
              class="input-field"
              appearance="outline"
              floatLabel="always">
              <mat-label>Max slope</mat-label>
              <input
                class="right-align"
                formControlName="maxSlope"
                matInput
                type="number"
                [value]="37" />
              <span matSuffix>%</span>
            </mat-form-field>
          </div>
        </div>
        <div formGroupName="budgetForm">
          <div>
            <mat-form-field
              class="input-field"
              appearance="outline"
              floatLabel="always">
              <mat-label>Treatment cost</mat-label>
              <input
                id="estimatedCost"
                class="right-align"
                formControlName="estimatedCost"
                matInput
                type="number" />
              <span matPrefix>$&nbsp;</span>
              <span matSuffix>/acre</span>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div
        *appFeatureFlag="'scenario_constraints'"
        formGroupName="physicalConstraintForm"
        class="flex-row">
        <div>
          <mat-form-field
            class="input-field"
            appearance="outline"
            floatLabel="always">
            <mat-label>Distance from roads</mat-label>
            <input
              class="right-align"
              formControlName="minDistanceFromRoad"
              matInput
              type="number"
              [value]="" />
            <span matSuffix>yds</span>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="input-field" appearance="outline">
            <mat-label>Stand size</mat-label>
            <mat-select formControlName="standSize" required>
              <mat-option *ngFor="let size of standSizeOptions" [value]="size">
                {{ size }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="constraints-content">
      <div formGroupName="excludedAreasForm" class="flex-column">
        <div class="top-label">
          <label class="form-label">EXCLUDE AREAS</label>
        </div>
        <section class="area-selection">
          <div class="checkbox-column">
            <mat-checkbox
              [color]="'primary'"
              *ngFor="let item of excludedAreasOptions"
              [formControlName]="item"
              [value]="item">
              {{ item }}
            </mat-checkbox>
          </div>
        </section>
      </div>
    </div>
  </form>
</div>
