<p>Project Area</p>

<div class="root-container">
  <ng-container>
    <div class="summary-panel">
      <div>
        <sg-notes-sidebar
          [objectId]="projectAreaId"
          [notesModel]="notesModel"></sg-notes-sidebar>
      </div>
    </div>

    <mat-divider [vertical]="true"></mat-divider>
    <div class="content-area">
      <ng-container>
        <div class="content-panel"></div>
        <div class="map-container">
          <app-prescription-actions></app-prescription-actions>
          <app-treatment-map
            [treatmentPlanId]="treatmentPlanId"
            [projectAreaId]="projectAreaId"></app-treatment-map>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
