<div class="root-container">
  <ng-container>
    <div class="summary-panel">
      <div>
        <mat-tab-group
          mat-align-tabs="start"
          mat-stretch-tabs
          disablePagination="true">
          <mat-tab label="TREATMENTS">
            <div>Hello, Treatments!</div>
          </mat-tab>
          <mat-tab label="NOTES">
            <sg-notes-sidebar
              [objectId]="projectAreaId"
              [notesModel]="notesModel"></sg-notes-sidebar>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>

    <mat-divider [vertical]="true"></mat-divider>
    <div class="content-area">
      <ng-container>
        <div class="map-container">
          <app-prescription-actions></app-prescription-actions>
          <app-treatment-map
            [treatmentPlanId]="treatmentPlanId"
            [projectAreaId]="projectAreaId"></app-treatment-map>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
