<div class="placeholder-navbar">
  <div>Project Area NavBar</div>
</div>
<div class="root-container">
  <div class="summary-panel">
    <mat-tab-group
      class="summary-tab-group"
      mat-align-tabs="start"
      disablePagination="true">
      <mat-tab label="TREATMENTS">
        <div>Hello, Treatments!</div>
      </mat-tab>
      <mat-tab label="NOTES">
        <sg-notes-sidebar
          [objectId]="projectAreaId"
          [notesModel]="notesModel"></sg-notes-sidebar>
      </mat-tab>
    </mat-tab-group>
  </div>

  <mat-divider [vertical]="true"></mat-divider>
  <div class="content-area">
    <ng-container>
      <div class="map-container">
        <app-prescription-actions></app-prescription-actions>
        <app-treatment-map
          [treatmentPlanId]="treatmentPlanId"
          [projectAreaId]="projectAreaId"></app-treatment-map>
      </div>
    </ng-container>
  </div>
</div>
