.legend {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

h1 {
  font-size: 16px;
  font-weight: 300;
  line-height: 15px;
  text-align: center;
}

.labels {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.label {
  display: table-cell;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 5px;
  min-width: 24px;
  text-align: center;
}

.label:first-child {
  text-align: left;
}

.label:last-child {
  text-align: right;
}

.secondary-label {
  font-weight: 400;
}

.gradient {
  border: 1px solid #E2E2E2;
  border-radius: 8px;
  height: 30px;
  width: 100%;
}
