.legend-wrapper {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  width: 100%;
}

h1 {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

h2 {
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.legend {
  align-items: center;
  border: 1px solid #c4c4c4;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0px 48px 0px 48px;
  padding: 12px;
}

.labels {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.label {
  margin-top: 5px;
  min-width: 24px;
  writing-mode: vertical-lr;
}

.colors {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.colorbox {
  flex: 1 1 auto;
  height: 24px;
  min-width: 24px;
}
