<div class="legend" *ngIf="legend">
  <!-- Gradient -->
  <div class="gradient" [style.background-image]="gradient"></div>

  <!-- Raw value labels (e.g. "0 => 10") -->
  <ng-container *ngIf="legend.minMaxValues; else strLabels">
    <div class="labels">
      <div class="label" *ngFor="let value of legend.minMaxValues">{{ value | number}}</div>
    </div>
  </ng-container>

  <!-- String labels (e.g. "Low => High") -->
  <ng-template #strLabels>
    <div class="labels">
      <div class="label" *ngFor="let label of legend?.labels">{{ label }}</div>
    </div>
  </ng-template>

  <!-- Secondary string labels (e.g. "-1 => 1") -->
  <ng-container *ngIf="legend.secondaryLabels">
    <div class="labels">
      <div class="label secondary-label" *ngFor="let label of legend?.secondaryLabels">{{ label }}</div>
    </div>
  </ng-container>
</div>
