.legend-wrapper {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  width: 100%;
}

h1 {
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
}

.legend {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0px 24px 0px 24px;
}

.labels {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.label {
  margin-top: 5px;
  min-width: 24px;
  text-align: center;
}

.gradient {
  height: 24px;
  width: 100%;
}
