@import "colors";
@import "mixins";

:host {
  display: block;
  max-width: 540px;
  position: absolute;
  top: 110px;
  left: 0;
  z-index: 200;
  margin: 0 8px;

  @media screen and (max-width: 800px) {
    right: initial;
    top: initial;
    left: 0;
    bottom: 0;
    position: fixed;
    max-width: initial;
    width: 100%;
    margin: 0;
  }

}

h4 {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 16px 11px 24px;
  border-bottom: 1px solid $color-soft-gray;
}

mat-card {
  padding: 0;
}

section {
  padding: 24px;
}


p {
  margin-bottom: 16px;
}

p:last-child {
  margin-bottom: 0;
}
