<mat-card *ngIf="goal$ | async as goal">
  <header>
    <h4>{{ goal?.short_question_text }}</h4>
    <button mat-icon-button (click)="close()" aria-label="close">
      <mat-icon class="close-btn">close</mat-icon>
    </button>
  </header>
  <section>
    <p>{{ goal?.long_question_text }}</p>
    <div [innerHTML]="goal?.description"></div>
    <p>
      For more information, see the
      <a
        href="https://www.planscape.org/documentation/user-guide/"
        target="_blank"
        >User Guide</a
      >.
    </p>
  </section>
</mat-card>
