<div class="container">
  <div class="fixed-width">
    <mat-icon
      class="material-symbols-outlined"
      [style.color]="
        (activeMetric$ | async)?.id === selectedOption
          ? selectedMetric.color
          : '#898989'
      "
      color="primary"
      (click)="onActivate()">
      map
    </mat-icon>
    <i
      class="metric-color"
      [style.backgroundColor]="selectedMetric?.color || 'gray'"></i>
    <span class="metric-label">
      {{ label }}
    </span>
  </div>

  <div class="flexible-width">
    <mat-select [ngModel]="selectedOption" (ngModelChange)="onSelect($event)">
      <mat-option *ngFor="let option of metrics" [value]="option.id">
        {{ option.label }}
      </mat-option>
    </mat-select>
  </div>
</div>
