<div class="flex-row">
  <h3 class="title">Metrics per Project area</h3>
  <button mat-icon-button class="help" [matMenuTriggerFor]="tooltipMenu">
    <mat-icon class="material-symbols-outlined" color="primary">
      info_outline
    </mat-icon>
    <mat-menu #tooltipMenu="matMenu">
      <div class="tooltip">
        <p>
          Each Treatment Goal has associated output metrics. These metrics come
          directly from the Regional Resource Kits. While the reporting page
          shows four graphs, there is a dropdown menu at the top of each graph
          that allows you to change the metric that you’re viewing. You can also
          tap on the map icon and the RRK layer will be displayed on the map
          under your scenario. 
        </p>

        <p>
          If you want access to all of the metrics data, you can download that
          data in a .csv file and export it to your computer. You can also
          choose to download a shapefile of your project areas.
        </p>
      </div>
    </mat-menu>
  </button>
</div>
<div class="chart-holder">
  <div *ngFor="let chart of selectedCharts; index as i">
    <!-- TODO Add styling class -->
    <div class="map-selector">
      <div class="map-button">
        <button
          mat-button
          (click)="toggleMapLayer(i)"
          [ngClass]="{
            ' selected': chart.metric_layer === (mapConditionLayer$ | async)
          }">
          <mat-icon>map</mat-icon>
        </button>
      </div>
      <mat-form-field *ngIf="groupedData">
        <mat-select
          [value]="chart"
          (selectionChange)="selectDataPoint($event, i)">
          <mat-optgroup
            *ngFor="let group of groupedData | keyvalue"
            [label]="group.key">
            <mat-option *ngFor="let data of group.value" [value]="data">
              {{ data.label }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      <!--      <mat-form-field>-->
      <!--        <mat-select-->
      <!--          [value]="chart"-->
      <!--          (selectionChange)="selectDataPoint($event, i)">-->
      <!--          <mat-option-->
      <!--            *ngFor="let dataSet of filterData(data, selectedCharts, chart)"-->
      <!--            [value]="dataSet">-->
      <!--            {{ dataSet.isPrimary ? '*' : '' }}-->
      <!--            {{ dataSet.label }}-->
      <!--          </mat-option>-->
      <!--        </mat-select>-->
      <!--      </mat-form-field>-->
    </div>
    <app-report-chart
      [measurement]="chart.measurement"
      [values]="chart.values"></app-report-chart>
  </div>
</div>
