<button
  [matMenuTriggerFor]="menu"
  aria-label="more scenario Options"
  class="dropdown-button"
  [disabled]="disabled"
  [ngClass]="{ 'active-filter': hasSelections(), disabled: disabled }">
  <mat-icon *ngIf="leadingIcon"></mat-icon>
  <div
    class="dropdown-label"
    [ngClass]="{ 'active-filter': hasSelections(), disabled: disabled }">
    {{ selectionText() }}
  </div>
  <div *ngIf="showCount()" class="more-items-box">
    <div class="more-items-icon">&plus;</div>
    <div class="selected-count-chip">
      {{ selectedItems.length }}
    </div>
  </div>
  <mat-icon *ngIf="!hasSelections()">keyboard_arrow_down</mat-icon>
  <mat-icon
    *ngIf="hasSelections()"
    class="close-icon"
    (click)="clearSelections($event)"
    >close</mat-icon
  >
</button>
<mat-menu #menu="matMenu">
  <div
    class="search-section"
    *ngIf="hasSearch"
    (click)="$event.stopPropagation()">
    <!-- placeholder for search component -->
    <sg-input-field leadingIcon="search">
      <input
        type="text"
        placeholder="Search for {{ menuLabel }}"
        [(ngModel)]="searchTerm"
        (ngModelChange)="filterSearch()" />
    </sg-input-field>
  </div>
  <button
    *ngFor="let item of displayedItems"
    mat-menu-item
    role="menuitemcheckbox"
    aria-checked="isInSelection(item)"
    (click)="toggleSelection($event, item)">
    <div class="menu-item-content">
      <div>{{ item }}</div>
      <mat-checkbox [checked]="isInSelection(item)"></mat-checkbox>
    </div>
  </button>

  <div class="bottom-section">
    <div class="bottom-content">
      <div class="clear-all-text" (click)="clearSelections($event)">
        clear all
      </div>
      <div class="button-box">
        <button mat-stroked-button color="primary">Cancel</button>
        <button
          mat-flat-button
          type="submit"
          color="primary"
          class="create-button">
          Done
        </button>
      </div>
    </div>
  </div>
</mat-menu>
