<button
  [matMenuTriggerFor]="multiSelectMenu"
  class="dropdown-button"
  [disabled]="disabled"
  (click)="handleFilterClick()"
  [ngClass]="{ 'active-filter': hasSelections(), disabled: disabled }">
  <div class="icon-label-box">
    <mat-icon class="trigger-icon" *ngIf="leadingIcon">{{
      leadingIcon
    }}</mat-icon>
    <div
      class="dropdown-label"
      [ngClass]="{ 'active-filter': hasSelections(), disabled: disabled }">
      {{ selectionText }}
    </div>
  </div>
  <div *ngIf="showCount()" class="more-items-box">
    <div class="more-items-icon">&plus;</div>
    <div class="selected-count-chip">
      {{ selectedItems.length }}
    </div>
  </div>
  <mat-icon *ngIf="!hasSelections()">keyboard_arrow_down</mat-icon>
  <mat-icon
    *ngIf="hasSelections()"
    class="close-icon"
    (click)="clearSelections($event)"
    >close
  </mat-icon>
</button>

<mat-menu #multiSelectMenu="matMenu" class="filtermenu">
  <div
    class="search-section"
    *ngIf="hasSearch"
    (click)="$event.stopPropagation()">
    <sg-search-bar
      [debounceInterval]="0"
      [clearEvent]="clearInput.asObservable()"
      searchPlaceholder="Search for {{ menuLabel }}"
      (searchString)="filterSearch($event)"></sg-search-bar>
  </div>
  <div class="options-section">
    <button
      *ngFor="let item of displayedItems"
      mat-menu-item
      role="menuitemcheckbox"
      (click)="toggleSelection($event, item)">
      <div class="menu-item-content">
        <span class="menu-item-text">{{
          displayField ? item[displayField] : item
        }}</span>
        <mat-checkbox
          [color]="'primary'"
          [checked]="isInSelection(item)"></mat-checkbox>
      </div>
    </button>
  </div>
  <div class="bottom-section">
    <div class="bottom-content">
      <button class="clear-all-text" (click)="clearSelections($event)">
        clear all
      </button>
      <div class="button-box">
        <button sg-button variant="ghost" (click)="handleCancel($event)">
          Cancel
        </button>
        <button sg-button variant="primary" type="submit" (click)="done()">
          Done
        </button>
      </div>
    </div>
  </div>
</mat-menu>
