<section class="header">
  <h4>Map Controls</h4>
  <button mat-icon-button (click)="cancel()" aria-label="close">
    <mat-icon class="close-btn">close</mat-icon>
  </button>
</section>
<section class="radio-row">
  <div class="radio-group-label">Base Map</div>

  <mat-radio-group
    name="dialog-select"
    aria-label="Select an option"
    class="layer-radio-group"
    [(ngModel)]="currentLayer"
    color="primary">
    <div
      class="layer-control-container"
      *ngFor="let baseLayerType of baseLayerTypes">
      <mat-radio-button
        aria-label="baseLayerType"
        [value]="baseLayerType"
        checked="{{ baseLayerType === currentLayer }}">
        {{ BaseLayerType[baseLayerType] }}
      </mat-radio-button>
    </div>
  </mat-radio-group>
</section>
<section class="footer">
  <button
    class="action"
    mat-flat-button
    type="button"
    color="primary"
    (click)="confirm()">
    DONE
  </button>
</section>
