<ng-container *ngIf="displayScenarioConfigOverlay$ | async">
  <div class="header">
    <h3>Configurations</h3>
  </div>
  <div class="content" *ngIf="currentScenario$ | async as scenario">
    <dl>
      <ng-container *ngIf="legacyConfig(scenario) as legacy">
        <dt>Stand Size:</dt>
        <dd *ngIf="legacy.stand_size">
          {{
            standSizeOptions[legacy.stand_size].label +
              ' (' +
              standSizeOptions[legacy.stand_size].acres +
              ' acres)'
          }}
        </dd>

        <dt>Goal:</dt>
        <dd>
          {{ scenarioGoal$ | async }}
        </dd>

        <dt>Excluded Areas:</dt>
        <dd>
          {{ selectedExcludedAreas$ | async }}
        </dd>
        <dt>Stand Level Constraints:</dt>
        <dd>
          {{
            legacy.max_slope
              ? 'Slope less or equal than (<=) ' + legacy.max_slope + '%'
              : '--'
          }}
        </dd>
        <dt>Treatment Target:</dt>
        <dd>
          @if (legacy.max_area) {
            Planning Area Acres
            {{ legacy.max_area | number: '1.0-0' }}
          } @else if (legacy.max_budget) {
            Planning Area Budget ${{ legacy.max_budget | number: '1.0-2' }}
          } @else {
            --
          }
        </dd>
      </ng-container>
    </dl>
  </div>
  <div class="footer">
    <button
      sg-button
      variant="primary"
      class="scenario-config-button"
      (click)="close()">
      Close
    </button>
  </div>
</ng-container>
