<div
  *ngFor="
    let map of maps.slice(0, mapViewOptions?.numVisibleMaps || 1);
    index as i
  ">
  <div *ngIf="(mapViewOptions?.numVisibleMaps || 1) > 1">Map {{ i + 1 }}</div>
  <dl>
    <dt>Basemap</dt>
    <dd>{{ BaseLayerType[map.config.baseLayerType] }}</dd>
    <dt>Boundaries</dt>
    <dd>{{ map.config.boundaryLayerConfig.display_name }}</dd>
    <ng-container *ngIf="map.config.showExistingProjectsLayer">
      <dt>Recent treatment areas</dt>
      <dd>Includes Existing Projects</dd>
    </ng-container>
    <dt>Regional Resource Kit Data</dt>
    <dd>{{ map.config.dataLayerConfig.display_name }}</dd>
  </dl>
</div>
