<ng-container *ngIf="scenario$ | async as scenario">
  <mat-tab-group
    mat-stretch-tabs="false"
    mat-align-tabs="start"
    class="scenario-tabs"
    [(selectedIndex)]="selectedTab">
    <mat-tab label="Results">
      <div class="results-container">
        <app-scenario-results
          *ngIf="scenarioHasResults(scenario)"
          [scenarioVersion]="scenario.version || ''"
          [results]="scenario.scenario_result || null"
          [scenarioName]="scenario.name"
          [usageTypes]="scenario.usage_types || null"
          [scenarioId]="scenarioId!">
        </app-scenario-results>
        <app-scenario-failure
          *ngIf="scenarioHasFailed(scenario)"
          (tryAgain)="handleTryAgain(scenario)"
          (goBack)="goToPlan()"
          [loadingCopyDialog]="isLoadingDialog"
          [scenarioName]="scenario.name"
          [scenarioId]="scenarioId!"
          [scenarioState]="scenarioStatus(scenario)"></app-scenario-failure>
      </div>
    </mat-tab>
    <mat-tab label="Data Layers">
      <app-data-layers class="white-background"></app-data-layers>
    </mat-tab>
    <mat-tab label="Base Layers">
      <app-base-layers class="white-background"></app-base-layers>
    </mat-tab>
    <mat-tab
      *ngIf="scenarioHasResults(scenario)"
      [disabled]="!scenarioCanHaveTreatmentPlans(scenario)">
      <ng-template mat-tab-label>
        <span
          matTooltip="Treatment Plans are unavailable outside of CA"
          matTooltipPosition="above"
          [matTooltipDisabled]="scenarioCanHaveTreatmentPlans(scenario)"
          [ngClass]="{
            'disabled-tab-label': !scenarioCanHaveTreatmentPlans(scenario),
          }">
          Treatment Plans
        </span>
      </ng-template>
      <app-treatments-tab
        [scenarioId]="scenarioId"
        [planningArea]="plan$ | async"></app-treatments-tab>
    </mat-tab>
  </mat-tab-group>
  <app-new-treatment-footer
    [scenarioId]="scenarioId || undefined"
    *ngIf="
      onTreatmentsTab && (showTreatmentFooter$ | async)
    "></app-new-treatment-footer>

  <app-scenario-download-footer
    [scenarioId]="scenarioId || undefined"
    [scenarioName]="scenario.name"
    [scenarioVersion]="scenario.version || ''"
    [geoPackageURL]="scenario.geopackage_url"
    [geoPackageStatus]="scenario.geopackage_status"
    *ngIf="onResultsTab"></app-scenario-download-footer>
</ng-container>
