<mat-tab-group
  mat-stretch-tabs="false"
  mat-align-tabs="start"
  class="scenario-tabs"
  *ngIf="scenarioStatus$ | async as scenarioStatus">
  <mat-tab label="Results">
    <div class="results-container">
      <ng-container *ngIf="scenarioStatus === 'LOADING'"></ng-container>
      <app-scenario-pending
        *ngIf="scenarioStatus === 'PENDING'"></app-scenario-pending>
      <app-scenario-pending
        *ngIf="scenarioStatus === 'RUNNING'"></app-scenario-pending>
      <app-scenario-results
        *ngIf="scenarioStatus === 'SUCCESS'"
        [scenarioVersion]="(scenarioVersion$ | async) || ''"
        [results]="(scenarioResults$ | async) || null"
        [priorities]="(scenarioPriorities$ | async) || []"
        [scenarioName]="(scenarioName$ | async) || ''"
        [scenarioId]="scenarioId!">
      </app-scenario-results>
      <app-scenario-failure
        *ngIf="
          scenarioStatus === 'FAILURE' ||
          scenarioStatus === 'PANIC' ||
          scenarioStatus === 'TIMED_OUT'
        "
        (tryAgain)="goToConfig()"
        (goBack)="goToPlan()"
        [scenarioName]="(scenarioName$ | async) || ''"
        [scenarioId]="scenarioId!"
        [scenarioState]="scenarioStatus"></app-scenario-failure>
    </div>
  </mat-tab>
  <mat-tab label="Data Layers">
    <app-data-layers class="white-background"></app-data-layers>
  </mat-tab>
  <mat-tab label="Treatment Plans">
    <app-treatments-tab
      [scenarioId]="scenarioId"
      [planningArea]="plan$ | async"></app-treatments-tab>
  </mat-tab>
</mat-tab-group>
