@import 'colors';

:host {
  height: 100%;
}


.results-container {
  padding: 0 20px 10px;
}


.white-background {
  background-color: $color-white;
}

.scenario-tabs {
  flex: 1;
  overflow: hidden;

  ::ng-deep {
    mat-tab-header {
      padding: 0 16px 0 32px;
    }

    .mat-mdc-tab-body-wrapper {
      background-color: $color-soft-purple;
      flex: 1;
    }

    .mat-mdc-tab-labels {
      border: 0;
    }

    .mdc-tab-indicator--active {
      border-bottom: 2px solid $color-standard-blue;
    }
  }
}

