@import 'variables';
@import 'colors';
@import 'mixins';

.nav-bar {
  display: flex;
  align-items: center;
  background-color: white;
  height: $navbar-height;
  position: relative;
  z-index: 200;
  padding-left: 18px;
  gap: 10px;

  .mat-icon-button .mat-icon {
    line-height: 22px;
  }
}

.back-button {
  line-height: 0; // override line height from .mat-icon-button
}

.actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.tooltip {
  padding: 20px;
}

.breadcrumb {
  @include h4();
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  a {
    color: $color-standard-blue;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
      color: $color-main-blue;
    }
  }
}
