<div class="nav-bar mat-elevation-z2">
  <button mat-icon-button (click)="goBack.emit()" class="back-button">
    <mat-icon color="primary">arrow_back</mat-icon>
  </button>
  <span class="title">Planning Areas / {{ breadcrumbs.join(' / ') }}</span>
  <div class="actions">
    <button mat-icon-button class="help" [matMenuTriggerFor]="popoverMenu">
      <mat-icon class="material-symbols-outlined" color="primary">
        info_outline
      </mat-icon>
      <mat-menu #popoverMenu="matMenu">
        <div [ngSwitch]="area" class="tooltip">
          <div *ngSwitchCase="'SCENARIO'">
            <p>
              Start planning your scenario to generate your project areas. Enter
              a name for your scenario at the top left, select your management
              question, enter your constraints and select Generate. You can only
              select one management question per run. Note that the run will
              take longer if you select Medium or Small stand sizes, and we
              recommend that you start with Large to review your outputs.
            </p>
          </div>

          <div *ngSwitchCase="'SCENARIOS'">
            <p>
              The scenario page lists all the scenarios that you have created
              for a planning area. You will likely have numerous scenarios for
              any planning area. The scenario list provides detail about the
              status of each scenario, including any that are currently running.
              Note that the planning area is shown in the upper left of the
              navigation bar.
            </p>
            <p>
              The left panel gives you information about the entire planning
              area in which the scenario is running: an overview of the planning
              area in the map, total available acres, number of scenarios, the
              region, the plan owner, the date the plan was originally created
              and when it was last updated.
            </p>
            <p>
              There is also a Notes field in the left panel. If there are notes
              you want to put in about your scenarios or other outputs, they can
              be entered here.
            </p>
          </div>
          <div *ngSwitchCase="'EXPLORE'">
            <p>
              This page allows you to explore all the data in the RRKs for your
              region. You can select a region from the dropdown menu, and then
              use the selectors below to set up your map(s). You can look at 1,
              2 or 4 maps simultaneously, and select a different set of data and
              layers to visualize for each map. The map area remains constant
              for all maps.
            </p>
            <p>
              If you want to start to identify areas that would be best suited
              for treatment, based on inputs specific to fire dynamics,
              biodiversity or carbon, select either “Draw Area” or “Upload
              Shapefile”. If you choose “Draw Area” you will be prompted to
              start drawing the outline of the area that you are interested in
              evaluating for treatment. We recommend that you do this on the
              single map view, although that area will be able to be seen on all
              of your map views.
            </p>
            <p>
              Once you have drawn your area of interest or uploaded your
              shapefile, select “Save” in the upper right. You’ll be prompted to
              input a name for your Planning Area. From there you will be put
              into the Planning Tool, where you will be able to select your land
              management goals and different constraints.
            </p>
            <p>
              If you want to share a copy of the Planning Area that you’ve drawn
              with another planner, simply tap Copy Link and send it to a
              colleague. They will be able to open their own instance of the
              planning area. Note that this will now be their own version of the
              area and anything they do to change the planning area in their
              browser will be unique to them - it will not change anything in
              your planning area.
            </p>
            <p>
              You can also print a copy of your planning area and save it as a
              PDF file if you choose.
            </p>
          </div>
        </div>
      </mat-menu>
    </button>

    <button mat-button class="action-button" (click)="print()" data-id="print">
      <mat-icon class="material-symbols-outlined" color="primary">
        print
      </mat-icon>
      Print
    </button>
  </div>
</div>
