<div class="nav-bar mat-elevation-z2">
  <section class="nav-heading" *ngIf="breadcrumb$ | async as breadCrumb">
    <button
      sg-button
      class="help"
      variant="icon-only"
      [icon]="breadCrumb.icon || 'arrow_back'"
      [outlined]="true"
      [routerLink]="breadCrumb.backUrl"
      [queryParams]="params"
      queryParamsHandling="merge"></button>
    <div class="current-page">
      {{ breadCrumb.label }}
    </div>
  </section>

  <div class="actions">
    
    <button
      sg-button
      icon="share"
      variant="text"
      (click)="sharePlan()"
      data-id="share"
      *ngIf="area === 'SCENARIOS' && (canSharePlan$ | async)">
      Share
    </button>

    <ng-content></ng-content>

    <a *ngIf="showForsysLogo" routerLink="/forsys" target="_blank">
      <img
        src="assets/png/forsys_logo.png"
        alt="Forsys Consortium"
        class="forsys-logo" />
    </a>
  </div>
</div>
