<div class="info-card">
  <h3>With a Planscape account, you can:</h3>

  <p class="listed-text">
    <img
      src="assets/svg/icons/checkbox.svg"
      alt="checkbox icon"
      class="list-icon" />
    Create plans, scenarios and project areas
  </p>

  <p class="listed-text">
    <img
      src="assets/svg/icons/checkbox.svg"
      alt="checkbox icon"
      class="list-icon" />
    Test different land management options and view outcomes
  </p>

  <p class="listed-text">
    <img
      src="assets/svg/icons/checkbox.svg"
      alt="checkbox icon"
      class="list-icon" />
    Save planning areas
  </p>

  <p class="listed-text">
    <img
      src="assets/svg/icons/checkbox.svg"
      alt="checkbox icon"
      class="list-icon" />
    Download shapefiles and metadata from your plans
  </p>

  <p class="listed-text">
    <img
      src="assets/svg/icons/checkbox.svg"
      alt="checkbox icon"
      class="list-icon" />
    Share work with collaborators
  </p>

  <h3>As a guest user, you can:</h3>
  <p class="listed-text">
    <img
      src="assets/svg/icons/checkbox.svg"
      alt="checkbox icon"
      class="list-icon" />
    Explore data from the Regional Resource Kits
  </p>
  <p class="listed-text">
    <img
      src="assets/svg/icons/checkbox.svg"
      alt="checkbox icon"
      class="list-icon" />
    View publicly available plans and scenarios*
  </p>
  <p class="caveat">*Accessible only via direct links</p>
  <p class="listed-text">
    Review Planscape
    <a
      class="conditions-link"
      href="https://www.planscape.org/conditions-of-use/"
      target="_blank"
      >Conditions of Use</a
    >
  </p>
</div>
