<sg-modal
  title=""
  [shortHeader]="true"
  [showBorders]="false"
  [centerFooter]="true"
  (clickedClose)="cancel()"
  (clickedPrimary)="confirm()"
  (clickedSecondary)="cancel()"
  primaryButtonText="Try Again">
  <div modalBodyContent>
    <sg-modal-confirmation-dialog
      [headline]="'Failed to duplicate \'' + data.name + '\''"
      message="An error occurred duplicating this treatment plan, please check your internet connection and try again."
      [infoType]="'error'"></sg-modal-confirmation-dialog>
  </div>
</sg-modal>
