@import "colors";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.chart {
  flex: 1;

  canvas {
    padding-bottom: 20px;
  }
}

.title {
  padding: 24px 24px 0;
  color: $color-text-gray;
}
