<div *ngIf="(activeStand$ | async) === null; else chart" class="empty-state">
  <div>
    Select a
    <sg-treatment-type-icon [treatment]="null"></sg-treatment-type-icon>
    (hexagon) from the map to see changes over time displayed in the graph
  </div>
</div>
<ng-template #chart>
  <ng-container *ngIf="activeStand$ | async as activeStand">
    <ng-container *ngIf="activeStandIsForested$ | async; else nonForested">
      <div class="title">{{ chartTitle(activeStand) }}</div>
      <div class="y-axis-title">Change (%)</div>
      <div class="chart">
        <canvas
          baseChart
          [data]="(barChartData$ | async) || undefined"
          [options]="(barChartOptions$ | async) ?? {}"
          [legend]="false"
          [type]="'bar'"></canvas>
      </div>

      <div *ngIf="loading" class="loader">
        <mat-spinner diameter="24"></mat-spinner>
      </div>

      <div class="stand-metric-selector">
        <app-metric-selector
          [selectedOption]="(activeMetric$ | async)?.id || ''"
          [metrics]="metrics"
          color="blue"
          label="Metric"
          (metricChanged)="metricChanged($event)"></app-metric-selector>
      </div>
    </ng-container>

    <ng-template #nonForested>
      <app-non-forested-data></app-non-forested-data>
    </ng-template>
  </ng-container>
</ng-template>
