@import "colors";
@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;

}

.chart {
  flex: 1;
  width: 100%;
  position: relative;

  canvas {
    padding-bottom: 20px;
  }
}

.title {
  @include h5();
  height: 32px;
  margin-top: 20px;
  align-self: center;
  line-height: 32px;
}

.y-axis-title {
  @include xs-label();
  padding: 24px 24px 0;
  color: $color-text-gray;
}

.empty-state {
  @include regular-paragraph();
  color: $color-md-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 0 80px;

  sg-treatment-type-icon {
    position: relative;
    top: 6px;
  }
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% + 20px);
  position: absolute;
  background: white;
  top: -20px;
  width: 100%;
}

.stand-metric-selector {
  padding: 16px;

}
