@if (canAddScenarios) {
  <div class="heading">
    <h4>Prioritizing Project Areas: How would you like to start?</h4>
  </div>
  <div class="option-set">
    <sg-action-card
      title="Choose Treatment Goal"
      description="Start from a template with preset objectives, co-benefits, and constraints"
      svgIcon="/assets/svg/icons/actions/target-arrow.svg"
      buttonText="New Scenario"
      buttonIcon="add"
      (buttonClick)="openScenarioSetupDialog('PRESET')"></sg-action-card>
    <sg-action-card
      title="Create Custom Scenario"
      description="Build from scratch: choose all objectives, co-benefits, and constraints."
      svgIcon="/assets/svg/icons/actions/subtitles.svg"
      buttonText="New Scenario"
      buttonIcon="add"
      (buttonClick)="openScenarioSetupDialog('CUSTOM')"></sg-action-card>
  </div>
} @else {
  <div class="awaiting-block">
    <div class="icon-row">
      <mat-icon class="material-symbols-outlined search-icon">
        document_search
      </mat-icon>
    </div>
    <div class="title"><!-- TODO: possible text here --></div>
    <div class="awaiting-blurb"><!-- TODO: possible text here -->
    </div>
  </div>
}
