@import '../../../styles/colors';
@import '../../../styles/mixins';

@mixin form-card {
  padding: 10px 0px 10px 0px;
  border-radius: 8px;
  border: 1px;
  gap: 20px;

  align-items: stretch;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 40px 60px 40px 60px;
  width: 70%;
  border: 1px $color-original-purple-50pct solid;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-family: 'Public Sans', Arial, Helvetica, sans-serif;
}

.thankyou-root {
  display: flex;
  height: 100%;
}

.thankyou-container {
  background-image: url('/assets/jpg/planscape-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 50%;
}

.thankyou-subcontainer {
  flex-direction: column;
  margin: auto;
  height: 400px;
  width: 500px;
  padding: 20px 0px 20px 0px;
  gap: 20px;
  display: flex;
  margin-top: 180px;
}

.thankyou-card {
  @include form-card();
  background-color: white;
  margin: auto;
  height: 156px;
  width: 50%;
  gap: 10px;
}

h2 {
  @include h2();
  &.title {
    text-align: center;
    color: $color-dark-gray;
  }
}

p.regular {
    @include regular-paragraph();
    color: $color-dark-gray;
}

a.standard-link {
    @include standard-link();
    color: $color-standard-blue;
}

.info-text-container {
  background-color: $color-soft-purple;
  width: 50%;
  display: flex;
  justify-content: center;
}
