<div class="thankyou-root">
  <div class="thankyou-container">
    <div class="thankyou-subcontainer">
      <div class="thankyou-card">
        <h2 class="title">Account Validation</h2>
        <div>
          <p class="regular">Your email address was validated.</p>
          <p class="regular">
            Please click <a routerLink="/login">here</a> to continue.
          </p>
        </div>
      </div>
    </div>
  </div>
  <app-credits-blurb></app-credits-blurb>

  <div class="info-text-container">
    <app-learn-more></app-learn-more>
  </div>
</div>
