<div class="upload-form-heading">Upload Area</div>
<sg-modal-info
  leadingIcon="error"
  infoType="error"
  *ngIf="uploadFormError"
  [message]="uploadFormError"></sg-modal-info>
<div class="upload-form-body">
  <div class="upload-form-title">Upload a planning area</div>
  <form [formGroup]="uploadPlanningAreaForm!" class="upload-scenario-form">
    <sg-file-upload
      [uploadStatus]="uploadElementStatus"
      (fileEvent)="handleFileEvent($event)"
      supportedFileInfo=".zip shapefile" />
  </form>
</div>
