<sg-section
  headline="Exclude Areas (OPTIONAL)"
  tooltipContent="<b>What does it mean to exclude areas?</b>
Excluding areas lets you remove specific lands from your planning scenarios based on their Protected Area Status.

<b>What happens when I exclude areas?</b>
If you exclude areas, ForSys will not assign project areas or treatments on those lands. The acreage associated with the excluded lands will be removed from your Potential Treatable Area, and those stands will not be considered in the final scenario results.

<b>Where can I learn more about Protected Areas?</b>
For more information on Protected Area Status, visit the <a href='https://www.usgs.gov/programs/gap-analysis-project/science/pad-us-statistics-dashboard' target='_blank'>USGS Protected Areas Database.</a>">
  <div>
    Select areas you want to exclude from your Potential Treatable Area.
  </div>
  <section class="area-selection">
    <form [formGroup]="form">
      <div formArrayName="excluded_areas" class="checkbox-column">
        <div *ngFor="let area of excludedAreas$ | async; let i = index">
          <mat-checkbox
            [color]="'primary'"
            class="exclude-checkbox"
            [formControlName]="i"
            >{{ area.name }}</mat-checkbox
          >
        </div>
      </div>
    </form>
  </section>
</sg-section>
