<sg-section
  headline="Exclude Areas (OPTIONAL)"
  [tooltipContent]="tooltipContent">
  <div>
    Select areas you want to exclude from your Potential Treatable Area.
  </div>
  <section class="area-selection">
    <form [formGroup]="form">
      <div formArrayName="excluded_areas" class="checkbox-column">
        <div *ngFor="let area of excludedAreas$ | async; let i = index">
          <mat-checkbox
            [color]="'primary'"
            class="exclude-checkbox"
            [formControlName]="i"
            >{{ area.name }}</mat-checkbox
          >
        </div>
      </div>
    </form>
  </section>
</sg-section>
