@import 'colors';

:host {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  height: 100%;
  box-sizing: border-box;
  padding: 16px;
  background-color: $color-white;
  overflow-y: auto;
}

sg-empty-state {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.workspaces-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 24px;

  h1 {
    margin: 0;
  }
}

.workspaces-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
}
