<sg-scenario-card
  *ngFor="let s of scenarios"
  [name]="s.name"
  [creator]="s.creator"
  [areas]="numberOfAreas(s)"
  [created_at]="s.created_at"
  [budget]="
    hasResults(s) ? calculateTotals(s.scenario_result!).estimatedCost : null
  "
  [origin]="s.origin"
  [treatmentPlansCount]="s.tx_plan_count"
  [resultStatus]="s.scenario_result?.status || 'PENDING'"
  [archiveStatus]="s.status"
  (click)="handleOpenScenario(s)"
  (openScenario)="handleOpenScenario(s)"
  [selected]="isSelected(s)"
  [treatmentPlansEnabled]="treatmentPlansEnabled"
  (openNewTreatment)="openNewTreatmentDialog($event, s)"
  [userCanArchiveScenario]="userCanArchiveScenario(s)"
  [userCanCreateTreatmentPlans]="userCanCreateTreatmentPlan()"
  (toggleArchiveStatus)="toggleScenarioStatus(s)">
</sg-scenario-card>
