<sg-scenario-card
  *ngFor="let s of scenarios"
  [name]="s.name"
  [creator]="s.creator"
  [areas]="
    hasResults(s) ? calculateTotals(s.scenario_result!).acres : undefined
  "
  [created_at]="s.created_at"
  [budget]="
    hasResults(s)
      ? calculateTotals(s.scenario_result!).estimatedCost
      : undefined
  "
  [treatmentPlansCount]="s.tx_plan_count"
  [status]="s.scenario_result?.status || 'PENDING'"
  (click)="handleClickedScenario(s)"
  [selected]="isSelected(s)">
</sg-scenario-card>
