<sg-scenario-card
  *ngFor="let s of scenarios"
  [name]="s.name"
  [creator]="s.creator"
  [created_at]="s.created_at"
  [origin]="s.origin"
  [resultStatus]="s.scenario_result?.status || 'PENDING'"
  (click)="handleOpenScenario(s)"
  (openScenario)="handleOpenScenario(s)"
  [userCanDeleteScenario]="userCanDeleteScenario(s)"
  [userCanEditScenario]="userCanEditScenario(s)"
  [contextualMenuEnabled]="canShowContextualMenu(s)"
  (deleteScenario)="showDeleteScenarioDialog(s)"
  (editScenario)="editScenario(s)"
  (copyScenario)="handleCopyScenario(s)"
  matTooltip="Only the creator can edit this draft"
  [matTooltipDisabled]="!displayDraftCreatorTooltip(s)"
  [disabled]="displayDraftCreatorTooltip(s)">
</sg-scenario-card>
