@import 'mixins';
@import 'colors';

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 14px;
}
