<sg-modal
  [title]="editMode ? 'Rename Scenario' : 'Scenario Setup'"
  [showClose]="false"
  [primaryButtonText]="primaryCTA"
  secondaryButtonText="Cancel"
  [primaryButtonDisabled]="
    scenarioNameForm.get('scenarioName')?.hasError('required') === true ||
    submitting
  "
  [hasPrimarySpinner]="true"
  [isInSpinState]="submitting"
  (clickedSecondary)="cancel()"
  (clickedClose)="cancel()"
  (clickedPrimary)="handleSubmit()">
  <div modalBodyContent>
    <form [formGroup]="scenarioNameForm" (ngSubmit)="submitIfValid($event)">
      <sg-input-field
        [disabled]="false"
        showSupportMessage="on-error"
        label="Name Your Scenario"
        [error]="this.errorMessage !== ''"
        [supportMessage]="errorMessage"
        size="full">
        <input
          sgInput
          placeholder="e.g., High Severity Fire"
          required
          name="scenarioName"
          cdkFocusInitial
          formControlName="scenarioName" />
      </sg-input-field>
      <div
        *ngIf="
          data.fromClone === true &&
          (data.scenario?.version === 'V2' || data.scenario?.version === 'V1')
        ">
        This scenario was created with an older version—some steps have changed
        in the update.
      </div>
    </form>
  </div>
</sg-modal>
