<sg-modal
  [title]="editMode ? 'Rename Scenario' : 'Name your scenario'"
  [showClose]="false"
  [primaryButtonText]="primaryCTA"
  secondaryButtonText="Cancel"
  [primaryButtonDisabled]="
    scenarioNameForm.get('scenarioName')?.hasError('required') === true ||
    submitting ||
    loading
  "
  [hasPrimarySpinner]="true"
  [isInSpinState]="submitting"
  (clickedSecondary)="cancel()"
  (clickedClose)="cancel()"
  (clickedPrimary)="handleSubmit()">
  <div modalBodyContent>
    <form [formGroup]="scenarioNameForm" (ngSubmit)="submitIfValid($event)">
      <sg-input-field
        [disabled]="loading"
        showSupportMessage="on-error"
        label="Scenario Name"
        [error]="this.errorMessage !== ''"
        [supportMessage]="errorMessage"
        size="full">
        <input
          sgInput
          required
          name="scenarioName"
          cdkFocusInitial
          formControlName="scenarioName" />
        <mat-spinner *ngIf="loading" diameter="20" class="loader"></mat-spinner>
      </sg-input-field>
      <div
        *ngIf="
          data.fromClone === true &&
          (data.scenario?.version === 'V2' || data.scenario?.version === 'V1')
        ">
        The scenario creation steps have been updated and may be different from
        this original version.
      </div>
    </form>
  </div>
</sg-modal>
