@import 'colors';
@import 'mixins';

$select-width: 50px;
$colum-gap: 16px;
$material-checkbox-padding: 8px;

:host {
  box-sizing: border-box;
  position: relative;
  display: block;


  .view-checkbox {
    padding-left: 0;
    flex: 1;
  }

  ::ng-deep {
    .mdc-form-field {
      align-items: flex-start;
    }

    .mdc-label {
      margin-top: #{$material-checkbox-padding + 1};
    }

    .mat-mdc-progress-spinner {
      margin-top: 10px;
    }

  }
}

.right-options {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 8px;
}

.spinner-container {
  width: 20px;
}


.group-header {
  @include top-level-label();
  line-height: 20px;
  font-weight: 500;
  height: 30px;
  &:after { display: none; }
}

.items-container {
  position: relative;
  display: block;
  
  &:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: $color-soft-gray;
    top: 0;
    left: #{$select-width + $colum-gap};
  }
}

.list-row,
.list-header {
  display: flex;
  gap: #{$colum-gap * 2 - $material-checkbox-padding};
  margin-bottom: 16px;
}

.list-row {
  align-items: flex-start;
}

.list-header {
  margin-bottom: 15px;
  gap: #{$colum-gap * 2};
  align-items: center;
  color: $color-md-gray;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-transform: capitalize;
}

.select-title,
.select {
  width: 50px;
  text-align: center;
}

.select {
  margin-top: 0;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.select-button {
  display: block;
  padding: 0;
  border: none;
  margin: 0 auto;
  border-radius: 100%;
  height: 24px;
  width: 24px;
  color: $color-white;
  background-color: $color-standard-blue;
  cursor: pointer;

  &.selected {
    background-color: $color-medium-blue;
  }

  &:hover {
    background-color: $color-main-blue;
  }
}

.color-box {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  visibility: hidden;
  margin-top: 12px;

  &.selected {
    visibility: visible;
  }
}