@import "colors";

$select-width: 50px;
$colum-gap: 16px;
$material-checkbox-padding: 8px;
$select-button-selected-color: #5892EE;

:host {
  box-sizing: border-box;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: $color-soft-gray;
    top: 0;
    left: #{$select-width + $colum-gap}
  }

  .view-checkbox {
    padding-left: 0;
    flex: 1;
  }

  ::ng-deep {
    .mdc-form-field {
      align-items: flex-start;
    }

    .mdc-label {
      margin-top: #{$material-checkbox-padding + 1};
    }

  }
}


.list-row,
.list-header {
  display: flex;
}

.list-row {
  align-items: flex-start;
}

.list-header {
  gap: #{ $colum-gap * 2};
  align-items: center;
  color: $color-md-gray;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-transform: capitalize;

}


.select-button {
  display: block;
  padding: 0;
  border: none;
  margin: 0 auto;
  border-radius: 100%;
  height: 24px;
  width: 24px;
  color: $color-white;
  background-color: $color-standard-blue;
  cursor: pointer;


  &.selected {
    background-color: $select-button-selected-color;
  }

  &:hover {
    background-color: $color-main-blue;
  }

}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0px;
}

.left-column {
  flex: 0;
  padding: 10px;
}

.right-column {
  flex: 2;
  padding: 10px;
  border-left: 1px $color-soft-gray solid;
}

.select {
  padding: 10px;
  margin-top: 0;
  display: flex;
  align-items: center;
  width: 50px;
  text-align: center;
}

.color-box {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  visibility: hidden;
  margin-top: 12px;

  &.selected {
    visibility: visible;
  }
}
