<div class="list-header">
  <div class="select-title">Select</div>
  <div>View Layer</div>
</div>
<form>
  <div *ngFor="let item of items" class="list-row">
    <div class="select">
      <button
        mat-icon-button
        class="select-button"
        [ngClass]="{ selected: isSelected(item) }"
        (click)="selectItem(item)"
        type="button">
        <mat-icon>{{ isSelected(item) ? 'remove' : 'add' }}</mat-icon>
      </button>
    </div>

    <mat-checkbox
      class="view-checkbox"
      [checked]="isViewed(item)"
      (change)="viewItem(item)"
      >{{ item.name }}</mat-checkbox
    >
  </div>
</form>
