<div class="info-card-container">
  <app-info-card></app-info-card>
</div>

<div class="signup-form-container">
  <div class="signup-form-subcontainer">
    <div class="planscape-color-logo">
      <img src="assets/svg/planscape-color-logo.svg" alt="Planscape logo" />
    </div>
    <div class="signup-form">
      <h1 class="signup-title">Create your account</h1>

      <form [formGroup]="form" (ngSubmit)="signup()">
        <mat-label class="standard-label"
          >First Name
          <span class="required-blurb">required</span>
        </mat-label>
        <mat-form-field appearance="outline">
          <input
            type="text"
            required
            formControlName="firstName"
            matInput
            autocomplete="given-name" />
          <mat-error
            *ngIf="
              form.get('firstName')?.hasError('required') &&
              form.get('firstName')?.touched
            ">
            This field must contain a value.
          </mat-error>
        </mat-form-field>

        <mat-label class="standard-label"
          >Last Name
          <span class="required-blurb">required</span>
        </mat-label>
        <mat-form-field appearance="outline">
          <input
            type="text"
            required
            formControlName="lastName"
            matInput
            autocomplete="family-name" />
          <mat-error
            *ngIf="
              form.get('lastName')?.hasError('required') &&
              form.get('lastName')?.touched
            ">
            This field must contain a value.
          </mat-error>
        </mat-form-field>

        <mat-label class="standard-label"
          >Email
          <span class="required-blurb">required</span>
        </mat-label>
        <mat-form-field appearance="outline">
          <input
            type="text"
            required
            formControlName="email"
            matInput
            autocomplete="email"
            (blur)="getEmailError()" />
          <mat-error
            *ngIf="
              form.controls['email'].touched && !!form.controls['email'].errors
            ">
            {{ getEmailError() }}
          </mat-error>
        </mat-form-field>

        <mat-label class="standard-label"
          >Create Password
          <span class="required-blurb">required</span>
        </mat-label>
        <mat-form-field appearance="outline">
          <input
            type="password"
            required
            formControlName="password1"
            matInput
            autocomplete="new-password"
            [errorStateMatcher]="passwordStateMatcher" />
          <mat-error
            *ngIf="
              (form.get('password1')?.hasError('required') ||
                form.get('password1')?.hasError('minlength')) &&
              form.get('password1')?.touched
            ">
            Your password needs to be at least 8 characters long.
          </mat-error>
        </mat-form-field>

        <mat-label class="standard-label"
          >Confirm Password
          <span class="required-blurb">required</span>
        </mat-label>
        <mat-form-field appearance="outline">
          <input
            type="password"
            required
            formControlName="password2"
            autocomplete="new-password"
            matInput />
          <mat-error
            *ngIf="
              form.get('password2')?.hasError('required') ||
              (form.get('password2')?.hasError('minlength') &&
                form.get('password2')?.touched)
            ">
            Your password needs to be at least 8 characters long.
          </mat-error>
        </mat-form-field>

        <!-- Form errrors -->
        <mat-error>
          {{ getFormErrors() }}
        </mat-error>

        <div class="button-row">
          <button
            sg-button
            type="submit"
            variant="primary"
            class="create-button"
            [disabled]="!form.valid || submitting">
            {{ submitting ? 'Please wait...' : 'CREATE ACCOUNT' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
