@import "colors";
@import "mixins";
@import "media";

:host {
  display: flex;
  min-height: 100%;
}

.info-card-container {
  background-image: url('/assets/jpg/planscape-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 50%;
}

.signup-form-container {
  align-items: center;
  background-color: $color-soft-purple;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 3% 0 4% 0;
  width: 50%;
  background-image: url('/assets/svg/waves-large.svg');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 50%;
}

.signup-form-subcontainer {
  width: 60%;
}

.planscape-color-logo {
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  height: 42px;
  width: 246px;
}

.signup-form {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 20px 60px 40px 60px;
  border: 1px black solid;
  border-color: $color-original-purple;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px $color-drop-shadow;
}

.button-row {
  display: flex;
  width: 100%;
}

h1 {
  text-align: center;
  color: $color-dark-gray;
}

mat-form-field {
  width: 100%;
}

button {
  margin-bottom: 5px;
}

.create-button {
  @include standard-button();
  background-color: $color-standard-blue;
  border: 1px $color-dark-gray solid;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 200px;
}

.post-error-option {
  padding: 2em;
  text-align: center;
}

.standard-label {
  @include standard-input-label();
  color: $color-dark-gray;
}

.required-blurb {
  @include italic-sm();
  color: $color-text-gray;
}

:host ::ng-deep .mat-form-field-outline {
  background-color: $color-light-gray;
}

/* field - selected */
:host ::ng-deep .mat-form-field-outline.mat-form-field-outline-thick {
  background-color: $color-highlight-30pct;
}

/* trims the space underneath the field,
  which we no longer use for displaying errors
*/
:host ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 5%;
}


@include on-small() {
  :host {
    display: flex;
    flex-direction: column-reverse;
    gap: 10%;
  }

  .signup-form-container {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 48px);
    position: relative;
  }

  .signup-form-subcontainer {
    width: 90%;
  }

  .info-card-container {
    position: relative;
    width: 100%;
  }

  .info-card {
    margin: 10%;
  }

  .credits-blurb {
    width: 100%;
  }
}
