<sg-modal
  class="treatment-legend"
  title="Treatment Legend"
  [hasFooter]="false"
  [scrollableContent]="false"
  width="xsmall"
  (clickedClose)="handleClose()">
  <div modalBodyContent class="legend-body">
    <div class="legend-no-expander">
      <div class="no-treatment-row">
        <sg-treatment-type-icon [treatment]="null"></sg-treatment-type-icon>
        <div>No Treatment</div>
      </div>
    </div>
    <mat-expansion-panel
      class="legend-expander-panel"
      [expanded]="defaultExpanded">
      <mat-expansion-panel-header class="legend-expander-heading">
        <div class="expander-heading-content">
          <mat-icon class="material-symbols-outlined expander-heading-icon"
            >medication_outline</mat-icon
          >
          Single Treatment
        </div>
      </mat-expansion-panel-header>
      <div class="simple-rx-section">
        <div
          class="legend-simple-row"
          *ngFor="let tx of singlePrescriptions | keyvalue: originalOrder">
          <sg-treatment-type-icon [treatment]="tx.key"></sg-treatment-type-icon>
          <div class="legend-text">{{ tx.value }}</div>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-divider class="tx-divider"></mat-divider>
    <mat-expansion-panel
      class="legend-expander-panel"
      [expanded]="defaultExpanded">
      <mat-expansion-panel-header class="legend-expander-heading">
        <div class="expander-heading-content">
          <mat-icon class="material-symbols-outlined expander-heading-icon"
            >repeat</mat-icon
          >Treatment Sequencing
        </div>
      </mat-expansion-panel-header>
      <div class="sequence-rx-section">
        <div
          class="legend-sequence-row"
          *ngFor="let seq of sequencePrescriptions | keyvalue: originalOrder">
          <sg-sequence-icon [action]="seq.key"></sg-sequence-icon>
          <div class="legend-labels">
            <div *ngFor="let detail of seq.value.details" class="legend-text">
              <span>{{ detail.description }}</span
              ><span class="seq-year"> (Year {{ detail.year }})</span>
            </div>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</sg-modal>
