<sg-section
  headline="Select Priority Objectives"
  class="priority-selection"
  [required]="true"
  tooltipContent="<b>What are Priority Objectives?</b>
  These are the main outcomes you want ForSys to focus on when identifying areas for treatment — like reducing wildfire risk, protecting species, or preserving carbon.
  
  <b>What happens if you select only one priority objective?</b>

  If you select 1 objective, ForSy
  s will prioritize areas with the highest value for that single objective.

  <b>What happens if you select two priority objectives?</b>

  If you select 2 objectives, ForSys will run a tradeoff analysis between them, providing three different prioritization scenarios that represent different ways to balance the two objectives.
  ">
  <form [formGroup]="form">
    <div class="padding-section">
      <span
        class="error-message ng-invalid"
        *ngIf="
          form.get('dataLayers')?.touched &&
          form.get('dataLayers')?.hasError('required')
        ">
        Please select a priority objective to continue
      </span>
      <div>
        Select 1 or {{ maxLayers }} Priority Objectives to guide where ForSys
        will focus treatments.
      </div>
      <mat-spinner diameter="20" *ngIf="uiLoading"></mat-spinner>
      <div *ngIf="!uiLoading">
        {{ selectionCount$ | async }}/{{ maxLayers }} Selected
      </div>
      <sg-chip-selector
        [items]="(selectedItems$ | async) ?? []"
        (removeItem)="handleRemoveItem($event)"></sg-chip-selector>
    </div>
    <section class="datalayers-section">
      <app-data-layers
        [useClearFooter]="false"
        [displayAddButton]="true"></app-data-layers>
    </section>
  </form>
</sg-section>
