@import 'colors';
@import 'mixins';
@import 'variables';

:host {
  z-index: 1;
  display: block;
  min-height: 100vh;

  .padding-section {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .error-message {
    color: $color-error;
    margin: 0;
  }

  .priority-selection {
   height: 230px;
  position: sticky;
  top: 0px;
  }

}

.priority-selection ::ng-deep .mat-expansion-panel-body {
  padding: 0;
}

.priority-selection ::ng-deep .mat-expansion-panel-body .scrollable {
    max-height: calc(100vh - (420px + 100px)); // todo: include "clear" footer in calc, when exists
    overflow-y: auto;
  }