@import 'colors';
@import 'mixins';
@import 'variables';

$footer-height: 72px;
$header-height: 350px;
$navbar-height: 170px;

:host {
  z-index: 1;
  display: block;
  min-height: 100vh;

  .padding-section {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .error-message {
    color: $color-error;
    margin: 0;
  }

  .priority-selection {
    position: sticky;
    top: 0px;
  }

}

.priority-selection ::ng-deep .mat-expansion-panel-body {
  padding: 0;
}

.priority-selection ::ng-deep .mat-expansion-panel-body .scrollable {
  max-height: calc(100vh - ($header-height + $navbar-height));
  overflow-y: auto;

  &.with-footer {
    max-height: calc(100vh - ($header-height + $navbar-height + $footer-height));
  }
}

// don't constrain the height if we're in small width view
@media (max-width: 768px) {
  :host {
    min-height: unset;
  }

  .priority-selection ::ng-deep .mat-expansion-panel-body .scrollable {
    max-height: none;

    &.with-footer {
    max-height: none;
     }
  }
}
