:host {
    .padding-section {
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

::ng-deep .priority-selection .mat-expansion-panel-body {
  padding: 0 !important; 
  padding-left: 0;
  padding-right: 0;
}
