<mgl-map
  [attributionControl]="false"
  *ngIf="mapExtent$ | async; let bounds"
  (mapLoad)="mapLoaded($event)"
  [boxZoom]="false"
  [doubleClickZoom]="true"
  [dragPan]="true"
  [dragRotate]="false"
  [fitBoundsOptions]="{ padding: 20 }"
  [fitBounds]="bounds"
  [interactive]="true"
  [maxZoom]="17"
  [minZoom]="7"
  [pitchWithRotate]="false"
  [style]="(baseLayerUrl$ | async) || ''"
  [transformRequest]="transformRequest">
  <app-map-project-areas [withFill]="false"></app-map-project-areas>
  <mgl-control position="bottom-left">
    <div class="label">{{ label }}</div>
  </mgl-control>
</mgl-map>
