@import "colors";
@import "mixins";

:host {
  display: block;
  height: 100%;
  width: 100%;
}

mgl-map {
  height: 100%;
  width: 100%;
}

.label {
  @include xs-label();
  @include public-sans();
  color: $color-dark-gray;
  padding: 10px 14px;
  border-radius: 0 4px 0 0;
  background: $color-white;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  // remove the mgl-controls margin
  bottom: -10px;
  left: -10px;
}
