@import "colors";
@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
}

mgl-map {
  flex: 1;
}

.attribution {
  background-color: $color-white;
  white-space: nowrap;
  padding: 8px 16px;
  text-align: right;

  a {
    color: black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
