@import 'colors';

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th,
td {
  padding: 2px 10px 2px 20px;
}

th {
  font-weight: bold;
}

tr:nth-child(even):not(.total-row) {
  background-color: $color-light-gray;
}

.total-row {
  border-top: 1px solid $color-black;
  font-weight: bold;
}

.rank {
  width: 100%;
  border-left: 8px solid transparent;
  display: block;
  padding: 2px 10px;
}

.right {
  text-align: right;
  width: 1%;
  white-space: nowrap;
}

@media print {
  :host {
    border: none;
    box-shadow: none;
  }
  mat-icon {
    display: none;
  }
}
