
table {
  width: 100%;
  border-collapse: collapse;
}


th {
  font-weight: bold;
}

td {
  text-align: center;
}

.score {
  font-weight: bold;
}

tr:nth-child(even):not(.total-row) {
  background-color: #e3e5e8;
}

.total-row {
  border-top: 1px solid black;
}

.tooltip {
  padding: 20px;
}

.area-id {
  border-left: 8px solid transparent;
  display: block;
}

@media print {
  :host {
    border: none;
    box-shadow: none;
  }
  mat-icon {
    display: none;
  }
}
