<table>
  <thead>
    <tr>
      <th class="rank">Rank</th>
      <th class="right">Acres</th>
      <th class="right">% Total</th>
      <th class="right" *ngIf="showRxLeverage">Rx Lev</th>
      <th class="right">{{ showRxLeverage ? 'Est.' : 'Estimated' }} Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let area of areas">
      <td
        class="rank"
        [style.border-left-color]="getColorByPosition(area.rank)">
        {{ area.rank }}
      </td>
      <td data-id="acres" class="right">{{ format(area.acres, 'acres') }}</td>
      <td data-id="percentTotal" class="right">
        {{ format(area.percentTreatableArea, 'percentTreatableArea') }}
      </td>
      <td data-id="rxLeverage" class="right" *ngIf="showRxLeverage">
        {{ format(area.rxLeverage, 'rxLeverage') }}
      </td>
      <td data-id="estimatedCost" class="right">
        {{ format(area.estimatedCost, 'estimatedCost') }}
      </td>
    </tr>
    <tr class="total-row">
      <td></td>
      <td data-id="total-acres" class="right">
        {{ format(total.acres, 'acres') }}
      </td>
      <td data-id="total-percent" class="right">
        {{ format(total.percentTreatableArea, 'percentTreatableArea') }}
      </td>
      <td data-id="total-rx-leverage" class="right" *ngIf="showRxLeverage">
        {{ format(total.rxLeverage, 'rxLeverage') }}
      </td>
      <td data-id="total-estimatedCost" class="right">
        {{ format(total.estimatedCost, 'estimatedCost') }}
      </td>
    </tr>
  </tbody>
</table>
