<div class="plan-overview-container">
  <app-plan-map [plan]="plan$" class="plan-map-view"></app-plan-map>
  <mat-divider></mat-divider>
  <div class="plan-scenario-panel">
    <h1>{{ (plan$ | async)?.name }}</h1>
    <div class="plan-scenario-panel-content">
      <p class="plan-scenario-panel-text">
        Your planning area, priorities, and constraints are used to generate scenarios.
        Using the Scenario Explorer, you can adjust the relative importance of priorities.
        Saved scenarios are added to the Comparison table. Scenarios consist of Project Areas,
        Treatment plans, Potential Outcomes, and Estimated costs.
      </p>
      <button mat-raised-button color="primary" (click)="openConfigEvent.emit()">CREATE A NEW SCENARIO</button>
    </div>
    <app-saved-scenarios [plan]="plan$ | async" (createScenarioEvent)="openConfigEvent.emit()"></app-saved-scenarios>
    <app-scenario-configurations [plan]="plan$ | async" (openConfigEvent)="openConfigEvent.emit($event)"></app-scenario-configurations>
  </div>
</div>
