@import 'mixins';

::ng-deep {
  .vector-tooltip {

    .maplibregl-popup-content {
      background-color: black;
      color: white;
      padding: 8px 12px;
      border-radius: 8px;

      @include small-paragraph();
      font-size: 12px;
    }

    &.maplibregl-popup-anchor-right .maplibregl-popup-tip {
      border-left-color: black;
    }

    &.maplibregl-popup-anchor-left .maplibregl-popup-tip {
      border-right-color: black;
    }
  }
}