<ng-container *ngIf="selectedTab$ | async as tab">
  <div *ngFor="let layer of selectedLayers$ | async">
    <ng-container *ngIf="layer.map_service_type === 'ESRI_GEOJSON'">
      <app-map-arcgis-vector-layer
        [layer]="layer"
        [before]="before"
        [mapLibreMap]="mapLibreMap"
        ></app-map-arcgis-vector-layer>
    </ng-container>
    <ng-container *ngIf="layer.map_service_type === 'VECTORTILES'">
      <mgl-vector-source
        [id]="'source_' + layer.id"
        [tiles]="[layer.map_url]"
        [promoteId]="'id'"></mgl-vector-source>
      <mgl-layer
        [id]="'layer_fill_' + layer.id"
        [source]="'source_' + layer.id"
        [sourceLayer]="'dynamic_' + layer.id"
        (layerMouseMove)="hoverOnLayer($event, layer, 'layer_fill_')"
        (layerMouseOut)="hoverOutLayer()"
        type="fill"
        [paint]="fillLayerPaint(layer)"
        [before]="before"></mgl-layer>

      <mgl-layer
        [id]="'layer_outline_' + layer.id"
        [source]="'source_' + layer.id"
        [sourceLayer]="'dynamic_' + layer.id"
        (layerMouseMove)="
          hoverOnLayer($event, layer, 'layer_outline_')
           
        "
        (layerMouseOut)="hoverOutLayer()"
        type="line"
        [paint]="lineLayerPaint(layer)"
        [before]="'layer_fill_' + layer.id"></mgl-layer>
    </ng-container>
  </div>

<app-map-base-layer-tooltip>
</app-map-base-layer-tooltip>

  <!-- <mgl-popup
    [lngLat]="vectorTooltipLngLat"
    [closeButton]="false"
    [closeOnClick]="false"
    [anchor]="'left'"
    [offset]="20"
    maxWidth="none"
    className="vector-tooltip"
    *ngIf="
      onBaseLayerTab(tab) && baseLayerTooltipContent && vectorTooltipLngLat
    ">
    <div class="tooltip-content no-select">{{ baseLayerTooltipContent }}</div>
  </mgl-popup> -->
</ng-container>
