@import 'colors';
@import 'mixins';
@import 'variables';

:host {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;

  // Default case - Maps without map navbar
  ::ng-deep {
    .maplibregl-ctrl-top-left {
      top: 0px;
      z-index: 0;
      height: 100%;
      .maplibregl-ctrl {
        max-height: calc(100% - ($map-bottom-name-height));
        margin: 10px;
        height: calc(100% - ($map-bottom-name-height));
      }
    }

    .maplibregl-ctrl-top-right {
      margin-top: $map-nav-bar-height;
      z-index: 0;
    }
  }

  // Map 1 and map 2 - Maps with the map navbar on top
  .padded-map ::ng-deep {
    .maplibregl-ctrl-top-left {
      top: $map-nav-bar-height;
      z-index: 0;
      height: 100%;
      .maplibregl-ctrl {
        max-height: calc(
          100% - ($map-nav-bar-height + $map-bottom-name-height)
        );
        margin: 10px;
        height: calc(100% - ($map-nav-bar-height + $map-bottom-name-height));
      }
    }

    .maplibregl-ctrl-top-right {
      margin-top: $map-nav-bar-height;
      z-index: 0;
    }
  }
}

mgl-map {
  width: 100%;
  height: 100%;
}

.label {
  @include xs-label();
  @include public-sans();
  color: $color-dark-gray;
  padding: 10px 14px;
  border-radius: 0 8px 0 0;
  background: $color-white;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  // remove the mgl-controls margin
  bottom: -10px;
  left: -10px;
}

.highlighted-map {
  box-sizing: border-box;
  ::ng-deep canvas {
    outline: 6px solid $color-active-blue;
    outline-offset: -5px;
  }
}

.selected-map {
  background-color: $color-active-blue;
  color: $color-white;
}
