@import 'colors';
@import 'mixins';

:host {
  display: block;
}

mgl-map {
  width: 100%;
  height: 100%;
}

.label {
  @include xs-label();
  @include public-sans();
  color: $color-dark-gray;
  padding: 10px 14px;
  border-radius: 0 8px 0 0;
  background: $color-white;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  // remove the mgl-controls margin
  bottom: -10px;
  left: -10px;
}

.highlighted-map {
  box-sizing: border-box;
  ::ng-deep canvas {
    outline: 6px solid $color-active-blue;
    outline-offset: -5px;
  }
}

.selected-map {
  background-color: $color-active-blue;
  color: $color-white;
}

