<mgl-map
  [id]="'map_' + mapNumber"
  [boxZoom]="false"
  [dragRotate]="false"
  [interactive]="true"
  [maxZoom]="maxZoom"
  [minZoom]="minZoom"
  [pitchWithRotate]="false"
  [fitBounds]="(bounds$ | async) || undefined"
  (mapLoad)="mapLoaded($event)"
  [style]="(baseLayerUrl$ | async) || ''"
  [attributionControl]="false"
  [transformRequest]="transformRequest">
  <app-map-base-layers
    *ngIf="mapLibreMap"
    [mapLibreMap]="mapLibreMap"></app-map-base-layers>

  <mgl-control position="bottom-left" *ngIf="showMapNumber">
    <div class="label">Map {{ mapNumber }}</div>
  </mgl-control>
</mgl-map>
