<mgl-map
  [id]="'map_' + mapNumber"
  [boxZoom]="false"
  [dragRotate]="false"
  [interactive]="true"
  [maxZoom]="maxZoom"
  [minZoom]="minZoom"
  [pitchWithRotate]="false"
  [fitBounds]="(bounds$ | async) || undefined"
  (mapLoad)="mapLoaded($event)"
  [style]="(baseLayerUrl$ | async) || ''"
  [attributionControl]="false"
  (mapMouseMove)="onMapMouseMove($event)"
  [transformRequest]="transformRequest"
  [ngClass]="{
    'highlighted-map': showMapNumber && (isSelected$ | async) === true,
  }">
  <app-map-base-layers
    *ngIf="mapLibreMap"
    [mapLibreMap]="mapLibreMap"></app-map-base-layers>

  <mgl-control position="bottom-left" *ngIf="showMapNumber">
    <div class="label" [class.selected-map]="(isSelected$ | async) === true">
      Map {{ mapNumber }}
    </div>
  </mgl-control>

  <app-map-tooltip
    *ngIf="
      (drawingModeEnabled$ | async) === true &&
      (currentDrawingMode$ | async) !== 'none' &&
      mouseLngLat &&
      drawModeTooltipContent
    "
    [lngLat]="mouseLngLat"
    >{{ drawModeTooltipContent }}</app-map-tooltip
  >

  <app-map-drawing-toolbox
    *ngIf="(drawingModeEnabled$ | async) === true"></app-map-drawing-toolbox>
</mgl-map>
