<div class="title-nav">
  <h3>Home</h3>
  <button mat-icon-button class="help" [matMenuTriggerFor]="tooltipMenu">
    <mat-icon class="material-symbols-outlined"> info_outline</mat-icon>
    <mat-menu #tooltipMenu="matMenu">
      <div class="tooltip">
        <p>
          Below is your list of planning areas. Think of each planning area as a
          folder which holds the scenarios for each of your planning areas.
          Double-click on the planning area to go into the scenario page, which
          will then show you a list of all the scenarios that you have run for
          that plan.
        </p>

        <p>
          If you haven’t run any plans yet, get started by either uploading your
          shapefile or drawing your planning area on the map in Explore to get
          started. Once you have drawn the polygon and hit save, it will prompt
          you to name your planning area. You can change this name from this
          page.
        </p>

        <p>
          You can delete your planning area by selecting the delete button. If
          you want to go back to the map view, just click on the Explore button
          in the top right corner of the page.
        </p>
      </div>
    </mat-menu>
  </button>
  <div class="search-bar-placeholder">search bar placeholder</div>
  <a
    sg-button
    variant="primary"
    icon="explore"
    [outlined]="true"
    routerLink="/map">
    Explore
  </a>
</div>
