@import "../../shared/_variables";

:host {
  overflow: scroll;
  width: 100%;
  flex: 1;

}

.planning {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 1px 5px 0 #0003;
  padding: 16px 26px;
  display: flex;
  flex-direction: column;
  min-width: 70%;
  max-width: 80%;
  box-sizing: border-box;
  margin: 20px auto;
  flex:1;
  min-height: calc(100% - $toolbar-height);
}

.title-nav {
  display: flex;
  gap: 10px;
  align-items: center;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.help{
  margin-left: auto;
}

.explore {
  margin-right: 10px;
}

app-plan-table{
  margin-top: 20px;
}

