<section class="planning">
  <div class="title-nav">
    <h3>Planning areas</h3>
    <a
      mat-icon-button
      routerLink="/help"
      target="_blank"
      aria-label="help button"
      data-id="help"
      class="help"
      color="primary">
      <mat-icon class="material-symbols-outlined">info</mat-icon>
    </a>
    <a mat-raised-button color="primary" class="explore" routerLink="/map">
      <span class="material-symbols-outlined">add_box</span>
      Explore
    </a>
  </div>
  <app-plan-table></app-plan-table>
</section>
