<!-- Header-->
<div class="tool-title {{ theme }}">
  <img
    class="tool-icon"
    *ngIf="mainImagePath"
    src="{{ mainImagePath }}"
    alt="{{ mainImageAlt }}" />
  <h2>{{ cardTitle }}</h2>
</div>
<div>
  <!-- Developed by -->
  <div class="tool-metadata">
    <span class="developed-by">
      Developed by:
      <img
        *ngIf="creditImagePath"
        class="credit-icon"
        src="{{ creditImagePath }}"
        alt="{{ creditImageAlt }}" />
      <span *ngIf="creditText">{{ creditText }}</span>
    </span>

    <button
      *ngIf="showTooltipButton"
      mat-icon-button
      class="info-button"
      (click)="handleTooltip()">
      <mat-icon> help_outline</mat-icon>
    </button>
  </div>

  <section class="partners" *ngIf="partners.length > 0">
    <a
      data-track="partner-link"
      [attr.data-name]="partner.name"
      *ngFor="let partner of partners"
      [href]="partner.url"
      [title]="partner.name"
      target="_blank">
      <img [src]="partner.logo" [alt]="partner.name" />
    </a>
  </section>
</div>

<!-- Description -->
<div class="tool-description">
  <p>{{ description }}</p>
</div>
