<app-form-message
  [messageType]="FormMessageType.SUCCESS"
  *ngIf="success"
  title="Success!"
  message="Password updated">
</app-form-message>
<h4 class="form-field-title">Password</h4>
<app-form-message
  [messageType]="FormMessageType.ERROR"
  *ngIf="error"
  title="Error!"
  message="{{ error }}">
</app-form-message>

<form
  [formGroup]="form"
  (ngSubmit)="saveForm()"
  *ngIf="state === 'editing' || state === 'saving'">
  <input
    type="text"
    name="username"
    autocomplete="username"
    readonly="readonly"
    [value]="username$ | async"
    class="hidden"
    required />
  <div class="form-field-label">
    Current Password
    <div class="required-blurb">required</div>
  </div>
  <mat-form-field appearance="outline" class="form-field-input">
    <input
      type="password"
      required
      formControlName="current"
      matInput
      autocomplete="current-password"
      [errorStateMatcher]="errorStateMatcher" />
  </mat-form-field>
  <div class="form-field-label">
    New Password
    <div class="required-blurb">required</div>
  </div>
  <mat-form-field appearance="outline" class="form-field-input">
    <input
      type="password"
      required
      name="new-password"
      formControlName="newPassword"
      matInput
      autocomplete="new-password"
      (focus)="showHint = true"
      (blur)="showHint = false"
      [errorStateMatcher]="errorStateMatcher" />
  </mat-form-field>
  <app-form-message
    *ngIf="showHint && !form.get('newPassword')?.value"
    title="Password requirements"
    message="It needs to be at least 10-characters long and not previously used in other accounts">
  </app-form-message>
  <app-form-message
    [messageType]="FormMessageType.ERROR"
    *ngIf="
      (!showHint && form.get('newPassword')?.errors?.['minlength']) ||
      form.errors?.['newPasswordMustBeNew']
    "
    title="Password Error"
    message="It needs to be at least 8-characters long and different from your current password"></app-form-message>
  <div class="form-field-label">
    Confirm Password
    <div class="required-blurb">required</div>
  </div>
  <mat-form-field appearance="outline" class="form-field-input">
    <input
      type="password"
      name="confirm-password"
      required
      formControlName="passwordConfirm"
      matInput
      autocomplete="new-password"
      [errorStateMatcher]="errorStateMatcher" />
  </mat-form-field>
  <div>
    <button mat-flat-button color="primary" [disabled]="state === 'saving'">
      SAVE
    </button>
    <button
      type="button"
      mat-stroked-button
      color="secondary"
      (click)="cancel()"
      class="btn-spaced">
      Cancel
    </button>
  </div>

  <app-form-message
    [messageType]="FormMessageType.ERROR"
    *ngIf="form.errors?.['newPasswordsMustMatch']"
    title="Password Error"
    message="Both entries need to match"></app-form-message>
</form>

<div *ngIf="state === 'view'">
  <p class="form-field-p">Change Password</p>
  <button mat-flat-button color="primary" (click)="edit()">CHANGE</button>
</div>
