<h4 class="form-field-title">Password</h4>
<form
  [formGroup]="form"
  (ngSubmit)="saveForm()"
  *ngIf="state === 'editing' || state === 'saving'">
  <div class="form-field-label">
    Current Password
    <div class="required-blurb">required</div>
  </div>
  <mat-form-field appearance="outline" class="form-field-input">
    <input type="text" required formControlName="current" matInput />
  </mat-form-field>
  <div class="form-field-label">
    New Password
    <div class="required-blurb">required</div>
  </div>
  <mat-form-field appearance="outline" class="form-field-input">
    <input type="text" required formControlName="password" matInput />
  </mat-form-field>
  <div class="form-field-label">
    Confirm Password
    <div class="required-blurb">required</div>
  </div>
  <mat-form-field appearance="outline" class="form-field-input">
    <input type="text" required formControlName="passwordConfirm" matInput />
  </mat-form-field>
  <div>
    <button
      mat-flat-button
      color="primary"
      [disabled]="form.invalid || state === 'saving'">
      SAVE
    </button>
    <button
      type="button"
      mat-stroked-button
      color="secondary"
      (click)="state = 'view'"
      class="btn-spaced">
      Cancel
    </button>
  </div>
</form>

<div *ngIf="state === 'view'">
  <p class="form-field-p">Change Password</p>
  <button mat-flat-button color="primary" (click)="state = 'editing'">
    CHANGE
  </button>
</div>
