@import 'colors';
@import 'mixins';

:host {
  display: block;

  ::ng-deep .mat-mdc-form-field-error-wrapper,
  ::ng-deep .mat-mdc-form-field-hint-wrapper {
    padding: 0;
  }

  ::ng-deep .mat-mdc-form-field-hint {
    padding: 0;
    @include small-paragraph();
    color: $color-dark-gray;
  }

  ::ng-deep .mdc-notched-outline {
    max-width: 280px;
  }
}

.btn-spaced {
  margin-left: 34px;
}

form {
  margin-top: 30px;
}

.hidden {
  display: none;
}

app-form-message {
  max-width: 306px;
  display: block;
}

.standard-label {
  @include standard-input-label();
  color: $color-black;
  display: block;
  margin-bottom: 4px;
}

.required-blurb {
  @include italic-sm();
}

.credentials-form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.buttons-row {
  margin-top: 8px;
}
