@import 'colors';

.prescription {
  display: block;
  padding: 0 0 0 24px;
  margin-bottom: 0;

  &:hover {
    background-color: $color-light-gray;
  }
}

.prescriptions {
  overflow-y: scroll;
  padding-top: 8px;
  padding-bottom: 24px;
}

.form-fixed {
  padding: 24px 24px 8px;
}

.single-options {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.prescription-sequence {
  display: block;
}

.apply-warning {
  margin-bottom: 16px;
}

.label {
  margin-bottom: 8px;
  color: $color-dark-gray;
}

.project-area-name {
  margin-bottom: 16px;
}

.modal-body {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.sequence-type {
  width: 100%;

  // all these overrides are to make the dropdown look centered and aligned
  ::ng-deep {
    .mat-form-field-infix {
      border-top: 0;
      height: 50px;
      display: flex;
      align-items: center;
      padding: 0;
    }

    --mat-select-trigger-text-size: 14px;

    .mat-mdc-form-field-subscript-wrapper {
      height: 0;
    }

    .mat-mdc-form-field-infix {
      height: 50px;
    }

    .mat-select-arrow-wrapper {
      align-items: end;
    }

    .mat-form-field-outline {
      top: 0;
    }
  }
}

::ng-deep .sm-select-options .mat-mdc-option {
  --mat-option-label-text-size: 14px;
  min-height: 3em;
}


sg-modal {
  max-height: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1),
  0px 2px 2px 0px rgba(0, 0, 0, 0.1);

  ::ng-deep {
    .modal-body {
      display: flex;
      flex-direction: column;
      overflow-y: hidden;
      padding: 0;
    }

    .footer {
      height: initial;
    }
  }
}

:host ::ng-deep {
  .mat-mdc-radio-button .mdc-radio {
    padding: 0;
  }

  .mat-mdc-radio-button .mdc-form-field {
    width: 100%;

    label {
      width: 100%;
    }
  }

  .mdc-form-field > label {
    padding-left: 8px;
  }
}


.sequence-details {
  display: block;
  border-bottom: 1px solid $color-soft-gray;
  color: $color-dark-gray;
  padding-left: 16px;

  &:hover {
    background-color: $color-light-gray;
  }

  span {
    color: $color-dark-gray;
    text-transform: capitalize;
  }

  &::ng-deep {
    .mdc-radio {
      position: relative;
      top: 12px;
    }

    .mdc-form-field {
      align-items: flex-start;
    }

    .mdc-label {
      color: $color-dark-gray;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
    }

    .mdc-label:hover {
      background-color: transparent;
    }
  }

  .detail + .detail {
    margin-top: 8px;
  }

}

.sequence-details:last-child {
  border-bottom: none;
}

.sequence-detail {
  margin: 4px 0;
}

.prescription-sequence ::ng-deep label {
  font-weight: bold;
}


.item ::ng-deep .mat-form-field-wrapper {
  margin: 0;
  padding: 0;
}
