@import "colors";

.prescription {
  display: block;
  margin-bottom: 8px;
}

.prescription-sequence {
  display: block;
}

.label {
  margin-bottom: 8px;
  color: $color-dark-gray;
}

.project-area-name {
  margin-bottom: 16px;
}

.modal-body {
  padding: 16px;
}

.full-size {
  width: 100%;
}

sg-modal {
  height: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10), 0px 2px 2px 0px rgba(0, 0, 0, 0.10);
}


:host ::ng-deep {
  .mat-mdc-radio-button .mdc-radio {
    padding: 0;
  }

  .mat-mdc-radio-button .mdc-form-field {
    width: 100%;

    label {
      width: 100%;
    }

  }

  .mdc-form-field > label {
    padding-left: 8px;
  }
}

.sequence-details {
  padding-left: 28px;
  padding-bottom: 12px;
  margin-bottom: 16px;
  border-bottom: 1px solid $color-soft-gray;
  color: $color-dark-gray;
}

.sequence-detail {
  margin: 4px 0;
}

.prescription-sequence ::ng-deep label {
  font-weight: bold;
}
