<sg-modal
  title="Apply Treatment"
  (clickedClose)="cancel()"
  (clickedPrimary)="apply()"
  (clickedSecondary)="cancel()"
  [primaryButtonDisabled]="
    !(selectedPrescription && (hasSelectedStands$ | async))
  "
  primaryButtonText="Apply"
  width="small">
  <form [formGroup]="prescriptionForm" modalBodyContent class="modal-body">
    <div class="form-fixed">
      <div class="label">Project Area</div>
      <div class="project-area-name">
        {{ (projectArea$ | async)?.project_area_name }}
      </div>

      <div class="label">Treatment Prescription</div>
      <div class="item">
        <mat-form-field appearance="outline" class="sequence-type">
          <mat-select
            formControlName="sequenceType"
            (selectionChange)="resetPrescription()">
            <mat-option
              *ngFor="let type of sequenceTypes | keyvalue: originalOrder"
              [value]="type.key"
              >{{ type.value }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="prescriptions">
      <mat-radio-group
        formControlName="prescriptionAction"
        *ngIf="selectedSequenceType === 'SINGLE'">
        <mat-radio-button
          class="prescription"
          *ngFor="let action of prescriptions.SINGLE | keyvalue: originalOrder"
          [value]="action.key"
          >{{ action.value }}</mat-radio-button
        >
      </mat-radio-group>

      <mat-radio-group
        formControlName="prescriptionAction"
        *ngIf="selectedSequenceType === 'SEQUENCE'">
        <ng-container
          *ngFor="
            let action of prescriptions.SEQUENCE | keyvalue: originalOrder;
            let i = index
          ">
          <mat-radio-button class="prescription-sequence" [value]="action.key">
            {{ action.value.name }}
          </mat-radio-button>
          <div class="sequence-details">
            <div
              *ngFor="let detail of action.value.details"
              class="sequence-detail">
              {{ detail }}
            </div>
          </div>
        </ng-container>
      </mat-radio-group>
    </div>
  </form>
</sg-modal>
