<div class="uploaded-scenario-panel-content">
  <app-treatments-tab
    class="uploaded-treatments-tab"
    *ngIf="scenario"
    [scenarioId]="scenario.id!"
    [planningArea]="plan$ | async"></app-treatments-tab>
  <section class="treatment-footer" *ngIf="showTreatmentFooter()">
    <mat-spinner diameter="24" *ngIf="creatingTreatment"></mat-spinner>
    <button
      sg-button
      variant="primary"
      icon="add"
      class="new-treatment"
      [disabled]="creatingTreatment"
      (click)="createTreatment()">
      New Treatment Plan
    </button>
  </section>
</div>
