@use 'sass:map';
@use '@angular/material' as mat;
@import "colors";


:host {
  display: block;

}

.scenarios-table {
  width: 100%;
  text-align: center;

  th:not(.mat-column-name) {
    text-align: center;
  }
}

.mat-column-name {
  width: 30%;
  text-align: left;
}

.highlight {

  background-color: transparentize(
    $color: $color-standard-blue,
    $amount: 0.9
  );

  .mat-cell:first-of-type {
    position: relative;

    &::before {
      position: absolute;
      width: 4px;
      height: calc(100% + 2px);
      background-color: $color-standard-blue;
      content: "";
      left: 0;
      top: -1px;
    }
  }
}

.scenario-row {
  cursor: pointer;

  &:hover {
    background-color: transparentize(
      $color: $color-standard-blue,
      $amount: 0.9
    );
  }
}
