<table mat-table [dataSource]="scenarios" class="scenarios-table">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td
      mat-cell
      class="name-column"
      *matCellDef="let element; dataSource: scenarios">
      {{ element.name }}
    </td>
  </ng-container>

  <!-- Creator Column -->
  <ng-container matColumnDef="creator">
    <th mat-header-cell *matHeaderCellDef>Creator</th>
    <td
      mat-cell
      class="name-column"
      *matCellDef="let element; dataSource: scenarios">
      {{ element.creator }}
    </td>
  </ng-container>

  <!-- Project Areas Column -->
  <ng-container matColumnDef="projectAreas">
    <th mat-header-cell *matHeaderCellDef>Areas</th>
    <td mat-cell *matCellDef="let element; dataSource: scenarios">
      {{ element?.scenario_result?.result?.features?.length || '--' }}
    </td>
  </ng-container>

  <!-- Acres Treated Column -->
  <ng-container matColumnDef="acresTreated">
    <th mat-header-cell *matHeaderCellDef>Acres</th>
    <td mat-cell *matCellDef="let element; dataSource: scenarios">
      {{
        hasResults(element)
          ? (calculateTotals(element.scenario_result!).acres | number: '1.0-0')
          : '--'
      }}
    </td>
  </ng-container>

  <!-- Estimated Cost Column -->
  <ng-container matColumnDef="estimatedCost">
    <th mat-header-cell *matHeaderCellDef>Est. Budget</th>
    <td
      mat-cell
      class="data-cell"
      *matCellDef="let element; dataSource: scenarios">
      {{
        hasResults(element)
          ? (calculateTotals(element.scenario_result!).estimatedCost
            | currencyInK: '1.0-0')
          : '--'
      }}
    </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let element; dataSource: scenarios">
      {{
        element.scenario_result
          ? statusLabels[element.scenario_result.status]
          : '--'
      }}
    </td>
  </ng-container>

  <!-- Timestamp Column -->
  <ng-container matColumnDef="completedTimestamp">
    <th mat-header-cell *matHeaderCellDef>Completed</th>
    <td mat-cell *matCellDef="let element; dataSource: scenarios">
      {{
        element.scenario_result?.completed_at
          ? (element.scenario_result?.completed_at | date: 'short')
          : '--'
      }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    [ngClass]="{
      'scenario-row': highlightedScenarioRow?.id !== row.id,
      highlight: highlightedScenarioRow?.id === row.id,
    }"
    *matRowDef="let row; columns: displayedColumns"
    (click)="highlightScenario(row)"
    (dblclick)="viewScenario.emit()"></tr>
</table>
