<div class="view-outcomes-row">
  <div class="view-outcomes-box">
    <div>Viewing outcomes for:</div>
    <sg-filter-dropdown
      class="outcome-areas-dropdown"
      size="medium"
      (confirmedSelection)="handleFilterSelection($event)"
      [styleType]="'white'"
      [hasSearch]="false"
      displayField="name"
      shortLabel="shortName"
      noSelectionsLabel="All Project Areas"
      [selectedItems]="(filteredProjectAreas$ | async) ?? []"
      [menuItems]="(filterOptions$ | async) ?? []"
      [showCountChip]="false"
      menuLabel="Project Areas">
    </sg-filter-dropdown>
  </div>
</div>
