<button
  (click)="downloadCsv()"
  data-id="downloadCsv"
  class="ghost-button button-left">
  <mat-icon class="material-symbols-outlined">download</mat-icon>
  DOWNLOAD CSV DATA
</button>

<section>
  <h4>
    <mat-icon class="material-symbols-filled warning">warning</mat-icon>
    No optimal project areas for treatment were found
  </h4>
  <p class="error">
    The constraints you set may be preventing the tool from finding enough valid
    land for the run to complete successfully. Please eliminate some constraints
    (slope, roads, areas), and try again.
  </p>

  <p class="error">
    Additionally, review your planning area with the primary metrics layers for
    your treatment goal. If the area you have selected doesn’t have enough
    density of the key metrics, the tool won’t be able to find enough land to
    select for treatment.
  </p>

  <div class="actions">
    <a (click)="goBack.emit()" data-id="downloadCsv" class="ghost-button">
      RETURN TO PLAN OVERVIEW
    </a>
    <a (click)="tryAgain.emit()" data-id="downloadCsv" class="ghost-button">
      TRY AGAIN
    </a>
  </div>
</section>
