<sg-modal
  title="Upload Scenario to &ldquo;{{ data.planning_area_name }}&rdquo;"
  primaryButtonText="Create"
  [primaryButtonDisabled]="!canSubmit()"
  secondaryButtonText="Cancel"
  (clickedSecondary)="closeModal()"
  (clickedClose)="closeModal()"
  (clickedPrimary)="handleCreateButton()">
  <div modalBodyContent>
    <sg-modal-info
      infoType="info"
      leadingIcon="info_filled"
      message="Project area(s) must be within the planning area.">
    </sg-modal-info>
    <form [formGroup]="uploadProjectsForm!" class="upload-scenario-form">
      <app-form-message
        [messageType]="FormMessageType.ERROR"
        *ngIf="uploadError"
        title="Upload was unsuccessful"
        message="{{ uploadError }}">
      </app-form-message>

      <div class="field-row">
        <div class="field-label">Scenario name</div>
        <sg-input-field [disabled]="false" class="scenario-input">
          <input
            sgInput
            #inputElement
            placeholder="Scenario name"
            name="scenarioName"
            formControlName="scenarioName"
            class="scenario-name-field" />
        </sg-input-field>
      </div>

      <div>
        <div class="field-label">Upload a project area</div>
        <div class="file-upload-input">
          <sg-file-upload
            [uploadStatus]="uploadElementStatus"
            (fileEvent)="handleFileEvent($event)"
            supportedFileInfo="zip archive must contain DPF, SHP, SPX, CPG, PRJ files." />
        </div>
      </div>

      <div>
        <div class="field-label">
          <div>Select a stand size</div>
          <mat-icon class="stands-info-icon" color="primary"
            >info_outline</mat-icon
          >
        </div>
        <mat-form-field class="stand-picker-field" appearance="outline">
          <mat-select name="standSize" formControlName="standSize">
            <mat-option class="nav-page-item" value="SMALL"
              >Small (10 acres)</mat-option
            >
            <mat-option class="nav-page-item" value="MEDIUM"
              >Medium (100 acres)</mat-option
            >
            <mat-option class="nav-page-item" value="LARGE"
              >Large (500 acres)</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>
</sg-modal>
