<sg-modal
  title="Upload Scenario to &ldquo;{{ data.planning_area_name }}&rdquo;"
  primaryButtonText="Create"
  [primaryButtonDisabled]="!canSubmit()"
  secondaryButtonText="Cancel"
  (clickedSecondary)="closeModal()"
  (clickedClose)="closeModal()"
  (clickedPrimary)="handleCreateButton()"
  [hasPrimarySpinner]="true"
  [isInSpinState]="uploadingData">
  <div modalBodyContent>
    <sg-modal-info
      infoType="info"
      leadingIcon="info_filled"
      message="Project area(s) must be within the planning area.">
    </sg-modal-info>
    <form [formGroup]="uploadProjectsForm!" class="upload-scenario-form">
      <app-form-message
        [messageType]="FormMessageType.ERROR"
        *ngIf="uploadFormError"
        title="Upload was unsuccessful"
        message="{{ uploadFormError }}">
      </app-form-message>

      <div class="field-row">
        <div class="field-label">
          Scenario name
          <div class="required-star">*</div>
        </div>
        <sg-input-field
          [disabled]="false"
          [error]="false"
          class="scenario-input"
          [supportMessage]="nameError"
          showSupportMessage="on-error">
          <input
            sgInput
            #inputElement
            placeholder="Scenario name"
            name="scenarioName"
            formControlName="scenarioName"
            class="scenario-name-field" />
        </sg-input-field>
      </div>

      <div>
        <div class="field-label">
          Upload a project area
          <div class="required-star">*</div>
        </div>
        <div class="file-upload-input">
          <sg-file-upload
            [uploadStatus]="uploadElementStatus"
            (fileEvent)="handleFileEvent($event)"
            supportedFileInfo="zip archive must contain DPF, SHP, SPX, CPG, PRJ files." />
        </div>
      </div>

      <div>
        <div class="field-label">
          <div>Select a stand size</div>
          <div class="required-star">*</div>
          <button
            sg-button
            variant="icon-only"
            icon="info_outline"
            [outlined]="true"
            class="stands-info-icon"
            [matMenuTriggerFor]="standsTooltip"></button>

          <mat-menu #standsTooltip="matMenu">
            <div class="tooltip">
              <p>The stand sizes represent the number of acres per stand.</p>
              <p>
                <strong>Small</strong> stand size is 10 acres/stand. <br />
                <strong>Medium</strong> stand size is 100 acres/stand.<br />
                <strong>Large</strong> stand size is 500 acres/stand.
              </p>
            </div>
          </mat-menu>
        </div>
        <mat-form-field class="stand-picker-field" appearance="outline">
          <mat-select name="standSize" formControlName="standSize">
            <mat-option class="nav-page-item" value="SMALL"
              >Small (10 acres)
            </mat-option>
            <mat-option class="nav-page-item" value="MEDIUM"
              >Medium (100 acres)
            </mat-option>
            <mat-option class="nav-page-item" value="LARGE"
              >Large (500 acres)
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>
</sg-modal>
