<sg-modal
  class="upload-scenario-modal"
  title="Upload Project Areas to &ldquo;{{ data.planning_area_name }}&rdquo;"
  primaryButtonText="Create"
  [primaryButtonDisabled]="!canSubmit()"
  secondaryButtonText="Cancel"
  (clickedSecondary)="closeModal()"
  (clickedClose)="closeModal()"
  (clickedPrimary)="handleCreateButton()"
  [hasPrimarySpinner]="true"
  [isInSpinState]="uploadingData">
  <sg-modal-info
    modalInfoBox
    infoType="info"
    leadingIcon="info_filled"
    message="Project area(s) must be within the planning area.">
  </sg-modal-info>
  <div modalBodyContent>
    <form [formGroup]="uploadProjectsForm!" class="upload-scenario-form">
      <app-form-message
        [messageType]="FormMessageType.ERROR"
        *ngIf="uploadFormError"
        title="Upload was unsuccessful"
        message="{{ uploadFormError }}">
      </app-form-message>

      <div class="field-row">
        <div class="field-label-required">
          Name
          <div class="required-star">*</div>
        </div>
        <sg-input-field
          [disabled]="false"
          [error]="hasNameError()"
          class="scenario-input"
          [supportMessage]="
            uploadProjectsForm.get('scenarioName')?.errors?.['customError']
          "
          showSupportMessage="on-error">
          <input
            sgInput
            cdkFocusInitial
            placeholder="Name"
            name="scenarioName"
            formControlName="scenarioName"
            class="scenario-name-field" />
        </sg-input-field>
      </div>

      <div class="field-row">
        <div class="field-label-required">
          Upload a project area
          <div class="required-star">*</div>
        </div>
        <div class="file-upload-input">
          <sg-file-upload
            [uploadStatus]="uploadElementStatus"
            (fileEvent)="handleFileEvent($event)"
            supportedFileInfo="zip archive must contain DPF, SHP, SPX, CPG, PRJ files." />
        </div>
      </div>
    </form>
  </div>
</sg-modal>
