<div style="text-align:center">
  <h1>
    Signup
  </h1>
</div>

<form (ngSubmit)="onSubmit()">
  <label for="username">Username</label>
  <input
        type="text" id="username"
        required
        [(ngModel)]="model.username" name="username"
        #name="ngModel">

  <label for="email">Email</label>
  <input
        type="text" id="email"
        required
        [(ngModel)]="model.email" name="email"
        #name="ngModel">

  <label for="password1">Password</label>
  <input
        type="password" id="password1"
        required
        [(ngModel)]="model.password" name="password1"
        #password="ngModel">

  <label for="password2">Repeat password</label>
  <input
        type="password" id="password2"
        required
        [(ngModel)]="model.password2" name="password2"
        #password="ngModel">

  <button type="submit">Register</button>
</form>

<div>
  Already have an account?
  <button (click)="login()">Login</button>
</div>
<p>{{ error?.message }}</p>
<p *ngIf="error">{{ error?.error | json }}</p>

