@import '../../styles/colors';
@import '../../styles/mixins';

.signup-root {
  display: flex;
  height: 100%;
}

.info-card-container {
  background-image: url('/assets/jpg/planscape-background.jpg');
  @include public-sans();
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 50%;
}

.signup-form-container {
  align-items: center;
  background-color: $color-soft-purple;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 3% 0px 40px 0px;
  width: 50%;
  background-image: url('/assets/svg/waves-large.svg');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 50%;
}

.signup-form-subcontainer {
  width: 60%;
}

.planscape-color-logo {
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  height: 42px;
  width: 246px;
}

.signup-form {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 20px 60px 40px 60px;
  border: 1px black solid;
  border-color: $color-original-purple;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px $color-drop-shadow;
}

.button-row {
  display:flex;
  width: 100%;
}

h1 {
  @include h1();
  text-align: center;
  color: $color-dark-gray;
}

mat-form-field {
  width: 100%;
}

button {
  margin-bottom: 5px;
}

.create-button {
  @include standard-button();
  background-color: $color-standard-blue;
  border: 1px $color-dark-gray solid;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.post-error-option {
  padding: 2em;
  text-align: center;
}

/*standard label*/
.standard-label {
  @include standard-label();
  color: $color-text-gray;
}

/* italic-sm */
.required-blurb {
  @include italic-sm();
}

:host ::ng-deep .mat-form-field-outline {
  background-color: $color-light-gray;
}

/* field - selected */
:host ::ng-deep .mat-form-field-outline.mat-form-field-outline-thick {
  background-color: $color-highlight-30pct;
}
