<div class="signup-root">
  <div class="info-card-container">
    <app-info-card></app-info-card>
  </div>

  <div class="signup-form-container">
    <div class="signup-form-subcontainer">
      <div class="planscape-color-logo">
        <img src="assets/svg/planscape-color-logo.svg" alt="Planscape logo" />
      </div>
      <div class="signup-form">
        <h1 class="signup-title">Create your account</h1>

        <form [formGroup]="form" (ngSubmit)="signup()">
          <mat-label class="standard-label"
            >First Name
            <span class="required-blurb">required</span>
          </mat-label>
          <mat-form-field appearance="outline">
            <input
              type="text"
              required
              formControlName="firstName"
              matInput
              (blur)="logFormInfo()" />
          </mat-form-field>
          <app-field-alert
            [visible]="
              this.form.controls['firstName'].errors !== null &&
              this.form.controls['firstName'].dirty === true
            "
            message="Must contain a value."
            title="field error"></app-field-alert>

          <mat-label class="standard-label"
            >Last Name
            <span class="required-blurb">required</span>
          </mat-label>
          <mat-form-field appearance="outline">
            <input
              type="text"
              required
              formControlName="lastName"
              matInput
              (blur)="logFormInfo()" />
          </mat-form-field>
          <app-field-alert
            [visible]="
              this.form.controls['lastName'].errors !== null &&
              (this.form.controls['lastName'].dirty || this.form.invalid)
            "
            message="Must contain a value."
            title="field error"></app-field-alert>

          <mat-label class="standard-label"
            >Email
            <span class="required-blurb">required</span>
          </mat-label>
          <mat-form-field appearance="outline">
            <input
              type="text"
              required
              formControlName="email"
              matInput
              (blur)="checkEmailErrors()"
              (keyup)="clearEmailErrors()" />
          </mat-form-field>
          <app-field-alert
            [visible]="
              this.emailError !== '' &&
              this.form.controls['email'].errors !== null
            "
            message="{{ emailError }}"
            title="email error"></app-field-alert>

          <mat-label class="standard-label"
            >Create Password
            <span class="required-blurb">required</span>
          </mat-label>
          <mat-form-field appearance="outline">
            <input
              type="password"
              required
              formControlName="password1"
              matInput />
          </mat-form-field>
          <app-field-alert
            [visible]="
              this.form.controls['password1'].dirty &&
              this.form.controls['password1'].errors !== null
            "
            message=""
            title="Password error"></app-field-alert>

          <mat-label class="standard-label"
            >Confirm Password
            <span class="required-blurb">required</span>
          </mat-label>
          <mat-form-field appearance="outline">
            <input
              type="password"
              required
              formControlName="password2"
              matInput />
          </mat-form-field>
          <app-field-alert
            [visible]="
              this.form.controls['password2'].dirty &&
              this.form.controls['password2'].errors !== null
            "
            message=""
            title="password error"></app-field-alert>

          <button
            mat-flat-button
            type="submit"
            color="primary"
            [disabled]="!form.valid || submitting">
            {{ submitting ? 'Please wait...' : 'Create account' }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
