.signup-root {
  display: flex;
  height: 100%;
}

.info-card-container {
  background-image: url('/assets/jpg/planscape-background.jpg');
  font-family: 'Public Sans';
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 50%;
}

.info-card {
  align-items: stretch;
  background-color: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin: auto 100px;
  padding: 50px;
}

h3 {
  font-family: 'Public Sans', 'Roboto';
  font-size: 1.375rem;
  font-weight: 200;
  line-height: 24px;
}

.signup-form-container {
  align-items: center;
  background-color: #E6E8F3;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 5% 10% 5% 10%;
  width: 50%;
}

.planscape-color-logo {
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  height: 42px;
  width: 246px;
}


.signup-form {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin: auto 100px;
  padding: 2em;
  width: 300px;
  border:1px black solid;
  border-radius: 10px;
}

h1 {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;

  &.signup-title {
    margin-bottom: 48px;
    text-align: center;
  }
}

mat-form-field {
  width: 100%;
}

button {
  margin-bottom: 5px;
  width: 100%;
}

.section-dots {
  bottom: 40px;
  box-sizing: border-box;
  display: flex;
  gap: 12px;
  margin: 0px auto;
  position: absolute;
}

.section-dot {
  background-color: #c4c7c5;
  border-radius: 5px;
  height: 10px;
  width: 10px;

  &.selected {
    background-color: #444746;
  }
}

.post-error-option {
  padding: 2em;
  text-align: center;
}

/* field - default */
::ng-deep .mat-form-field-outline {
  background-color: #f4f4f4;
}

/* field - selected */
::ng-deep .mat-form-field-outline.mat-form-field-outline-thick {
  background-color: rgba(255, 249, 102, 0.3);
  //background-color: $highlight;
}

