.signup-root {
  display: flex;
  height: 100%;
}

.info-card-container {
  background-image: url('/assets/jpg/planscape-background.jpg');
  font-family: 'Public Sans';
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 50%;
}

.info-card {
  background-color: white;
  border-radius: 8px;
  border: 1px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin: auto 100px;
  padding: 40px 40px 30px 40px;
  gap: 8px;
}
.list-icon {
  height: 20px;
  width: 20px;
  padding-right: 4px;
  float:left;
}

h3 {
  font-family: 'Public Sans';
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  color: #202124;
}

/* regular paragraph */
.listed-text {
  font-size: 1rem;
  font-weight: 400;
  color: #4a4a4a;
  font-family: 'Public Sans';
  line-height: 1.625 rem;
  float:left;
}

.caveat {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #767575;
}

.conditions-link {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #064bba;
  text-decoration: underline;
}

.signup-form-container {
  align-items: center;
  background-color: #e6e8f3;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 40px 0px 40px 0px;
  width: 50%;
}

.signup-form-subcontainer {
  width: 60%;
}

.planscape-color-logo {
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  height: 42px;
  width: 246px;
}

.signup-form {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  // margin: auto 100px;
  padding: 20px 60px 20px 60px;
  border: 1px black solid;
  border-color: #4854c0;
  border-radius: 8px;
  gap: 30px;
}

h1 {
  font-family: 'Public Sans';
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  color: #202124;
  text-align: center;

  // &.signup-title {
  //   margin-bottom: 48px;
  //   text-align: center;
  // }
}

mat-form-field {
  width: 100%;
}

button {
  margin-bottom: 5px;
  width: 100%;
}

.section-dots {
  bottom: 40px;
  box-sizing: border-box;
  display: flex;
  gap: 12px;
  margin: 0px auto;
  position: absolute;
}

.section-dot {
  background-color: #c4c7c5;
  border-radius: 5px;
  height: 10px;
  width: 10px;

  &.selected {
    background-color: #444746;
  }
}

.post-error-option {
  padding: 2em;
  text-align: center;
}

/*standard label*/
.standard-label {
  color: #4a4a4a;
  font-family: 'Public Sans';
  font-weight: Medium;
  font-size: 1rem;
  line-height: 1.375 rem;
}

  /* italic-sm */
.required-blurb {
  font-family: 'Public Sans';
  font-weight: Medium italic;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-style: italic;
}

::ng-deep .mat-form-field-outline {
  background-color: #f4f4f4;
}

/* field - selected */
::ng-deep .mat-form-field-outline.mat-form-field-outline-thick {
  background-color: rgba(255, 249, 102, 0.3);
}
