<section>Selected Stands:</section>
<div>{{ selectedStands | json }}</div>
<div>
  <button (click)="toggleMapDrag()">Toggle map drag</button>
</div>

<section>
  <mgl-map
    (mapLoad)="maplibreMap = $event"
    [style]="
      'https://tiles.stadiamaps.com/styles/alidade_smooth.json?api_key=' + key
    "
    [zoom]="[7]"
    [center]="[-122.5, 37]">
    <mgl-vector-source
      id="outline"
      [tiles]="[overlayVectorLayerUrl]"></mgl-vector-source>
    <mgl-layer
      id="outline-layer"
      type="line"
      source="outline"
      [paint]="{
        'line-color': 'black',
        'line-width': 3
      }"
      sourceLayer="project_area_outline"></mgl-layer>

    <mgl-vector-source
      id="stands"
      [tiles]="[standsVectorLayerUrl]"></mgl-vector-source>

    <mgl-layer
      id="stands-layer"
      type="fill"
      source="stands"
      [paint]="{
        'fill-color': 'black',
        'fill-opacity': 0.1
      }"
      sourceLayer="treatment_plan_prescriptions"
      (layerClick)="clickLayer($event)"></mgl-layer>

    <mgl-layer
      id="stands-layer-selected"
      type="fill"
      source="stands"
      [paint]="{
        'fill-color': 'green',
        'fill-opacity': 0.5
      }"
      sourceLayer="treatment_plan_prescriptions"
      [filter]="mapFilter"></mgl-layer>
  </mgl-map>
</section>
