<section>Selected Stands:</section>

<div>
  <button (click)="toggleMapDrag()">
    Toggle map drag {{ mapDragging ? 'off' : 'on' }}
  </button>

  <button (click)="assignTreatment('treatment-1')">Assign treatment 1</button>
  <button (click)="assignTreatment('treatment-2')">Assign treatment 2</button>
  <button (click)="assignTreatment('treatment-3')">Assign treatment 3</button>
  <button (click)="clearTreatments()">clear all</button>
</div>

<section>
  <mgl-map
    (mapLoad)="maplibreMap = $event"
    [style]="
      'https://tiles.stadiamaps.com/styles/alidade_smooth.json?api_key=' + key
    "
    [zoom]="[7]"
    [center]="[-122.5, 37]"
    [dragPan]="mapDragging"
    [interactive]="true"
    (mapMouseDown)="onMapMouseDown($event)"
    (mapMouseMove)="onMapMouseMove($event)"
    (mapMouseUp)="onMapMouseUp($event)">
    <app-map-stands
      [maplibreMap]="maplibreMap"
      [projectAreaId]="projectAreaId"
      [selectedStands]="selectedStands"
      [treatedStands]="treatedStands"
      (clickOnStand)="clickOnStand($event)"></app-map-stands>

    <app-map-rectangle
      [maplibreMap]="maplibreMap"
      [start]="selectStart"
      [end]="selectEnd"></app-map-rectangle>
  </mgl-map>
</section>
