@import 'colors';
@import 'mixins';
@import 'variables';

:host {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.treatment {
  display: flex;
  height: calc(100% - $toolbar-height);
  overflow-y: hidden;
}

.left-side {
  border-right: 1px solid $color-soft-gray;
  width: 400px;
  flex-shrink: 0;
  height: 100%;
}

.right-side {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  position: relative;
}

.right-side-footer {
  border-top: 1px solid $color-soft-gray;
  display: flex;
  align-items: center;
  padding: 16px;
}

.right-footer-right-box {
  margin-left: auto;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 8px;
}

.export-pdf-option {
  color: $color-standard-blue;
  @include xs-label;
}

.export-icon {
  font-size: 20px;
  height: 20px;
  width: 20px;
}

app-apply-treatment {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 460px;
  height: calc(100% - 100px);
  z-index: 1000;
}


#print-container {
  display: none;
}
#printable-map-container { 
  display: none;
}
.printable-footer {
  display: none;
}

@media print {
   //hide elements we won't print      
  .right-side, .left-side, .right-side-footer {
    display: none;
  }
  .printable-footer {
    display: block !important;
    page-break-inside: avoid;
    font-size: 12px;
    position: absolute;
    top: 6.2in;
    left:0.2in;
    height: 3.8in;
    column-width: 2.5in; 
    column-gap: 0.2in;
    margin-left: auto;
    margin-right: auto;
  }
  .print-project-area {
    break-inside: avoid;
    page-break-inside: avoid;
    font-family: 'Public Sans', sans-serif;
  }

  .print-project-area-name {
    font-size: 14px;
    font-weight: 600;
    height: 20px;
  }
  .print-rx-name {
    font-size: 12px;
    padding-left: 10px;
  }
  .print-seq-detail {
    font-size: 12px;
    padding-left: 10px;
  }



    
}