<sg-overlay-loader *ngIf="loading" [offsetTop]="48"></sg-overlay-loader>
<app-nav-bar [breadcrumbs]="(breadcrumbs$ | async) || []" [area]="'TREATMENTS'">
  <app-treatment-navbar-menu
    [treatmentPlanName]="(treatmentPlanName$ | async) || ''"
    (treatmentPlanDeleted)="redirectToScenario()"
    (goToDuplicatedPlan)="
      redirectToNewPlan($event)
    "></app-treatment-navbar-menu>
</app-nav-bar>
<section class="treatment">
  <div class="left-side">
    <router-outlet></router-outlet>
  </div>
  <div class="right-side">
    <app-treatment-map></app-treatment-map>
    <section class="right-side-footer">
      <ng-container *ngIf="projectAreaId$ | async; else treatment">
        <a sg-button variant="primary" class="footer-primary" routerLink="./">
          Back To Overview
        </a>
      </ng-container>
      <ng-template #treatment>
        <mat-slide-toggle
          color="primary"
          [checked]="(showTreatmentLayer$ | async) || false"
          (change)="toggleShowTreatmentLayers()"
          class="bottom-toggle"
          >View Treatment Layers
        </mat-slide-toggle>
        <button
          sg-button
          variant="primary"
          class="footer-primary"
          *ngIf="canRunTreatment$ | async"
          (click)="showReviewDialog()">
          Run Treatment Analysis
        </button>
      </ng-template>
    </section>

    <app-apply-treatment
      *ngIf="showApplyTreatments$ | async"></app-apply-treatment>

    <app-treatment-legend
      *ngIf="(showTreatmentLegend$ | async) || false"
      (handleCloseLegend)="closeLegend()"></app-treatment-legend>
  </div>
</section>
