<div class="title">{{ title }}</div>
<button mat-icon-button class="help" [matMenuTriggerFor]="tooltipMenu">
  <mat-icon class="material-symbols-outlined" color="primary">
    info_outline
  </mat-icon>
  <mat-menu #tooltipMenu="matMenu">
    <div [ngSwitch]="area" class="tooltip">
      <div *ngSwitchCase="'TREATMENT_GOALS'">
        <p>
          Treatment goals allow you to select one goal that will generate a
          scenario based on your landscape. Each of the goals uses a different
          set of input variables, thresholds and primary metrics to generate
          your result. You can only select one goal per run, however you can do
          as many scenario runs as you choose by selecting different treatment
          goal questions and parameters each time. Click on the options below
          for full question details.
        </p>
      </div>
      <div *ngSwitchCase="'CONSTRAINTS'">
        <p>
          Constraints are variables that you can apply to your planning
          scenario. You can choose either the maximum area to be treated OR cost
          per acre. You can also put in your maximum total cost/budget. The
          default cost/acre is $2470 per RRK data.
        </p>
      </div>
      <div *ngSwitchCase="'EXCLUDE_AREAS'">
        <p>
          Exclude areas are types of land that you can choose to exclude from
          your planning scenarios. If you choose to exclude these areas, project
          areas will not be assigned on these lands.
        </p>
      </div>
    </div>
  </mat-menu>
</button>
