@import 'mixins';

::ng-deep {
  .vector-tooltip {
    .tooltip-content {
      display: flex;
      align-items: center;
      white-space: pre-wrap;
      line-height: 16px;
    }

    .no-select {
      user-select: none;
    }
  }
}
