@import "mixins";

:host {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  text-transform: capitalize;
}

input {
  margin: 0;
  width: 20px;
  cursor: pointer;
}

label {
  @include small-paragraph();
  cursor: pointer;
}

.info {
  width: 22px;
  height: 22px;
  font-size: 22px;
  line-height: 0;
}

button.info {
  margin-left: auto;
}

.tooltip {
  padding: 20px;
}
