@import 'mixins';

:host {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  text-transform: capitalize;
}

input {
  margin: 0;
  width: 20px;
  cursor: pointer;
}

label {
  @include small-paragraph();
  cursor: pointer;
}

button.info {
  margin-left: auto;
}
