<input
  type="radio"
  [value]="value"
  [id]="'layer-' + value"
  [name]="groupName"
  [checked]="checked"
  (click)="optionSelected.emit(value)" />
<label [for]="'layer-' + value">{{ label }}</label>
<ng-container *ngIf="showTooltip">
  <button mat-icon-button class="info" [matMenuTriggerFor]="tooltipMenu">
    <mat-icon class="material-symbols-outlined info" color="primary">
      info_outline
    </mat-icon>
  </button>
  <mat-menu #tooltipMenu="matMenu">
    <div class="tooltip">
      <ng-content></ng-content>
    </div>
  </mat-menu>
</ng-container>
