__pycache__/
.mypy_cache/
.env
./interface/src/environments/environment.ts
./interface/src/environments/environment.prod.ts
./interface/src/app/features/features.prod.json
./interface/src/app/features/features.dev.json
