@import "../../../styles/colors";

:host {
  flex: 1;
  overflow: scroll;
  @media screen and (min-width: 840px) {
    display: flex;
  }

}


.welcome {
  color: $color-white;
  min-height: 572px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  flex: 1;
  @media screen and (min-width: 840px) {
    padding: 0 65px;
  }
}


.info {
  background-color: $color-light-gray;
  flex: 1;
}

.actions {
  display: flex;
  gap: 16px;
  padding: 24px 0;
  align-items: center;
}

.secondary {
  display: flex;
  gap: 8px;
  align-items: center;
}

h5 {
  margin: 0;
}

.text-link {
  text-decoration: none;
  color: $color-white;

  &:active, &:hover {
    text-decoration: underline;
  }
}

.info {
  padding: 24px;
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.card {
  background-color: $color-white;
  padding: 20px;
  border: 1px solid $color-original-purple-50pct;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 #00000040;
}
