<section class="welcome">
  <h1 class="mat-h2">Welcome to Planscape</h1>

  <p>
    A wildfire resilience decision support tool for planners designed to bring
    the best available state and federal data and science together in a
    user-friendly, accessible format
  </p>

  <div class="actions">
    <a class="ghost-button" routerLink="/map">Explore</a>
    <a routerLink="/login" class="primary-button"> Sign in </a>
  </div>

  <div class="secondary">
    <h5>New to Planscape?</h5>
    <a routerLink="/signup" class="text-link">Create account</a>
  </div>
</section>
<section class="info">
  <div class="card">
    <div>
      <mat-icon>help</mat-icon>
      <h4>What is Planscape?</h4>
    </div>
    <p>
      Planscape is a decision support tool designed to help teams doing wildland
      planning identify the optimal areas on their landscape to treat for
      wildfire resilience. Planscape also helps planners identify where to treat
      to preserve endangered habitats and optimize for carbon-related
      requirements.
    </p>
  </div>
  <div class="card">
    <div>
      <mat-icon>help</mat-icon>
      <h4>What is Planscape?</h4>
    </div>
    <p>
      Planscape is a decision support tool designed to help teams doing wildland
      planning identify the optimal areas on their landscape to treat for
      wildfire resilience. Planscape also helps planners identify where to treat
      to preserve endangered habitats and optimize for carbon-related
      requirements.
    </p>
  </div>
  <div class="card">
    <div>
      <mat-icon>help</mat-icon>
      <h4>What is Planscape?</h4>
    </div>
    <p>
      Planscape is a decision support tool designed to help teams doing wildland
      planning identify the optimal areas on their landscape to treat for
      wildfire resilience. Planscape also helps planners identify where to treat
      to preserve endangered habitats and optimize for carbon-related
      requirements.
    </p>
  </div>
</section>
