<h1>Welcome to Planscape!</h1>

<b>What is Planscape?</b>
<p>
  Planscape is a new wildfire resilience planning tool designed to bring the
  best available state & federal data and science together. Planscape guides
  regional planners in prioritizing landscape treatments to mitigate fire risk,
  maximize ecological benefits, and help California’s landscapes adapt to
  climate change.
</p>

<b>What can I do with Planscape?</b>
<p>
  Planscape allows you to view and explore wildfire relevant data on a set of
  maps. Most notably, the data from the
  <a href="https://wildfiretaskforce.org/regional-resource-kits-page/">
    Regional Resource Kits
  </a>
  for the Sierra Nevada region is available in the tool and can easily be
  visualized alongside other data sets such as county and watershed boundaries.
</p>
<b>Can Planscape actually help with planning?</b>
<p>
  Yes! A lot more functionality, including the ability to create, edit, save,
  and share plans is coming. The tool will also include integration with ForSys
  to allow planners to output projects that are optimized within provided
  constraints.
</p>
<b>How do I learn more?</b>
<p>
  Check out
  <a
    href="https://www.planscape.org/"
    target="_blank"
    rel="noopener noreferrer">
    Planscape.org
  </a>
  for more information about the tool and to sign up for regular updates as we
  release new versions.
</p>
<div class="flex">
  <div>
    <b>How do I get started?</b>
    <p>
      Just click on the EXPLORE button above! or
      <a routerLink="/login">log in</a>
    </p>
  </div>
  <a mat-raised-button color="primary" class="explore" routerLink="/map">
    <span class="material-symbols-outlined">add_box</span>
    Explore
  </a>
</div>
