
:host {
  overflow: scroll;
}

.welcome {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 3px 1px -2px #0000001F;
  box-shadow: 0px 2px 2px 0px #00000024;
  box-shadow: 0px 1px 5px 0px #00000033;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  max-width: 70%;
  box-sizing: border-box;
  color: #000000A8;
  margin: 20px auto;
}



.link, .link:visited {
  color: #000000A8;
}

h1 {
  padding-bottom: 20px;
  color: black;
  font-weight: 700;

}

p {
  margin-bottom: 16px;
}
.flex {
  display: flex;
  align-items: flex-start;
  gap:20px;
  padding-top: 10px;
  padding-bottom: 35px;
}

.explore {
  text-transform: uppercase;
}
.disclaimer {
font-size: 13px;
}
