<section class="welcome">
  <h1>Welcome to Planscape!</h1>

  <b>What is Planscape?</b>
  <p>
    Planscape is a new wildfire resilience planning support tool designed to
    bring the best available state & federal data and science together to enable
    better land management. Planscape is for you, the regional wildland
    planners, to help prioritize landscape treatments. With Planscape, you can
    mitigate fire risk, maximize ecological benefits, and help California’s
    landscapes adapt to climate change.
  </p>
  <p>
    Planscape includes all data from the
    <a
      href="https://wildfiretaskforce.org/regional-resource-kits-page/"
      target="_blank"
      class="link">
      Regional Resource Kit
    </a>
    layers for the Sierra Nevada, Southern California, and Central Coast
    regions.
  </p>

  <b>What can I do with Planscape?</b>
  <p>
    You can view and explore the landscape resilience planning data on a set of
    maps. You can also visualize this data for the three regions alongside other
    provided data sets such as county and watershed boundaries.
  </p>
  <p>
    Future Planscape releases aim to give you the ability to create and save
    planning areas, to create scenarios for various treatments, and to
    collaborate with other stakeholders.
  </p>
  <b>Can Planscape actually help with planning?</b>
  <p>
    Yes! A lot more functionality, including the ability to create, edit, save,
    and share plans is coming. The tool will also include integration with
    ForSys to allow planners to output projects that are optimized within
    provided constraints.
  </p>
  <b>How do I do more?</b>
  <p>
    Click on the Help icon on the top right corner of the tool to read the
    <a routerLink="/help" target="_blank" class="link">user guide</a>
    or check out the
    <a
      href="https://github.com/OurPlanscape/Planscape/wiki/Release-Notes"
      target="_blank"
      class="link">
      Planscape Release Notes
    </a>
    or
    <a href="https://www.planscape.org/faqs" target="_blank" class="link">
      FAQ
    </a>
    . You can also visit
    <a href="https://www.planscape.org/" target="_blank" class="link">
      Planscape.org
    </a>
    for more information about the tool. If you would like to receive our
    newsletter for regular updates, you can
    <a href="https://www.planscape.org/contact" target="_blank" class="link">
      sign up here
    </a>
    .
  </p>
  <b>How can I get started?</b>
  <p>
    If you want a preview of the mapping tool, click Explore. To start creating
    planning areas, click Create Account.
  </p>

  <div class="flex">
    <a mat-raised-button color="primary" class="explore" routerLink="/map">
      Explore
    </a>
    <a mat-raised-button color="primary" class="explore" routerLink="/signup">
      create account
    </a>
  </div>

  <div class="disclaimer">
    Please read our
    <a
      href="https://www.planscape.org/conditions-of-use/"
      target="_blank"
      class="link">
      Conditions of Use
    </a>
    for information regarding usage of this tool.
  </div>
</section>
