<ng-container *ngIf="displayScenarioConfigOverlay$ | async">
  <div class="header">
    <h3>Configurations</h3>
  </div>
  <div class="content" *ngIf="currentScenario$ | async as scenario">
    <dl>
      <dt>Stand Size:</dt>
      <dd *ngIf="scenario.configuration?.stand_size as stand_size">
        {{
          standSizeOptions[stand_size].label +
            ' (' +
            standSizeOptions[stand_size].acres +
            ' acres)'
        }}
      </dd>

      <ng-container *ngIf="(isCustomScenario$ | async) === false">
        <dt>Goal:</dt>
        <dd>
          {{ scenarioGoal$ | async }}
        </dd>
      </ng-container>
      <ng-container *ngIf="isCustomScenario$ | async">
        <dt>Priority Objectives:</dt>
        <dd>
          {{ priorityObjectives$ | async }}
        </dd>
        <dt>Co-Benefits:</dt>
        <dd>
          <mat-spinner
            diameter="20"
            *ngIf="(cobenefits$ | async) === null"></mat-spinner>
          {{ cobenefits$ | async }}
        </dd>
      </ng-container>
      <dt>Excluded Areas:</dt>
      <dd>
        {{ selectedExcludedAreas$ | async }}
      </dd>
      <dt>Stand Level Constraints:</dt>
      <dd *ngFor="let c of configuration?.constraints">
        <div *ngIf="c.datalayer === slopeId">
          Slope less or equal than (<=) {{ c.value }} %
        </div>
        <div *ngIf="c.datalayer === distanceToRoadsId">
          Distance from roads is less than (<)
          {{ c.value | number: '1.0-2' }} yds
        </div>
      </dd>
      <dd *ngIf="configuration?.constraints?.length === 0">--</dd>
      <dt>Treatment Target:</dt>
      <dd *ngIf="configuration">
        {{ configuration.targets.max_project_count | number: '1.0-2' }} project
        areas of {{ configuration.targets.max_area | number: '1.0-2' }} acres
        &#64; ${{ configuration.targets.estimated_cost | number: '1.0-2' }} /
        acre
      </dd>
    </dl>
  </div>
  <div class="footer">
    <button
      sg-button
      variant="primary"
      class="scenario-config-button"
      (click)="close()">
      Close
    </button>
  </div>
</ng-container>
