@import 'variables';
@import 'colors';
@import 'mixins';


// Right column

.right-column {
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.generating-report {
  text-align: center;
  flex-direction: column;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 24px;
  gap: 24px;
  justify-content: center;

  section {
    max-width: 416px;
  }
}

.generating-title {
  margin-bottom: 4px;
  color: var(--Neutral-Black, #000);
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
}

.generating-text {
  color: var(--Neutral-Dark-gray, #4A4A4A);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.generating-error {
  align-self: flex-start;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;

  h4 {
    color: var(--Neutral-Black, #000);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
  }
}

.generating-error-card {
  padding: 16px;

  ul {
    padding: 16px 16px 0;
    margin: 0;
  }

  li {
    font-weight: 600;
    color: $color-black;
  }
}

.generating-error-footer {
  border-top: 2px solid $color-soft-gray;
  padding: 16px;
  display: flex;
  flex: 0 0 auto;
  justify-content: flex-end;
  gap: 8px;
  margin-top: auto;
}


.no-access {
  text-align: center;
  flex-direction: column;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 24px;
  gap: 8px;
  justify-content: center;

  section {
    max-width: 640px;
  }
}

.no-access-icon {
  fill: $color-md-gray;
}

.no-access-title {
  margin-bottom: 4px;
  color: $color-black;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
}

.no-access-text {
  color: $color-md-gray;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}


app-funding-report {
  flex: 1;
  align-self: stretch;
}


sg-dashboard-layout {
  background: $color-lighter-gray;
}

.spinner {
  margin: auto;
}

