@import 'variables';
@import 'colors';
@import 'mixins';

.left-column {
  display: flex;
  gap: 24px;
  flex-direction: column;
  background: $color-white;
  border: 1px solid $color-fields-gray;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
}


// Right column

.right-column {
  display: flex;
  align-items: center;
  height: 100%;
}

.generating-report {
  text-align: center;
  flex-direction: column;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 24px;
  gap: 24px;

  section {
    max-width: 416px;
  }
}

.generating-title {
  margin-bottom: 4px;
  color: var(--Neutral-Black, #000);
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
}

.generating-text {
  color: var(--Neutral-Dark-gray, #4A4A4A);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}


app-funding-report {
  flex: 1;
  align-self: stretch;
}
