<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async) && sidebarOpen">
    <mat-nav-list>
      <a mat-list-item routerLink="/map">Map</a>
      <div *ngIf="isLoggedIn() | async; else showLogin">
        <a mat-list-item (click)="logout()">Logout</a>
      </div>
      <ng-template #showLogin>
        <a mat-list-item routerLink="/login">Login/Signup</a>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>

  <!--Holds the actual content of the app-->
  <mat-sidenav-content class="content" role="main app content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
