<mat-sidenav-container
  class="sidenav-container"
  *featureFlag="'new_navigation'; hide: true"
>
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="'navigation'"
    [mode]="'side'"
    [opened]="!sidebarOpen"
    [disableClose]
  >
    <mat-nav-list class="nav-list">
      <ng-container *ngFor="let link of sidenavLinks">
        <a
          routerLink="{{ link.href }}"
          class="nav-link"
          [ngClass]="{ selected: isSelected(link.href) }"
        >
          <mat-icon class="material-symbols-outlined">
            {{ link.icon }}
          </mat-icon>
          <div class="nav-text">
            {{ link.text }}
          </div>
        </a>
      </ng-container>
      <a
        routerLink="/feedback"
        class="nav-link"
        target="_blank"
        rel="noopener noreferrer"
      >
        <mat-icon class="material-symbols-outlined">
          {{ "feedback" }}
        </mat-icon>
        <div class="nav-text">
          {{ "feedback" }}
        </div>
      </a>
      <ng-container *featureFlag="'login'">
        <a
          *ngIf="isLoggedIn$ | async; else showLogin"
          class="save-nav-link"
          (click)="logout()"
        >
          <mat-icon>logout</mat-icon>
          <div class="nav-text">Logout</div>
        </a>
        <ng-template #showLogin>
          <a
            routerLink="/login"
            class="save-nav-link"
            [ngClass]="{ selected: isSelected('/login') }"
          >
            <mat-icon class="material-symbols-outlined">
              account_circle
            </mat-icon>
            <div class="nav-text">Sign In / Create Account</div>
          </a>
        </ng-template>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <!--Holds the actual content of the app-->
  <mat-sidenav-content class="content" role="main app content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet *featureFlag="'new_navigation'"></router-outlet>
