.sidenav-container {
  height: 100%;
}

.sidenav {
  display: flex;
  flex-direction: column;
  width: 80px;
}

.content {
  height: 100%;
}

.mat-icon {
  color: #7a7a7a;
  height: 27px;
  width: 27px;
}

.nav-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav-link {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  padding: 20px 0 5px;
  text-decoration: none;
  
}

.save-nav-link {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  padding: 20px 0 5px;
  text-decoration: none;
  margin-top: auto;  
}

.selected {
  background-color: #e8f0fe;
}

.nav-text {
  color: #7a7a7a;
  font-size: 13px;
  letter-spacing: 0.25px;
  margin: 6px 0 3px;
  text-align: center;
  text-transform: uppercase;
}
