<div *ngIf="changingPassword">
  <form [formGroup]="changePasswordForm" (ngSubmit)="savePassword()">
    <mat-form-field>
      <mat-label>Current password</mat-label>
      <input
        type="password"
        required
        formControlName="currentPassword"
        matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label>New password</mat-label>
      <input type="password" required formControlName="newPassword1" matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirm new password</mat-label>
      <input type="password" required formControlName="newPassword2" matInput />
    </mat-form-field>

    <div class="button-row">
      <button
        mat-raised-button
        color="primary"
        [disabled]="changePasswordForm.invalid || disableChangeButton"
        (click)="savePassword()">
        {{ disableEditButton ? 'SAVING...' : 'SAVE CHANGES' }}
      </button>

      <button mat-raised-button (click)="changingPassword = false">
        CANCEL
      </button>
    </div>
    <!-- Unified error output -->
    <mat-error *ngIf="changePasswordForm.errors || error">
      <p>Please correct the following errors:</p>
      <ul>
        <li *ngFor="let e of error">
          {{ e }}
        </li>
        <li
          *ngIf="changePasswordForm.get('newPassword1')?.hasError('minlength')">
          Password must contain at least 8 characters.
        </li>
        <li *ngIf="changePasswordForm.errors?.['newPaswordsMustMatch']">
          The new passwords you entered do not match.
        </li>
        <li *ngIf="changePasswordForm.errors?.['newPasswordMustBeNew']">
          Your new password should not be the same as your current password.
        </li>
        <li *ngIf="changePasswordForm.errors?.['mustContainNumber']">
          Your new password must contain a number.
        </li>
        <li *ngIf="changePasswordForm.errors?.['mustContainUpper']">
          Your new password must contain at least one uppercase character.
        </li>
        <li *ngIf="changePasswordForm.errors?.['mustContainLower']">
          Your new password must contain at least one lowercase character.
        </li>
      </ul>
    </mat-error>
  </form>
</div>
