@import 'colors';
@import 'mixins';

.new-run-form {
    padding: 12px;

    ::ng-deep .input-wrapper {
      width: 100%;
    }
  }

.field-label-row {
  padding: 24px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 24px;
}

.field-label-required {
  @include standard-input-label();
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: normal;
  color: $color-black;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  line-height: 22px;
}

.required-star {
  color: $color-error;
  padding-left: 2px;
}
