<sg-modal
  title="New Analysis"
  [shortHeader]="false"
  [showBorders]="false"
  [centerFooter]="false"
  primaryButtonText="Done"
  secondaryButtonText="Cancel"
  [primaryButtonDisabled]="!form.valid"
  (clickedPrimary)="onSubmit()"
  (clickedSecondary)="onCancel()"
  (clickedClose)="onCancel()">
  <div modalBodyContent>
    <form [formGroup]="form" class="new-run-form">
      <div class="field-row">
        <div class="field-label-required">
          Analysis Name
          <div class="required-star">*</div>
        </div>
        <sg-input-field
          [disabled]="false"
          class="run-input"
          showSupportMessage="on-error">
          <input
            sgInput
            name="name"
            formControlName="name"
            placeholder="Enter analysis name"
            maxlength="255"
            class="name-field"
            autocomplete="off"
            cdkFocusInitial />
        </sg-input-field>
      </div>
      <mat-error *ngIf="form.get('name')?.hasError('required')">
        Analysis name is required
      </mat-error>
    </form>
  </div>
</sg-modal>
