
.treatment-footer {
  background-color: white;
  padding: 16px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
}

.new-treatment {
  margin: 0 16px 0 auto;
}

sg-treatment-card {
  margin: 10px 16px 0;
}
