@import "colors";
@import "mixins";


sg-treatment-card {
  margin: 10px 16px 0;
}

.loader, .empty-state {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.loader .loading {
  margin-top: 35px;
}

.empty-state {
  color: $color-md-gray;

  mat-icon {
    color: $color-text-gray;
    width: 48px;
    height: 48px;
    font-size: 48px;
    line-height: 48px;
  }

  .empty-state__title {
    @include standard-input-label();
    color: $color-black;
    margin-bottom: 4px;
  }
}


