<div>
  {{ treatments | json }}
</div>

<sg-treatment-card
  name="Placeholder treatment"
  (view)="goToTreatment(1)"></sg-treatment-card>
<sg-treatment-card
  name="Placeholder treatment"
  (view)="goToTreatment(2)"></sg-treatment-card>
<sg-treatment-card
  name="Placeholder treatment"
  (view)="goToTreatment(3)"></sg-treatment-card>

<section class="treatment-footer">
  <button
    sg-button
    variant="primary"
    icon="add"
    class="new-treatment"
    [disabled]="creatingTreatment"
    (click)="createTreatment()">
    New Treatment Plan
  </button>
</section>
