<sg-modal
  title="New analysis"
  [showClose]="false"
  [primaryButtonDisabled]="form.invalid"
  (clickedPrimary)="onSubmit()"
  (clickedSecondary)="onCancel()"
  (clickedClose)="onCancel()">
  <div modalBodyContent>
    <form [formGroup]="form">
      <sg-input-field
        label="Analysis Name"
        [error]="
          !!form.get('name')?.hasError('required') && !!form.get('name')?.dirty
        "
        showSupportMessage="on-error"
        supportMessage="Analysis name is required"
        size="full">
        <input
          sgInput
          placeholder="Enter analysis name"
          name="name"
          cdkFocusInitial
          [required]="true"
          maxlength="255"
          autocomplete="off"
          formControlName="name" />
      </sg-input-field>
    </form>
  </div>
</sg-modal>
