@import 'colors';
@import 'mixins';
@import 'variables';

$header-height: 350px;
$navbar-height: 170px;

:host {
  z-index: 1;
  display: block;
  min-height: 100vh;

  .padding-section {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .error-message {
    color: $color-error;
    margin: 0;
  }

  .cobenefits-selection {
    position: sticky;
    top: 0px;
  }
}

.cobenefits-selection ::ng-deep .mat-expansion-panel-body {
  padding: 0;
}

// Make the search bar sticky within the parent div.step scroll container.
// We must ensure no ancestor between div.step and the search bar sets
// overflow to anything other than visible, as that breaks position: sticky.
:host ::ng-deep {
  sg-section,
  .mat-expansion-panel,
  .mat-expansion-panel-content,
  .mat-expansion-panel-body,
  .datalayers-section,
  app-data-layers {
    overflow: visible !important;
  }

  app-data-layers {
    display: block;
  }


  app-data-layers .scrollable {
    overflow-y: visible;
  }
}
