@import 'colors';
@import 'mixins';
@import 'variables';

:host {
  position: sticky;
  top: 0;
  z-index: 1;
  display: block;
  min-height: 10px;
  height: 10px; // todo: figure out proper reqd height

  .padding-section {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .error-message {
    color: $color-error;
    margin: 0;
  }
}

.cobenefits-selection ::ng-deep .mat-expansion-panel-body {
  padding: 0;
}

.cobenefits-selection ::ng-deep .mat-expansion-panel-body .scrollable {
    max-height: 100vh;
    overflow-y: auto;
  }