@import 'colors';
@import 'media';
@import 'mixins';
@import 'variables';

$footer-height: 72px;
$header-height: 350px;
$navbar-height: 170px;

:host {
  z-index: 1;
  display: block;
  max-height: 100vh;

  .padding-section {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .error-message {
    color: $color-error;
    margin: 0;
  }

  .cobenefits-selection {
    position: sticky;
    top: 0px;
  }
}

.cobenefits-selection ::ng-deep .mat-expansion-panel-body {
  padding: 0;
}

.cobenefits-selection ::ng-deep .mat-expansion-panel-body .scrollable {
  max-height: calc(100vh - ($header-height + $navbar-height));

  &.with-footer {
    max-height: calc(100vh - ($header-height + $navbar-height + $footer-height));
  }
}


// don't constrain the height if we're in small width view
@include on-small() {
  :host {
    max-height: unset;
  }

  .cobenefits-selection ::ng-deep .mat-expansion-panel-body .scrollable {
    max-height: none;
    overflow-y:visible;
    &.with-footer {
      max-height: none;
    }
  }
}
