@import 'colors';
@import 'mixins';
@import 'variables';

:host {
  .padding-section {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .error-message {
    color: $color-error;
    margin: 0;
  }
}

.cobenefits-selection ::ng-deep .mat-expansion-panel-body {
  padding: 0;
}
