@import 'colors';
@import 'mixins';
@import 'variables';

:host {
  .padding-section {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .error-message {
    color: $color-error;
    margin: 0;
  }

}

::ng-deep .cobenefits-selection .mat-expansion-panel-body {
  padding: 0 !important;
  padding-left: 0;
  padding-right: 0;
}
