.grid-container {
  display: grid;
  gap: 16px; // Espacio between metrics
  grid-template-columns: repeat(1, 1fr); // 1 column by default
  .grid-item {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); // 4 columns in md-desktop
  }

  .grid-item {
    margin-top: inherit;
    margin-bottom: inherit;
  }
}

@media (min-width: 1366px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr); // 2 columns in xl-desktop
    }
    
    .grid-item {
        margin-top: inherit;
        margin-bottom: inherit;
    }
}
