@import 'colors';
@import 'variables';

:host {
  position: relative;

  .climate-nav-bar {
    justify-content: right;
    padding-right: 10px;
  }

  ::ng-deep {
    .maplibregl-ctrl-top-left {
      top: $map-nav-bar-height;
      z-index: 0;
      height: 100%;

      .maplibregl-ctrl {
        max-height: calc(
          100% - ($map-nav-bar-height + $map-bottom-name-height)
        );
        margin: 10px;
        height: calc(100% - ($map-nav-bar-height + $map-bottom-name-height));
      }
    }

    .maplibregl-ctrl-top-right {
      margin-top: $map-nav-bar-height;
      z-index: 0;
    }
  }
}

mgl-map {
  height: 100%;
}

.loader {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
