<sg-modal
  primaryButtonText="Create"
  [scrollableContent]="false"
  [showBorders]="true"
  [hasFooter]="false"
  (clickedClose)="close()"
  width="xlarge"
  class="change-over-time-chart-modal">
  <div headerContent class="header-content">
    <div class="left-title-box" *ngIf="availableProjectAreas$ | async">
      Project Area
      <mat-form-field appearance="outline" class="changes-chart-select">
        <mat-select
          class="project-area-selector"
          [ngModel]="selectedChartProjectArea$ | async"
          (ngModelChange)="setChartProjectArea($event)">
          <mat-option [value]="null">All</mat-option>
          <mat-option
            *ngFor="let projectArea of (availableProjectAreas$ | async) ?? []"
            [value]="projectArea">
            {{ projectArea.project_area_name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div modalBodyContent class="expanded-stand-data">
    <app-change-over-time-chart></app-change-over-time-chart>
  </div>
</sg-modal>
