@import "colors";

:host {
  box-sizing: border-box;
  padding: 1px;
  background-color: $color-white;
  border-radius: 4px;
  border: 1px solid $color-soft-gray;
  display: flex;
}


button {
  border: none;
  background: $color-white;
  border-radius: 4px;
  padding: 3px;
  height: 36px;
  width: 56px;
  cursor: pointer;

  &:disabled, &:disabled.active  {
    background: $color-soft-gray;
    pointer-events: none; 
  }

  &:hover {
    background: $color-soft-gray;
  }

  &.active, &:active {
    background: $color-main-blue;
    color: $color-white;

    &:hover {
      background: $color-main-blue;
      color: $color-white;
    }
  }
}


.square {
  border: 1px solid currentColor;
  border-radius: 1px;
  box-sizing: border-box;
  height: 8px;
  width: 8px;

}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

.wrapper + .wrapper {
  margin-top: 1px;
}
