.panel-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  width: 100%;
}

.flex-row {
  display: flex;
  gap: 12px;
}

h4 {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
}

.mat-radio-group {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-left: 44px;
}

:host {
  ::ng-deep .mat-radio-label {
    padding-left: 20px;
  }

  ::ng-deep .mat-radio-label-content {
    white-space: normal !important;
  }

  ::ng-deep {
    .long-question-tooltip.mat-tooltip {
      border: 1px solid #979797;
      border-radius: 11px;
      background-color: #e6e9f4;
      color: black;
      font-size: 14px;
      padding: 8px;
    }
  }
}


.legend-wrapper {
  flex: 2 0 224px;
}

.config-group {
  border: 1px #a4aae0 solid;
  border-radius: 10px;
  display: inline-block;
  margin-top: 10px;
  height: auto;
  width: 100%;
  box-shadow: 0px 3px 0px 0px #aeb0b8;
  background-color: white;
  box-sizing: border-box;
}

.goal-radio-group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  width: auto;
}

.goal-single-radio-button {
  margin: 15px 0;
}

.goal-control-container {
  display: flex;
  flex-direction: row;
  width: auto;
  margin: 5px;
  background: white;
}

.goal-panel-header {
  font-size: 14px;
  height: 40px !important;
  line-height: 20px;
  margin-top: 2px;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}

.mat-radio-group {
  gap: 1px;
  margin-left: 10px;
}

.legend-title-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

h5 {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin: 0px;
  text-align: center;
}

.legend-info {
  padding: 24px 48px 24px 16px;
}

.legend-info-labels {
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
}

.legend-info-scores {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.secondary-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.66;
}

.priority-table {
  overflow-y: auto;
}

.mat-header-cell {
  color: black;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.5;
}

.mat-column-selected {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  padding-right: 24px;
  width: 36px;
}

.mat-column-visible {
  flex: 0 0 auto;
  width: 48px;
}

.mat-column-displayName {
  box-sizing: border-box;
  flex: 2 0 auto;
  padding-right: 24px;
  width: 224px;

  &.mat-cell {
    font-size: 15px;
    line-height: 20px;

    &.level-0 {
      font-weight: 500;
    }
  }
}

.mat-column-score {
  flex: 0 0 auto;
  padding-right: 24px;
  width: 120px;

  &.mat-cell {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
  }
}

.indent-level-1 {
  flex: 0 0 auto;
  width: 10px;
}

.indent-level-2 {
  flex: 0 0 auto;
  width: 44px;
}

.hide-row {
  display: none;
}

/** Always show scrollbar. */
::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 0px;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.score {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.expand-button {
  height: 24px;
  line-height: 24px;
  width: 24px;
}

.grey-icon {
  color: #8e918f;
}

.goal-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-left: -10px;
  margin-bottom: 30px;
}



