.panel-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
}

.flex-row-space-between {
  display: flex;
  justify-content: space-between;
}

.priority-table {
  overflow-y: auto;
}

.mat-column-selected {
  flex: 0 0 auto;
  width: 36px;
}

.mat-column-visible {
  flex: 0 0 auto;
  width: 48px;
}

.mat-column-displayName {
  box-sizing: border-box;
  flex: 2 0 auto;
  padding-right: 24px;
  width: 344px;
}

.mat-column-score {
  flex: 0 0 auto;
  width: 120px;
}

.indent-level-1 {
  flex: 0 0 auto;
  width: 24px;
}

.indent-level-2 {
  flex: 0 0 auto;
  width: 88px;
}

.hide-row {
  display: none;
}

/** Always show scrollbar. */
::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 0px;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  background-color: rgba(0,0,0,.5);
  border-radius: 4px;
}

.score {
  font-size: 12px;
}
