<div class="panel-container">
  <form [formGroup]="goalsForm!">
    <div class="config-group">
      <mat-radio-group
        name="treatmentGoalSelect"
        aria-label="Select an option"
        class="layer-radio-group"
        color="primary"
        formControlName="selectedQuestion">
        <app-scenario-tooltip
          area="TREATMENT_GOALS"
          title="TREATMENT GOALS"></app-scenario-tooltip>

        <ng-container *ngIf="!isStatewideScenariosEnabled; else statewideGoals">
          <div
            *ngFor="let treatmentGoal of treatmentGoals$ | async"
            class="goal-control-container">
            <mat-expansion-panel expanded="true" [togglePosition]="'before'">
              <mat-expansion-panel-header class="goal-panel-header">
                {{ treatmentGoal['category_name'] }}
              </mat-expansion-panel-header>
              <div
                *ngFor="let treatmentQuestion of treatmentGoal['questions']"
                class="layer-control-container">
                <mat-radio-button
                  [value]="treatmentQuestion"
                  (click)="selectGoal(treatmentQuestion)">
                  {{ treatmentQuestion.short_question_text }}
                </mat-radio-button>
              </div>
            </mat-expansion-panel>
          </div>
        </ng-container>

        <ng-template #statewideGoals>
          <div
            *ngFor="let goal of goals$ | async"
            class="goal-control-container">
            <mat-expansion-panel expanded="true" [togglePosition]="'before'">
              <div class="layer-control-container">
                <mat-radio-button
                  [value]="goal.id"
                  (click)="selectStatewideGoal(goal)">
                  {{ goal.name }}
                </mat-radio-button>
              </div>
            </mat-expansion-panel>
          </div>
        </ng-template>
      </mat-radio-group>
    </div>
  </form>
</div>
