<div class="panel-container">
  <form [formGroup]="goalsForm!">
    <div class="config-group">
      <mat-radio-group
        name="treatmentGoalSelect"
        aria-label="Select an option"
        class="layer-radio-group"
        color="primary"
        formControlName="selectedQuestion">
        <app-scenario-tooltip
          area="TREATMENT_GOALS"
          title="TREATMENT GOALS"></app-scenario-tooltip>

        <!-- If scenario is not pending show the goal-->
        <div *ngIf="isNewScenario" class="scenario-goal">
          {{ scenarioGoal$ | async }}
        </div>

        <div *ngIf="!isNewScenario">
          <div
            class="goal-loader"
            *ngIf="(categorizedStatewideGoals$ | async) === null">
            <mat-spinner diameter="24"></mat-spinner>
          </div>

          <ng-container
            *ngIf="
              categorizedStatewideGoals$ | async as categorizedScenarioGoals
            ">
            <div
              *ngFor="
                let goalCategory of categorizedScenarioGoals
                  | keyvalue: reverseAlpha
              "
              class="goal-control-container">
              <mat-expansion-panel expanded="true" [togglePosition]="'before'">
                <mat-expansion-panel-header class="goal-panel-header">
                  {{ goalCategory.key }}
                </mat-expansion-panel-header>
                <div
                  *ngFor="let goal of goalCategory.value"
                  class="layer-control-container">
                  <mat-radio-button
                    [value]="goal.id"
                    (click)="selectStatewideGoal(goal)">
                    {{ goal.name }}
                  </mat-radio-button>
                </div>
              </mat-expansion-panel>
            </div>
          </ng-container>
        </div>
      </mat-radio-group>
    </div>
  </form>
</div>
