<mat-expansion-panel
  [ngClass]="{ selected: isSelected }"
  (opened)="toggleState()"
  (closed)="toggleState()"
  [expanded]="isSearchResult"
  class="sg-expander-panel">
  <mat-expansion-panel-header class="header-content">
    <div class="left-content">
      <sg-treatment-type-icon
        *ngIf="treatmentType === 'SINGLE'"
        [treatment]="treatmentIconType()"></sg-treatment-type-icon>
      <sg-sequence-icon
        *ngIf="treatmentType === 'SEQUENCE'"
        [action]="action"></sg-sequence-icon>

      <div class="treatment-type-text" *ngIf="treatmentType === 'SINGLE'">
        <span [sgHighlighter]="searchString || ''">{{
          singleRxTitleText()
        }}</span>
      </div>
      <div class="treatment-type-text" *ngIf="treatmentType === 'SEQUENCE'">
        <div *ngFor="let seqTitle of sequenceTitles()">
          <span [sgHighlighter]="searchString || ''">{{
            seqTitle.description
          }}</span>
          <span class="rx-detail-year"> (Year {{ seqTitle.year }})</span>
        </div>
      </div>
    </div>
    <div class="right-content">
      <span class="percentage-total" *ngIf="areaAcres">{{
        areaAcres / projectAreaTotalAcres | percent: '1.0-1'
      }}</span>
    </div>
  </mat-expansion-panel-header>

  <div class="treatment-detail">
    <span class="treatment-detail-name">Total:</span
    ><span class="treatment-detail-value">{{ areaAcres | number }} acres</span>
  </div>
</mat-expansion-panel>
