<mat-expansion-panel
  [ngClass]="{ selected: isSelected }"
  (opened)="toggleState()"
  (closed)="toggleState()"
  class="sg-expander-panel">
  <mat-expansion-panel-header class="header-content">
    <div class="left-content">
      <sg-treatment-type-icon
        *ngIf="treatmentType === 'SINGLE'"
        [treatment]="treatmentIconType()"></sg-treatment-type-icon>
      <sg-sequence-icon
        *ngIf="treatmentType === 'SEQUENCE'"
        [action]="action"></sg-sequence-icon>
      <div>{{ titleText() }}</div>
    </div>
    <div class="right-content">
      <div class="stand-count">{{ standCount }}</div>
      <mat-icon class="material-symbols-outlined treatment-hexagon"
        >hexagon_outline</mat-icon
      >
    </div>
  </mat-expansion-panel-header>

  <div class="rx-detail" *ngFor="let seqDetail of sequenceDetails()">
    <mat-icon class="material-symbols-outlined">medication_outline</mat-icon>
    <span class="rx-detail-name">{{ seqDetail }}</span>
  </div>

  <div class="treatment-detail">
    <span class="treatment-detail-name">Total:</span
    ><span class="treatment-detail-value">{{ totalAcres }} acres</span>
  </div>
</mat-expansion-panel>
