@import 'mixins';
@import 'colors';

:host {
  --mat-expansion-header-hover-state-layer-color: $color-white;
  --mat-expansion-header-focus-state-layer-color: $color-white;
  --mat-expansion-header-expanded-state-height: 48px;
  width: 100%;
  display: block;

  ::ng-deep {
    .mat-expansion-panel {
      box-shadow: none;
      border-bottom: 1px $color-soft-gray solid;
      border-radius: 0;
    }

    .mat-expansion-panel.selected {
      background-color: $color-soft-purple;
      border-left: none;
      border-right: none;
    }

    .mat-expansion-panel:not([class*='mat-elevation-z']) {
      box-shadow: none;
    }

    .mat-expansion-panel:hover:not([class*='selected']) {
      background-color: $color-light-gray ;
      border-left: none;
      border-right: none;
    }
  }
}

.sg-expander-panel {
  ::ng-deep {
    .mat-expansion-panel-header.header-content .mat-content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      cursor: pointer;
      width: 100%;
      gap: 4px;
      height: auto;
      padding: 12px;
    }
    .mat-expansion-panel-header.header-content.mat-expanded {
      height: auto;
    }
    .mat-expansion-panel-header .mat-expansion-indicator {
      position: absolute;
      padding-bottom: 6px;
      top: 10px;
      right: 20px;
    }

    .mat-expansion-panel-header .mat-expansion-indicator::after {
      color: $color-black;
    }

    .mat-expansion-panel-body {
      padding: 0 24px 16px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}

.header-content {
  padding: 0 20px 0 8px;
  height: auto;
}

.left-content {
  @include xs-label();
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 8px;
  margin-left: 4px;
  line-height: 0;
  flex: 1;
}

.treatment-type-text {
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
  flex-direction: row;
  line-height: 24px;
  height: auto;
  padding: 0 4px;
}

.highlighted {
  background-color: $color-soft-purple;
  border-radius: 4px;
  color: $color-original-purple;
}

.right-content {
  @include xs-label();
  color: $color-md-gray;
  display: flex;
  align-items: center;
  line-height: 24px;
  justify-content: right;
  gap: 4px;
  padding-right: 6px;
  flex: 0 0 0;
}

.treatment-detail {
  height: 22px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 24px 0 36px;
}

.treatment-detail-name {
  @include xs-label();
  font-weight: 600;
  line-height: 14px;
  text-align: left;
}

.treatment-detail-value {
  @include small-paragraph();
}

.stand-count,
.treatment-hexagon {
  color: $color-dark-gray;
}

.stand-count {
  text-justify: right;
}

.rx-detail {
  height: 22px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.rx-detail-year {
  color: $color-md-gray;
}

.rx-detail-name {
  @include small-paragraph();

  .highlighted {
    background-color: $color-soft-purple;
    border-radius: 4px;
    color: $color-original-purple;
  }
  .regular {
    color: $color-black;
  }
}

.rx-detail-value {
  @include small-paragraph();
  color: $color-md-gray;
}
