<mat-expansion-panel
  [ngClass]="{ selected: isSelected }"
  (opened)="toggleState()"
  (closed)="toggleState()"
  class="sg-expander-panel">
  <mat-expansion-panel-header class="header-content">
    <div class="left-content">
      <sg-treatment-type-icon
        *ngIf="treatmentType === 'SINGLE'"
        [treatment]="treatmentIconType()"></sg-treatment-type-icon>
      <sg-sequence-icon
        *ngIf="treatmentType === 'SEQUENCE'"
        [action]="action"></sg-sequence-icon>

      <div class="treatment-type-text">
        <ng-container
          *ngFor="let titlePart of splitTextLine(titleText()); let i = index">
          <span class="highlighted" *ngIf="isMatch(titlePart)">{{
            titlePart
          }}</span>
          <span *ngIf="!isMatch(titlePart)" class="regular">{{
            titlePart
          }}</span>
        </ng-container>
      </div>
    </div>
    <div class="right-content">
      <div class="stand-count" *ngIf="treatmentType === 'SINGLE'">
        {{ treatedStandCount }}
      </div>
      <div class="stand-count" *ngIf="treatmentType === 'SEQUENCE'">
        {{ treatedStandCount + '/' + totalStands() }}
      </div>

      <mat-icon class="material-symbols-outlined treatment-hexagon"
        >hexagon_outline</mat-icon
      >
    </div>
  </mat-expansion-panel-header>

  <div class="rx-detail" *ngFor="let seqDetail of sequenceDetails()">
    <mat-icon class="material-symbols-outlined">medication_outline</mat-icon>
    <span class="rx-detail-name">{{ seqDetail }}</span>
  </div>

  <div class="treatment-detail">
    <span class="treatment-detail-name">Total:</span
    ><span class="treatment-detail-value">{{ areaAcres }} acres</span>
  </div>
</mat-expansion-panel>
