<sg-section headline="Choose your planning approach">
  <form>
    <div class="item">
      <div>
        <mat-radio-button value="1">Prioritize Sub-Units</mat-radio-button>
        <div>
          Would you like to prioritize existing sub-units within your Planning
          Area based on your scenario?
        </div>
        <div>
          Recommended for Larger Planning Areas, e.g., National Forest or County
        </div>
      </div>
      <div class="image-container">
        <img
          ngSrc="assets/png/sub-units.png"
          alt="Ex. shows prioritized Subwatersheds"
          height="376"
          width="540" />
        <div>Ex. shows prioritized Subwatersheds.</div>
      </div>
    </div>
    <div class="item">
      <div>
        <mat-radio-button value="1">Optimize Project Areas</mat-radio-button>
        <div>
          Would you like ForSys to create spatially optimized Project Areas
          within your Planning Area based on your scenario?
        </div>

        <div>
          Recommended for Smaller Planning Areas, e.g., District or Watersheds
        </div>
      </div>

      <div class="image-container">
        <img
          ngSrc="assets/png/project-areas.png"
          alt="Ex. shows show optimized project areas"
          height="376"
          width="540" />
        <div>Ex. shows show optimized project areas.</div>
      </div>
    </div>
  </form>
</sg-section>
