.root-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  width: 100%;
}

.opacity-slider-wrapper {
  align-items: center;
  display: flex;
  font-size: 12px;
  justify-content: stretch;
  width: 100%;
}

h1 {
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  margin-bottom: 0;
  text-align: center;
}

.opacity-slider {
  flex-grow: 1;
  padding-top: 0;
}
