@import 'mixins';
@import 'colors';

:host {
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 14px;
  border-bottom: 1px $color-soft-gray solid;

  &:hover {
    background-color: $color-light-gray;
    border:1px $color-original-purple solid;
  }
  &:active {
    background-color: $color-soft-purple;
  }

  .mat-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: $color-md-gray;
  }

  .title-line {
    @include xs-label();
    display: flex;
    flex-direction: row;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 8px 0;
  }
  .text-line {
    @include xs-label();
    display: flex;
    flex-direction: row;
    line-height: 22px;
    white-space: pre-wrap;
    word-wrap: break-word;
    height: 22px;
  }

  .highlighted {
    background-color: $color-soft-purple;
    border-radius: 4px;
    color: $color-original-purple;
  }

  .regular {
    background-color:inherit;
  }

  .year-details {
    @include small-paragraph();
    color: $color-md-gray;
  }
}
