name: Cypress Full Tests

on: workflow_dispatch

env:
  CYPRESS_TEST_BASE_URL: ${{ vars.CYPRESS_TEST_BASE_URL }}
  CYPRESS_TEST_USER1: ${{ secrets.CYPRESS_TEST_USER1 }}
  CYPRESS_TEST_PASS1: ${{ secrets.CYPRESS_TEST_PASS1 }}

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Use Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: 'npm'
          cache-dependency-path: src/interface/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: src/interface

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          working-directory: src/interface # runs every cypress test under this dir
          record: false
