<div class="details">
  <div>
    <div class="number">123132.213123</div>
    acres
  </div>
  <div>
    <div class="number">4</div>
    scenarios
  </div>
</div>
<div class="property">
  <div class="label">Region</div>
  <div>Sierra</div>
</div>
<div class="property">
  <div class="label">Creator</div>
  <div>John Smith</div>
</div>
<div class="property">
  <div class="label">Last Activity</div>
  <div>2hs ago</div>
</div>

<div class="plan-map-wrapper">
  <app-plan-map
    mapHeight="300px"
    class="plan-map small"
    [plan]="plan"
    [mapId]="'planning-map'"
    [mapPadding]="[20, 0]"
    [showAttributionAndZoom]="false"></app-plan-map>
</div>
