@import "colors";
@import "mixins";

:host {
  display: block;
}

.details {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.3px;
  margin-bottom: 8px;
  padding: 16px;
  display: flex;
  gap: 36px;
  color: $color-md-gray;

  .number {
    color: $color-brand-green;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }
}

.property {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.3px;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;

  .label {
    font-weight: 600;
  }
}

.summary {
  padding: 0 16px 16px 16px;
  border-bottom: 1px solid $color-soft-gray
}

.plan-map-wrapper {
  padding: 16px;
}
