<div class="details">
  <div>
    <div class="number">{{ plan.area_acres | number: '1.0-0' }}</div>
    acres
  </div>
  <div>
    <div class="number">{{ plan.scenario_count }}</div>
    {{
      plan.scenario_count
        ? plan.scenario_count > 1
          ? 'scenarios'
          : 'scenario'
        : 'scenarios'
    }}
  </div>
</div>
<div class="summary">
  <div class="property">
    <div class="label">Region</div>
    <div>{{ plan.region_name }}</div>
  </div>
  <div class="property">
    <div class="label">Creator</div>
    <div>{{ plan.creator }}</div>
  </div>
  <div class="property">
    <div class="label">Last activity</div>
    <div>{{ plan.latest_updated | date: 'MM/dd/yyyy' }}</div>
  </div>
</div>

<div class="plan-map-wrapper">
  <app-plan-map
    mapHeight="300px"
    class="plan-map small"
    [plan]="plan"
    [mapId]="'planning-map-area-details'"
    [mapPadding]="[20, 0]"
    [showAttributionAndZoom]="false"></app-plan-map>
</div>
