<ng-container *appFeatureFlag="'SCENARIO_CONFIGURATION_STEPS'">
  <button
    sg-button
    variant="ghost"
    class="footer-button configuration-button"
    (click)="setDisplayOverlay(true)"
    [disabled]="displayScenarioConfigOverlay$ | async"
    [matMenuTriggerFor]="popoverMenu"
    (menuClosed)="setDisplayOverlay(false)">
    View Configurations
  </button>
  <mat-menu #popoverMenu="matMenu" class="scenario-config-overlay">
    <!-- Preventing modal to be closed if you click on the content-->
    <div
      matMenuContent
      (click)="$event.stopPropagation()"
      *ngIf="displayScenarioConfigOverlay$ | async">
      <app-scenario-config-overlay></app-scenario-config-overlay>
    </div>
  </mat-menu>
</ng-container>

<div class="download-container">
  <mat-spinner diameter="24" *ngIf="downloadingScenario"></mat-spinner>
  <button
    sg-button
    variant="primary"
    class="footer-button"
    [disabled]="downloadingScenario || geoPackageStatus === 'PENDING'"
    (click)="handleButton()">
    {{ buttonLabels[geoPackageStatus] || 'Generating GeoPackage' }}
  </button>
</div>
