@import 'colors';
@import 'mixins';

.create-scenarios-panel {
  box-sizing: border-box;
}

.create-scenarios-panel-expand-button {
  align-items: center;
  background-color: white;
  border-radius: 8px;
  display: flex;
  height: 64px;
  position: absolute;
  right: -24px;
  top: 12px;

  &.collapsed {
    transform: rotate(180deg);
  }
}

.create-scenarios-panel-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
}

/** Always show scrollbar. */
::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 0px;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.stepper {
  width: 100%;
}

.create-scenarios-inner-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px 10px;
}

.step-label-header {
  font-size: 20px;
}

.step-label-description {
  font-size: 13px;
  margin-top: 10px;
  opacity: 0.66;
}

// Needed to keep tabs steady on switch
.tab-container {
  display: block;
  width: 100%;
  height: 100%;
  background-color: $color-soft-purple;
  box-sizing: border-box;
}

:host {
  ::ng-deep .mat-tab-body-wrapper {
    background-color: #e6e9f4;
    flex-grow: 1;
  }

  ::ng-deep .mat-tab-group {
    height: 100%;
  }

  ::ng-deep mat-tab-header {
    padding: 0 32px;
  }
}

.flex-row {
  align-items: center;
  display: flex;
}

.gap-12 {
  gap: 12px;
  margin-top: 30px;
}

.scenario-name {
  display: block;
  flex-direction: row;
  height: fit-content;
  width: 100%;
  padding: 10px 16px 0 32px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
}

.scenario-name-input {
  width: 100%;
}

::ng-deep .scenario-name-input .input-wrapper {
  width: 100%;
}
.scenario-name-label {
  @include standard-label();
  display: flex;
width: 100%;
flex-direction: row;
justify-content: flex-start;
gap: 4px;
}

.name-required-star {
  color: $color-error;
}

.error {
  color: $color-error;
}

.hidden {
  display: none;
}

.results-container {
  padding: 0 20px 10px;
}

.treatment-footer {
  background-color: $color-white;
  padding: 16px 0;
  box-sizing: border-box;
  bottom: 0;
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 0;
  position: sticky;
  z-index: 500;
  border-top: 1px solid $color-soft-gray;
}

.new-treatment {
  margin: 0 16px;
}

.create-scenarios-tab-group ::ng-deep {
  .mat-mdc-tab-header .mat-mdc-tab-label-container .mat-mdc-tab {
    flex-grow: 0;
  }

  .mat-mdc-tab-header{
    background-color: $color-white;
  }

  .mat-mdc-tab-labels {
    border: 0;
  }

  .mdc-tab-indicator--active {
    border-bottom: 2px solid $color-standard-blue;
  }
}