.create-scenarios-panel {
  box-sizing: border-box;
}

.create-scenarios-panel-expand-button {
  align-items: center;
  background-color: white;
  border-radius: 8px;
  display: flex;
  height: 64px;
  position: absolute;
  right: -24px;
  top: 12px;

  &.collapsed {
    transform: rotate(180deg);
  }
}

.create-scenarios-panel-content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
}

/** Always show scrollbar. */
::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 0px;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.stepper {
  width: 100%;
}

.create-scenarios-inner-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20px 10px;
}

.step-label-header {
  font-size: 20px;
}

.step-label-description {
  font-size: 13px;
  margin-top: 10px;
  opacity: 0.66;
}

// Needed to keep tabs steady on switch
.tab-container {
  display: block;
  width: 100%;
  height: 100%;

  box-sizing: border-box;
}

:host {
  ::ng-deep .mat-tab-body-wrapper {

    background-color: #e6e9f4;
    flex-grow: 1;
  }

  ::ng-deep .mat-tab-group {
    height: 100%;
  }

  ::ng-deep mat-tab-header {
    padding: 0 32px;
  }
}


.flex-row {
  align-items: center;
  display: flex;
}

.gap-12 {
  gap: 12px;
  margin-top: 30px;
}

.scenario-name {
  display: block;
  flex-direction: row;
  height: fit-content;
  width: 100%;
  padding: 10px 16px 0 32px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;

}

.scenario-name-input {
  width: 100%;
  height: 40px;
  font-weight: bold;
}

.error {
  color: #f44336;
}


.hidden {
  display: none;
}

sg-treatment-card {
  margin: 10px 16px 0;
}

.results-container {
  padding: 0 20px 10px;
}

.treatment-footer {
  background-color: white;
  padding: 16px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
}

.new-treatment {
  margin: 0 16px 0 auto;
}
