@import 'colors';

:host {
  height: 100%;
}

.create-scenarios-inner-wrapper {
  padding: 0 20px 10px;
}

.flex-row {
  align-items: center;
  display: flex;
}

.gap-12 {
  gap: 12px;
  margin-top: 30px;
}

.scenario-name {
  display: block;
  flex-direction: row;
  height: fit-content;
  width: 100%;
  padding: 10px 16px 0 32px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
}

.scenario-name-input {
  width: 100%;
  height: 40px;
  font-weight: bold;
}

.error {
  color: #f44336;
}

.results-container {
  padding: 0 20px 10px;
}

.spinner-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  margin-top: 48px;
}

.white-background {
  background-color: $color-white;
}

.scenario-tabs {
  flex: 1;
  overflow: hidden;

  ::ng-deep {
    mat-tab-header {
      padding: 0 16px 0 32px;
    }

    .mat-mdc-tab-body-wrapper {
      background-color: $color-soft-purple;
      flex: 1;
    }

    .mat-mdc-tab-labels {
      border: 0;
    }

    .mdc-tab-indicator--active {
      border-bottom: 2px solid $color-standard-blue;
    }
  }
}

.scenario-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hidden {
  display: none;
}
