.create-scenarios-panel {
  box-sizing: border-box;
  height: 100%;
  left: 0px;
  position: absolute;
  max-width: 700px;
  z-index: 2;
}

.create-scenarios-panel-expand-button {
  align-items: center;
  background-color: white;
  border-radius: 8px;
  display: flex;
  height: 64px;
  position: absolute;
  right: -24px;
  top: 12px;
  &.collapsed {
    transform: rotate(180deg);
  }
}

.create-scenarios-panel-content {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  padding: 16px 16px 32px 32px;
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #E6e9f4;
  background-image: linear-gradient(to bottom, white 7%, rgba(0, 0, 0, 0) 7%);
}

/** Always show scrollbar. */
::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 0px;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  background-color: rgba(0,0,0,.5);
  border-radius: 4px;
}

.stepper {
  width: 100%;
}

.create-scenarios-inner-wrapper {
  display: flex;
  flex-direction: column;
}

.step-label-header {
  font-size: 20px;
}

.step-label-description {
  font-size: 13px;
  margin-top: 10px;
  opacity: 0.66;
}

::ng-deep .mat-tab-body-content {
  overflow-x: hidden;
}