<div class="create-scenarios-panel mat-elevation-z2" [@expandCollapsePanel]="panelExpanded ? 'expanded' : 'collapsed'">
  <div class="create-scenarios-panel-content" [@expandCollapsePanelContent]="panelExpanded ? 'opaque' : 'transparent'">

    <mat-tab-group>
      <mat-tab label="Configuration">
        <div class="create-scenarios-inner-wrapper">
          <app-set-priorities [plan$]="plan$" [formGroup]="formGroups[0]" [treatmentGoals$]="treatmentGoals | async"
            (changeConditionEvent)="changeCondition($event)">
          </app-set-priorities>
          <app-constraints-panel [constraintsForm]="formGroups[1]"> </app-constraints-panel>
        </div>
      </mat-tab>
      <mat-tab label="Outcome">
        Scenario Results
      </mat-tab>
    </mat-tab-group>




    <!-- Expand/collapse button -->
    <div class="create-scenarios-panel-expand-button" [class.collapsed]="!panelExpanded"
      [@expandCollapseButton]="panelExpanded ? 'colorA': 'colorB'">
      <button mat-icon-button (click)="togglePanelExpand()">
        <mat-icon>chevron_left</mat-icon>
      </button>
    </div>
  </div>
</div>