<mgl-vector-source
  id="scenarioProjectAreas"
  [tiles]="[vectorLayerUrl]"></mgl-vector-source>

<mgl-layer
  id="map-project-areas-line"
  type="line"
  source="scenarioProjectAreas"
  [sourceLayer]="layerName"
  [paint]="{
    'line-color': '#333',
    'line-width': 2
  }"></mgl-layer>

<mgl-layer
  id="map-project-areas-fill"
  type="fill"
  source="scenarioProjectAreas"
  (layerClick)="goToProjectArea($event)"
  (layerMouseEnter)="setCursor()"
  (layerMouseLeave)="resetCursor()"
  [sourceLayer]="layerName"
  [paint]="paint"></mgl-layer>

<mgl-layer
  id="map-project-areas-labels"
  type="symbol"
  source="scenarioProjectAreas"
  [sourceLayer]="'project_areas_by_scenario_label'"
  [layout]="{
    'text-field': ['get', 'rank'],
    'text-size': 14,
    'text-anchor': 'center',
    'text-justify': 'center'
  }"
  [paint]="{
    'text-color': '#000',
    'text-halo-color': '#fff',
    'text-halo-width': 2
  }"></mgl-layer>

<ng-container *ngIf="summary$ | async; let summary">
  <mgl-popup
    *ngFor="let projectArea of summary.project_areas"
    [lngLat]="[
      projectArea.centroid.coordinates[0],
      projectArea.centroid.coordinates[1]
    ]"
    [closeButton]="false"
    [closeOnClick]="false"
    [anchor]="'left'"
    [offset]="40"
    className="tooltip">
    <div class="tooltip-content">
      <mat-icon class="material-symbols-outlined">note_stack</mat-icon>
      0
      <mat-icon class="material-symbols-outlined">medication</mat-icon>
      0/40
    </div>
  </mgl-popup>
</ng-container>
