<mat-card class="content">
  <div class="card-header">
    <div
      *ngIf="svgIcon"
      [style.mask-image]="'url(' + svgIcon + ')'"
      class="svg-icon icon"></div>
    <mat-icon *ngIf="!svgIcon && icon" class="material-symbols-outlined icon">{{
      icon
    }}</mat-icon>
    <div class="text-area">
      <h3 class="title">{{ title }}</h3>
      <div class="description">{{ description }}</div>
    </div>
  </div>
  <a
    sg-button
    variant="primary"
    [icon]="buttonIcon"
    [outlined]="true"
    (click)="handleClick($event)">
    {{ buttonText }}
  </a>
</mat-card>
