<mat-radio-group
  [ngModel]="(viewedDataLayer$ | async)?.id"
  #treeContainer
  #treeContainerModel="ngModel">
  <ng-container *ngIf="treeData$ | async as treeData">
    <div
      *ngIf="displayAddButton && !hasAnyNestedNodes(treeData)"
      class="nodes-header">
      <span class="select-column">Select</span><span>View Layer</span>
    </div>

    <mat-tree
      [dataSource]="treeData"
      [treeControl]="treeControl"
      class="data-layers">
      <!-- Leaf node -->
      <mat-tree-node
        *matTreeNodeDef="let node"
        matTreeNodePadding
        class="data-layer"
        [class.padded]="displayAddButton">
        <span class="button-column" *ngIf="displayAddButton"
          ><button
            mat-icon-button
            class="select-button"
            [ngClass]="{
              selected: isDatalayerSelected(node.item),
              disabled:
                isUnselectable(node.item) || (isSelectionCompleted$ | async),
            }"
            [matTooltip]="
              getTooltipText(node.item, isSelectionCompleted$ | async)
            "
            (click)="toggleDataLayerSelection(node.item)"
            type="button">
            <mat-icon>{{
              isDatalayerSelected(node.item) ? 'remove' : 'add'
            }}</mat-icon>
          </button>
        </span>
        <mat-radio-button
          [value]="node.item.id"
          class="data-layer-input"
          [ngClass]="{ selected: treeContainerModel.value === node.item.id }"
          (change)="selectDataLayer(node.item)">
          {{ node.name }}
        </mat-radio-button>
        <mat-spinner
          diameter="20"
          *ngIf="
            treeContainerModel.value === node.item.id &&
            (loadingDataLayer$ | async)
          "></mat-spinner>
        <button
          sg-button
          variant="icon-only"
          icon="info"
          class="info-icon"
          [outlined]="true"
          [matMenuTriggerFor]="popoverMenu"
          (menuOpened)="node.infoMenuOpen = true"
          (menuClosed)="node.infoMenuOpen = false"></button>
        <mat-menu #popoverMenu="matMenu" class="datalayer-tooltip-panel">
          <app-data-layer-tooltip
            [layer]="node.item"
            *ngIf="node.infoMenuOpen"></app-data-layer-tooltip>
        </mat-menu>
      </mat-tree-node>

      <!-- Category node -->
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div
          class="mat-tree-node data-layer-node"
          matTreeNodeToggle
          [ngClass]="{ expanded: treeControl.isExpanded(node) }">
          <span class="icon"></span>
          {{ node.name }}
        </div>
        <div
          *ngIf="treeControl.isExpanded(node)"
          role="group"
          class="data-layer-cat">
          <div
            *ngIf="displayAddButton && hasLeafChildren(node)"
            class="nodes-header nested">
            <span class="select-column">Select</span><span>View Layer</span>
          </div>
          <ng-container matTreeNodeOutlet></ng-container>
        </div>
      </mat-nested-tree-node>
    </mat-tree>
  </ng-container>
</mat-radio-group>
