<mat-radio-group [ngModel]="(selectedDataLayer$ | async)?.id" #treeContainer>
  <mat-tree
    *ngIf="treeData$ | async as treeData"
    [dataSource]="treeData"
    [treeControl]="treeControl"
    class="data-layers">
    <!-- Leaf node -->
    <mat-tree-node
      *matTreeNodeDef="let node"
      matTreeNodePadding
      class="data-layer">
      <mat-radio-button
        [value]="node.item.id"
        class="data-layer-input"
        (click)="selectDataLayer(node.item)">
        {{ node.name }}
      </mat-radio-button>

      <button
        sg-button
        variant="icon-only"
        icon="info"
        class="info-icon"
        [outlined]="true"
        [matMenuTriggerFor]="popoverMenu"
        (menuOpened)="node.infoMenuOpen = true"
        (menuClosed)="node.infoMenuOpen = false"></button>
      <mat-menu #popoverMenu="matMenu">
        <app-data-layer-tooltip
          [layer]="node"
          *ngIf="node.infoMenuOpen"></app-data-layer-tooltip>
      </mat-menu>
    </mat-tree-node>

    <!-- Category node -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
      <div
        class="mat-tree-node data-layer-node"
        matTreeNodeToggle
        [ngClass]="{ expanded: treeControl.isExpanded(node) }">
        <span class="icon"></span>
        {{ node.name }}
      </div>
      <div
        *ngIf="treeControl.isExpanded(node)"
        role="group"
        class="data-layer-cat">
        <ng-container matTreeNodeOutlet></ng-container>
      </div>
    </mat-nested-tree-node>
  </mat-tree>
</mat-radio-group>
