:host {
  border: 1px #a4aae0 solid;
  border-radius: 10px;
  display: inline-block;
  margin-top: 10px;
  padding-left: 10px;
  height: auto;
  width: 100%;
  box-shadow: 0 3px 0 0 #aeb0b8;
  background-color: white;
  box-sizing: border-box;
}
