<form [formGroup]="goalsForm!">
  <app-scenario-tooltip
    area="TREATMENT_GOALS"
    title="TREATMENT GOALS"></app-scenario-tooltip>

  <div *ngIf="goals$ | async as goals">
    <div *ngFor="let goal of goals" class="goal-control-container">
      <mat-expansion-panel expanded="true" [togglePosition]="'before'">
        <!--        <mat-expansion-panel-header class="goal-panel-header">-->
        <!--          {{ goal.category }}-->
        <!--        </mat-expansion-panel-header>-->
        <div class="layer-control-container">
          <mat-radio-button [value]="goal.id" (click)="selectGoal(goal)">
            {{ goal.name }}
          </mat-radio-button>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</form>
