@import '../../../styles/colors';
@import '../../../styles/mixins';

.learn-more-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 700px;
  gap: 40px;
  padding: 40px 0px 40px 0px;
}

.learn-more-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px 40px 20px;
  height: 500px;
  padding: 0px 20px 40px 20px;
  gap: 30px;
}

.logo-container {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  display: flex;
}

.learn-more-title {
  @include h3();
  text-align: center;
}

