<div class="logo-container">
  <img src="../../../assets/svg/planscape-color-logo.svg" />
</div>

<div class="learn-more-container">
  <div class="learn-more-title">Learn More</div>

  <app-horizonal-card
    title="Learn more about planscape"
    content="Visit our FAQs to learn more"
    iconsrc="../../assets/svg/icons/info-circle-dark.svg"
    outboundLink="https://www.planscape.org/faqs">
  </app-horizonal-card>
  <app-horizonal-card
    title="Planscape user guide"
    content="Visit our Github account"
    iconsrc="../../assets/svg/icons/github-logo-dark.svg"
    outboundLink="https://github.com/OurPlanscape/Planscape">
  </app-horizonal-card>
  <app-horizonal-card
    title="Website"
    content="Visit the Planscape website"
    iconsrc="../../assets/svg/icons/planscape-line-logo-dark.svg"
    outboundLink="https://www.planscape.org/">
  </app-horizonal-card>
</div>
